<div class="workpack-tree-selection">
  <tree-root [nodes]="templateTreeList" [options]="options" #tree>
    <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
      <div class="tree-node">
        <tree-node-expander [node]="node"></tree-node-expander>
        <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
          [class.node-content-wrapper-focused]="node.isFocused" (treeDrop)="node.onDrop($event);onDrop($event)"
          (treeDropDragOver)="node.mouseAction('dragOver', $event)"
          (treeDropDragLeave)="node.mouseAction('dragLeave', $event)"
          (treeDropDragEnter)="node.mouseAction('dragEnter', $event)" [treeAllowDrop]="node.allowDrop"
          [allowDragoverStyling]="node.allowDragoverStyling()" [treeDrag]="node" [treeDragEnabled]="node.allowDrag()">

          <span [id]="node.data.id +'-'+ node.data.relation_name" (contextmenu)="onContextMenu($event, node.data)"
            [class]="node.data.className" [class.title]="true">{{ node.data.relation_name }}</span>
        </div>
        <tree-node-children [node]="node" [templates]="templates"></tree-node-children>



      </div>
    </ng-template>
  </tree-root>
  <div #contextMenu style="top: 0px;left: 0px;display: none;" class="contextmenu-container">
    <ul>
      <li (click)="addNewNode()">Add New</li>
      <li (click)="deleteNode()">Delete</li>
      <li>Select</li>
    </ul>
  </div>
  <!-- <p-menu #contextMenu [popup]="true" [model]="contextMenuitems"></p-menu> -->
</div>
<!-- <app-cloudmatiq-side-nav [blockUI]="loading">
  

  <app-cloudmatiq-side-bar
    (dataChanged)="closeDrawer()"
    [(isVisible)]="addEditVisible"
    [width]="360"
    [title]="'Add new'"
  >
    <ng-container class="modal-content">
      <app-addedit-recordtype
        [resourceObj]="selectedAsset"
        (notifyNewEntry)="notifyNewEntry($event)"
      >
      </app-addedit-recordtype>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav> -->