<nz-spin [nzSpinning]="loading">
<app-cloudmatiq-data-table [tableData]="ntfList" [tableHeader]="tableHeader" [tableConfig]="tableConfig"
  [totalCount]="totalCount" (dataChanged)="dataChanged($event)">
</app-cloudmatiq-data-table>
<app-cloudmatiq-side-bar (dataChanged)="showFilter = false" [(isVisible)]="showFilter" [title]="'Filter'">
  <ng-container *ngIf="showFilter" class="modal-content">
    <app-filters (getFilterValue)="getFilterValue($event)" (setFilterValue)="setFilterValue($event)"
      [filterableValues]="filterableValues" [existValues]="filteredValues[filterKey]" [filterKey]="filterKey">
    </app-filters>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="closeDrawer()"
  [(isVisible)]="isVisible"
  [width]="840"
  [title]="viewTitle"
>
  <ng-container class="modal-content">
    <app-notifications
      [selectedNotification]="selectedNotification"
    ></app-notifications>
  </ng-container>
</app-cloudmatiq-side-bar>
</nz-spin>