<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
  >
    <ng-container class="modal-content">
      <app-add-edit-tenant [tenantObj]="tenantObj"> </app-add-edit-tenant>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <div class="row">
      <div class="col s12 m2 left left-align">
        <button
          *ngIf="visibleadd"
          nz-button
          nzType="primary"
          (click)="router.navigate(['tenant/create'])"
        >
          <i class="anticon anticon-plus"></i>{{ buttonText }}
        </button>
      </div>
    </div>
    <div class="row param-table">
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="tenantList"
        [tableHeader]="tenantListHeaders"
        [selectedcolumns]="selectedcolumns"
        [tableConfig]="tenantTableConfig"
        [totalCount]= "totalCount"
      ></app-cloudmatiq-data-table>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
