<div *ngIf="loading" class="row">
  <div class="col s12 text-xs-center center mt-15">
    <nz-spin nzSize="large" nzTip="Loading..."></nz-spin>
  </div>
</div>

<div class="row param-table" *ngIf="!loading && agentID">
  <nz-tabset [nzSelectedIndex]="sectabIndex" (nzSelectChange)="sectabChange($event)">
    <nz-tab nzTitle="Integrity Monitoring">
      <span *ngIf="dashboard_urls['INTEGRITY_MONITORING']"><iframe [src]="dashboard_urls['INTEGRITY_MONITORING']"
          height="1500" width="100%"></iframe>
      </span>
    </nz-tab>
    <nz-tab nzTitle="Statistics">
      <div class="row">
        <nz-spin [nzSpinning]="loadstatistics">
          <div class="col m4">
            <nz-card nzTitle="Agent Status" class="dashboard-card">
              {{ agentStates?.status }}
            </nz-card>
          </div>
          <div class="col m4">
            <nz-card nzTitle="Message Count" class="dashboard-card">
              {{ agentStates?.msg_count }}
            </nz-card>
          </div>
          <div class="col m4">
            <nz-card nzTitle="Message Sent" class="dashboard-card">
              {{ agentStates?.msg_sent }}
            </nz-card>
          </div>
        </nz-spin>
      </div>
      <div class="p-10">
        <div class="dashboard-label">Global Statistics</div>
        <app-cloudmatiq-data-table [tableData]="StatesGlobal" [tableHeader]="globalLogHeader"
          [tableConfig]="tableConfig">
        </app-cloudmatiq-data-table>
      </div>
      <div class="p-10">
        <div class="dashboard-label">Interval Statistics</div>
        <app-cloudmatiq-data-table [tableData]="StatesInterval" [tableHeader]="intervalHeader"
          [tableConfig]="tableConfig">
        </app-cloudmatiq-data-table>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Packages">
      <div class="dashboard-label">Installed Packages</div>
      <div>
        <app-cloudmatiq-data-table [tableData]="packageList" [tableHeader]="packageHeader"
          [tableConfig]="pckgTableConfig" (dataChanged)="dataChanged($event, 'package')" [totalCount]="totalPkgCount">
        </app-cloudmatiq-data-table>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Process">
      <div class="dashboard-label">Process</div>
      <div>
        <app-cloudmatiq-data-table [tableData]="processList" [tableHeader]="processHeader" [tableConfig]="tableConfig">
        </app-cloudmatiq-data-table>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Network">
      <div class="dashboard-label">Network Interfaces</div>
      <div>
        <app-cloudmatiq-data-table [tableData]="networkList" [tableHeader]="networkHeader" [tableConfig]="tableConfig">
        </app-cloudmatiq-data-table>
      </div>
      <div class="dashboard-label">Network Ports</div>
      <div>
        <app-cloudmatiq-data-table [tableData]="portList" [tableHeader]="portHeader" [tableConfig]="tableConfig">
        </app-cloudmatiq-data-table>
      </div>
      <div class="dashboard-label">Network Settings</div>
      <div>
        <app-cloudmatiq-data-table [tableData]="settingsList" [tableHeader]="settingHeader" [tableConfig]="tableConfig">
        </app-cloudmatiq-data-table>
      </div>
    </nz-tab>
  </nz-tabset>
  <app-cloudmatiq-side-bar (dataChanged)="onChanged($event)" [(isVisible)]="showDetails" title="Details" [width]="820">
    <ng-container class="modal-content">
      <app-details [dataObj]="detailsObj"></app-details>
    </ng-container>
  </app-cloudmatiq-side-bar>
</div>
<div *ngIf="!agentID && !loading" class="no-data-txt">No data found</div>