<div class="row" style="margin-bottom: 0">
  <div class="row">
    <div class="col s6 m6">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12">Chart Type</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select style="width: 95%; margin: -14px" [nzAllowClear]="false" nzPlaceHolder="Select"
            [(ngModel)]="charttype" (ngModelChange)="onChangeChartType($event)">
            <nz-option *ngFor="let option of chartTypes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div *ngIf="charttype != 'rangeBar' && iscmdb" class="row">
    <div class="row">
      <div class="col s6 m6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12">X axis</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select style="width: 95%; margin: -14px" nzShowSearch nzPlaceHolder="Select"
              [(ngModel)]="settings.xaxis" (ngModelChange)="settings.xaxisname=settings.xaxis.fieldname">
              <nz-option *ngFor="let option of xaxisAttributes" [nzLabel]="option.title" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s6 m6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12">Series Name</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input style="margin: 0px" type="text" nz-input placeholder="Series Name"
              [(ngModel)]="settings.xaxisname" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row style="padding-top: 20px">
      <table id="grouptable">
        <thead>
          <th width="40%">Y axis</th>
          <th width="25%">Aggregate</th>
          <th width="35%">Series Name</th>
          <th width="20%">
            <span style="float: right"><i class="anticon anticon-plus" (click)="addRow()"
                style="color: #ffcc00"></i></span>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let t of settings.yaxisList; let i = index">
            <td>
              <nz-select style="width: 100%; margin: -14px" nzShowSearch nzPlaceHolder="Select" [(ngModel)]="t.yaxis" (ngModelChange)="t.seriesname=t.yaxis.fieldname;onYaxischange(i)">
                <nz-option *ngFor="let option of yaxisAttributes" [nzLabel]="option.title" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </td>
            <td>
              <nz-select style="width: 95%; margin: -14px" nzShowSearch nzAllowClear nzPlaceHolder="Aggregate"
                [(ngModel)]="t.aggregate">
                <nz-option *ngFor="let option of aggregations" [nzLabel]="option.title" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </td>
            <td>
              <input style="margin: 0px" type="text" nz-input placeholder="Series Name" [(ngModel)]="t.seriesname" />
            </td>
            <td>
              <span style="float: right"><i class="anticon anticon-delete" (click)="deleteRow(i)"
                  style="color: #ffcc00; padding-top: 12px"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!settings.showOrder">
      <div nz-row style="padding-top: 10px">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12">Order By</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-radio-group [(ngModel)]="settings.order">
              <label nz-radio nzValue="Asc" style="color: white">Ascending</label>
              <label nz-radio nzValue="Desc" style="color: white">Descending</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row style="padding-top: 10px">
        <div class="col s6 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12">Limit</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input type="number" nz-input placeholder="Limit" [(ngModel)]="settings.limit" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="charttype == 'rangeBar' && iscmdb" class="row">
    <div class="row">
      <div class="col s6 m6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12">Y axis</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select style="width: 95%; margin: -14px" nzShowSearch nzPlaceHolder="Select"
              [(ngModel)]="settings.yaxis" (ngModelChange)="settings.yaxisname=settings.yaxis.fieldname">
              <nz-option *ngFor="let option of rangebarYaxis" [nzLabel]="option.title" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s6 m6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12">Series Name</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input style="margin: 0px" type="text" nz-input placeholder="Series Name"
              [(ngModel)]="settings.yaxisname" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row style="padding-top: 20px">
      <table id="grouptable">
        <thead>
          <th width="95%">X axis</th>
          <th width="5%">
            <span style="float: right"><i class="anticon anticon-plus" (click)="addRow()"
                style="color: #ffcc00"></i></span>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let t of settings.xaxisList; let i = index">
            <td>
              <nz-select style="width: 100%; margin: -14px" nzShowSearch nzPlaceHolder="Select" [(ngModel)]="t.xaxis">
                <nz-option *ngFor="let option of rangebarXaxis" [nzLabel]="option.title" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </td>
            <td>
              <span style="float: right"><i class="anticon anticon-delete" (click)="deleteRow(i)"
                  style="color: #ffcc00; padding-top: 12px"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div nz-row style="padding-top: 10px">
      <div class="col s6 m6">
        <nz-form-item>
          <nz-form-label [nzSm]="12" [nzXs]="12">Limit</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-input-group>
              <input type="number" nz-input placeholder="Limit" [(ngModel)]="settings.limit" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> -->
  </div>
  <div *ngIf="!iscmdb" class="row">
    <div class="row">
      <div class="col s6 m6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12">Group By</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select style="width: 95%; margin: -14px" nzShowSearch nzPlaceHolder="Select"
              [(ngModel)]="settings.groupby">
              <nz-option *ngFor="let option of groupOptions" [nzLabel]="option.title" [nzValue]="option.groupattr">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
</div>

<div nz-row>
<button style="position: relative; bottom: -7px; margin-left: 600px;" nzSize="small" nz-button (click)="apply()" nzType="primary">
  Apply
</button>
</div>