<nz-spin [nzSpinning]="loading">
  <nz-tabset>
    <nz-tab nzTitle="Info">
      <form nz-form [formGroup]="budgetForm">
        <div class="row">
          <div class="col s12">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
                >Name</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <input nz-input formControlName="name" placeholder="Value" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="startdt"
                >Start Date
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-input-group nzCompact>
                  <nz-date-picker
                    nzFormat="dd-MMM-yyyy"
                    nzPlaceHolder="Start Date"
                    formControlName="startdt"
                  >
                  </nz-date-picker>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="startdt"
                >End Date
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-input-group nzCompact>
                  <nz-date-picker
                    nzFormat="dd-MMM-yyyy"
                    nzPlaceHolder="End Date"
                    formControlName="enddt"
                  >
                  </nz-date-picker>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="cloudprovider"
                >Provider</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  formControlName="cloudprovider"
                  style="width: 95%"
                  nzAllowClear
                  nzShowSearch
                  nzPlaceHolder="Provider"
                  (ngModelChange)="onProviderChange($event)"
                >
                  <nz-option
                    *ngFor="let t of providerList; index as ti"
                    [nzLabel]="t.label"
                    [nzValue]="t.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customerid"
                >Customer</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  formControlName="customerid"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Customer"
                  style="width: 95%"
                  (ngModelChange)="getAccountsList($event)"
                >
                  <nz-option
                    *ngFor="let t of customerList; index as ti"
                    [nzLabel]="t.label"
                    [nzValue]="t.value"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="accountid"
                >Account ID</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  formControlName="accountid"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Account ID"
                  style="width: 95%"
                >
                  <nz-option
                    *ngFor="let t of accountList; index as ti"
                    [nzLabel]="t.label"
                    [nzValue]="t.value"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="resourcetype"
                >Resource Type</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  formControlName="resourcetype"
                  style="width: 95%"
                  nzAllowClear
                  nzPlaceHolder="Resource Type"
                  nzShowSearch
                  (ngModelChange)="
                    assetChanges(
                      budgetForm.value.cloudprovider,
                      budgetForm.value.resourcetype
                    )
                  "
                >
                  <nz-option
                    *ngFor="let t of assetTypes; index as ti"
                    [nzLabel]="t.title"
                    [nzValue]="t.value"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="resourceid"
                >Resource</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  nzMode="multiple"
                  formControlName="resourceid"
                  style="width: 95%"
                  nzAllowClear
                  nzPlaceHolder="Resource"
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let t of referenceList; index as ti"
                    [nzLabel]="t.label"
                    [nzValue]="t.value"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col s12 m6"
            *ngIf="
              budgetForm.get('resourcetype').value ==
              'Amazon Elastic Compute Cloud - Compute'
            "
          >
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
                >Tag
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  formControlName="tagid"
                  style="width: 95%"
                  nzAllowClear
                  nzPlaceHolder="Tag"
                  nzShowSearch
                  (ngModelChange)="tagChanged($event)"
                >
                  <nz-option
                    *ngFor="let t of tagList; index as ti"
                    [nzLabel]="t.tagname"
                    [nzValue]="t.tagid"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            *ngIf="
              budgetForm.get('resourcetype').value ==
              'Amazon Elastic Compute Cloud - Compute'
            "
            class="col s12 m6"
          >
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
                >Tag Value</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <input
                  *ngIf="(selectedTag | json) == '{}'"
                  nz-input
                  placeholder="Value"
                  disabled
                />
                <nz-select
                  *ngIf="
                    selectedTag &&
                    selectedTag.tagtype &&
                    selectedTag.tagtype == 'list'
                  "
                  formControlName="tagvalue"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Value"
                  style="width: 95%"
                >
                  <nz-option
                    *ngFor="let t of selectedTag.lookupvalues; index as ti"
                    [nzLabel]="t"
                    [nzValue]="t"
                  >
                  </nz-option>
                </nz-select>
                <nz-select
                  *ngIf="
                    selectedTag &&
                    selectedTag.tagtype &&
                    selectedTag.tagtype == 'boolean'
                  "
                  formControlName="tagvalue"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Value"
                  style="width: 95%"
                >
                  <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                  <nz-option nzLabel="No" nzValue="No"> </nz-option>
                </nz-select>
                <nz-date-picker
                  *ngIf="
                    selectedTag &&
                    selectedTag.tagtype &&
                    selectedTag.tagtype == 'date'
                  "
                  formControlName="tagvalue"
                  nzFormat="dd-MMM-yyyy"
                ></nz-date-picker>
                <input
                  *ngIf="
                    selectedTag &&
                    selectedTag.tagtype &&
                    selectedTag.tagtype == 'text'
                  "
                  formControlName="tagvalue"
                  nz-input
                  placeholder="Value"
                />
                <nz-input-number
                  *ngIf="
                    selectedTag &&
                    selectedTag.tagtype &&
                    selectedTag.tagtype == 'number'
                  "
                  formControlName="tagvalue"
                ></nz-input-number>
                <nz-input-number
                  *ngIf="
                    selectedTag &&
                    selectedTag.tagtype &&
                    selectedTag.tagtype == 'range'
                  "
                  formControlName="tagvalue"
                  [nzMin]="selectedTag.min"
                  [nzMax]="selectedTag.max"
                >
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="24"
                nzRequired
                nzFor="currency"
              >
                Currency
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select
                  formControlName="currency"
                  nzShowSearch
                  style="width: 95%"
                  nzAllowClear
                  nzPlaceHolder="Currency"
                >
                  <nz-option
                    *ngFor="let t of currencyList; index as ti"
                    [nzLabel]="t.label"
                    [nzValue]="t.value"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s12 m6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="23"
                [nzXs]="24"
                nzRequired
                nzFor="budgetamount"
              >
                Budget
              </nz-form-label>
              <nz-form-control [nzSm]="23" [nzXs]="24">
                <nz-input-group>
                  <input
                    id="budgetamount"
                    (input)="budgetAmtChange(budgetForm.value.budgetamount)"
                    placeholder="Budget"
                    formControlName="budgetamount"
                    nz-input
                    type="text"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div>
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="notes" class="notes"
              >Notes
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-input-group>
                <textarea
                  id="notes"
                  formControlName="notes"
                  placeholder="Notes"
                  type="text"
                  nz-input
                ></textarea>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="row p-t-40">
          <div
            class="ant-drawer-header ng-star-inserted col s6 m6 p-a-0"
            style="padding-left: 0"
          >
            <div class="ant-drawer-title">
              <div class="ng-star-inserted" *ngIf="showPreview">Preview</div>
            </div>
          </div>
          <div class="col right p-t-10">
            <button
              (click)="beforeSave(budgetForm.value)"
              nz-button
              [nzLoading]="disabled"
              nzType="primary"
            >
              {{ previewText }} preview
            </button>
          </div>
          <div class="col s12 m12" *ngIf="showPreview">
            <app-budgetsummary [budgetFormObj]="previewData" [isPreview]="true">
            </app-budgetsummary>
          </div>
        </div>
      </form>
      <button
        (click)="beforeSave(budgetForm.value, true)"
        class="save-button"
        nz-button
        [nzLoading]="disabled"
        nzType="primary"
      >
        {{ buttonText }}
      </button>
    </nz-tab>
    <nz-tab *ngIf="budgetObj && budgetObj.budgetid" nzTitle="Notifications">
      <div nz-row>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzRequired
              >Duration
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                style="width: 90%"
                nzAllowClear
                nzPlaceHolder="Choose"
                nzShowSearch
                [(ngModel)]="notificaitonsModel.duration"
              >
                <nz-option nzValue="Daily" nzLabel="Daily"></nz-option>
                <nz-option nzValue="Weekly" nzLabel="Weekly"></nz-option>
                <nz-option nzValue="Monthly" nzLabel="Monthly"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label
              class="left-align"
              [nzSm]="24"
              [nzXs]="12"
              nzFor="rtag"
              >Notify Via</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                id="rtag"
                [(ngModel)]="notificaitonsModel.mode"
                style="width: 90%"
                nzAllowClear
                nzPlaceHolder="Choose"
              >
                <nz-option nzValue="EMAIL" nzLabel="EMAIL"></nz-option>
                <nz-option nzValue="SMS" nzLabel="SMS"></nz-option>
                <nz-option
                  nzValue="APPLICATION"
                  nzLabel="APPLICATION"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label
              class="left-align"
              [nzSm]="24"
              [nzXs]="12"
              nzFor="rtag"
              >Receivers</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                id="rtag"
                [(ngModel)]="notificaitonsModel.receivers"
                nzMode="multiple"
                style="width: 90%"
                nzAllowClear
                nzPlaceHolder="Choose"
              >
                <nz-option
                  *ngFor="let n of usersList; index as u"
                  [nzLabel]="n.label"
                  [nzValue]="n"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="right-align mt-3">
          <button
            nzSize="small"
            nz-button
            nzType="primary"
            (click)="addNotification()"
            [disabled]="
              notificaitonsModel.mode.length <= 0 ||
              notificaitonsModel.duration.length <= 0 ||
              notificaitonsModel.receivers.length <= 0
            "
            style="margin: 0"
          >
            Save
          </button>
        </div>
      </div>
      <div nz-row class="mt-3">
        <nz-table
          #nzTable
          [nzData]="configuredNotifications"
          [nzShowPagination]="false"
          [nzScroll]="{ x: '650px' }"
        >
          <thead>
            <tr>
              <th>Duration</th>
              <th>Receivers</th>
              <th>Notify via</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable.data; let i = index">
              <td>{{ data["duration"] }}</td>
              <td>{{ getReceiversFor(data["receivers"]) }}</td>
              <td>{{ data["mode"] }}</td>
              <td>
                <a
                  nz-popconfirm
                  nzTitle="Are you sure, delete notification?"
                  nzPlacement="bottomRight"
                  (nzOnConfirm)="
                    configuredNotifications.splice(i, 1);
                    beforeSave(budgetForm.value, true, true)
                  "
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-tab>
  </nz-tabset>
</nz-spin>
