<nz-spin [nzSpinning]="loading">
  <div>
    <form nz-form [formGroup]="predictionForm">
      <nz-form-item>
        <nz-form-label
          nzRequired
          style="text-align: left"
          [nzSm]="24"
          [nzXs]="24"
          nzFor="cloudprovider"
          >Provider
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            placeholder="Select Provider"
            [nzDisabled]="editDisabled"
            (ngModelChange)="
              providerChanges(predictionForm.value.cloudprovider);
              imageChange(predictionForm.value)
            "
            nzPlaceHolder="Select Provider"
            formControlName="cloudprovider"
          >
            <nz-option
              *ngFor="let data of cloudproviderList"
              [nzLabel]="data.keyname"
              [nzValue]="data.keyvalue"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
                <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" nzFor="resourcetype">Platform</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select formControlName="platform" style="width: 95%;" nzAllowClear nzPlaceHolder="Image"
                        [nzDisabled]="editDisabled" nzShowSearch>
                        <nz-option *ngFor="let t of instanceList; index as ti;" [nzLabel]="t.label" [nzValue]="t.value">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
      <!-- <nz-form-item>
                <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" nzFor="resourcetype">Resource</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select formControlName="resourcetype" style="width: 95%;" nzAllowClear nzPlaceHolder="Asset"
                        nzShowSearch>
                        <nz-option *ngFor="let t of assetTypes; index as ti;" [nzLabel]="t.title" [nzValue]="t.value">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
      <div class="row" *ngIf="predictionForm.value.cloudprovider == 'AWS'">
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="region">
              Region
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                formControlName="region"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Region"
                [nzDisabled]="editDisabled"
                nzShowSearch
                (ngModelChange)="getAWSInstanceTypes(predictionForm.value)"
              >
                <nz-option
                  *ngFor="let t of regionList; index as ti"
                  [nzLabel]="t.label"
                  [nzValue]="t.value"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="pricetype">
              Price Type
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                formControlName="pricetype"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Price Type"
                [nzDisabled]="editDisabled"
                nzShowSearch
                (ngModelChange)="getAWSInstanceTypes(predictionForm.value)"
              >
                <nz-option
                  *ngFor="let t of priceTypeList; index as ti"
                  [nzLabel]="t.label"
                  [nzValue]="t.value"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="platform">
          Plan Type
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            formControlName="plantype"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Plan type"
            [nzDisabled]="editDisabled"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of costVisualList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <div class="row">
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="cpuutilmin"
            >
              Min CPU Util
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input
                  id="cpuutilmin"
                  placeholder="Minimum CPU Utilization"
                  formControlName="cpuutilmin"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="cpuutilmax"
            >
              Max CPU Util
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input
                  id="cpuutilmax"
                  placeholder="Maximum CPU Utilization"
                  formControlName="cpuutilmax"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="memutilmin"
            >
              Min Memory Util
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input
                  id="memutilmin"
                  placeholder="Minimum Memory Utilization"
                  formControlName="memutilmin"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="memutilmax"
            >
              Max Memory Util
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input
                  id="memutilmax"
                  placeholder="Maximum Memory Utilization"
                  formControlName="memutilmax"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div class="col s12 m6 ">
                    <nz-form-item>
                        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="discutilmin">
                            Min Disc Util
                        </nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <nz-input-group>
                                <input id="discutilmin" placeholder="Minimum Disc Utilization"
                                    formControlName="discutilmin" nz-input type="number">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col s12 m6 ">
                    <nz-form-item>
                        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="discutilmax">
                            Max Disc Util
                        </nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <nz-input-group>
                                <input id="discutilmax" placeholder="Maximum Disc Utilization"
                                    formControlName="discutilmax" nz-input type="number">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col s12 m6 ">
                    <nz-form-item>
                        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="netutilmin">
                            Min Network Util
                        </nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <nz-input-group>
                                <input id="netutilmin" placeholder="Minimum Network Utilization"
                                    formControlName="netutilmin" nz-input type="number">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col s12 m6 ">
                    <nz-form-item>
                        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="netutilmax">
                            Max Network Util
                        </nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <nz-input-group>
                                <input id="netutilmax" placeholder="Maximum Network Utilization"
                                    formControlName="netutilmax" nz-input type="number">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
      </div>
      <!-- <nz-form-item>
                <nz-form-label [nzSm]="23" [nzXs]="24" nzRequired nzFor="duration">
                    Duration
                </nz-form-label>
                <nz-form-control [nzSm]="23" [nzXs]="24">
                    <nz-input-group>
                        <input id="duration" placeholder="Duration" formControlName="duration" nz-input type="number">
                    </nz-input-group> 
                    <nz-select formControlName="duration" style="width: 95%;" nzAllowClear
                        nzPlaceHolder="Select Duration" nzShowSearch>
                        <nz-option nzLabel="Last 7 Days" nzValue="Weekly">
                        </nz-option>
                        <nz-option nzLabel="Last 30 Month" nzValue="Monthly">
                        </nz-option>
                        <nz-option nzLabel="Last 3 Months" nzValue="Quarterly">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
      <nz-form-item>
        <nz-form-label
          [nzSm]="24"
          [nzXs]="24"
          nzRequired
          nzFor="recommendationone"
        >
          Recommendation One
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            formControlName="recommendationone"
            style="width: 95%"
            nzAllowClear
            [nzDisabled]="editDisabled"
            nzPlaceHolder="Plan type"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of costVisualList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="recommendationtwo">
          Recommendation Two
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            formControlName="recommendationtwo"
            style="width: 95%"
            nzAllowClear
            [nzDisabled]="editDisabled"
            nzPlaceHolder="Plan type"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of costVisualList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="recommendationthree">
          Recommendation Three
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            formControlName="recommendationthree"
            style="width: 95%"
            nzAllowClear
            [nzDisabled]="editDisabled"
            nzPlaceHolder="Plan type"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of costVisualList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <label
            nz-checkbox
            [nzDisabled]="editDisabled"
            formControlName="restartyn"
            >Restart Required ?</label
          >
        </nz-form-control>
      </nz-form-item>
      <div *ngIf="edit && !editDisabled">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="status"
            >Status</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-input-group>
              <nz-switch
                class="status"
                id="status"
                formControlName="status"
              ></nz-switch>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
    <div class="row right" *ngIf="!editDisabled">
      <div class="col s12 md4">
        <button
          (click)="saveUpdate(predictionForm.value)"
          class="save-button"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </div>
</nz-spin>
