<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="securityzonesForm">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="interfacezone" nzRequired
        >Interface Zone</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="24">
        <nz-select
          nzShowSearch
          nzAllowClear
          id="interfacezone"
          placeholder="Select Zone"
          formControlName="interfacezone"
        >
          <nz-option
            *ngFor="let data of interfaceZoneList"
            [nzLabel]="data.keyname"
            [nzValue]="data.keyvalue"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="unit" nzRequired
        >Logical Unit Number
      </nz-form-label>
      <nz-form-control [nzSm]="24" [nzXs]="24">
        <input nz-input formControlName="unit" type="number" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="services" nzRequired
        >Services
      </nz-form-label>
      <nz-form-control [nzSm]="24" [nzXs]="24">
        <nz-select
          nzShowSearch
          nzAllowClear
          id="services"
          placeholder="Select Zone"
          formControlName="services"
        >
          <nz-option
            *ngFor="let data of interfaceServiceList"
            [nzLabel]="data.keyname"
            [nzValue]="data.keyvalue"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveConfigure(securityzonesForm.value, '')"
      class="save-button"
      type="submit"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
