<div class="col s12 m8" *ngIf="solutionbased">
  <div class="row">
    <div class="col s12">
      <div class="col s12 m8">
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSm]="12" [nzXs]="12" nzFor="loadbalancer"
              >Load Balancer</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-select
                  [ngModelOptions]="{ standalone: true }"
                  nzShowSearch
                  nzAllowClear
                  id="loadbalancer"
                  placeholder="Select Load Balancer"
                  nzPlaceHolder="Select Load Balancer"
                  [(ngModel)]="loadbalancer"
                  style="width: 100%"
                  (ngModelChange)="onChangeLB($event)"
                >
                  <nz-option
                    *ngFor="let data of loadbalancerList"
                    [nzLabel]="data.lbname"
                    [nzValue]="data"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="12" [nzXs]="12" nzRequired nzFor="assignlb"
              >Assign LB to
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-select
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="assignlb"
                  nzMode="multiple"
                  class="width-100"
                  nzShowSearch
                  nzAllowClear
                  id="assignlb"
                  placeholder="Public IP"
                  style="width: 100%"
                  nzPlaceHolder="Select Servers"
                >
                  <nz-option
                    *ngFor="let i of ecl2instancesList"
                    [nzLabel]="i.instancename"
                    [nzValue]="i.ecl2solutionid"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="12"
              [nzXs]="12"
              nzRequired
              nzFor="servicegroupname"
              >Service Group Name
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <input
                  id="servicegroupname"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Service Group Name"
                  [(ngModel)]="servicegroupname"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="12"
              [nzXs]="12"
              nzRequired
              nzFor="virtualservername"
              >Virtual Server Name
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <input
                  id="virtualservername"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Virtual Server"
                  [(ngModel)]="virtualservername"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>

  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <div class="row">
      <div *ngIf="lbplanedit">
        <app-cloudmatiq-side-bar
          (dataChanged)="onChanged($event)"
          [(isVisible)]="isVisible"
          [title]="formTitle"
        >
          <ng-container class="modal-content">
            <app-lb-interface
              *ngIf="formTitle == 'Attach Network'"
              [lbInterfaceObj]="lbInterfaceObj"
              (notifyNewEntry)="notifyNewEntry($event)"
            >
            </app-lb-interface>
            <app-lb-vrrp
              *ngIf="modal == 'VRRP'"
              [lbVRRPObj]="lbVRRPObj"
              (notifyNewEntry)="notifyNewEntry($event)"
            >
            </app-lb-vrrp>
            <app-lb-ip
              *ngIf="modal == 'IP'"
              [lbIPObj]="lbIPObj"
              (notifyNewEntry)="IPEntry($event)"
            >
            </app-lb-ip>
          </ng-container>
        </app-cloudmatiq-side-bar>

        <h3 class="solution-title mb-0 ml-3">Interfaces</h3>

        <div class="ml-4">
          <div class="col s12">
            <nz-table
              [nzScroll]="{ x: '720px' }"
              #vTable
              [nzData]="interfaceList"
            >
              <thead>
                <tr>
                  <th class="left-align">Name</th>
                  <th class="left-align">Slot No</th>
                  <th class="left-align">Network</th>
                  <th class="left-align">IP Address</th>
                  <!-- <th class="left-align">Status</th> -->
                  <th nzWidth="70px" class="center" nzRight="0px">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of vTable.data">
                  <td class="left-align">{{ data.lbinterfacename }}</td>
                  <td class="left-align">{{ data.slotnumber }}</td>
                  <td class="left-align">
                    {{
                      data.networkid == null
                        ? "-"
                        : data.ecl2networks.networkname
                    }}
                  </td>
                  <td class="left-align">
                    {{ data.ipaddress == null ? "-" : data.ipaddress }}
                  </td>
                  <!-- <td class="left-align">{{data.status}}</td> -->
                  <td nzWidth="70px" nzRight="0px" class="center">
                    <a (click)="editInterface(data)">
                      <i
                        class="fa fa-link"
                        style="color: #ffcc00"
                        nz-tooltip
                        nzTitle="Attach Network"
                      ></i>
                    </a>
                    &nbsp;
                    <a (click)="editConfiguration(data, 'VRRP')">
                      <i
                        class="anticon anticon-edit"
                        nz-tooltip
                        nzTitle="Network Configuration for VRRP"
                      ></i>
                    </a>
                    &nbsp;
                    <a (click)="editConfiguration(data, 'IP')">
                      <i
                        class="fa fa-server"
                        style="color: #ffcc00"
                        nz-tooltip
                        nzTitle="IPs"
                      ></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
      <div *ngIf="lbplanedit">
        <h3 class="solution-title mb-0 ml-3">Syslog Servers</h3>
        <div class="ml-4">
          <app-cloudmatiq-side-bar
            (dataChanged)="onChanged($event)"
            [(isVisible)]="lbsyslogVisible"
            [title]="formTitle"
            [width]="820"
          >
            <ng-container class="modal-content">
              <app-lb-syslogservers
                [lbSyslogObj]="lbSyslogObj"
                (notifyNewEntry)="notifyNewEntry($event)"
              >
              </app-lb-syslogservers>
            </ng-container>
          </app-cloudmatiq-side-bar>
          <div class="col s12 right-align">
            <button (click)="showModal()" nz-button nzType="primary">
              <i class="anticon anticon-plus"></i>
            </button>
          </div>
          <div class="col s12">
            <nz-table
              [nzScroll]="{ x: '720px' }"
              #vTable
              [nzData]="syslogserverList"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Slot No</th>
                  <th>Network</th>
                  <th>IP Address</th>
                  <th>Status</th>
                  <th nzWidth="70px" nzRight="0px">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of vTable.data">
                  <td>{{ data.lbsyslogservername }}</td>
                  <td>{{ data.ipaddress }}</td>
                  <td>{{ data.transporttype }}</td>
                  <td>{{ data.portnumber }}</td>
                  <td>{{ data.status }}</td>
                  <td nzWidth="70px" nzRight="0px">
                    <a (click)="editSyslog(data)">
                      <i class="anticon anticon-edit"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
    <!-- Additional Parameters Section start-->

    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        *ngFor="let panel of panels"
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
      >
        <div class="">
          <div class="col s12">
            <h3 class="solution-title mb-0 ml-3">Service Group</h3>
            <div class="col s12 m8">
              <form nz-form [formGroup]="lbservicegpForm">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="servicetype"
                    >Protocol
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="servicetype"
                        style="width: 100%"
                        placeholder="Select Protocol"
                        nzPlaceHolder="Select Protocol"
                        formControlName="servicetype"
                      >
                        <nz-option
                          *ngFor="let data of protocolList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzRequired nzFor="td"
                    >Traffic Domain
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-input-group>
                        <input
                          id="td"
                          placeholder="Traffic Domain"
                          formControlName="td"
                          nz-input
                          type="text"
                        />
                      </nz-input-group>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzFor="cachetype"
                    >Cache Type
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="cachetype"
                        style="width: 100%"
                        placeholder="Select Cache Type"
                        nzPlaceHolder="Select Cache Type"
                        formControlName="cachetype"
                      >
                        <nz-option
                          *ngFor="let data of cachetypeList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzFor="autoscale"
                    >Autoscale Mode
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="autoscale"
                        style="width: 100%"
                        placeholder="Select Autoscale Mode"
                        nzPlaceHolder="Select Autoscale Mode"
                        formControlName="autoscale"
                      >
                        <nz-option
                          *ngFor="let data of autoscalemodeList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="cacheable"
                    >Cacheable
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <label
                        id="cacheable"
                        formControlName="cacheable"
                        nz-checkbox
                      ></label>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="state"
                    >State
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <label
                        id="state"
                        formControlName="state"
                        nz-checkbox
                      ></label>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="healthmonitor"
                    >Health Monitoring
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <label
                        id="healthmonitor"
                        formControlName="healthmonitor"
                        nz-checkbox
                      ></label>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="appflowlog"
                    >AppFlow Logging
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <label
                        id="appflowlog"
                        formControlName="appflowlog"
                        nz-checkbox
                      ></label>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="monconnectionclose"
                  >
                    Monitoring Connection Close Bit
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="monconnectionclose"
                        style="width: 100%"
                        placeholder="Select Monitoring Connection Close Bit"
                        nzPlaceHolder="Select Monitoring Connection Close Bit"
                        formControlName="monconnectionclose"
                      >
                        <nz-option
                          *ngFor="let data of monitorconnectionList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m8">
            <h3 class="solution-title mb-0 ml-3">Load Balancing Server</h3>
            <!-- <div class="ml-4"> -->
            <div class="col s12">
              <form nz-form [formGroup]="lbserverForm">
                <!-- <nz-form-item>
                            <nz-form-label [nzSm]="12" [nzXs]="12" nzRequired nzFor="name">Name
                            </nz-form-label>
                            <nz-form-control [nzSm]="12" [nzXs]="12">
                                <nz-input-group>
                                    <input id="name" placeholder="Name" formControlName="name" nz-input type="text">
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item> -->
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzRequired nzFor="td"
                    >Traffic Domain
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-input-group>
                        <input
                          id="td"
                          placeholder="Traffic Domain"
                          formControlName="td"
                          nz-input
                          type="text"
                        />
                      </nz-input-group>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="state"
                    >State
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <label
                        id="state"
                        formControlName="state"
                        nz-checkbox
                      ></label>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m8">
            <h3 class="solution-title mb-0 ml-3">Virtual Server</h3>
            <!-- <div class="ml-4"> -->
            <div class="col s12">
              <form nz-form [formGroup]="lbvserverForm">
                <!-- <nz-form-item>
                            <nz-form-label [nzSm]="12" [nzXs]="12" nzRequired nzFor="name">Name
                            </nz-form-label>
                            <nz-form-control [nzSm]="12" [nzXs]="12">
                                <nz-input-group>
                                    <input id="name" placeholder="Name" formControlName="name" nz-input type="text">
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item> -->
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="servicetype"
                    >Protocol
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="servicetype"
                        style="width: 100%"
                        placeholder="Select Protocol"
                        nzPlaceHolder="Select Protocol"
                        formControlName="servicetype"
                      >
                        <nz-option
                          *ngFor="let data of protocolList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzRequired nzFor="port"
                    >Port
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="port"
                        placeholder="Port"
                        formControlName="port"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m8">
            <h3 class="solution-title mb-0 ml-3">
              Virtual Server Method Binding
            </h3>
            <!-- <div class="ml-4"> -->
            <div class="col s12">
              <form nz-form [formGroup]="lbvservermethodForm">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="lbmethod"
                    >Method
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="lbmethod"
                        style="width: 100%"
                        placeholder="Select Method"
                        nzPlaceHolder="Select Method"
                        formControlName="lbmethod"
                      >
                        <nz-option
                          *ngFor="let data of lbmethodList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="newservicerequest"
                    >New Service Startup Request Rate
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="newservicerequest"
                        placeholder="New Service Startup Request Rate"
                        formControlName="newservicerequest"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="backuplbmethod"
                    >Backup LB Method
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="backuplbmethod"
                        style="width: 100%"
                        placeholder="Select Method"
                        nzPlaceHolder="Select Method"
                        formControlName="backuplbmethod"
                      >
                        <nz-option
                          *ngFor="let data of backuplbmethodList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="newservicerequestunit"
                    >New Service Request unit
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="newservicerequestunit"
                        style="width: 100%"
                        placeholder="Select Method"
                        nzPlaceHolder="Select"
                        formControlName="newservicerequestunit"
                      >
                        <nz-option
                          *ngFor="let data of lbsrvrequnitmethodList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="newservicerequestincrementinterval"
                    >Increment Interval
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="newservicerequestincrementinterval"
                        placeholder="Increment Interval"
                        formControlName="newservicerequestincrementinterval"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m8">
            <h3 class="solution-title mb-0 ml-3">
              Service Group Member Binding
            </h3>
            <!-- <div class="ml-4"> -->
            <div class="col s12">
              <form nz-form [formGroup]="lbvsgmemberForm">
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzRequired nzFor="port"
                    >Port
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="port"
                        placeholder="Port"
                        formControlName="port"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="weight"
                    >Weight
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="weight"
                        placeholder="Weight"
                        formControlName="weight"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzFor="customserverid"
                    >Custom Server ID
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="customserverid"
                        placeholder="Custom Server ID"
                        formControlName="customserverid"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="12" nzFor="hashid"
                    >Hash ID
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="hashid"
                        placeholder="Hash ID"
                        formControlName="hashid"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="state"
                    >State
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <label
                        id="state"
                        formControlName="state"
                        nz-checkbox
                      ></label>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m8">
            <h3 class="solution-title mb-0 ml-3">
              Service Group Monitor Binding
            </h3>
            <!-- <div class="ml-4"> -->
            <div class="col s12">
              <form nz-form [formGroup]="lbvsgmonitorForm">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="monitor_name"
                    >Monitor
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="monitor_name"
                        style="width: 100%"
                        placeholder="Select Monitor"
                        nzPlaceHolder="Select Monitor"
                        formControlName="monitor_name"
                      >
                        <nz-option
                          *ngFor="let data of monitorbindList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="weight"
                    >Weight
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="weight"
                        placeholder="Weight"
                        formControlName="weight"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="12"
                    [nzXs]="12"
                    nzRequired
                    nzFor="monstate"
                    >State
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <label
                        id="monstate"
                        formControlName="monstate"
                        nz-checkbox
                      ></label>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>

    <!-- Additional Parameters Section end-->
  </nz-spin>
  <div class="center-align mr-5">
    <nz-dropdown>
      <button style="width: 115px" class="loadbalancer" nz-button nz-dropdown>
        <span>Save</span>
        <i class="anticon anticon-down"></i>
      </button>
      <ul nz-menu>
        <li (click)="saveLb(loadbalancer, 'Template')" nz-menu-item>
          <a>Save Load Balancer</a>
        </li>
        <li (click)="skip()" nz-menu-item>
          <a>Skip</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<div *ngIf="lbList.length > 0 && solutionbased" class="col s12 m4 pl-2 pr-2">
  <h4 class="amber-text">Load Balancers</h4>
  <table *ngIf="lbList && lbList.length > 0" style="width: 100%">
    <tr *ngFor="let lb of lbList; let i = index">
      <td *ngIf="lb.lbname" class="white-text">{{ lb.lbname }}</td>
      <td *ngIf="lb.lbname">
        <i
          (click)="editLB(lb)"
          class="anticon hover-pointer amber-text anticon-edit ml-2"
        ></i>
        <i
          (click)="removeLB(lb, i)"
          class="anticon hover-pointer amber-text anticon-delete ml-1"
        ></i>
      </td>
    </tr>
  </table>
</div>

<div class="col s12 m8" *ngIf="lbbased">
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" class="networking-tab">
    <nz-tab nzTitle="Load Balancer">
      <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
        <form nz-form [formGroup]="ecl2lbForm">
          <div class="row">
            <div class="col s6">
              <nz-form-item>
                <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="lbname"
                  >New Load Balancer Name
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24">
                  <nz-input-group>
                    <input
                      [attr.disabled]="tagsOnly"
                      id="lbname"
                      placeholder="Load Balancer Name"
                      formControlName="lbname"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s6">
              <nz-form-item>
                <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="zoneid" nzRequired
                  >Select Zone/Group
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    [nzDisabled]="lbObj.loadbalancerid || tagsOnly"
                    nzShowSearch
                    nzAllowClear
                    id="zoneid"
                    placeholder="Select Zone/Group"
                    formControlName="zoneid"
                    (ngModelChange)="onRegionChange($event)"
                  >
                    <nz-option
                      *ngFor="let data of ecl2zoneList"
                      [nzLabel]="data.zonename"
                      [nzValue]="data"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row" style="padding-left: 14px">
            <div class="col s6">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="customerid"
                  nzRequired
                  >Select {{ subtenantLable }}
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24">
                  <nz-select
                    [nzDisabled]="lbObj.loadbalancerid || tagsOnly"
                    nzShowSearch
                    nzAllowClear
                    id="customerid"
                    placeholder="Select"
                    formControlName="customerid"
                    (ngModelChange)="onCustomerChange($event)"
                  >
                    <nz-option
                      *ngFor="let data of customerList"
                      [nzLabel]="data.customername"
                      [nzValue]="data"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s6">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="24"
                  [nzXs]="12"
                  nzRequired
                  nzFor="loadbalancerplanid"
                  >Load Balancer Plan</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="24">
                  <nz-select
                    [nzDisabled]="tagsOnly"
                    nzShowSearch
                    nzAllowClear
                    id="loadbalancerplanid"
                    placeholder="Select Load Balancer Plan"
                    nzPlaceHolder="Select Load Balancer Plan"
                    formControlName="loadbalancerplanid"
                  >
                    <nz-option
                      *ngFor="let data of lbPlanList"
                      [nzLabel]="data.lbplanname"
                      [nzValue]="data"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row" style="padding-left: 14px">
            <div class="col s6">
              <nz-form-item>
                <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
                  >Description</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="24">
                  <nz-input-group>
                    <textarea
                      [attr.disabled]="tagsOnly"
                      id="description"
                      formControlName="description"
                      placeholder="Description"
                      type="text"
                      nz-input
                    ></textarea>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row" *ngIf="lbplanedit" style="padding-left: 14px">
            <div class="col s4">
              <h3 class="solution-title mb-0">Default Gateway</h3>
            </div>
          </div>
          <div class="row" *ngIf="lbplanedit">
            <div class="col s12">
              <div class="col s6" style="padding-left: 14px">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="24"
                    [nzXs]="12"
                    nzFor="availablesubnets"
                    ><span
                      >Available Subnets on Network
                      <nz-tooltip
                        nzTitle="All available subnet CIDR within the 
                                        network for default gateway as reference"
                      >
                        <i
                          nz-tooltip
                          class="anticon anticon-question-circle-o"
                        ></i> </nz-tooltip></span
                  ></nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select
                      [nzDisabled]="tagsOnly"
                      nzShowSearch
                      nzAllowClear
                      id="availablesubnets"
                      placeholder="Select Available Subnet"
                      nzPlaceHolder="Select Available Subnet"
                      formControlName="availablesubnets"
                    >
                      <nz-option
                        *ngFor="let data of availablesubnetList"
                        [nzLabel]="data.networkname"
                        [nzValue]="data"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col s6">
                <nz-form-item>
                  <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="defaultgateway"
                    ><span
                      >Default Gateway
                      <nz-tooltip
                        nzTitle="Default gateway IP Address should be in the CIDR of any on the Available
                                    Subnets on Network field"
                      >
                        <i
                          nz-tooltip
                          class="anticon anticon-question-circle-o"
                        ></i> </nz-tooltip
                    ></span>
                  </nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-input-group>
                      <input
                        [attr.disabled]="tagsOnly"
                        id="defaultgateway"
                        placeholder="Default Gateway"
                        formControlName="defaultgateway"
                        nz-input
                        type="text"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </form>
      </nz-spin>
      <div class="row right">
        <div class="col s12 md4">
          <button
            [disabled]="disabled || tagsOnly"
            (click)="saveLb(ecl2lbForm.value, '')"
            class="save-button"
            type="submit"
            nz-button
            nzType="primary"
            [nzLoading]="addingparam"
          >
            {{ buttonText }}
          </button>
        </div>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="subtenantLable" *ngIf="addTenant">
      <div>
        <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Pricing" *ngIf="addTenant">
      <div>
        <app-asset-costs [assetData]="assetData"></app-asset-costs>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Interfaces" [nzDisabled]="tabdisabled">
      <div *ngIf="lbplanedit">
        <app-cloudmatiq-side-bar
          (dataChanged)="onChanged($event)"
          [(isVisible)]="isVisible"
          [title]="formTitle"
        >
          <ng-container class="modal-content">
            <app-lb-interface
              *ngIf="modal == 'Interface'"
              [lbInterfaceObj]="lbInterfaceObj"
              (notifyNewEntry)="notifyNewEntry($event)"
            >
            </app-lb-interface>
            <app-lb-vrrp
              *ngIf="modal == 'VRRP'"
              [lbVRRPObj]="lbVRRPObj"
              (notifyNewEntry)="notifyNewEntry($event)"
            >
            </app-lb-vrrp>
            <app-lb-ip
              *ngIf="modal == 'IP'"
              [lbIPObj]="lbIPObj"
              (notifyNewEntry)="IPEntry($event)"
            >
            </app-lb-ip>
          </ng-container>
        </app-cloudmatiq-side-bar>

        <div class="col s12">
          <nz-table
            [nzScroll]="{ x: '720px' }"
            #vTable
            [nzData]="interfaceList"
          >
            <thead>
              <tr>
                <th class="left-align">Name</th>
                <!-- <th class="left-align">Slot No</th> -->
                <th class="left-align">Network</th>
                <th class="left-align">IP Address</th>
                <th class="left-align">Virtual IP Address</th>
                <!-- <th class="left-align">Status</th> -->
                <th nzWidth="70px" class="center" nzRight="0px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of vTable.data">
                <td class="left-align">{{ data.lbinterfacename }}</td>
                <!-- <td class="left-align">{{data.slotnumber}}</td> -->
                <td class="left-align">
                  {{
                    data.networkid == null ? "-" : data.ecl2networks.networkname
                  }}
                </td>
                <td class="left-align">
                  {{ data.ipaddress == null ? "-" : data.ipaddress }}
                </td>
                <td class="left-align">
                  {{
                    data.virtualipaddress == null ? "-" : data.virtualipaddress
                  }}
                </td>
                <!-- <td class="left-align">{{data.status}}</td> -->
                <td nzWidth="70px" nzRight="0px" class="center">
                  <a (click)="editInterface(data, 'Interface')">
                    <i
                      class="fa fa-link"
                      style="color: #ffcc00"
                      nz-tooltip
                      nzTitle="Attach Network"
                    ></i>
                  </a>
                  &nbsp;
                  <a (click)="editConfiguration(data, 'VRRP')">
                    <i
                      class="anticon anticon-edit"
                      nz-tooltip
                      nzTitle="Network Configuration for VRRP"
                    ></i>
                  </a>
                  &nbsp;
                  <a (click)="editConfiguration(data, 'IP')">
                    <i
                      class="fa fa-server"
                      style="color: #ffcc00"
                      nz-tooltip
                      nzTitle="IPs"
                    ></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Syslog Servers" [nzDisabled]="tabdisabled">
      <app-cloudmatiq-side-bar
        (dataChanged)="onChanged($event)"
        [(isVisible)]="lbsyslogVisible"
        [title]="formTitle"
        [width]="820"
      >
        <ng-container class="modal-content">
          <app-lb-syslogservers
            [lbSyslogObj]="lbSyslogObj"
            (notifyNewEntry)="notifyNewEntry($event)"
          >
          </app-lb-syslogservers>
        </ng-container>
      </app-cloudmatiq-side-bar>
      <div class="col s12 right-align">
        <button
          *ngIf="!tagsOnly"
          (click)="showModal()"
          nz-button
          nzType="primary"
        >
          <i class="anticon anticon-plus"></i>
        </button>
      </div>
      <div class="col s12">
        <nz-table
          [nzScroll]="{ x: '720px' }"
          #vTable
          [nzData]="syslogserverList"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Slot No</th>
              <th>Network</th>
              <th>IP Address</th>
              <th>Status</th>
              <th nzWidth="70px" nzRight="0px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of vTable.data">
              <td>{{ data.lbsyslogservername }}</td>
              <td>{{ data.ipaddress }}</td>
              <td>{{ data.transporttype }}</td>
              <td>{{ data.portnumber }}</td>
              <td>{{ data.status }}</td>
              <td nzWidth="70px" nzRight="0px">
                <a (click)="editSyslog(data)">
                  <i class="anticon anticon-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Tags" [nzDisabled]="tabdisabled">
      <app-cloudmatiq-side-bar
        (dataChanged)="tagDrawerChanges($event)"
        [(isVisible)]="tagPickerVisible"
        [width]="550"
        [title]="'Add/Edit Tags'"
      >
        <ng-container class="modal-content">
          <app-cloudmatiq-tag-picker
            *ngIf="loadbalancerAddObj && loadbalancerAddObj.loadbalancerid"
            [currentTags]="tags"
            cloudProvider="ECL2"
            [pickermode]="'combined'"
            [mode]="'picker'"
            [validateInputs]="true"
            [disableParams]="true"
            [tagGroupType]="null"
            [resourceId]="loadbalancerAddObj.loadbalancerid"
            [resourceType]="'ASSET_LB'"
            (tagChanges)="onTagChangeEmit($event)"
          >
          </app-cloudmatiq-tag-picker>
        </ng-container>
      </app-cloudmatiq-side-bar>
      <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
        <div nz-row class="ml-1">
          <div
            nz-col
            nzSpan="24"
            style="display: flex; justify-content: space-between"
          >
            <!-- <h2 class="solution-title mb-0" style="margin-top: .5em;">Tags</h2> -->
            <button
              (click)="tagPickerVisible = true"
              nz-button
              nzType="primary"
              style="margin: 9px 0"
            >
              Add/Edit Tags
            </button>
          </div>
          <div nz-col nzSpan="24">
            <div class="param-table" style="margin-top: 0px">
              <app-cloudmatiq-data-table
                [tableData]="tagsList"
                [tableHeader]="tagTableHeader"
                [tableConfig]="tagTableConfig"
              >
              </app-cloudmatiq-data-table>
            </div>
          </div>
        </div>
      </nz-spin>
      <button
        (click)="updateTags()"
        [nzLoading]="loading"
        class="save-button"
        nz-button
        nzType="primary"
      >
        Save
      </button>
    </nz-tab>
  </nz-tabset>
</div>
