<div>
    <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="12">
            <h2 class="amber-text">Requirement description</h2>
          </div>
          <div nz-col nzSpan="12" class="right-align">
            <button nz-button class="m-r-15" (click)="acceptAll()" nzType="primary" title="Accept All">
              Accept All
            </button>
            <button nz-button (click)="remediationAll()" nzType="primary" title="Remediate All">
              Remediate All
            </button>
          </div>
        </div>
      </div>
      <p class="white-text f-s-17">{{modalData.details ? modalData.details : modalData.controlcategory }}</p>
    
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="logsList"
        [tableHeader]="tableHeader"
        [tableConfig]="tableConfig"
      ></app-cloudmatiq-data-table>
      <nz-modal [nzWidth]="750" [(nzVisible)]="isSideBarVisible" [nzContent]="modalContent"
        (nzOnCancel)="isSideBarVisible = false" [nzTitle]="formTitle" [nzFooter]="modalFooter">
        <ng-template #modalContent>
            <form nz-form [formGroup]="ComplianceLogForm">
                <nz-form-item *ngIf="showOrchestrator">
                  <nz-form-label nzFor="orchestratorSelect" nzRequired>Orchestrator</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      style="width: 90%"
                      nzPlaceHolder="Select Orchestrator"
                      formControlName="orchestrator"
                    >
                  <nz-option *ngFor="let o of orchestrationList" [nzLabel]="o.orchname"
                        [nzValue]="o.orchid"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired
                    >Notes
                  </nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="12">
                    <nz-input-group>
                      <textarea
                        style="width: 90%"
                        placeholder="Type your comments here..."
                        rows="4"
                        formControlName="description"
                        nz-input
                      ></textarea>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>
        </ng-template>
    
        <ng-template #modalFooter>
          <button class="m-t-20 m-r-3" nz-button nzType="default" (click)="handleOk()">
            Save
          </button>
          <button class="m-t-20" nz-button nzType="default" (click)="isSideBarVisible = false">
            Close
          </button>
        </ng-template>
      </nz-modal>  
</div>