<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    (dataChanged)="closeDrawer()"
    [(isVisible)]="isVisible"
    [width]="680"
    [title]="selectedEvent?.module">
    <ng-container class="modal-content" *ngIf="isVisible">
      <app-cloudmatiq-eventlog-view
        isReference="true"
        [id]="selectedEvent?.id"
        [referencesList]="referencesList"></app-cloudmatiq-eventlog-view>
    </ng-container>
  </app-cloudmatiq-side-bar>

  <ng-container class="page-body">
    <div nz-row nzType="flex" style="margin-top: 13px" nzAlign="middle">
      <div nz-col nzSpan="24">
        <form nz-form [formGroup]="filterForm">
          <div nz-row>
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="startdt"
                  >Start Date
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-input-group nzCompact>
                    <nz-date-picker
                      nzFormat="dd-MMM-yyyy"
                      nzPlaceHolder="Start Date"
                      formControlName="startdt">
                    </nz-date-picker> </nz-input-group
                ></nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="enddt"
                  >End Date
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-input-group nzCompact>
                    <nz-date-picker
                      nzFormat="dd-MMM-yyyy"
                      nzPlaceHolder="End Date"
                      formControlName="enddt">
                    </nz-date-picker> </nz-input-group
                ></nz-form-control>
              </nz-form-item>
            </div>
            <!-- <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="module"
                  >Module
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="module"
                    formControlName="module"
                    style="width: 90%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    nzShowSearch>
                    <nz-option
                      *ngFor="let t of moduleList; index as t"
                      [nzLabel]="t.label"
                      [nzValue]="t.value">

                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="severity"
                  >Severity
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="severity"
                    formControlName="severity"
                    style="width: 90%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    nzShowSearch>
                    <nz-option nzLabel="High" nzValue="High"></nz-option>
                    <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                    <nz-option nzLabel="Low" nzValue="Low"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div> -->
            <div nz-col nzSpan="2">
              <!-- #OP_B628 -->
              <button
                nzSize="small"
                nz-button
                (click)="getEventsList()"
                nzType="primary"
                style="margin-top: 40px">
                <i class="anticon anticon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- OP_768 -->

    <app-cloudmatiq-side-bar
      (dataChanged)="showFilter = false"
      [(isVisible)]="showFilter"
      [title]="'Filter'">
      <ng-container *ngIf="showFilter" class="modal-content">
        <app-filters
          (getFilterValue)="getFilterValue($event)"
          (setFilterValue)="setFilterValue($event)"
          [filterableValues]="filterableValues"
          [existValues]="filteredValues[filterKey]"
          [filterKey]="filterKey"
          >
        </app-filters>
      </ng-container>
    </app-cloudmatiq-side-bar>

    <!-- <app-cloudmatiq-side-bar
    (dataChanged)="showFilter = false"  
    [(isVisible)]="showFilter"
    [title]="'Module Filter'"
    >
    <ng-container *ngIf ="showFilter" class="modal-content" >
      <app-filters
      (getFilterValue) = "getModuleFilter($event)"
      (setFilterValue) = "setModuleFilter($event)"
      [filterableValues] = "moduleFilterValue"
      [existValues]="moduleFilterValue[moduleFilterKeys]"
      [FilterKey]="moduleFilterKeys"
      ></app-filters>
    </ng-container>
  </app-cloudmatiq-side-bar> -->

    <!-- <app-cloudmatiq-side-bar
    (dataChanged)="showFilter = false"  
    [(isVisible)]="showFilter"
    [title]="'Severity Filter'"
    >
    <ng-container *ngIf ="showFilter" class="modal-content" >
      <app-filters
      (getSeverityFilter) = "getSevervityFilter($event)"
      (setSeverityFilter) = "setSevervityFilter($event)"
      [severityFilterValue] = "severityFilterValue"
      [existValues]="severityFilterValue[severityFilterKeys]"
      [severityFilterKeys]="severityFilterKeys"
      ></app-filters>
    </ng-container>
  </app-cloudmatiq-side-bar> -->
    <div class="row param-table">
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="logList"
        [tableHeader]="tableHeader"
        [selectedcolumns]="selectedcolumns"
        [tableConfig]="tableConfig"
        [totalCount]="totalCount"></app-cloudmatiq-data-table>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
