<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="volumeForm">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="name"
        >Volume Name</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input
            id="name"
            placeholder="Volume Name"
            formControlName="name"
            nz-input
            type="text"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="diskcategory"
        >Disk Category</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <nz-select
            nzShowSearch
            nzAllowClear
            id="diskcategory"
            nzPlaceHolder="Select Disk Category"
            formControlName="diskcategory"
            style="width: 100%"
          >
            <nz-option
              *ngFor="let data of diskcategoryList"
              [nzLabel]="data.keyname"
              [nzValue]="data.keyvalue"
            ></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="sizeingb">
        Volume Size ( GB )</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <nz-input-number
            id="sizeingb"
            [nzMin]="40"
            [nzMax]="500"
            placeholder="Size in GB"
            formControlName="sizeingb"
            nz-input
            type="text"
          ></nz-input-number>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="zoneid"
        >Zone</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <nz-select
            nzShowSearch
            nzAllowClear
            id="zoneid"
            nzPlaceHolder="Select Zone"
            formControlName="zoneid"
            style="width: 100%"
          >
            <nz-option
              *ngFor="let data of zoneList"
              [nzLabel]="data.zonename"
              [nzValue]="data.zoneid"
            ></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="encryptedyn"
        >Encrypt Block</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select
          nzShowSearch
          nzAllowClear
          id="encryptedyn"
          placeholder="Encrypt the block"
          nzPlaceHolder="Encrypt the block"
          formControlName="encryptedyn"
        >
          <nz-option nzLabel="Yes" nzValue="Y"></nz-option>
          <nz-option nzLabel="No" nzValue="N"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
        >Description</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <textarea
            id="description"
            formControlName="description"
            placeholder="Description"
            type="text"
            nz-input
          ></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="volumeObj.volumeid != null">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status"
        >Status</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="24">
        <nz-input-group>
          <nz-switch
            class="status"
            id="status"
            formControlName="status"
          ></nz-switch>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveOrUpdate(volumeForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      Save
    </button>
  </div>
</div>
