<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <form nz-form [formGroup]="tenantconnectionForm">
    <div class="row">
      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="name"
            >Name</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <input nz-input formControlName="name" type="text" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
            >Description</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <textarea
                id="description"
                formControlName="description"
                type="text"
                nz-input
              ></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="deviceid" nzRequired
            >Instance
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              [nzDisabled]="tenantConnEditObj.tenantconnectionid"
              nzShowSearch
              nzAllowClear
              id="deviceid"
              placeholder="Select Instance"
              nzPlaceHolder="Select Instance"
              formControlName="deviceid"
            >
              <nz-option
                *ngFor="let data of instanceList"
                [nzLabel]="data.instancename"
                [nzValue]="data"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      &nbsp; &nbsp;
      <div class="row">
        <div class="col s8">
          <h3 class="solution-title mb-0">Tags</h3>
        </div>
        <div class="col s4 tag-button">
          <i
            [style.margin-top.px]="'10'"
            (click)="addItem()"
            class="anticon hover-pointer amber-text anticon-plus-circle-o"
          ></i>
        </div>
      </div>
      <div formArrayName="tags">
        <div *ngFor="let item of getFormArray('tags').controls; let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col s4">
                <nz-form-item>
                  <nz-form-label
                    *ngIf="i == 0"
                    style="text-align: left"
                    [nzSm]="22"
                    [nzXs]="12"
                    nzFor="tagkey"
                    >Key</nz-form-label
                  >
                  <nz-form-control [nzSm]="22" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="key"
                        formControlName="tagkey"
                        nz-input
                        type="text"
                        placeholder="Key"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col s4">
                <nz-form-item>
                  <nz-form-label
                    *ngIf="i == 0"
                    style="text-align: left"
                    [nzSm]="22"
                    [nzXs]="12"
                    nzFor="tagvalue"
                    >Value</nz-form-label
                  >
                  <nz-form-control [nzSm]="22" [nzXs]="12">
                    <nz-input-group>
                      <input
                        id="value"
                        formControlName="tagvalue"
                        nz-input
                        type="text"
                        placeholder="Value"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col s12 m3">
                <i
                  [style.margin-top.px]="i == 0 ? '50' : '10'"
                  (click)="removeItem(i)"
                  class="anticon hover-pointer amber-text anticon-delete"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <nz-table
        #nzTable
        [nzData]="tenantConnectionList"
        [nzPageSize]="10"
        class="table-section deploylist"
      >
        <thead>
          <tr>
            <th class="left-align" nzWidth="30px">Name</th>
            <th class="left-align" nzWidth="30px">Instance</th>
            <th class="left-align" nzWidth="15px">Status</th>
            <th class="center-align" nzWidth="25px" nzRight="0px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td class="left-align" nzWidth="30px">{{ data.name }}</td>
            <td class="left-align">{{ data.instance.instancename }}</td>
            <td class="left-align">{{ data.status }}</td>
            <td nzWidth="25px" class="center-align" nzRight="0px">
              &nbsp;
              <a (click)="editConnection(data)">
                <i class="anticon anticon-edit"></i> </a
              >&nbsp;
              <a
                nz-popconfirm
                nzTitle="Are you sure?"
                nzOkText="Ok"
                nzCancelText="Cancel"
                (nzOnConfirm)="deleteConnection(data)"
              >
                <i class="anticon anticon-delete"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </form>
</nz-spin>

<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveOrUpdate(tenantconnectionForm.value)"
      class="save-button"
      type="submit"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
