<nz-spin [nzSpinning]="loading">
  <nz-tabset
  [nzTabBarExtraContent]="extraTemplate"
    [nzSelectedIndex]="tabIndex"
    (nzSelectChange)="tabChanged($event)">
    <nz-tab nzTitle="Info">
  <form nz-form [formGroup]="scriptForm">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="scriptname"
        >Script Name
        <i
          class="anticon anticon-info-circle-o amber-text"
          style="vertical-align: text-bottom"
          title="Spaces not allowed"
        ></i
      ></nz-form-label>
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input
            id="scriptname"
            placeholder="Script Name"
            formControlName="scriptname"
            nz-input
            type="text"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="scripttype"
        >Script Type</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select
          nzShowSearch
          nzAllowClear
          id="scripttype"
          nzPlaceHolder="Script Type"
          formControlName="scripttype"
          (ngModelChange)="scripttypechange($event)"
        >
          <nz-option nzLabel="Powershell" nzValue="Powershell" ></nz-option>
          <nz-option nzLabel="Command" nzValue="Command"></nz-option>
          <nz-option nzLabel="Shell" nzValue="Shell" ></nz-option>
          <!-- <nz-option nzLabel="Custom script" nzValue="Custom script" ></nz-option> -->
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item  *ngIf="scriptForm.value.scripttype=='Command'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="commandblock" nzRequired
        >Command Block</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <textarea
            row="6"
            id="commandblock"
            formControlName="commandblock"
            nz-input
            type="text"
          ></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="script-image"  *ngIf="scriptForm.value.scripttype!='Command'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="scriptfile" nzRequired
        >Select Script
        <i
          class="anticon anticon-info-circle-o amber-text"
          style="vertical-align: text-bottom"
          title="Spaces not allowed"
        ></i
      ></nz-form-label>
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <input type="file" name="scriptfile" #scriptfile (change)="onFile($event)" />
      </nz-form-control>
    </nz-form-item>
    <br />
    <span *ngIf="scriptForm.value.scripttype!='Command'">
      <a *ngIf="(scriptObj.scriptid && scriptUrl)" (click)="downloadFile()" target="_blank" download
        >Download</a
      >
    </span>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="notes">Notes</nz-form-label>
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input id="notes" formControlName="notes" nz-input type="text" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-tab>
<nz-tab nzTitle="Change Logs" *ngIf="scriptObj.scriptid !== undefined && scriptObj.scriptid !== null && isChangelogs">
  <app-comments
    *ngIf="tabIndex == 1"
    [resourceDetails]="scriptObj"
    [resourceId]="scriptObj.refid"
    [refType]="'history'"
  ></app-comments>
</nz-tab>
</nz-tabset>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      *ngIf="tabIndex == 0"
      [disabled]="!scriptForm.valid || disabled"
      (click)="saveUpdateScript(scriptForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
