<app-cloudmatiq-side-nav [blockUI]="gatheringData">
  <nz-drawer
    id="sidebar-modal"
    [nzBodyStyle]="{ 'padding-bottom': '55px' }"
    [nzMaskClosable]="true"
    [nzWidth]="820"
    [nzVisible]="modal.sla"
    nzTitle="Service Level Agreement"
    (nzOnClose)="modal.sla = !modal.sla"
  >
    <app-sla-add
      [createMode]="_createMode"
      [slas]="datas.slas"
      (addorupdateSLA)="addSLA($event)"
    >
    </app-sla-add>
  </nz-drawer>
  <ng-container class="page-body">
    <div class="col s12 m12 right-align">
      <button
        class="close"
        (click)="router.navigate(['solutiontemplate'])"
        nz-button
        nzType="primary"
        nzTitle="Close"
        nzPlacement="bottomLeft"
        nz-tooltip
      >
        <i class="anticon anticon-close"></i>
      </button>
    </div>
    <div class="ml-1">
      <div class="row">
        <div class="col s12">
          <nz-steps [nzCurrent]="0" nzSize="small">
            <nz-step nzTitle="Basic Detail"> </nz-step>
            <nz-step nzTitle="Instances"> </nz-step>
            <nz-step nzTitle="Load Balancers"> </nz-step>
            <nz-step nzTitle="Parameters"> </nz-step>
            <nz-step nzTitle="Summary"> </nz-step>
            <!-- <nz-step nzTitle="Tags">
                                  </nz-step>
                                  <nz-step *ngIf="solutiontemplatedata.loadbalancer" nzTitle="Load Balancer">
                                  </nz-step> -->
          </nz-steps>
          <div class="steps-content">
            <div class="row">
              <div class="col s12">
                <h2 class="amber-text ml-2">Step 1:</h2>
                <p class="ml-2 grey-text text-lighten-2">
                  Define basic details of the solution template to be created.
                  This will be your quick go through on deployment screen.
                </p>
              </div>
              <div class="col s12 m8">
                <form nz-form [formGroup]="snameForm">
                  <h4 class="amber-text ml-2">Solution Template</h4>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="solutionname"
                      >Solution Name
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-input-group>
                        <input
                          id="solutionname"
                          placeholder="Solution Name"
                          formControlName="solutionname"
                          nz-input
                          type="text"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="clientid"
                      >Subtenant</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="clientid"
                        nzPlaceHolder="Select Subtenant"
                        formControlName="clientid"
                      >
                        <nz-option
                          *ngFor="let data of lists.clients"
                          [nzLabel]="data.customername"
                          [nzValue]="data.customerid"
                        >
                        </nz-option>
                      </nz-select>
                      <!-- <nz-form-explain *ngIf="snameForm.get('clientname').dirty && snameForm.get('clientname').errors">Invalid</nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="cloudprovider"
                      >Select Provider
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="cloudprovider"
                        placeholder="Select Provider"
                        nzPlaceHolder="Select Provider"
                        formControlName="cloudprovider"
                      >
                        <nz-option
                          *ngFor="let data of lookups.cps"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                      <!-- <nz-form-explain *ngIf="snameForm.get('cloudprovider').dirty && snameForm.get('cloudprovider
                                                                                  ').errors">Invalid</nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="notes"
                      >Notes</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-input-group>
                        <input
                          id="notes"
                          placeholder="Notes"
                          formControlName="notes"
                          nz-input
                          type="text"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <h4 class="amber-text ml-2">Service Level Agreement</h4>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="slaname"
                      >Select SLA
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="slaname"
                        placeholder="Select SLA"
                        nzPlaceHolder="Select SLA"
                        formControlName="slaname"
                      >
                        <nz-option
                          *ngFor="let data of lookups.slas"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                      <!-- <nz-form-explain *ngIf="snameForm.get('slaid').dirty && snameForm.get('slaid').errors">Invalid</nz-form-explain> -->
                    </nz-form-control>
                    <button
                      (click)="modal.sla = !modal.sla"
                      class="ml-1"
                      nz-button
                      nzType="primary"
                    >
                      <i class="anticon anticon-plus"></i>
                    </button>
                  </nz-form-item>
                  <h4 class="amber-text ml-2">Notification Options</h4>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="eventtype"
                      >Event Type
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzMode="multiple"
                        nzShowSearch
                        nzAllowClear
                        id="eventtype"
                        placeholder="Notification"
                        nzPlaceHolder="Select Notification"
                        formControlName="eventtype"
                      >
                        <nz-option
                          *ngFor="let data of lookups.ntfns"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                      <!-- <nz-form-explain *ngIf="snameForm.get('notificaitonid').dirty && snameForm.get('notificaitonid').errors">Invalid</nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="modeofnotification"
                      >Mode of Notification</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzMode="multiple"
                        nzShowSearch
                        nzAllowClear
                        id="modeofnotification"
                        placeholder="Notification"
                        nzPlaceHolder="Select Mode of Notifications"
                        formControlName="modeofnotification"
                      >
                        <nz-option
                          *ngFor="let data of lookups.modeofntfns"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                      <!-- <nz-form-explain *ngIf="snameForm.get('notificaitonid').dirty && snameForm.get('notificaitonid').errors">Invalid</nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="configuration"
                    >
                      Configuration</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzMode="multiple"
                        nzShowSearch
                        nzAllowClear
                        id="configuration"
                        placeholder="Notification"
                        nzPlaceHolder="Configuration"
                        formControlName="configuration"
                      >
                        <nz-option
                          *ngFor="let data of lookups.ntfnscfg"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                      <!-- <nz-form-explain *ngIf="snameForm.get('notificaitonid').dirty && snameForm.get('notificaitonid').errors">Invalid</nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="status"
                      >Status</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-input-group>
                        <nz-switch
                          class="status"
                          id="status"
                          formControlName="status"
                        >
                        </nz-switch>
                        <!-- <textarea id="notes" formControlName="notes" placeholder="Some Notes.." type="text" nz-input></textarea> -->
                        <!-- <input id="notes" formControlName="notes" placeholder="Some Notes.." nz-input type="text"> -->
                      </nz-input-group>
                      <!-- <nz-form-explain *ngIf="paramsForm.get('notes').dirty && paramsForm.get('notes').errors">Notes required</nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                </form>
              </div>
              <div class="col s12 mt-2 center-align">
                <!-- [disabled]="!snameForm.valid" -->
                <!-- addoreditSolution() -->
                <button
                  [nzLoading]="loading.snameForm"
                  [disabled]="!snameForm.valid || loading.snameForm"
                  (click)="addoreditsolution()"
                  class="next-button"
                  nz-button
                  nzType="primary"
                  nzTitle="Next"
                  nzPlacement="bottomLeft"
                  nz-tooltip
                >
                  <i class="anticon anticon-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
