<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <div class="col s12 m12 service-edit">
      <h3 class="white-text mb-0">Basic Details</h3>
      <div class="serviceform">
        <div class="ant-col-md-24 ant-col-lg-24">
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Load Balancer Name</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ ecl2lbObj.lbname }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12">Description</nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ ecl2lbObj.description }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12">Zone/Group</nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ ecl2lbObj.availabilityzone }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12">Status</nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ ecl2lbObj.status }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24">
        <h3 class="white-text mb-0">Load Balancer Plan</h3>
        <div class="ant-col-md-24 ant-col-lg-24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="12"
              >Load Balancer Plan Name</nz-form-label
            >
            <nz-form-control [nzSm]="8" [nzXs]="12">
              <span>{{ ecl2lbObj.loadbalancerplan }}</span>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="12"
              >Load Balancer Plan ID</nz-form-label
            >
            <nz-form-control [nzSm]="8" [nzXs]="12">
              <span>{{ ecl2lbObj.loadbalancerplanid }}</span>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="12">Description</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="12">
              <span>{{ ecl2lbObj.loadbalancerplan }}</span>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="col s12 m12 right-align clear">
      <button
        nz-button
        (click)="router.navigate(['loadbalancers/list'])"
        class="service-button mt-1 mr-1"
        nzType="primary"
      >
        <span>Close</span>
      </button>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
