<nz-spin [nzSpinning]="loading">
  <div>
    <div>
      <!-- <h5 class="amber-text">
            Instance Name :
            <span class="white-text text-lighten-3 ml-1"> {{instancename}}</span>
        </h5> -->
      <h4 class="amber-text">Cost</h4>
      <div nz-col nzSpan="24">
        <div class="param-table" style="margin-top: 0px">
          <app-cloudmatiq-data-table
            [tableData]="costLists"
            [tableHeader]="tagTableHeader"
            [tableConfig]="tagTableConfig"
          >
          </app-cloudmatiq-data-table>
        </div>
      </div>
    </div>
    <div>
      <!-- <div class="col s12 m12"> -->
      <h4 class="amber-text">Budgets</h4>
      <div class="right-align mt-1">
        <button nz-button nzType="primary" (click)="addbudget()">
          Add Budget
        </button>
      </div>
      <!-- </div> -->
      <div class="param-table" style="margin-top: 0px">
        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="budgetList"
          [tableHeader]="budgettagTableHeader"
          [tableConfig]="budgettagTableConfig"
        >
        </app-cloudmatiq-data-table>
      </div>
    </div>
    <!-- <div>
        <div nz-col nzSpan="24">
            <app-budgetsummary [budgetObj]="budgetObj">
            </app-budgetsummary>
        </div>
    </div> -->
    <div>
      <!-- <div nz-col nzSpan="24">
            <div class="right right-align">
                <button nz-button nzType="primary">
          <i class="anticon anticon-cloud"></i>Sync latest billing
        </button>
            </div>
        </div> -->
      <div nz-col *ngIf="budgetObj?.budgetid">
        <div class="col s12">
          <div nz-row>
            <h4 class="amber-text">Billings</h4>
          </div>
          <div nz-row>
            <div
              nz-col
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
              class="card-toggle-btn"
            >
              <nz-button-group>
                <button
                  [ngClass]="{ 'active-btn': billingChartView == 0 }"
                  nz-button
                  (click)="changeTab(0)"
                  class="button"
                  [nzType]="billingChartView == 0 ? 'primary' : 'default'"
                >
                  <i class="anticon anticon-bars"></i>
                </button>
                <button
                  [ngClass]="{ 'active-btn': billingChartView == 1 }"
                  nz-button
                  (click)="changeTab(1)"
                  class="button"
                  [nzType]="billingChartView == 1 ? 'primary' : 'default'"
                >
                  <i class="anticon anticon-line-chart"></i>
                </button>
              </nz-button-group>
            </div>
            <div nz-col *ngIf="!billingChartView">
              <div class="col s12">
                <nz-table
                  #nzTable
                  [nzData]="billingList"
                  [nzPageSize]="5"
                  class="table-section deploylist"
                >
                  <thead>
                    <tr>
                      <th class="left-center" nzWidth="25px">Billing Dt.</th>
                      <th class="left-align" nzWidth="15px">Bill Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of nzTable.data">
                      <td class="left-center">
                        {{ data.x | date: "dd-MMM-yyyy" }}
                      </td>
                      <td class="left-align">
                        {{ data.y | currency: data.currency }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <div nz-col [hidden]="!billingChartView">
              <div class="col s12">
                <div nz-row id="chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div nz-col nzSpan="24">
            <div class="param-table" style="margin-top: 0px">
                <app-cloudmatiq-data-table [tableData]="billingList" [tableHeader]="billingtagTableHeader" [tableConfig]="billingtagTableConfig">
                </app-cloudmatiq-data-table>
            </div>
        </div> -->
    </div>
    <app-cloudmatiq-side-bar
      (dataChanged)="onChanged($event)"
      [(isVisible)]="showView"
      [title]="'Budget vs Actual'"
      [width]="820"
    >
      <ng-container class="modal-content">
        <app-budgetsummary [budgetObj]="budgetObj"> </app-budgetsummary>
      </ng-container>
    </app-cloudmatiq-side-bar>
    <app-cloudmatiq-side-bar
      (dataChanged)="onChanged($event)"
      [(isVisible)]="addbudgetform"
      [title]="'Add Budget'"
      [width]="820"
    >
      <ng-container class="modal-content">
        <app-addeditbudget
          [instanceObj]="instanceObj"
          (notifyBudgetEntry)="notifyBudgetEntry($event)"
        ></app-addeditbudget>
      </ng-container>
    </app-cloudmatiq-side-bar>
    <app-cloudmatiq-side-bar
      (dataChanged)="onChanged($event)"
      [(isVisible)]="dailybilling"
      [title]="'Daily Billing'"
      [width]="820"
    >
      <ng-container class="modal-content">
        <app-dailybilling
          *ngIf="dailybilling"
          [instanceObj]="assetData"
          [budgetObj]="budgetObj"
        ></app-dailybilling>
      </ng-container>
    </app-cloudmatiq-side-bar>
  </div>
</nz-spin>
