<div>
  <div class="row">
    <div *ngIf="filters.cloudprovider" class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="cloudprovider"
          >Cloud Provider
        </nz-form-label>
        <nz-input-group>
          <input
            id="cloudprovider"
            placeholder="Cloudprovider"
            [(ngModel)]="filters.cloudprovider"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="monthname"
          >Month
        </nz-form-label>
        <nz-input-group>
          <input
            id="monthname"
            placeholder="Month"
            [(ngModel)]="monthname"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="budgetamount"
          >Budget
        </nz-form-label>
        <nz-input-group>
          <input
            id="budgetamount"
            placeholder="Budget"
            [(ngModel)]="budgetamount"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div *ngIf="filters.customername" class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customername"
          >Customer
        </nz-form-label>
        <nz-input-group>
          <input
            id="customer"
            placeholder="Customer"
            [(ngModel)]="filters.customername"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div *ngIf="filters.tagid" class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
          >Tag
        </nz-form-label>
        <nz-input-group>
          <nz-select
            [disabled]="true"
            nzMode="multiple"
            [(ngModel)]="filters.tagid"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Tag"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of tagList; index as ti"
              [nzLabel]="t.tagname"
              [nzValue]="t.tagid"
            >
            </nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-item>
    </div>
    <div *ngIf="filters.tagvalue" class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagvalue"
          >Tag Value
        </nz-form-label>
        <nz-input-group>
          <input
            id="tagvalue"
            placeholder="Tag Value"
            [(ngModel)]="filters.tagvalue"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div *ngIf="filters.assettype" class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="assettype"
          >Resource Type
        </nz-form-label>
        <nz-input-group>
          <input
            id="assettype"
            placeholder="Resource Type"
            [(ngModel)]="filters.assettype"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div
      *ngIf="filters.instancenames && filters.instancenames.length > 0"
      class="col s12 m6"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="instancenames"
          >Resource
        </nz-form-label>
        <nz-input-group>
          <nz-select
            nzMode="multiple"
            [(ngModel)]="filters.instancenames"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Resource"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of instanceList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-item>
    </div>
  </div>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <div nz-col class="col s12 gutter-row">
      <ng-template #content>
        <div *ngIf="billingSummary.length == 0" nz-row class="chartDetails">
          <div
            nz-col
            nzSpan="24"
            *ngIf="!loading && billingSummary.length <= 0"
            style="display: flex; flex-direction: column; text-align: center"
          >
            <app-cloudmatiq-skeleton
              [loading]="false"
              message="No metrics data collected."
            ></app-cloudmatiq-skeleton>
          </div>
          <div
            nz-col
            nzSpan="24"
            *ngIf="loading"
            style="display: flex; flex-direction: column; text-align: center"
          >
            <app-cloudmatiq-skeleton [loading]="true"></app-cloudmatiq-skeleton>
          </div>
        </div>
      </ng-template>
      <div nz-row>
        <div>
          <div
            style="
              background: rgba(128, 128, 128, 0.212) !important;
              padding: 13px 0px 33px 0;
              margin-top: 13px;
            "
          >
            <div nz-row id="detailChart"></div>
          </div>
          <div class="col s12 p-t-20">
            <nz-table
              #nzTable
              [nzData]="billingSummary"
              [nzPageSize]="5"
              class="table-section deploylist"
            >
              <thead>
                <tr>
                  <th class="left-align" nzWidth="30px">
                    Asset Type / Particulars
                  </th>
                  <th class="left-align" nzWidth="15px">Bill Amount</th>
                </tr>
              </thead>
              <tbody style="color: white">
                <tr *ngFor="let data of nzTable.data">
                  <td class="left-align" nzWidth="30px">
                    {{ data.resourcetype }}
                  </td>
                  <td
                    (click)="getDrillDown(data)"
                    class="left-align"
                    nzWidth="15px"
                  >
                    {{ data.amount | currency: data.currency }}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
</div>
