<ng-container class="page-body">
  <div class="row param-table">
    <nz-tabset
      [nzSelectedIndex]="nodetabIndex"
      (nzSelectChange)="nodeTabChanged($event)"
    >
      <nz-tab nzTitle="Overview">
        <ng-container class="page-body" *ngIf="nodetabIndex == 0">
          <div *ngFor="let item of meta | keyvalue">
            <h4 class="amber-text">{{ item.key }}</h4>
            <div *ngFor="let t of item.value; index as ti">
              <h5 class="white-text text-lighten-3 ml-1">
                {{ t["title"] }} :
                <span *ngIf="t.title != 'Instance Name'" class="grey-text">
                  {{ t["value"] }}</span
                >
                <span *ngIf="t.title == 'Instance Name'" class="amber-text">
                  {{ t["value"] }}</span
                >
              </h5>
            </div>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab nzTitle="Associations">
        <ng-container class="page-body" *ngIf="nodetabIndex == 1">
          <div class="row param-table">
            <app-cloudmatiq-data-table
              (dataChanged)="dataChanged($event)"
              [tableData]="assList"
              [tableHeader]="atableHeader"
              [tableConfig]="atableConfig"
            ></app-cloudmatiq-data-table>
            <div class="count-container">
              <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
            </div>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab nzTitle="Configuration Compliance">
        <ng-container class="page-body" *ngIf="nodetabIndex == 2">
          <div class="row param-table">
            <app-cloudmatiq-data-table
              (dataChanged)="dataChanged($event)"
              [tableData]="complainceList"
              [tableHeader]="complaincetableHeader"
              [tableConfig]="atableConfig"
            ></app-cloudmatiq-data-table>
          </div>
          <div class="count-container">
            <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
          </div>
        </ng-container>
      </nz-tab>
    </nz-tabset>
  </div>
</ng-container>
