<!-- on click open the parent drawer-->
<ng-container class="modal-content" *ngIf="selectedResource">
  <div style="height: 100%; width: 100%">
    <nz-spin [nzSpinning]="addformloading" nzTip="Loading...">
      <div *ngIf="!isAddForm">
        <nz-table #editRowTable id="assetdetail" style="width: 100%" [nzData]="selectedResource"
          nzShowPagination="false">
          <thead>
            <tr>
              <th width="25%">Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of selectedResource; let idx = index">
              <td *ngIf="
                      r.fieldtype !== 'Reference Asset' &&
                      r.fieldtype !== 'Reference Tag' &&
                      r.fieldtype != 'DOCUMENT'
                    ">
                {{ r.fieldname }}
              </td>
              <td *ngIf="
                      r.fieldtype !== 'Reference Asset' &&
                      r.fieldtype !== 'Reference Tag'
                    ">
                <app-cloudmatiq-mask-text [maskable]="r.protected || false">
                  <!-- Text -->
                  <span *ngIf="r.fieldtype == 'AUTOGEN'">{{ resourceDetails[r.fieldkey] }}
                  </span>
                  <span *ngIf="
                          r.fieldtype == 'Text' ||
                          r.fieldtype == 'Integer' ||
                          r.fieldtype == 'Float'
                        ">
                    <div (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editInputId !== idx; else editTpl">
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </div>
                  </span>
                  <ng-template #editTpl>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input nz-input placeholder="Enter value" [(ngModel)]="updateData" />
                    </nz-input-group>
                  </ng-template>

                  <!-- Password -->
                  <span *ngIf="r.fieldtype == 'Password'">
                    <div (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editInputId !== idx; else editTpl0">
                      <!-- <input
                            nz-input
                            type="password"
                            [(ngModel)]="resourceDetails[r.fieldkey]"
                          /> -->
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </div>
                  </span>
                  <ng-template #editTpl0>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input nz-input type="password" placeholder="Enter value" [(ngModel)]="updateData" />
                    </nz-input-group>
                  </ng-template>
                  <!-- Date -->
                  <span *ngIf="r.fieldtype == 'Date'">
                    <div (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editInputId !== idx; else editTp2">
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </div>
                    <ng-template #editTp2>
                      <nz-input-group [nzSuffix]="suffixTemplate">
                        <nz-date-picker [(ngModel)]="updateData"></nz-date-picker>
                      </nz-input-group>
                    </ng-template>
                  </span>

                  <!-- Date & Time -->
                  <span *ngIf="r.fieldtype == 'DateTime'">
                    <div (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editInputId !== idx; else editTp3">
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </div>
                    <ng-template #editTp3>
                      <nz-input-group [nzSuffix]="suffixTemplate">
                        <nz-date-picker [(ngModel)]="updateData" [nzShowTime]="{
                                nzHideDisabledOptions: true,
                                nzFormat: 'HH:mm'
                              }" nzFormat="dd-MM-yyyy HH:mm"></nz-date-picker>
                      </nz-input-group>
                    </ng-template>
                  </span>
                  <!-- Select & STATUS-->
                  <span *ngIf="r.fieldtype == 'Select'">
                    <div (click)="
                                startEdit(
                                  {
                                    id: idx,
                                    data: resourceDetails[r.fieldkey],
                                    selectedId: r
                                  },
                                  $event
                                )
                              " *ngIf="editSelectId !== idx; else editTp4">
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </div>
                    <ng-template #editTp4>
                      <nz-input-group [nzSuffix]="suffixTemplate">
                        <nz-select nzShowSearch [(ngModel)]="updateData" nzPlaceHolder="Select">
                          <nz-option *ngFor="let p of defaultValues" [nzValue]="p" [nzLabel]="p"></nz-option>
                        </nz-select></nz-input-group>
                    </ng-template>

                  </span>
                  <span *ngIf="r.fieldtype == 'STATUS'">
                    <div (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editSelectId !== idx; else editTp4">
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </div>
                    <ng-template #editTp4>
                      <nz-input-group [nzSuffix]="suffixTemplate">
                        <nz-select nzShowSearch [(ngModel)]="updateData" nzPlaceHolder="Select">
                          <nz-option *ngFor="let p of defaultValues" [nzValue]="p" [nzLabel]="p"></nz-option>
                        </nz-select></nz-input-group>
                    </ng-template>
                  </span>

                  <ng-template #suffixTemplate>
                    <i class="anticon anticon-close" (click)="cancelEdit()"></i>&nbsp;&nbsp;
                    <i class="anticon anticon-check" (click)="confirmUpdate(r.fieldkey, updateData)"></i>
                  </ng-template>
                  <!-- Textarea -->
                  <span *ngIf="r.fieldtype == 'Textarea'">
                    <div (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editInputId !== idx; else editTp9">
                      <!-- <div *ngIf="resourceDetails[r.fieldkey]; else display1">
                            <div [innerHTML]="resourceDetails[r.fieldkey]"></div>
                          </div>
                          <ng-template #display1> -</ng-template> -->
                      <p-editor [(ngModel)]="resourceDetails[r.fieldkey]" [style]="{ height: '250px' }"></p-editor>
                    </div>
                    <ng-template #editTp9>
                      <p-editor [(ngModel)]="updateData" [style]="{ height: '250px' }"></p-editor>
                      <nz-input-group [nzSuffix]="suffixTemplate">
                        <!-- <textarea
                              style="width: 98%"
                              nz-input
                              [(ngModel)]="updateData"
                            ></textarea> -->
                      </nz-input-group>
                    </ng-template>
                  </span>
                  <!-- Boolean -->
                  <span *ngIf="r.fieldtype == 'Boolean'" style="font-style: italic">
                    <div (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editInputId !== idx; else editTp6">
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </div>
                    <ng-template #editTp6>
                      <nz-radio-group nzName="radiogroup" [(ngModel)]="updateData" (ngModelChange)="
                              confirmUpdate(r.fieldkey, updateData)
                            ">
                        <label nz-radio nzValue="true">True</label>
                        <label nz-radio nzValue="false">False</label>
                      </nz-radio-group>
                    </ng-template>
                  </span>
                  <!-- URL -->
                  <span *ngIf="r.fieldtype == 'URL'" style="font-style: italic; color: #1890ff">
                    <a target="_blank" *ngIf="editInputId !== idx">
                      <i class="anticon anticon-link" style="color: #1890ff"
                        click="resourceDetails[r.fieldkey] || '-'"></i>
                    </a>
                    <span (click)="
                            startEdit(
                              {
                                id: idx,
                                data: resourceDetails[r.fieldkey],
                                selectedId: r
                              },
                              $event
                            )
                          " *ngIf="editInputId !== idx; else editTp8">
                      {{ resourceDetails[r.fieldkey] || "-" }}
                    </span>
                    <ng-template #editTp8>
                      <nz-input-group [nzSuffix]="suffixTemplate">
                        <input nz-input [(ngModel)]="updateData" />
                      </nz-input-group>
                    </ng-template>
                  </span>

                  <!-- REFERENCE -->
                  <span *ngIf="r.fieldtype == 'REFERENCE'">
                    <div *ngIf="editSelectId !== idx; else editTp7">
                      <span *ngIf="parseJSON(resourceDetails[r.fieldkey]) != null"><span *ngFor="
                                let obj of parseJSON(resourceDetails[r.fieldkey])
                              ">
                          <a style="margin-right: 5px" (click)="viewKeyDetail(obj)">
                            <i class="anticon anticon-link" style="color: #1890ff"></i></a><span (click)="
                                  startEdit(
                                    {
                                      id: idx,
                                      data: parseJSON(
                                        resourceDetails[r.fieldkey]
                                      ),
                                      selectedId: r
                                    },
                                    $event
                                  )
                                " style="color: #1890ff"><span *ngIf="obj != null && obj != undefined">{{
                              obj["name"]
                              }}</span><br /></span></span></span>
                      <span (click)="
                              startEdit(
                                {
                                  id: idx,
                                  data: parseJSON(resourceDetails[r.fieldkey]),
                                  selectedId: r
                                },
                                $event
                              )
                            " *ngIf="parseJSON(resourceDetails[r.fieldkey]) == null">
                        -
                      </span>
                    </div>
                    <ng-template #editTp7>
                      <nz-input-group [nzSuffix]="suffixTemplate">
                        <nz-select nzShowSearch [(ngModel)]="updateData" nzMode="multiple">
                          <nz-option *ngFor="let p of crnList" [nzValue]="p.resourceid" [nzLabel]="p.name"></nz-option>
                        </nz-select></nz-input-group>
                    </ng-template>
                  </span>
                  <div *ngIf="r.fieldtype == '_TEXT' || r.fieldtype == '_INT'">
                    <ul *ngIf="
                            resourceDetails[r.fieldkey].split('||').length > 0
                          ">
                      <li *ngFor="
                              let l of resourceDetails[r.fieldkey].split('||')
                            ">
                        {{ l || "-" }}
                      </li>
                    </ul>
                    <span *ngIf="
                            resourceDetails[r.fieldkey].split('||').length == 0
                          ">
                      -
                    </span>
                  </div>
                  <div *ngIf="r.fieldtype == 'DOCUMENT'">
                    <ul class="download-badge-list custom-flex-start">
                      <li class="custom-flex-end" *ngFor="
                              let imgDir of displayPreviewList(r);
                              let inneridx = index
                            ">

                        <a (click)="downloadFile(imgDir,o)"><i class="anticon anticon-download"></i></a>
                        <a (click)="removeImage(o, inneridx)"><i class="anticon anticon-delete"></i></a>
                      </li>
                    </ul>
                  </div>
                </app-cloudmatiq-mask-text>
                <span style="float: right" *ngIf="attachedResources[r.fieldkey]">
                  <i class="anticon anticon-tags" (click)="viewAttachedTags(attachedResources[r.fieldkey])"
                    style="color: #ffcc00">
                  </i></span>
              </td>
            </tr>
            <!-- REFERERNCE ASSETS-->
            <ng-template ngFor let-data [ngForOf]="resourceList" let-ridx="index">
              <td nzShowExpand [(nzExpand)]="data.aexpand">
                {{ data.fieldname }}
              </td>
              <td></td>
              <tr [nzExpand]="data.aexpand">
                <td colspan="3">
                  <table>
                    <tbody>
                      <tr *ngFor="let r of data.details; let didx = index">
                        <td width="25%">{{ r.header }}</td>
                        <td>
                          <span [innerHTML]="getInstanceObj(r, ridx, didx, data)"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-template>
            <!-- REFERERNCE TAG-->
            <tr *ngFor="let t of tagparamList; let tidx = index">
              <td>
                <span>{{ t.tagname }} ({{ t.fieldname }})</span>
              </td>
              <td>
                <span (click)="
                        startTagEdit(
                          {
                            id: tidx,
                            data: t.tagvalue,
                            selectedId: t
                          },
                          $event
                        )
                      " *ngIf="editTagId !== tidx; else editTagl">
                  {{ t.tagvalue || "-" }}
                </span>
                <ng-template #suffixTemplate>
                  <i class="anticon anticon-close" (click)="cancelEdit()"></i>&nbsp;&nbsp;
                  <i class="anticon anticon-check" (click)="updateTagRecord(tidx, updateData)"></i>
                </ng-template>
                <ng-template #editTagl>
                  <nz-input-group [nzSuffix]="suffixTemplate">
                    <input nz-input placeholder="Value" [nzAutocomplete]="auto" [(ngModel)]="updateData" />
                    <nz-autocomplete nzBackfill #auto>
                      <nz-auto-option *ngFor="let option of tagValues" [nzValue]="option.tagvalue">
                        {{ option.tagvalue }}
                      </nz-auto-option>
                    </nz-autocomplete>
                  </nz-input-group>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <h5 style="margin: 9px 0; color: gold; font-size: 14px" *ngIf="inboundReferences.length > 0">
          Reference Documents
        </h5>
        <table id="assetdetail" style="width: 100%" *ngIf="inboundReferences.length > 0">
          <thead>
            <tr>
              <th width="25%">Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of inboundReferences">
              <td>{{ r.key }}</td>
              <td>
                <span *ngFor="let v of r.values; let even = even; let odd = odd">
                  <a (click)="
                          viewKeyDetail({
                            crn: v.resourceid.split('/')[0],
                            resourceid: v.resourceid.split('/')[1]
                          })
                        ">
                    {{ v.name }} </a><br /></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="isAddForm">
        <table *ngIf="!addformloading" id="assetdetail" style="width: 100%">
          <thead>
            <tr>
              <th width="25%">Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of resourceData; let idx = index">
              <td *ngIf="
                      o.fieldtype !== 'Reference Asset' &&
                      o.fieldtype !== 'Reference Tag'
                    ">
                <span style="color: red" *ngIf="idx == 0 || idx == 1">*</span>{{ o.fieldname }}
              </td>
              <td *ngIf="
                      o.fieldtype !== 'Reference Asset' &&
                      o.fieldtype !== 'Reference Tag'
                    ">
                <span *ngIf="
                        o.fieldtype == 'Text' ||
                        o.fieldtype == 'Integer' ||
                        o.fieldtype == 'Float' ||
                        o.fieldtype == 'URL'
                      ">
                  <nz-input-group>
                    <input nz-input placeholder="Enter value" [(ngModel)]="o.fieldvalue" /> </nz-input-group></span>
                <!-- Password -->
                <span *ngIf="o.fieldtype == 'Password'">
                  <nz-input-group>
                    <input nz-input type="password" placeholder="Enter value" [(ngModel)]="o.fieldvalue" />
                  </nz-input-group>
                </span>
                <span *ngIf="o.fieldtype == 'Date'">
                  <nz-input-group>
                    <nz-date-picker [(ngModel)]="o.fieldvalue"></nz-date-picker>
                  </nz-input-group>
                </span>
                <span *ngIf="o.fieldtype == 'DateTime'">
                  <nz-input-group>
                    <nz-date-picker [(ngModel)]="o.fieldvalue" [nzShowTime]="{ nzHideDisabledOptions: true }"
                      nzFormat="dd-MM-yyyy HH:mm:ss"></nz-date-picker>
                  </nz-input-group>
                </span>
                <span *ngIf="o.fieldtype == 'Select'">
                  <ng-container>
                    <!-- && o.fieldname == workpack_defaultAttr[0].fieldname -->
                    <nz-input-group>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select" [(ngModel)]="o.fieldvalue">
                        <nz-option *ngFor="let p of o.defaultValues" [nzValue]="p" [nzLabel]="p"></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </ng-container>

                </span>
                <span *ngIf="o.fieldtype == 'STATUS'">
                  <nz-input-group>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select" [(ngModel)]="o.fieldvalue">
                      <nz-option *ngFor="let p of o.defaultValues" [nzValue]="p" [nzLabel]="p"></nz-option>
                    </nz-select>
                  </nz-input-group>
                </span>
                <span *ngIf="o.fieldtype == 'Boolean'">
                  <nz-radio-group nzName="radiogroup" [(ngModel)]="o.fieldvalue">
                    <label nz-radio nzValue="true">True</label>
                    <label nz-radio nzValue="false">False</label>
                  </nz-radio-group>
                </span>
                <span *ngIf="o.fieldtype == 'REFERENCE' && o.defaultValues">
                  <nz-select nzShowSearch [(ngModel)]="o.fieldvalue" nzMode="multiple" nzAllowClear
                    nzPlaceHolder="Select">
                    <nz-option *ngFor="let p of o.defaultValues" [nzValue]="p" [nzLabel]="p.name"></nz-option>
                  </nz-select>
                </span>
                <span *ngIf="o.fieldtype == 'Reference Tag'">
                  <nz-input-group>
                    <input nz-input [(ngModel)]="o.fieldvalue" placeholder="Enter value" />
                  </nz-input-group>
                </span>

                <span *ngIf="o.fieldtype == 'Textarea'">
                  <p-editor [(ngModel)]="o.fieldvalue" [style]="{ height: '250px' }"></p-editor>
                  <!-- <textarea
                        rows="4"
                        nz-input
                        [(ngModel)]="o.fieldvalue"
                        placeholder="Enter the value"
                      ></textarea> -->
                </span>
                <span *ngIf="o.fieldtype == 'DOCUMENT'">
                  <input type="file" (change)="onFile($event, o)" />
                  <!-- <textarea
                        rows="4"
                        nz-input
                        [(ngModel)]="o.fieldvalue"
                        placeholder="Enter the value"
                      ></textarea> -->
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <br />
      <!-- <h5
            style="margin: 9px 0; color: gold; font-size: 14px"
            *ngIf="referringAssets.length > 0"
          >
            Referring Assets
          </h5>
          <table
            id="assetdetail"
            style="width: 100%"
            *ngIf="!addformloading && referringAssets.length > 0"
          >
            <thead>
              <tr>
                <th width="25%">Name</th>
                <th>
                  Value
                  <span style="float: right"
                    ><i
                      class="anticon anticon-plus"
                      (click)="addRefAsset()"
                      style="color: #ffcc00"
                    ></i
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of referringAssets; let ridx = index">
                <td>
                  <nz-select
                    [(ngModel)]="r.asset"
                    nzAllowClear
                    [nzShowSearch]="true"
                    nzPlaceHolder="Choose"
                    (ngModelChange)="onResourceSelect($event, r, ridx)"
                    style="margin-left: -13px; width: 100%"
                  >
                    <nz-option-group
                      *ngFor="let g of assetGrps"
                      [nzLabel]="g.provider"
                    >
                      <nz-option
                        *ngFor="let t of g.value"
                        [nzValue]="t.value"
                        [nzLabel]="t.title"
                      >
                      </nz-option>
                    </nz-option-group>
                  </nz-select>
                </td>
                <td>
                  <span>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <nz-select
                        nzShowSearch
                        [(ngModel)]="r.assetid"
                        nzPlaceHolder="Select"
                        (ngModelChange)="updateAssetMapping($event, ridx)"
                      >
                        <nz-option
                          *ngFor="let p of r.attributeList"
                          [nzValue]="p.assetid"
                          [nzLabel]="p.assetname"
                        ></nz-option> </nz-select></nz-input-group
                    ><ng-template #suffixTemplate>
                      <i
                        class="anticon anticon-delete"
                        (click)="deleteAssetMapping(ridx)"
                        style="color: #ffcc00"
                      ></i>
                    </ng-template>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <br /> -->

      <nz-collapse [nzBordered]="false" *ngIf="assetMappingList.length > 0">
        <nz-collapse-panel nzHeader="Referring Asset Attributes" [nzActive]="false">
          <nz-table #nzTable [nzData]="resourceList" id="assetdetail" style="width: 100%" nzShowPagination="false">
            <thead>
              <tr>
                <th nzShowExpand></th>
                <th width="25%">Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-data [ngForOf]="nzTable.data">
                <tr>
                  <td nzShowExpand [(nzExpand)]="data.expand"></td>
                  <td>{{ data.fieldname }}</td>
                  <td>
                    {{ data.details[0].assetname }} ({{
                    data.details[0].assetid
                    }})
                  </td>
                </tr>
                <tr [nzExpand]="data.expand">
                  <td colspan="3">
                    <table>
                      <tbody>
                        <tr *ngFor="let i of data.details">
                          <td width="25%">{{ i.header }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </nz-table>
        </nz-collapse-panel></nz-collapse>
      <div *ngIf="!addformloading && isAddForm" class="row right-align">
        <button nz-button nzType="primary" (click)="addRecordDetail()">
          Save
        </button>
      </div>
    </nz-spin>
    <div class="workflow-section" *ngIf="!isAddForm">
      <app-workflow-add-edit [workflow_config]="workflow_config" *ngIf="isworkflowVisible"
        (notifyNewEntry)="notifyWorkflowUpfateEntry($event)" [operationMode]="'WKPACK_MAPPING'"
        [operationRef]="selectedWorkflowTask" [selectedTaskResourceID]="selectedTaskResourceID">
      </app-workflow-add-edit>

    </div>
  </div>


  <div *ngIf="blockUI" style="
      display: flex;
      position: absolute;
      z-index: 9999;
      top: 0;
      height: 100%;
      width: 100%;
      left: 0;
      background: #0000006e;
      align-items: center;
      justify-content: center;
    ">
    <nz-spin></nz-spin>
  </div>
</ng-container>
<app-cloudmatiq-side-bar (dataChanged)="showDetailedView = !showDetailedView" [(isVisible)]="showDetailedView"
  [width]="850" title="Details">
  <ng-container *ngIf="showDetailedView" class="modal-content">
    <app-cloudmatiq-asset-parent [resourceId]="selectedResourceId" [(selectedResource)]="selectedKeyValue"
      [(resourceDetails)]="selectedKeyData" [(inboundDetails)]="inboundData"
      [(referringAssetDetails)]="referringAssetDetails" [recordData]="selectedKeyValue"
      (onEmitTagClick)="onSideBarTagClick(true)">
    </app-cloudmatiq-asset-parent> </ng-container></app-cloudmatiq-side-bar>
<div *ngIf="showAttachedTags">
  <nz-modal [nzWidth]="750" [(nzVisible)]="showAttachedTags" [nzContent]="modalContent"
    (nzOnCancel)="showAttachedTags = false" nzTitle="Attached Tags" [nzFooter]="modalFooter"
    (nzOnCancel)="confirmationWindow = false">
    <ng-template #modalTitle> Attached Tags </ng-template>
    <ng-template #modalContent>
      <nz-collapse class="asset-tag-collapse">
        <nz-collapse-panel *ngFor="let tag of selectedTagDetails" [nzHeader]="tag.tagName" [nzActive]="tag.active"
          [nzDisabled]="tag.disabled">
          <p class="blue-text" *ngIf="tag.instances?.length > 0">
            The tag {{ tag.actual_val }} is attached with below instances
          </p>
          <p class="red-text" *ngIf="tag.instances?.length == 0">
            The tag {{ tag.actual_val }} is not associated with any instances
          </p>
          <table style="width: 100%" class="mt-10" *ngIf="tag.instances?.length > 0">
            <thead>
              <tr>
                <th width="25%">Provider</th>
                <th width="50%">Instance Name</th>
                <th width="25%">Region</th>
              </tr>
            </thead>
            <tr *ngFor="let item of tag.instances">
              <td>{{ item.cloudprovider }}</td>
              <td>{{ item.instancename }}</td>
              <td>{{ item.region }}</td>
            </tr>
          </table>
        </nz-collapse-panel>
      </nz-collapse>
    </ng-template>

    <ng-template #modalFooter>
      <button class="m-t-20" nz-button nzType="default" (click)="showAttachedTags = false">
        Close
      </button>
    </ng-template>
  </nz-modal>
</div>
<div *ngIf="showConfirmation">
  <nz-modal [nzWidth]="750" [(nzVisible)]="showConfirmation" [nzContent]="modalContent"
    (nzOnCancel)="showConfirmation = false" nzTitle="Confirm to update" [nzFooter]="modalFooter">
    <ng-template #modalTitle> Confirm to update </ng-template>
    <ng-template #modalContent>
      <p class="blue-text">
        The tags belongs to below instances will be updated
      </p>
      <table style="width: 100%" class="mt-10" *ngIf="updateInstances?.length > 0">
        <thead>
          <tr>
            <th width="25%">Provider</th>
            <th width="50%">Instance Name</th>
            <th width="25%">Region</th>
          </tr>
        </thead>
        <tr *ngFor="let item of updateInstances">
          <td>{{ item.cloudprovider }}</td>
          <td>{{ item.instancename }}</td>
          <td>{{ item.region }}</td>
        </tr>
      </table>
    </ng-template>

    <ng-template #modalFooter>
      <button class="m-t-20 m-r-3" nz-button nzType="default" (click)="
          updateRecord(updateDetails.fieldkey, updateDetails.updatedData)
        ">
        Confirm
      </button>
      <button class="m-t-20" nz-button nzType="default" (click)="
          updateInstances = []; updateDetails = {}; showConfirmation = false
        ">
        Close
      </button>
    </ng-template>
  </nz-modal>
</div>
<app-cloudmatiq-side-bar (dataChanged)="updateTagVisible = !updateTagVisible" [(isVisible)]="updateTagVisible"
  [width]="520" title="Update Tag">
  <ng-container *ngIf="updateTagVisible" class="modal-content">
    <app-cloudmatiq-tag-picker [currentTags]="tags" [cloudProvider]="null" [pickermode]="'combined'" [mode]="'picker'"
      [validateInputs]="true" [disableParams]="true" [tagGroupType]="'SOLUTION_ASSET'" [resourceId]="null"
      [resourceType]="'ASSET_RECORD'" (tagChanges)="onTagChangeEmit($event)">
    </app-cloudmatiq-tag-picker>
  </ng-container>
</app-cloudmatiq-side-bar>