<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <div class="row">
      <div class="col s12 m9 left">
        <!-- <div nz-col nzSpan="6" class="m-r-15">
                    <nz-input-group nzCompact>
                        <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="Start Date" [(ngModel)]="filters.startdt"></nz-date-picker>
                    </nz-input-group>
                </div>
                <div nz-col nzSpan="6" class="m-r-15">
                    <nz-input-group nzCompact>
                        <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="End Date" [(ngModel)]="filters.enddt"></nz-date-picker>
                    </nz-input-group>
                </div> -->
        <div nz-col nzSpan="4" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.provider"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Provider"
            (ngModelChange)="providerChanges($event)"
          >
            <nz-option
              *ngFor="let t of providerList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.customer"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Customer"
            (ngModelChange)="getAccountsList($event)"
          >
            <nz-option
              *ngFor="let t of customerList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.accountid"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Account ID"
          >
            <nz-option
              *ngFor="let t of accountList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.asset"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Resource"
          >
            <nz-option
              *ngFor="let t of assetTypes; index as ti"
              [nzLabel]="t.title"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <!-- <div nz-col nzSpan="6" class="m-r-15">
                    <nz-select [(ngModel)]="filters.zone" nzShowSearch nzAllowClear nzPlaceHolder="Zone" style="width: 95%;">
                        <nz-option *ngFor="let t of zoneList; index as ti;" [nzLabel]="t.label" [nzValue]="t.value">
                        </nz-option>
                    </nz-select>
                </div> -->
        <div nz-col nzSpan="4" class="m-r-15">
          <button
            nzSize="small"
            nz-button
            (click)="getAllBudgets()"
            [nzLoading]="isVisible"
            nzType="primary"
            style="margin: 0 13px 0 0"
            title="Click to search"
          >
            <i class="anticon anticon-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="param-table" style="margin-top: 0px">
      <div class="row">
          <div>
            <button
              *ngIf="createbudget"
              nz-button
              nzType="primary"
              (click)="showAddForm()"
            >
              <i class="anticon anticon-plus"></i>Add
            </button>
          </div>
            <div style="top: 50px; position: relative;">
              <button nz-button *ngIf="downloadflag" (click)="download()" title="Download">
                <i class="anticon anticon-download"></i>
              </button>
            </div>

        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="budgetList"
          [tableHeader]="tableHeader"
          [selectedcolumns]="selectedcolumns"
          [tableConfig]="tableConfig"
        ></app-cloudmatiq-data-table>
        <div>
          <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="showSidebar"
    [title]="formTitle"
    [width]="820"
  >
    <ng-container class="modal-content">
      <app-addeditbudget
        [budgetList]="budgetObj"
        (notifyBudgetEntry)="notifyBudgetEntry($event)"
      >
      </app-addeditbudget>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="showView"
    [title]="formTitle"
    [width]="1100"
  >
    <ng-container class="modal-content">
      <app-budgetsummary [budgetObj]="budgetObj"> </app-budgetsummary>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
