<!-- <button
  class="save-button"
  (click)="save()"
  type="submit"
  nz-button
  nzType="primary"
>
  Save
</button> -->
<nz-spin [nzSpinning]="loading">
  <div class="card">
    <!-- <nz-steps [nzCurrent]="currentStep" nzSize="small">
    <nz-step nzTitle="Resources"> </nz-step>
    <nz-step nzTitle="Configurations"> </nz-step>
  </nz-steps> -->
    <div>
      <form nz-form [formGroup]="resourceForm">
        <div nz-row>
          <div nz-col nzSpan="24">
            <h4 class="amber-text">Basic Details</h4>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="fieldname"
                >Name
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="Synthetic Name"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <span>
              <small style="color: #ffffff9c"
                >Allowed: (lowercase, underscore, hypen, number)  &nbsp; Not allowed: (uppercase, space, special character, duplicate, more than 21 letters)</small
              >
            </span>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="fieldtype"
                >Monitoring Type</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Monitoring type"
                  formControlName="type"
                >
                  <nz-option nzLabel="Heartbeat" nzValue="heartbeat">
                  </nz-option>
                  <nz-option nzLabel="API" nzValue="api"> </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div nz-col nzSpan="24"> -->
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="fieldtype"
                >Regions</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzMode="multiple"
                  nzPlaceHolder="Regions"
                  formControlName="region"
                >
                  <nz-option
                    *ngFor="let t of regionList; index as ti"
                    [nzLabel]="t.zonename"
                    [nzValue]="t.zonename"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="fieldtype"
                >Script</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Script"
                  formControlName="scripttype"
                >
                  <nz-option
                    nzLabel="Default Script"
                    nzValue="TEMPLATE_SCRIPT"
                  ></nz-option>
                  <nz-option
                    nzLabel="Custom Script"
                    nzValue="CUSTOM_SCRIPT"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item
              class="script-image"
              *ngIf="resourceForm.get('scripttype').value == 'CUSTOM_SCRIPT'"
            >
              <nz-form-label [nzSm]="24" [nzXs]="12"
                >Upload Script
                <i
                  class="anticon anticon-info-circle-o amber-text"
                  style="vertical-align: text-bottom"
                  title="Upload your own script; it should be written in Python or Node.js. It should be a zip file."
                ></i
              ></nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <input
                  type="file"
                  name="scriptfile"
                  #scriptfile
                  (change)="onFile($event)"
                />
              </nz-form-control>
            </nz-form-item>

            <!-- <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="fieldtype">Script</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Scripts" formControlName="script">
                <nz-option *ngFor="let t of scriptList; index as ti" [nzLabel]="t.scriptname"
                  [nzValue]="t.filename"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item> -->
          </div>
          <!-- </div> -->
          <div nz-col nzSpan="24">
            <h4 class="amber-text">System Config</h4>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="fieldname"
                >Memory (MB)</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <input type="number" nz-input formControlName="memoryinmb" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <span>
              <small style="color: #ffffff9c"
                >This value must be a multiple of 64. Minimum 576</small
              >
            </span>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="fieldname"
                >Timeout (sec)</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <input type="number" nz-input formControlName="timeout" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <h4 class="amber-text">Run Configurations</h4>
          </div>
          <!-- <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <label nz-checkbox formControlName="screenshot"
                >Screenshots</label
              >
            </nz-form-control>
          </nz-form-item>
        </div> -->
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <label nz-checkbox formControlName="recurring">Recurring</label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            nz-col
            nzSpan="24"
            *ngIf="resourceForm.get('recurring').value == true"
          >
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-radio-group formControlName="recurring_type">
                      <label nz-radio nzValue="cron">Cron</label>
                      <label nz-radio nzValue="frequency">Frequency</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div
                nz-col
                nzSpan="24"
                *ngIf="resourceForm.get('recurring_type').value == 'cron'"
              >
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="24"
                    [nzXs]="12"
                    nzRequired
                    nzFor="fieldname"
                    >Cron
                    <i
                      class="anticon anticon-info-circle-o amber-text"
                      style="vertical-align: text-bottom"
                      title="Example - Cron Expression : 0 10 * * ? * (10:00 am)"
                    ></i
                  ></nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-input-group>
                      <input type="text" nz-input formControlName="cron" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div
                nz-col
                nzSpan="24"
                *ngIf="resourceForm.get('recurring_type').value == 'frequency'"
              >
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="24"
                    [nzXs]="12"
                    nzRequired
                    nzFor="fieldname"
                    >Frequency in minutes
                    <i
                      class="anticon anticon-info-circle-o amber-text"
                      style="vertical-align: text-bottom"
                      title="Check the AWS cost before entering low frequency (below 10)."
                    ></i
                  ></nz-form-label>

                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-input-group>
                      <input
                        type="number"
                        nz-input
                        formControlName="rate_in_min"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <span>
                  <small style="color: #ffffff9c"
                    >Frequency value must be 1 to 60 minutes</small
                  >
                </span>
              </div>
            </div>
          </div>
          <div
            nz-col
            nzSpan="24"
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 19px;
            ">
            <!-- <button
            (click)="currentStep = currentStep - 1"
            type="submit"
            nz-button
            nzType="primary"
          >
            Previous
          </button> -->
          </div>
        </div>
      </form>
    </div>
    <div>
      <div
        nz-col
        nzSpan="24"
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <h4 class="amber-text">Monitoring Configurations</h4>
      </div>
      <form nz-form [formGroup]="tagForm">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
              >Tag
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                formControlName="tag"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Tag"
                nzShowSearch
                (ngModelChange)="tagChanged($event); getInstancesWithFilter()"
              >
                <nz-option
                  *ngFor="let t of tagList; index as ti"
                  [nzLabel]="t.tagname"
                  [nzValue]="t.tagid"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
              >Tag Value</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <input
                *ngIf="(selectedTag | json) == '{}'"
                nz-input
                placeholder="Value"
                disabled
              />
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'list'
                "
                formControlName="tagvalue"
                nzShowSearch
                nzAllowClear
                (ngModelChange)="getInstancesWithFilter()"
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of selectedTag.lookupvalues; index as ti"
                  [nzLabel]="t"
                  [nzValue]="t"
                >
                </nz-option>
              </nz-select>
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'boolean'
                "
                formControlName="tagvalue"
                (ngModelChange)="getInstancesWithFilter()"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                <nz-option nzLabel="No" nzValue="No"> </nz-option>
              </nz-select>
              <nz-date-picker
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'date'
                "
                formControlName="tagvalue"
                (ngModelChange)="getInstancesWithFilter()"
                nzFormat="dd-MMM-yyyy"
              ></nz-date-picker>
              <input
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'text'
                "
                formControlName="tagvalue"
                (ngModelChange)="getInstancesWithFilter()"
                nz-input
                placeholder="Value"
              />
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'number'
                "
                (ngModelChange)="getInstancesWithFilter()"
                formControlName="tagvalue"
              ></nz-input-number>
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'range'
                "
                (ngModelChange)="getInstancesWithFilter()"
                formControlName="tagvalue"
                [nzMin]="selectedTag.min"
                [nzMax]="selectedTag.max"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
              >Resources
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                formControlName="resources"
                style="width: 95%"
                nzAllowClear
                nzMode="multiple"
                nzPlaceHolder="Resources"
                (ngModelChange)="collectBaseURLS()"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let t of resources; index as ti"
                  [nzLabel]="t[primaryResourceAttribute.fieldname]"
                  [nzValue]="t['resource']"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div nz-col nzSpan="24">
        <button
          (click)="tagForm.valid ? (currentStep = currentStep + 1) : null"
          type="submit"
          nz-button
          nzType="primary"
        >
          Next
        </button>
      </div> -->
      </form>
    </div>
    &nbsp;&nbsp;
    <div>
      <div
        nz-col
        nzSpan="24"
        *ngIf="resourceForm.get('type').value == 'heartbeat'"
      >
        <!-- <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="fieldname">Endpoint</nz-form-label>
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-input-group>
        <input type="text" nz-input formControlName="endpoint" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item> -->
        <!-- <app-cloudmatiq-data-table (dataChanged)="deleteRequest($event, 'heartbeat')" [tableData]="endpointList"
    [tableHeader]="heartbeatConfigListTableHeader" [tableConfig]="tableConfig">
  </app-cloudmatiq-data-table> -->
        <table id="grouptable">
          <thead>
            <th width="50%">Application URL</th>
                        <th width="50%">Instances</th>
            <th width="3%">
              <span style="float: right"
                ><i
                  class="anticon anticon-plus"
                  (click)="addRow()"
                  style="color: #ffcc00"
                ></i
              ></span>
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let t of endpointList; let i = index">
              <td>
                <input
                  nz-input
                  placeholder="Enter url"
                  [(ngModel)]="t.endpoint"
                  type="text"
                />
              </td>
              <td>
                <nz-select
                  [(ngModel)]="t.instancerefid"
                  style="width: 100%"
                  nzAllowClear
                  nzPlaceHolder="Choose"
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let option of instanceList"
                    [nzLabel]="option.instancename"
                    [nzValue]="option.instancerefid"
                  ></nz-option>
                </nz-select>
              </td>
              <td>
                <span style="float: right"
                  ><i
                    class="anticon anticon-delete"
                    (click)="deleteEndPoint(i)"
                    style="color: #ffcc00; padding-top: 12px"
                  ></i
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div nz-col nzSpan="24" *ngIf="resourceForm.get('type').value == 'api'">
        <table id="grouptable">
          <thead>
            <th width="25%">Api base url</th>
            <th width="20%">Endpoint</th>
            <th width="10%">Method</th>
            <th width="12%">Header</th>
            <th width="13%">Body</th>
            <th width="20%">Instances</th>
           
          </thead>
          <tbody>
            <tr *ngFor="let t of endpointList; let i = index" style="height: 100px">
              <td>
                <input nz-input placeholder="Enter url" [(ngModel)]="t.endpoint" type="text" />
              </td>
              <td>
                <input nz-input placeholder="Enter endpoint" [(ngModel)]="t.path" type="text" />
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Method"  [(ngModel)]="t.method" style="width: 100%">
                  <nz-option nzLabel="GET" nzValue="GET"> </nz-option>
                  <nz-option nzLabel="POST" nzValue="POST"> </nz-option>
                </nz-select>
              </td>
              <td>
                <textarea nz-input placeholder="" nzAutosize  [(ngModel)]="t.headers"></textarea>
              </td>
              <td>
                <textarea nz-input placeholder="" nzAutosize  [(ngModel)]="t.body"></textarea>
              </td>
              <td>
                <nz-select [(ngModel)]="t.instancerefid" style="width: 100%" nzAllowClear nzPlaceHolder="Choose"
                  nzShowSearch>
                  <nz-option *ngFor="let option of instanceList" [nzLabel]="option.instancename"
                    [nzValue]="option.instancerefid"></nz-option>
                </nz-select>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


      &nbsp;&nbsp;&nbsp;
      <div style="text-align: end">
        <button (click)="create()" type="submit" nz-button nzType="primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</nz-spin>
<app-cloudmatiq-side-bar
  [(isVisible)]="showNewReuestDrawer"
  (dataChanged)="showNewReuestDrawer = false"
  title="New Request"
  [width]="450"
>
  <ng-container class="modal-content">
    <form nz-form [formGroup]="requestForm">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="fieldname"
              >Title</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input type="text" nz-input formControlName="title" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="fieldtype"
              >Method</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Method"
                formControlName="method"
              >
                <nz-option nzLabel="GET" nzValue="GET"> </nz-option>
                <nz-option nzLabel="POST" nzValue="POST"> </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="fieldname"
              >Endpoint</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input type="text" nz-input formControlName="endpoint" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="fieldname"
              >Headers</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <textarea
                  nz-input
                  placeholder=""
                  nzAutosize
                  formControlName="headers"
                ></textarea>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="fieldname"
              >Body</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <textarea
                  nz-input
                  placeholder=""
                  nzAutosize
                  formControlName="body"
                ></textarea>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <button
            (click)="addRequest()"
            type="submit"
            nz-button
            nzType="primary"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</app-cloudmatiq-side-bar>
