.line {
    margin: 7px; 
    height: 2px; 
    background-color: #aabb11;
}
.customvariableTitle {
    display: flex; 
    align-items: center;
    margin: 15px;
}
.m-r-20 {
    margin-right: 20px;
}
.add-customvariable ::ng-deep .ant-form-item-label label:after {
    content: " ";
}
.add-customvariable ::ng-deep .ant-input {
    border: 1px solid #8d9ba6;
}
:host ::ng-deep .ant-form-item-control .ant-select .ant-select-selection,
:host ::ng-deep .ant-input-number,
:host ::ng-deep .ant-select-selection {
    border: 1px solid #8d9ba6;
}
.discard:hover {
    background: #475560;
    color: #a4a7a8 !important;
    border: 1px solid #a4a7a8;
}
.text-light-gray {
    color: lightgray;
}
.variabletable ::ng-deep .ant-input {
    border: none;
    padding: 3px 0px 3px 0px; 
    min-height: 75px !important;
    resize: none;
} 
.variabletable th {
    border: 1px solid #dddddd30;
    padding: 8px;
    border-style: groove;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1c2e3cb3;
    color: white;
}
.variabletable td {
    border: 1px solid #dddddd30;
    padding: 6px;
    border-style: groove;
}
::ng-deep .ql-toolbar.ql-snow{
    width: 95% !important;
}
#tableContent th {
    border: 1px solid #dddddd30;
    padding: 8px;
    border-style: groove;
  }

    #tableContent td {
    border: 1px solid #dddddd30;
    padding: 6px;
    border-style: groove;
  }

    #tableContent th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }
  .width-50 {
    width: 50%;
    }
    .width-3 {
        width: 3%;
        }