<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <div class="customvariableTitle mt-3">
      <div class="m-r-20">
        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="58" height="58" fill="white"/>
        <rect x="7" y="7" width="44" height="44" rx="22" fill="#1C2E3C"/>
        <path d="M27.4 39L22.264 25.944H25.696L29.416 36.216H28.144L31.888 25.944H35.32L30.184 39H27.4Z" fill="white"/>
        </svg>                       
      </div>
      <div class="info">
        <h3 class="white-text"> Custom Variable</h3>
        <p class="text-light-gray">Control the behavior of jobs and pipelines, Store values you want to re-use</p>
      </div>
    </div>
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'" nzTip="Loading...">
      <nz-tabset 
    [nzTabBarExtraContent]="extraTemplate" 
    [nzSelectedIndex]="tabIndex"
    (nzSelectChange)="tabChanged($event)" >
    <ng-template #extraTemplate>
      <div
            nz-col
            nzSpan="24"
            nzXs="24"
            nzSm="24"
            nzMd="24"
            nzLg="24"
            nzXl="24"
          >
            <button
            *ngIf="tabIndex == 0"
              nz-button
              nzType="primary"
              style="float: right"
              (click)="createCustomVariable()"
              class="publish-button"
              [nzLoading]="loading"
            >
              {{ isUpdate ? "Update" : "Save" }}
            </button>
            <button
              nz-button
              nzType="primary"
              class="discard"
              style="float: right; margin-right: 3px"
              (click)="discard()"
            >
              Cancel
            </button>
          </div>
</ng-template>
    <nz-tab nzTitle="Basic Info">
      <div
        nz-col
        nzSpan="24"
        nzXs="24"
        nzMd="24"
        nzLg="16"
        nzXl="16"
        style="margin: 15px"
        class="add-customvariable"
      >
        <form nz-form [formGroup]="customvariableForm">
            <nz-form-item>
              <nz-form-label style="text-align: left" nzSpan="4"
                >Key Name</nz-form-label
              >
              <nz-form-control [nzSpan]="16">
                <input nz-input placeholder="Keyname" formControlName="keyname" />
                <br />
                <small
                  style="color: white"
                  *ngIf="
                    !customvariableForm.get('keyname').valid &&
                    !customvariableForm.get('keyname').dirty
                  "
                  >Give a Key name to the Variable</small
                >
                <nz-form-explain
                  *ngIf="
                    customvariableForm.get('keyname').dirty &&
                    customvariableForm.get('keyname').errors
                  "
                >
                  {{
                    customvariableForm.get("keyname").errors.required
                      ? "Key Name is required "
                      : ""
                  }}
                  {{
                    customvariableForm.get("keyname").errors.minlength
                      ? "Minimum length is 3 characters "
                      : ""
                  }}
                  {{
                    customvariableForm.get("keyname").errors.maxlength
                      ? "Maximum length is 50 characters "
                      : ""
                  }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>    
            <nz-form-item>
              <nz-form-label style="text-align: left" nzSpan="4"
                >Variable Type</nz-form-label
              >
              <nz-form-control [nzSpan]="16">
                <nz-select
                  formControlName="variabletype"
                  nzPlaceHolder="Select variable type"
                  [nzDisabled]="true"
                >
                <nz-option
                  *ngFor="let option of variableType"
                  [nzValue]="option.value"
                  [nzLabel]="option.label"
                ></nz-option>
                </nz-select>
                <nz-form-explain
                  *ngIf="
                    customvariableForm.get('variabletype').dirty &&
                    customvariableForm.get('variabletype').errors
                  "
                >
                  Please select variable type
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>  
            <nz-form-item>
              <nz-form-label style="text-align: left" nzSpan="4"
                >Key Type</nz-form-label
              >
              <nz-form-control [nzSpan]="16">
                <nz-select
                  formControlName="keytype"
                  nzPlaceHolder="Select key type"
                >
                <nz-option
                  *ngFor="let option of keyType"
                  [nzValue]="option.value"
                  [nzLabel]="option.label"
                ></nz-option>
                </nz-select>
                <nz-form-explain
                  *ngIf="
                    customvariableForm.get('keytype').dirty &&
                    customvariableForm.get('keytype').errors
                  "
                >
                  Please select key type
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>  
            <nz-form-item class="m-b-14">
              <nz-form-label style="text-align: left" nzSpan="4"
                >Description</nz-form-label
              >
              <nz-form-control [nzSpan]="16">
                <nz-input-group>
                  <p-editor
                    formControlName="description"
                    [style]="{ height: '220px',
                    width: '95%'
                     }"
                  ></p-editor>
                </nz-input-group>
                <nz-form-explain
                  *ngIf="
                    customvariableForm.get('description').dirty &&
                    customvariableForm.get('description').errors
                  "
                >
                  {{
                    customvariableForm.get("description").errors.maxlength
                      ? "Maximum length is 500 characters "
                      : ""
                  }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <h3 class="node-title-color">CMDB Integrations</h3>
            <h3 nz-col nzSpan="24" class="solution-title mb-0">Incoming Resource</h3>
        <div nz-row>
          <div nz-col nzSpan="24">
            <table id="tableContent" class="width-100">
              <thead>
                <tr>
                  <th class="width-50">Resource Type</th>
                  <th class="width-50">Attributes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select
                          formControlName="resourcetype"
                          nzPlaceHolder="Select Resource type"
                          nzShowSearch
                          nzAllowClear
                          (ngModelChange)="getResourceDetail($event,'input')"
                        >
                          <nz-option
                            *ngFor="let option of resourceTypesList"
                            [nzValue]="option.crn"
                            [nzLabel]="option.resource"
                          ></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select
                          formControlName="attributes"
                          nzPlaceHolder="Select Attributes"
                          nzShowSearch
                          nzMode="multiple"
                          nzAllowClear
                        >
                          <nz-option
                            *ngFor="let option of filteredColumns"
                            [nzValue]="option.fieldname"
                            [nzLabel]="option.fieldname"
                          ></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h3 nz-col nzSpan="24" class="solution-title mb-0">Outgoing Resources</h3>
            <div nz-row>
              <div nz-col nzSpan="24" style="margin-bottom: 10px;">
                <table id="tableContent">
                  <thead>
                    <tr>
                      <th class="width-50">Resource Type</th>
                      <th class="width-50">Attributes</th>
                      <th class="width-3">
                        <span style="float: right"
                          ><i
                            class="anticon anticon-plus yellow-icon"
                            (click)="addRow()"
                          ></i
                        ></span>
                      </th>
                    </tr>
                  </thead>
                  <tbody formArrayName="outgoingResources">
                    <tr
                      *ngFor="let t of outgoingResources.controls; let i = index"
                      [formGroupName]="i"
                    >
                      <td>
                        <nz-select
                          formControlName="outgoingResourcetype"
                          nzPlaceHolder="Select Resource type"
                          nzShowSearch
                          nzAllowClear
                          (ngModelChange)="getResourceDetail($event,'output', i)"
                        >
                          <nz-option
                            *ngFor="let option of resourceTypesList"
                            [nzValue]="option.crn"
                            [nzLabel]="option.resource"
                          ></nz-option>
                        </nz-select>
                      </td>
                      <td>
                        <nz-select
                          formControlName="outgoingattributes"
                          nzPlaceHolder="Select Attributes"
                          nzShowSearch
                          nzMode="multiple"
                          nzAllowClear
                        >
                          <nz-option
                            *ngFor="let option of filteredColumns"
                            [nzValue]="option.fieldname"
                            [nzLabel]="option.fieldname"
                          ></nz-option>
                        </nz-select>
                      </td>
                      <td>
                        <span class="right"
                          ><i
                            class="anticon anticon-delete yellow-icon p-t-12"
                            (click)="deleteRow(i)"
                          ></i
                        ></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
           </form>
            <nz-form-item>
              <nz-form-label style="text-align: left" nzSpan="4">Key Value</nz-form-label>
              <nz-form-control [nzSpan]="20">
                <div style="display: flex; flex-direction: column; flex: 1;">
                  <table class="variabletable" style="width: 100%;" aria-label="Environment Key Values">
                    <thead>
                      <tr>
                        <th
                          *ngFor="let environment of environmentsList"
                          [style.width.%]="100 / environmentsList.length"
                        >
                          {{ environment }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngFor="let environment of environmentsList">
                          <textarea
                            nz-input
                            placeholder="Enter value"
                            [ngModel]="getEnvironmentValue(environment)"
                            (ngModelChange)="setEnvironmentValue(environment, $event)"
                            type="text"
                          ></textarea>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </nz-form-control>
            </nz-form-item>  
          </div>
        </nz-tab>
        <nz-tab nzTitle="Comments" *ngIf="id !== undefined && isComments">
          <app-comments
            *ngIf="tabIndex == 1"
            [resourceDetails]="customvariabledObj"
            [resourceId]="this.customvariabledObj.refid"
            [refType]="'comments'"
          ></app-comments>
        </nz-tab>
        <nz-tab nzTitle="Change Logs" *ngIf="id !== undefined && isChangelogs">
          <app-comments
            *ngIf="tabIndex == 2"
            [resourceDetails]="customvariabledObj"
            [resourceId]="customvariabledObj.refid"
            [refType]="'history'"
          ></app-comments>
        </nz-tab>
      </nz-tabset>
        </nz-spin>
      </ng-container>
    </app-cloudmatiq-side-nav>