<div>
  <nz-table
    #nzTable
    [nzData]="dataList"
    [nzPageSize]="pagesize"
    [nzShowPagination]="false"
    [nzScroll]="{ y: '500px' }"
  >
    <thead>
      <tr>
        <th class="left-align" nzWidth="15px">
          Instance Name
          <a (click)="filterBy()" style="margin-left: 122px"
            ><i class="anticon anticon-filter"></i
          ></a>
        </th>
      </tr>
    </thead>
    <tbody style="color: white">
      <tr *ngFor="let data of nzTable.data">
        <td class="left-align" nzWidth="30px">
          <nz-badge
            *ngIf="data.datacollected == true"
            nzStatus="success"
          ></nz-badge
          ><nz-badge
            *ngIf="data.datacollected == false"
            nzStatus="error"
          ></nz-badge>
          <a (click)="viewData(data)" style="color: #ffcc00">
            {{ data.instancename }}
          </a>
          <!-- <nz-badge *ngIf="data.datacollected == true" nzStatus="success"></nz-badge> <a *ngIf="data.datacollected == true" (click)="viewData(data)" style="color:#ffcc00">  {{data.instancename}} </a>
                    <nz-badge *ngIf="data.datacollected == false" nzStatus="error"></nz-badge> <a *ngIf="data.datacollected == false" (click)="viewData(data)" style="color:#ffcc00">  {{data.instancename}} </a> -->
        </td>
      </tr>
      <a
        *ngIf="!loadingMore && dataList && dataList.length > 0"
        class="loadmore"
        (click)="onLoadMore()"
        >Load</a
      >
      <nz-spin
        class="loadmore"
        *ngIf="loadingMore"
        [nzSpinning]="loadingMore"
      ></nz-spin>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [nzWidth]="550"
  [(nzVisible)]="openFilter"
  nzTitle="Filter By"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="openFilter = false"
>
  <ng-template #modalContent>
    <div nz-row style="margin: 4px">
      <div>
        <div nz-col nzSpan="12">
          <nz-select
            [(ngModel)]="filters.cloudprovider"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Provider"
            (ngModelChange)="onProviderChange($event)"
          >
            <nz-option
              *ngFor="let t of providerList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="12">
          <nz-select
            [(ngModel)]="filters.zoneid"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Region"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of zoneList; index as ti"
              [nzLabel]="t.zonename"
              [nzValue]="t.zoneid"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div nz-row style="margin: 4px">
      <div>
        <div nz-col nzSpan="12">
          <nz-select
            [(ngModel)]="filters.customerid"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Customer"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of customersList; index as ti"
              [nzLabel]="t.customername"
              [nzValue]="t.customerid"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="12">
          <nz-select
            [(ngModel)]="filters.instanceid"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Instance"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of assetList; index as ti"
              [nzLabel]="t.instancename"
              [nzValue]="t.instanceid"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div nz-row style="margin: 4px">
      <div>
        <div nz-col nzSpan="12">
          <nz-select
            [(ngModel)]="filters.tagid"
            (ngModelChange)="tagChanged($event)"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Tag"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of tagList; index as ti"
              [nzLabel]="t.tagname"
              [nzValue]="t.tagid"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="12">
          <input
            *ngIf="(selectedTag | json) == '{}'"
            nz-input
            placeholder="Tag Value"
            disabled
          />
          <nz-select
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'list'
            "
            [(ngModel)]="filters.tagvalue"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Value"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of selectedTag.lookupvalues; index as ti"
              [nzLabel]="t"
              [nzValue]="t"
            >
            </nz-option>
          </nz-select>
          <nz-select
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'boolean'
            "
            [(ngModel)]="filters.tagvalue"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Value"
            style="width: 95%"
          >
            <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
            <nz-option nzLabel="No" nzValue="No"> </nz-option>
          </nz-select>
          <nz-date-picker
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'date'
            "
            [(ngModel)]="filters.tagvalue"
            nzFormat="dd-MMM-yyyy"
          ></nz-date-picker>
          <input
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'text'
            "
            [(ngModel)]="filters.tagvalue"
            nz-input
            placeholder="Value"
            [(ngModel)]="value"
          />
          <nz-input-number
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'number'
            "
            [(ngModel)]="filters.tagvalue"
          ></nz-input-number>
          <nz-input-number
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'range'
            "
            [(ngModel)]="filters.tagvalue"
            [nzMin]="selectedTag.min"
            [nzMax]="selectedTag.max"
          >
          </nz-input-number>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button
      class="m-t-20"
      nz-button
      nzType="default"
      (click)="openFilter = false"
    >
      Cancel
    </button>
    <button class="m-t-20" nz-button nzType="primary" (click)="applyFilter()">
      Apply
    </button>
  </ng-template>
</nz-modal>
