<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <div nz-row style="height: 7%; padding-left: 5px; padding-top: 5px">
      <nz-button-group>
        <button
          [nzSize]="'small'"
          [ngClass]="{ active: current == 'realtime' }"
          (click)="changeView('realtime')"
          nz-button
          nzType="default"
        >
          <i class="anticon anticon-desktop"></i>Real Time Monitoring
        </button>
        <button
          [nzSize]="'small'"
          [ngClass]="{ active: current == 'usage' }"
          (click)="changeView('usage')"
          nz-button
          nzType="default"
        >
          <i class="anticon anticon-area-chart"></i>Usage Monitoring
        </button>
        <button
          [nzSize]="'small'"
          [ngClass]="{ active: current == 'alerts' }"
          (click)="changeView('alerts')"
          nz-button
          nzType="default"
        >
          <i class="anticon anticon-warning"></i>Alert Setup
        </button>
        <button
          [nzSize]="'small'"
          [ngClass]="{ active: current == 'notifications' }"
          (click)="changeView('notifications')"
          nz-button
          nzType="default"
        >
          <i class="anticon anticon-notification"></i>Notifications
        </button>
      </nz-button-group>
    </div>
    <div
      *ngIf="current == 'usage'"
      [hidden]="
        current == 'realtime' ||
        current == 'notifications' ||
        current == 'alerts'
      "
      nz-row
      style="height: 88%"
    >
      <app-usage-monitoring *ngIf="current == 'usage'"></app-usage-monitoring>
    </div>
    <div
      *ngIf="current == 'realtime'"
      [hidden]="
        current == 'usage' || current == 'notifications' || current == 'alerts'
      "
      nz-row
      style="height: 88%"
    >
      <app-realtime-monitoring
        *ngIf="current == 'realtime'"
      ></app-realtime-monitoring>
    </div>
    <div
      *ngIf="current == 'alerts'"
      [hidden]="
        current == 'usage' ||
        current == 'realtime' ||
        current == 'notifications'
      "
      nz-row
      style="height: 88%"
    >
      <app-monitoring-alerts
        *ngIf="current == 'alerts'"
      ></app-monitoring-alerts>
    </div>
    <div
      *ngIf="current == 'notifications'"
      [hidden]="
        current == 'usage' || current == 'realtime' || current == 'alerts'
      "
      nz-row
      style="height: 88%"
    >
      <app-monitoring-notifications
        *ngIf="current == 'notifications'"
      ></app-monitoring-notifications>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
