<!-- <div nz-row>
    <div>
        <h4 class="amber-text">CPU Utilization</h4>
        <div class="chartSection" *ngIf="chartOptions && cpuDataList.length > 0;else content" style="background: rgba(128, 128, 128, 0.212) !important; padding: 13px 0;">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels" [legend]="chartOptions.legend" [markers]="chartOptions.markers"
                [grid]="chartOptions.grid" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart>
        </div>
    </div>
</div>
<div nz-row>
    <div>
        <h4 class="amber-text">Memory Utilization</h4>
        <div class="chartSection" *ngIf="memchartOptions && memoryUtilList.length > 0;else content" style="background: rgba(128, 128, 128, 0.212) !important; padding: 13px 0;">
            <apx-chart [series]="memchartOptions.series" [chart]="memchartOptions.chart" [xaxis]="memchartOptions.xaxis" [stroke]="memchartOptions.stroke" [tooltip]="memchartOptions.tooltip" [dataLabels]="memchartOptions.dataLabels" [legend]="memchartOptions.legend"
                [markers]="memchartOptions.markers" [grid]="memchartOptions.grid" [yaxis]="memchartOptions.yaxis" [title]="memchartOptions.title"></apx-chart>
        </div>
    </div>
</div>
<div nz-row>
    <div>
        <h4 class="amber-text">DisK Utilization</h4>
        <div class="chartSection" *ngIf="diskchartOptions && diskUtilList.length > 0;else content" style="background: rgba(128, 128, 128, 0.212) !important; padding: 13px 0;">
            <apx-chart [series]="diskchartOptions.series" [chart]="diskchartOptions.chart" [xaxis]="diskchartOptions.xaxis" [stroke]="diskchartOptions.stroke" [tooltip]="diskchartOptions.tooltip" [dataLabels]="diskchartOptions.dataLabels" [legend]="diskchartOptions.legend"
                [markers]="diskchartOptions.markers" [grid]="diskchartOptions.grid" [yaxis]="diskchartOptions.yaxis" [title]="diskchartOptions.title"></apx-chart>
        </div>
    </div>
</div>
<div nz-row>
    <div>
        <h4 class="amber-text">Network Utilization</h4>
        <div class="chartSection" *ngIf="netchartOptions && netUtilList.length > 0;else content" style="background: rgba(128, 128, 128, 0.212) !important; padding: 13px 0;">
            <apx-chart [series]="netchartOptions.series" [chart]="netchartOptions.chart" [xaxis]="netchartOptions.xaxis" [stroke]="netchartOptions.stroke" [tooltip]="netchartOptions.tooltip" [dataLabels]="netchartOptions.dataLabels" [legend]="netchartOptions.legend"
                [markers]="netchartOptions.markers" [grid]="netchartOptions.grid" [yaxis]="netchartOptions.yaxis" [title]="netchartOptions.title"></apx-chart>
        </div>
    </div>
</div> -->

<div class="demo-infinite-container" infiniteScroll (scrolled)="onScroll()">
  <nz-list [nzDataSource]="utilizations" [nzRenderItem]="item">
    <ng-template #item let-item>
      <h4 class="amber-text">{{ item.title }}</h4>
      <div
        class="chartSection"
        *ngIf="item.option && item.list.length > 0; else content"
        style="
          background: rgba(128, 128, 128, 0.212) !important;
          padding: 13px 0;
        "
      >
        <apx-chart
          [series]="item.option.series"
          [chart]="item.option.chart"
          [xaxis]="item.option.xaxis"
          [stroke]="item.option.stroke"
          [tooltip]="item.option.tooltip"
          [dataLabels]="item.option.dataLabels"
          [legend]="item.option.legend"
          [markers]="item.option.markers"
          [grid]="item.option.grid"
          [yaxis]="item.option.yaxis"
          [title]="item.option.title"
        ></apx-chart>
      </div>
    </ng-template>
    <nz-spin *ngIf="loading && hasMore" class="demo-loading"></nz-spin>
  </nz-list>
</div>
