.pipelineTemplateForm {
    margin-top: 6px;

    .row {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .ant-input {
        border: 1px solid #B3B3B3;
    }

    textarea.ant-input {
        min-height: auto !important;
        max-height: 200px !important;
    }

    .ant-form-item {
        margin-bottom: 0px;
    }

    .pipeline-template-design {
        color: white;
        margin: 0px;

        .header-title {
            color: #AABB11;
            font-size: 14px;
            margin-bottom: 2px;
        }

        p {
            font-size: 12px;
            margin-bottom: 2px;
        }

        .add-pipeline-btn-box {
            display: flex;
            justify-content: right;
        }

        .add-pipeline-btn {
            padding: 4px 8px;
            margin: 2px 0px 0px 0px;
        }

        .cancel-pipeline-btn {
            margin: 2px 8px 0px 0px;
        }

        .view-cursor {
            cursor: not-allowed !important;
        }
    }
}

::ng-deep .ant-confirm-body .ant-confirm-content {
    color: white !important;
}

::ng-deep .ant-confirm-body .ant-confirm-title {
    color: white !important;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .pipelineTemplateForm {

        .add-pipeline-btn,
        .cancel-pipeline-btn {
            margin-bottom: 6px !important;
        }

    }
}

.pipelineTemplateForm ::ng-deep .ant-form-item-label label {
    float: right;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #flowrigami {
        height: 77vh !important;
    }
    .pipelineTemplateForm ::ng-deep .ant-form-item-label label {
        left: 17px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .pipelineTemplateForm {

        .add-pipeline-btn,
        .cancel-pipeline-btn {
            margin-bottom: 6px !important;
        }
    }
}