<nz-spin [nzSpinning]="loading" [nzSize]="'large'" nzTip="Loading...">
  <div>
    <div nz-row>
      <div nz-col nzSpan="20">
        <button nz-button nzType="primary" style="float: right;" class="publish-button" (click)="refresh()"  title="Reload">
          <i class="anticon anticon-reload"></i>
        </button>
        <button nz-button nzType="primary" style="float: right; margin-right: 3px" (click)="showFilter()"  title="Filter">
          <i class="anticon anticon-filter"></i>
        </button>
      </div>
      <div nz-col nzSpan="4" style="float: inline-end">
        <nz-input-group nzAddOnAfterIcon="anticon anticon-search" title="Search">
          <input type="search" nz-input [(ngModel)]="searchText" style="padding-right: 1px" class="publish-button"
            (ngModelChange)="globalSearch()" placeholder="Search" />
        </nz-input-group>
      </div>
    </div>
    <app-cloudmatiq-data-table (dataChanged)="dataChanged($event)" [tableData]="releasesList"
      [tableHeader]="tableHeader" [selectedcolumns]="selectedcolumns" [tableConfig]="tableConfig" [totalCount]="totalCount"
      [currentPageIndex]="pageIndex"></app-cloudmatiq-data-table>
    <nz-drawer [nzClosable]="true" [nzWidth]="400" [(nzVisible)]="visible" [nzTitle]="'Releases Filters'"
      (nzOnClose)="close()">
      <h4 class="filter-hdr">Template</h4>
      <nz-select class="filter-input" [(ngModel)]="selectedTemplate" nzPlaceHolder="Select Template">
        <nz-option *ngFor="let data of templateList" [nzValue]="data.id" [nzLabel]="data.pipelinename"></nz-option>
      </nz-select>

      <h4 class="filter-hdr">Created Date</h4>
      <nz-range-picker style="width: 90%; margin: 10px" nzFormat="dd-MM-yyyy" [(ngModel)]="dateRange"></nz-range-picker>

      <h4 class="filter-hdr">Schedule</h4>
      <nz-select class="filter-input" [(ngModel)]="selectedSchedule" nzPlaceHolder="Select Schedule">
        <nz-option *ngFor="let option of schedule" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>

      <h4 class="filter-hdr">Status</h4>
      <nz-select class="filter-input" [(ngModel)]="selectedStatus" nzPlaceHolder="Select Status">
        <nz-option *ngFor="let option of status" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
      <div nz-row>
        <div nz-col class="inline-end m-t-10">
          <button nz-button nzType="primary" style="margin: 3px" (click)="clearFilters()">
            Clear
          </button>
          <button nz-button nzType="primary" (click)="applyFilters()" class="m-l-10">
            Apply
          </button>
        </div>
      </div>
    </nz-drawer>
  </div>
</nz-spin>