.filter-hdr{
    color: lightgray;
    font-size: 14px;
}

.filter-input{
    width: 90%;
    margin: 10px;
}

::ng-deep .ant-confirm-body .ant-confirm-content {
    color: white !important;
 }
::ng-deep .ant-confirm-body .ant-confirm-title {
    color: white !important;
 }