<app-cloudmatiq-side-nav [blockUI]="false">
  <app-cloudmatiq-side-bar
    (dataChanged)="addAlertModel = false"
    [(isVisible)]="addAlertModel"
    [title]="'Configure Alert'"
    [width]="920"
  >
    <ng-container class="modal-content">
      <nz-tabset
        [nzSelectedIndex]="tabIndex"
        (nzSelectChange)="onTabChange($event)"
      >
        <nz-tab nzTitle="Details">
          <div nz-row>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Title
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input nz-input [(ngModel)]="models.title" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Priority
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    [(ngModel)]="models.priority"
                    nzShowSearch
                    nzPlaceHolder="Value"
                    style="width: 100%"
                  >
                    <nz-option
                      *ngFor="let t of priorityList"
                      [nzLabel]="t.title"
                      [nzValue]="t.value"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Severity
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    [(ngModel)]="models.severity"
                    nzShowSearch
                    nzPlaceHolder="Value"
                    style="width: 100%"
                  >
                    <nz-option
                      *ngFor="let t of severityList"
                      [nzLabel]="t.title"
                      [nzValue]="t.value"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Descriptions
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input nz-input [(ngModel)]="models.description" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Alert Type
                </nz-form-label>

                <label nz-checkbox [(ngModel)]="models.pagerduty"
                  >Notify to PagerDuty</label
                >

                <nz-form-control [nzSm]="10" [nzXs]="5">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.type"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let a of alertTypes"
                      [nzLabel]="a.type"
                      [nzValue]="a.value"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div
            nz-row
            style="margin-top: 13px"
            *ngIf="models.type != 'SSL Alert'"
          >
            <div nz-col nzSpan="24">
              <h4 style="margin-left: 11px" class="amber-text">Filters</h4>
            </div>
          </div>
          <div
            *ngIf="
              models.type != 'Synthetics Alert' && models.type != 'SSL Alert'
            "
            nz-row
          >
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Customer
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models._customer"
                    (ngModelChange)="onCustomerChange($event)"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let c of customerList"
                      [nzLabel]="c.customername"
                      [nzValue]="c.customerid"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Account
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    [(ngModel)]="models._account"
                    (ngModelChange)="onAccountChange($event)"
                    nzPlaceHolder="Choose"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let t of accountsList"
                      [nzLabel]="t.name"
                      [nzValue]="t.id"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtag"
                  >Tag</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtag"
                    [(ngModel)]="models._tag"
                    (ngModelChange)="tagChanged($event)"
                    style="width: 100%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let r of tagList"
                      [nzValue]="r.tagid"
                      [nzLabel]="r.tagname"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtag"
                  >Tag value</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input
                    *ngIf="selectedTag == null"
                    nz-input
                    placeholder="Value"
                    disabled
                  />
                  <nz-select
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'list'
                    "
                    [(ngModel)]="models.tagvalue"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Value"
                    style="width: 100%"
                  >
                    <nz-option
                      *ngFor="let t of selectedTag.lookupvalues; index as ti"
                      [nzLabel]="t"
                      [nzValue]="t"
                    >
                    </nz-option>
                  </nz-select>
                  <nz-select
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'boolean'
                    "
                    [(ngModel)]="models.tagvalue"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Value"
                    style="width: 100%"
                  >
                    <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                    <nz-option nzLabel="No" nzValue="No"> </nz-option>
                  </nz-select>
                  <nz-date-picker
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'date'
                    "
                    [(ngModel)]="models.tagvalue"
                    nzFormat="dd-MMM-yyyy"
                  ></nz-date-picker>
                  <input
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'text'
                    "
                    [(ngModel)]="models.tagvalue"
                    nz-input
                    placeholder="Value"
                  />
                  <nz-input-number
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'number'
                    "
                    [(ngModel)]="models.tagvalue"
                  ></nz-input-number>
                  <nz-input-number
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'range'
                    "
                    [(ngModel)]="models.tagvalue"
                    [nzMin]="selectedTag.min"
                    [nzMax]="selectedTag.max"
                  >
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Platform
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    [(ngModel)]="models.platform"
                    nzPlaceHolder="Choose"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let d of platformList"
                      [nzLabel]="d.title"
                      [nzValue]="d.value"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Instances
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <div style="max-height: 70px; overflow-y: auto">
                    <nz-select
                      style="width: 100%"
                      nzMode="multiple"
                      nzAllowClear
                      [(ngModel)]="models.instance"
                      nzPlaceHolder="Choose"
                      nzShowSearch
                    >
                      <nz-option
                        *ngFor="let option of instanceList"
                        [nzLabel]="
                          option.instancename +
                          ' (' +
                          option.instancerefid +
                          ')'
                        "
                        [nzValue]="option.instancerefid"
                      ></nz-option>
                    </nz-select>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row style="margin-top: 13px">
            <div nz-col nzSpan="24">
              <h4 style="margin-left: 11px" class="amber-text">Alert rules</h4>
            </div>
          </div>
          <div nz-row *ngIf="models.type == 'System Alert'">
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Metrics
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.metric"
                    (ngModelChange)="trshld_change($event)"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let data of rulesList"
                      [nzLabel]="data.keyname"
                      [nzValue]="data.keyvalue"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Poll Statergy
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.poll_strategy"
                    nzShowSearch
                  >
                    <nz-option
                      nzLabel="Time Duration"
                      nzValue="Time Duration"
                    ></nz-option>
                    <nz-option
                      nzLabel="Poll Count"
                      nzValue="Poll Count"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Condition
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.condition"
                    nzShowSearch
                    nzRequired
                  >
                    <nz-option
                      nzLabel="> (greater than)"
                      nzValue="GTE"
                    ></nz-option>
                    <nz-option
                      nzLabel="< (less than)"
                      nzValue="LTE"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Threshold
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input
                    type="number"
                    nz-input
                    [(ngModel)]="models.threshold"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >{{ Trshld_lbl }}
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input type="number" nz-input [(ngModel)]="models.duration" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row *ngIf="models.type == 'Security Alert'">
            <div nz-col>
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Level
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.level"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let t of levelsList"
                      [nzLabel]="t.title"
                      [nzValue]="t.value"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row *ngIf="models.type == 'Synthetics Alert'">
            <div nz-col>
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Metrics
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.metric"
                    nzShowSearch
                  >
                    <nz-option
                      nzLabel="Success Percent"
                      nzValue="SuccessPercent"
                    ></nz-option>
                    <nz-option
                      nzLabel="Response Time"
                      nzValue="Duration"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Condition
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.condition"
                    nzShowSearch
                  >
                    <nz-option nzLabel="Is above" nzValue="gt"></nz-option>
                    <nz-option nzLabel="Is below" nzValue="lt"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  *ngIf="
                    models.metric == 'SuccessPercent' || models.metric == null
                  "
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Threshold (%)
                </nz-form-label>
                <nz-form-label
                  *ngIf="models.metric == 'Duration'"
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Threshold (seconds)
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input
                    type="number"
                    nz-input
                    min="1"
                    [(ngModel)]="models.threshold"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row *ngIf="models.type == 'Synthetics Alert'">
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  nzRequired
                  >Region
                </nz-form-label>
                <nz-form-control>
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models.region"
                    (ngModelChange)="onRegionChange($event)"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let t of regionList"
                      [nzLabel]="t.zonename"
                      [nzValue]="t.zonename"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Synthetics
                </nz-form-label>
                <nz-form-control>
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzMode="multiple"
                    [nzMaxMultipleCount]="1"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models._synthetics"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let t of monitoringLists"
                      [nzLabel]="t.name"
                      [nzValue]="t.id"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row *ngIf="models.type == 'SSL Alert'">
            <div nz-col>
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >SSL Monitoring
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtype"
                    style="width: 100%"
                    nzMode="multiple"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                    [(ngModel)]="models._ssl"
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let t of sslmonitoringLists"
                      [nzLabel]="t.name"
                      [nzValue]="t.id"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <h4 style="margin-left: 11px" class="amber-text">
                Notifications
              </h4>
            </div>
          </div>
          <div nz-row>
            <div *ngIf="models.type == 'SSL Alert'" nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtag"
                  >Duration</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtag"
                    [(ngModel)]="notificaitonsModel.duration"
                    style="width: 90%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                  >
                    <nz-option
                      *ngFor="let c of durationList"
                      [nzLabel]="c.keyname"
                      [nzValue]="c.keyvalue"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtag"
                  >Notify Via</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtag"
                    [(ngModel)]="notificaitonsModel.mode"
                    style="width: 90%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                  >
                    <nz-option nzValue="EMAIL" nzLabel="EMAIL"></nz-option>
                    <nz-option nzValue="SMS" nzLabel="SMS"></nz-option>
                    <nz-option
                      nzValue="APPLICATION"
                      nzLabel="APPLICATION"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtag"
                  >Receivers</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    id="rtag"
                    [(ngModel)]="notificaitonsModel.receivers"
                    nzMode="multiple"
                    style="width: 90%"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                  >
                    <nz-option
                      *ngFor="let n of usersList; index as u"
                      [nzLabel]="n.label"
                      [nzValue]="n"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="clearfix"></div>
            <div class="right-align">
              <button
                nz-tooltip
                nzTooltipTitle="Save Receiver Details"
                nzSize="small"
                nz-button
                nzType="primary"
                (click)="addNotification()"
                [disabled]="
                  notificaitonsModel.mode.length <= 0 ||
                  notificaitonsModel.receivers.length <= 0
                "
              >
                <i class="anticon anticon-plus"></i>
              </button>
            </div>
          </div>
          <div nz-row class="mt-3 p-b-100">
            <nz-table
              #nzTable
              [nzLoading]="dataLoading"
              [nzData]="configuredNotifications"
              [nzScroll]="{ x: '650px' }"
            >
              <thead>
                <tr>
                  <th *ngIf="models.type == 'SSL Alert'" id="duration">Duration</th>
                  <th id="receivers">Receivers</th>
                  <th id="notify-via">Notify via</th>
                  <th id="empty-header"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of nzTable.data; let i = index">
                  <td *ngIf="models.type == 'SSL Alert'">
                    {{ data["duration"] }} Days Before
                  </td>
                  <td>{{ getReceiversFor(data["receivers"]) }}</td>
                  <td>{{ data["mode"] }}</td>
                  <td>
                    <a
                      nz-popconfirm
                      nzTitle="Are you sure, delete notification?"
                      nzPlacement="bottomRight"
                      (nzOnConfirm)="deleteNotification(i)"
                      ><i class="anticon anticon-delete"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
          <button
            style="position: absolute; bottom: 7px; right: 7px"
            nzSize="small"
            nz-button
            [nzLoading]="savingAlert"
            (click)="saveAlert()"
            nzType="primary"
          >
            {{buttonText}}
          </button>
        </nz-tab>
        <nz-tab
          nzTitle="Maintenance Window"
          *ngIf="
            models.id &&
            (models.type == 'Synthetics Alert' || models.type == 'System Alert')
          "
        >
          <app-maintwindow-mapping
            *ngIf="tabIndex == 1"
            [txnDetails]="{
              txnid: models.id,
              txntype:
                models.type == 'Synthetics Alert'
                  ? 'SYNTHETIC_ALERTS'
                  : 'SYSTEM_ALERT'
            }"
          ></app-maintwindow-mapping>
        </nz-tab>
        <nz-tab
          nzTitle="Alerts"
          *ngIf="
            models.id &&
            (models.type == 'Synthetics Alert' || models.type == 'System Alert')
          "
        >
          <app-cloudmatiq-alerts
            *ngIf="tabIndex == 2"
            [reference]="{
              txnid: models.id,
              txntype:
                models.type == 'Synthetics Alert'
                  ? 'SYNTHETIC_ALERTS'
                  : 'GRAFANA_ALERTS'
            }"
          >
          </app-cloudmatiq-alerts>
        </nz-tab>
        <nz-tab nzTitle="Change Logs" *ngIf="selectedData.id !== undefined && selectedData.id !== null && isChangelogs">
          <app-comments
            *ngIf="tabIndex == 3"
            [resourceDetails]="selectedData"
            [resourceId]="selectedData.refid"
            [refType]="'history'"
          ></app-comments>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="showFilter = false"
    [(isVisible)]="showFilter"
    [title]="'Filter'"
  >
    <ng-container *ngIf="showFilter" class="modal-content">
      <app-filters
        (getFilterValue)="getFilterValue($event)"
        (setFilterValue)="setFilterValue($event)"
        [filterableValues]="filterableValues"
        [existValues]="filteredValues[filterKey]"
        [filterKey]="filterKey"
      >
      </app-filters>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <div nz-row>
      <div nz-col class="col s1 m2 left left-align">
        <button
          nzSize="small"
          nz-button
          nzType="primary"
          style="margin: 0"
          (click)="resetModelData(); addAlertModel = true"
          *ngIf="add"
        >
          <i class="anticon anticon-plus"></i>
          Add
        </button>
      </div>
      <div nz-col>
        <app-cloudmatiq-data-table
          [tableData]="alertsList"
          [tableHeader]="tableHeader"
          [tableConfig]="tableConfig"
          [selectedcolumns]="selectedcolumns"
          [totalCount]="totalCount"
          (dataChanged)="tableEventHandler($event)"
        >
        </app-cloudmatiq-data-table>
      </div>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
