<div class="row" id="ntfid">
  <div class="col s2 m2">Title</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">{{ selectedNotification?.title }}</div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Type</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">{{ selectedNotification?.eventtype }}</div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Configuration</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">{{ selectedNotification?.configuration }}</div>
</div>
<div class="row" id="ntfid" *ngIf="selectedNotification?.txntype">
  <div class="col s2 m2">Status</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">{{ selectedNotification?.txnstatus }}</div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Name</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">
    {{ selectedNotification?.name }}
  </div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Detail</div>
  <div class="col s1 m1">:</div>
  <div
    class="col s8 m8"
    *ngIf="selectedNotification?.contenttype == 'Email'"
    style="padding: 0; margin: 0"
  >
    <!-- <h1>Email content type loaded</h1>
    <iframe
      src="data:text/html;charset=utf-8"
      [srcdoc]="selectedData.content"
      frameborder="1"
    ></iframe>
    {{ selectedData?.content }} -->
    <!-- <div
      [innerHtml]="selectedData.content | safe : 'html'"
      style="padding: 0; margin: 0"
    ></div> -->
    <app-cloudmatiq-html-render [html]="selectedNotification.content">
    </app-cloudmatiq-html-render>
  </div>

  <div class="col s8 m8" *ngIf="selectedNotification?.contenttype == 'HTML'">
    <iframe [srcdoc]="selectedNotification?.content"></iframe>
  </div>
  <div class="col s8 m8" *ngIf="selectedNotification?.contenttype == 'LINK'">
    <a [href]="selectedNotification?.content" target="_blank"
      >Click here to download the alert report !</a
    >
  </div>
  <div
    class="col s8 m8"
    *ngIf="
    selectedNotification?.contenttype != 'HTML' &&
    selectedNotification?.contenttype != 'Email' &&
    selectedNotification?.contenttype != 'LINK'
    "
    [innerHTML]="selectedNotification?.content"
  ></div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Created by</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">{{ selectedNotification?.createdby }}</div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Created date</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">
    {{ selectedNotification?.createddt | date : "dd-MMM-yyyy HH:mm:ss" }}
  </div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Updated by</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">
    {{ selectedNotification?.lastupdatedby }}
  </div>
</div>
<div class="row" id="ntfid">
  <div class="col s2 m2">Updated date</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">
    {{ selectedNotification?.lastupdateddt | date : "dd-MMM-yyyy HH:mm:ss" }}
  </div>
</div>
<div
  class="row"
  id="ntfid"
  *ngIf="selectedNotification?.notes != '' && selectedNotification?.notes != null"
>
  <div class="col s2 m2">Notes</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8" [innerHTML]="selectedNotification?.notes"></div>
</div>
<div
  class="row"
  id="ntfid"
  *ngIf="
    canResolve &&
    selectedNotification?.txnstatus !== 'Resolved' &&
    selectedNotification?.txntype
  "
>
  <div class="col s2 m2">Notes</div>
  <div class="col s1 m1">:</div>
  <div class="col s8 m8">
    <textarea rows="4" nz-input [(ngModel)]="resolutionnotes"></textarea>
  </div>
</div>
<button
  *ngIf="
    canResolve &&
    selectedNotification?.txnstatus !== 'Resolved' &&
    selectedNotification?.txntype
  "
  style="position: static; float: right"
  nzSize="small"
  nz-button
  [nzLoading]="updateAlert"
  (click)="updateNtf()"
  nzType="primary"
>
  Resolve
</button>