<nz-spin [nzSpinning]="loading" *ngIf="!edit">
  <form nz-form [formGroup]="gatewayForm" *ngIf="!edit">
    <div class="row" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="gatewayname"
          >Name</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input nz-input formControlName="gatewayname" type="text" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="zoneid" nzRequired
          >Select Zone/Group
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            [nzDisabled]="gatewayObj?.internetgatewayid"
            nzShowSearch
            nzAllowClear
            id="zoneid"
            placeholder="Select Zone/Group"
            formControlName="zoneid"
            (ngModelChange)="onRegionChange($event)"
          >
            <nz-option
              *ngFor="let data of ecl2zoneList"
              [nzLabel]="data.zonename"
              [nzValue]="data"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customerid" nzRequired
          >Select
          {{ subtenantLable }}
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            [nzDisabled]="gatewayObj?.internetgatewayid"
            nzShowSearch
            nzAllowClear
            id="customerid"
            placeholder="Select"
            formControlName="customerid"
            (ngModelChange)="onCustomerChange($event)"
          >
            <nz-option
              *ngFor="let data of customerList"
              [nzLabel]="data.customername"
              [nzValue]="data"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="24"
          [nzXs]="12"
          nzRequired
          nzFor="internetserviceid"
          >Internet Service</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            [nzDisabled]="gatewayObj?.internetgatewayid"
            nzShowSearch
            nzAllowClear
            id="internetserviceid"
            placeholder="Select Service"
            nzPlaceHolder="Select Service"
            formControlName="internetserviceid"
            (ngModelChange)="onServiceChange($event)"
          >
            <nz-option
              *ngFor="let data of internetserviceList"
              [nzLabel]="data.servicename"
              [nzValue]="data"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="qosoptionid"
          >QoS Option</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="qosoptionid"
            placeholder="Select QoS Option"
            nzPlaceHolder="Select QoS Option"
            formControlName="qosoptionid"
          >
            <nz-option
              *ngFor="let data of qosList"
              [nzLabel]="data.qosoptionname"
              [nzValue]="data"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="24"
          [nzXs]="12"
          nzFor="description"
          class="description"
          >Description</nz-form-label
        >

        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-input-group>
            <textarea
              id="description"
              formControlName="description"
              type="text"
              nz-input
            ></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</nz-spin>
<div *ngIf="!edit" class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveOrUpdate(gatewayForm.value)"
      class="save-button"
      type="submit"
      nz-button
      nzType="primary"
      [nzLoading]="addingparam"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
<nz-tabset
  [(nzSelectedIndex)]="selectedIndex"
  class="networking-tab"
  *ngIf="edit"
>
  <nz-tab nzTitle="Internet Gateway">
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <form nz-form [formGroup]="gatewayForm">
        <div class="row">
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="gatewayname"
                >Name</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <input
                  [attr.disabled]="tagsOnly"
                  nz-input
                  placeholder="Name"
                  formControlName="gatewayname"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="internetserviceid"
                >Internet Service
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  [nzDisabled]="gatewayObj?.internetgatewayid || tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="internetserviceid"
                  placeholder="Select Service"
                  nzPlaceHolder="Select Service"
                  formControlName="internetserviceid"
                >
                  <nz-option
                    *ngFor="let data of internetserviceList"
                    [nzLabel]="data.servicename"
                    [nzValue]="data"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="qosoptionid"
                >QoS Option</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  [nzDisabled]="tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="qosoptionid"
                  placeholder="Select Qos Option"
                  nzPlaceHolder="Select Qos Option"
                  formControlName="qosoptionid"
                >
                  <nz-option
                    *ngFor="let data of qosList"
                    [nzLabel]="data.qosoptionname"
                    [nzValue]="data"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="zoneid" nzRequired
                >Select Zone/Group
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  [nzDisabled]="gatewayObj?.internetgatewayid || tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="zoneid"
                  placeholder="Select Zone/Group"
                  formControlName="zoneid"
                >
                  <nz-option
                    *ngFor="let data of ecl2zoneList"
                    [nzLabel]="data.zonename"
                    [nzValue]="data"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzFor="customerid"
                nzRequired
                >Select
                {{ subtenantLable }}
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select
                  [nzDisabled]="gatewayObj?.internetgatewayid || tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="customerid"
                  placeholder="Select"
                  formControlName="customerid"
                >
                  <nz-option
                    *ngFor="let data of customerList"
                    [nzLabel]="data.customername"
                    [nzValue]="data"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzFor="description"
                class="description"
                >Description</nz-form-label
              >

              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-input-group>
                  <textarea
                    [attr.disabled]="tagsOnly"
                    id="description"
                    formControlName="description"
                    placeholder="Description"
                    type="text"
                    nz-input
                  ></textarea>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status">Status</nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-input-group>
                  <nz-switch class="status" id="status" formControlName="status"></nz-switch>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div> -->
        </div>
      </form>
    </nz-spin>
    <div class="row right">
      <div class="col s12 md4">
        <button
          [disabled]="disabled || tagsOnly"
          (click)="saveOrUpdate(gatewayForm.value)"
          class="save-button"
          type="submit"
          nz-button
          nzType="primary"
          [nzLoading]="addingparam"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Global IP" (nzSelect)="SelectedTab('Global IP')">
    <app-globalip
      [inputdisabled]="true"
      [globalIpObj]="globalIpObj"
    ></app-globalip>
  </nz-tab>
  <nz-tab
    nzTitle="Gateway Interface"
    (nzSelect)="SelectedTab('Gateway Interface')"
  >
    <app-interface
      [inputdisabled]="true"
      [interfaceObj]="interfaceObj"
    ></app-interface>
  </nz-tab>
  <nz-tab nzTitle="Static Route" (nzSelect)="SelectedTab('Static Route')">
    <app-staticip
      [inputdisabled]="true"
      [staticIpObj]="staticIpObj"
    ></app-staticip>
  </nz-tab>
  <nz-tab nzTitle="Tags">
    <app-cloudmatiq-side-bar
      (dataChanged)="tagDrawerChanges($event)"
      [(isVisible)]="tagPickerVisible"
      [width]="550"
      [title]="'Add/Edit Tags'"
    >
      <ng-container class="modal-content">
        <app-cloudmatiq-tag-picker
          *ngIf="gatewayObj && gatewayObj?.internetgatewayid"
          [currentTags]="tags"
          cloudProvider="ECL2"
          [pickermode]="'combined'"
          [mode]="'picker'"
          [validateInputs]="true"
          [disableParams]="true"
          [tagGroupType]="null"
          [resourceId]="gatewayObj?.internetgatewayid"
          [resourceType]="'ASSET_IG'"
          (tagChanges)="onTagChangeEmit($event)"
        >
        </app-cloudmatiq-tag-picker>
      </ng-container>
    </app-cloudmatiq-side-bar>
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <div nz-row class="ml-1">
        <div
          nz-col
          nzSpan="24"
          style="display: flex; justify-content: space-between"
        >
          <!-- <h2 class="solution-title mb-0" style="margin-top: .5em;">Tags</h2> -->
          <button
            (click)="tagPickerVisible = true"
            nz-button
            nzType="primary"
            style="margin: 9px 0"
          >
            Add/Edit Tags
          </button>
        </div>
        <div nz-col nzSpan="24">
          <div class="param-table" style="margin-top: 0px">
            <app-cloudmatiq-data-table
              [tableData]="tagsList"
              [tableHeader]="tagTableHeader"
              [tableConfig]="tagTableConfig"
            >
            </app-cloudmatiq-data-table>
          </div>
        </div>
      </div>
    </nz-spin>
    <button
      (click)="updateTags()"
      [nzLoading]="loading"
      class="save-button"
      nz-button
      nzType="primary"
    >
      Save
    </button>
  </nz-tab>
  <nz-tab [nzTitle]="subtenantLable" *ngIf="addTenant">
    <div>
      <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
    </div>
  </nz-tab>
</nz-tabset>
