<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="networkDetailVisible"
  [title]="'Network Details'"
  [width]="820"
>
  <ng-container *ngIf="networkid" class="modal-content">
    <app-cloudmatiq-ecl2-add-edit-network
      [networkid]="networkid"
      [assetData]="assetData"
      [mode]="'standalone'"
      [tagsOnly]="true"
    >
    </app-cloudmatiq-ecl2-add-edit-network>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  [width]="1000"
  (dataChanged)="onChanged($event)"
  [(isVisible)]="isVisible"
  [title]="'Resource Utilization Chart'"
>
  <ng-container class="modal-content" *ngIf="isVisible">
    <app-server-utils
      [resizeReqObj]="resizeObj"
      (notifyDetailEntry)="notifyDetailEntry($event)"
    >
    </app-server-utils>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  [width]="1000"
  (dataChanged)="closeDrillDown($event)"
  [(isVisible)]="showDetailedChart"
  [title]="'Resource Utilization Chart'"
>
  <ng-container class="modal-content" *ngIf="showDetailedChart">
    <app-server-detail-utilization
      [headers]="{
        utype: currentConfigs.utiltype,
        provider: currentConfigs.provider,
        customer: currentConfigs?.customerid,
        instance: currentConfigs?.instanceid,
        instancerefid: currentConfigs?.instancerefid
      }"
      [configs]="utilizationDetailConfigs"
    ></app-server-detail-utilization>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  *ngIf="rightSizeWindow"
  [(isVisible)]="rightSizeWindow"
  [title]="'Recommendation'"
  [width]="1000"
>
  <ng-container class="modal-content">
    <app-server-detail-prediction
      [headers]="{
        utype: null,
        provider: filters.provider,
        customer: null,
        instance: null
      }"
      [configs]="utilizationConfigs"
    ></app-server-detail-prediction>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="awsvpcDetailVisible"
  [title]="'VPC Details'"
  [width]="820"
>
  <ng-container *ngIf="awsvpcid" class="modal-content">
    <app-cloudmatiq-vpc-add-edit
      [assetData]="assetData"
      [vpcObj]="awsvpcobj"
      [noEdit]="true"
    >
    </app-cloudmatiq-vpc-add-edit>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="awssubnetDetailVisible"
  [title]="'Subnet Details'"
  [width]="820"
>
  <ng-container *ngIf="awssubnetid" class="modal-content">
    <app-cloudmatiq-subnet-add-edit
      [assetData]="assetData"
      [subnetObj]="awssubnetobj"
      [noEdit]="true"
    >
    </app-cloudmatiq-subnet-add-edit>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="awssgDetailVisible"
  [title]="'Security Group Details'"
  [width]="820"
>
  <ng-container *ngIf="awssgid" class="modal-content">
    <app-cloudmatiq-sg-add-edit
      [assetData]="assetData"
      [noEdit]="true"
      [sgObj]="awssgobj"
    >
    </app-cloudmatiq-sg-add-edit>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="showCMDB = !showCMDB"
  [(isVisible)]="showCMDB"
  [width]="850"
  title="Details"
>
  <ng-container *ngIf="showCMDB" class="modal-content">
    <app-cloudmatiq-asset-parent
      [resourceId]="selectedCMDBData.resourceid"
      [(selectedResource)]="selectedCMDBData.keyvalue"
      [(resourceDetails)]="selectedCMDBData.keydata"
      [(inboundDetails)]="selectedCMDBData.inbound"
      [(referringAssetDetails)]="selectedCMDBData.referringassets"
      [recordData]="selectedCMDBData.keyvalue"
      (onEmitTagClick)="onSideBarTagClick(true)"
    >
    </app-cloudmatiq-asset-parent> </ng-container
></app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="awslbDetailVisible"
  [title]="'Load Balancers'"
  [width]="820"
>
  <ng-container *ngIf="awslbid" class="modal-content">
    <app-cloudmatiq-lb-add-edit
      [assetData]="assetData"
      [loadBalancerObj]="awslbobj"
      [noEdit]="true"
    >
    </app-cloudmatiq-lb-add-edit>
  </ng-container>
</app-cloudmatiq-side-bar>

<app-cloudmatiq-side-bar
  (dataChanged)="onChanged(true)"
  [(isVisible)]="showFilter"
  title="Filter"
>
  <ng-container *ngIf="showFilter" class="modal-content">
    <app-filters
      (getFilterValue)="getFilterValue($event)"
      (setFilterValue)="setFilterValue($event)"
      [filterableValues]="filterableValues"
      [existValues]="filteredValues[filterKey]"
      [filterKey]="filterKey"
    ></app-filters
  ></ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="lbDetailVisible"
  [title]="'Load Balancers Details'"
  [width]="820"
>
  <ng-container *ngIf="lbid" class="modal-content">
    <app-cloudmatiq-ecl2-add-edit-lb
      [assetData]="assetData"
      [assetData]="assetData"
      [lbid]="lbid"
      [mode]="'standalone'"
      [tagsOnly]="true"
    >
    </app-cloudmatiq-ecl2-add-edit-lb>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="bulkTagsVisible"
  [title]="'Tags'"
  [width]="820"
>
  <ng-container *ngIf="selectedRows.length > 0" class="modal-content">
    <button nz-button (click)="tagManager = true">Add / Edit Tags</button>
    <app-cloudmatiq-data-table
      [tableData]="tagsList"
      [tableHeader]="tagTableHeader"
      [tableConfig]="tagTableConfig"
    >
    </app-cloudmatiq-data-table>
    <div nz-col nzSpan="24" style="text-align: end">
      <button nz-button [nzLoading]="syncingTagstoCloud" (click)="syncTags()">
        Sync Tags
      </button>
    </div>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="gatewayDetailVisible"
  [title]="'Gateway Details'"
  [width]="820"
>
  <ng-container class="modal-content">
    <app-add-edit-internetgateway
      *ngIf="gatewayDetailVisible && gatewayid != null"
      [assetData]="assetData"
      [gatewayid]="gatewayid"
      [mode]="'standalone'"
      [tagsOnly]="true"
    >
    </app-add-edit-internetgateway>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="awsgatewayDetailVisible"
  [title]="'Gateway Details'"
  [width]="820"
>
  <ng-container *ngIf="awsgatewayid" class="modal-content">
    <app-aws-internetgateway [assetData]="assetData" [gatewayid]="awsgatewayid">
    </app-aws-internetgateway>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="firewallDetailVisible"
  [title]="'Firewall Details'"
  [width]="820"
>
  <ng-container *ngIf="firewallid" class="modal-content">
    <app-firewallvsrx
      [assetData]="assetData"
      [vsrxid]="firewallid"
      [mode]="'standalone'"
      [tagsOnly]="true"
    >
    </app-firewallvsrx>
  </ng-container>
</app-cloudmatiq-side-bar>
<!-- <app-cloudmatiq-side-bar [(isVisible)]="viewServerDetail" (dataChanged)="viewServerDetail = false"
    [title]="metaSideBarTitle" [width]="950">
    <ng-container class="modal-content">
        <app-cloudmatiq-server-detail [instanceref]="serverDetail"
            (showDrillDown)="viewServerDetail=false;notifyDetailEntry(event)">
        </app-cloudmatiq-server-detail>
    </ng-container>
</app-cloudmatiq-side-bar> -->
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="cfgDetailVisible"
  [title]="'Common Function Gateway'"
  [width]="520"
>
  <ng-container *ngIf="cfgid" class="modal-content">
    <app-add-edit-commongateway
      *ngIf="cfgid && cfgDetailVisible"
      [assetData]="assetData"
      [cfgid]="cfgid"
      [mode]="'standalone'"
      [tagsOnly]="true"
    >
    </app-add-edit-commongateway>
  </ng-container>
</app-cloudmatiq-side-bar>

<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="showOtherAssets"
  [title]="'Cloud Assets'"
  [width]="820"
>
  <ng-container class="modal-content" *ngIf="showOtherAssets">
    <app-add-edit-cloudassets
      [cloudassetObj]="assetData"
      (notifyNewEntry)="onChanged($event)"
    >
    </app-add-edit-cloudassets>
  </ng-container>
</app-cloudmatiq-side-bar>

<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="showMonitoring"
  [title]="title"
  [width]="1000"
>
  <ng-container class="modal-content" *ngIf="showMonitoring">
    <app-cloudmatiq-montioring-detail
      [metricsPlatform]="instanceref?.platform"
      [instanceRef]="instanceref"
      [instanceObj]="instanceref"
    ></app-cloudmatiq-montioring-detail>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="viewVMDetails = false"
  [(isVisible)]="viewVMDetails"
  [title]="'Virtual Machine'"
  [width]="820"
>
  <ng-container class="modal-content" *ngIf="viewVMDetails">
    <app-add-edit-vmware [cloudassetObj]="assetData"> </app-add-edit-vmware>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="viewVMAssetDetails = false"
  [(isVisible)]="viewVMAssetDetails"
  [title]="assetname.label"
  [width]="820"
>
  <ng-container class="modal-content" *ngIf="viewVMAssetDetails">
    <app-add-vmasset
      [cloudassetObj]="assetData"
      [assetname]="assetname.value"
      (notifyNewEntry)="closeWindow()"
    >
    </app-add-vmasset>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="onChanged($event)"
  [(isVisible)]="metaSideBarVisible"
  [title]="metaSideBarTitle"
  [width]="820"
>
  <ng-container *ngIf="meta && metaSideBarVisible" class="modal-content">
    <nz-tabset>
      <nz-tab nzTitle="Details">
        <div *ngFor="let item of meta | keyvalue : 0">
          <h4 class="amber-text">{{ item.key }}</h4>
          <div *ngFor="let t of item.value; index as ti">
            <h5 class="white-text text-lighten-3 ml-1">
              {{ t["title"] }} :
              <span *ngIf="t.title != 'Instance Name'" class="grey-text">
                {{ t["value"] }}</span
              >
              <span *ngIf="t.title == 'Instance Name'" class="amber-text">
                {{ t["value"] }}</span
              >
            </h5>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="subtenantLable" *ngIf="assetData">
        <div>
          <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
        </div>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</app-cloudmatiq-side-bar>
<div *ngIf="confirmationWindow">
  <nz-modal
    [nzWidth]="750"
    [(nzVisible)]="confirmationWindow"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="confirmationWindow = false"
  >
    <ng-template #modalTitle> Instance Details </ng-template>
    <ng-template #modalContent>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Tenant Name</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ selectedResizeInstance?.tenant?.tenantname }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Requested Date</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ selectedResizeInstance?.createddt | date : "dd-MMM-yyyy" }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Instance Name</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ selectedResizeInstance?.instance?.instancename }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">New Plan</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ selectedResizeInstance?.currentplan?.plantype }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">New Cost</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ selectedResizeInstance?.currentplan?.currency }}
          {{ selectedResizeInstance?.currentplan?.cost }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Current Plan</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ selectedResizeInstance?.upgradeplan?.plantype }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Current Cost</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ selectedResizeInstance?.upgradeplan?.currency }}
          {{ selectedResizeInstance?.upgradeplan?.cost }}
        </div>
      </div>
      <div
        class="ant-col-md-24 ant-col-lg-24 m-t-35 materialize-red-text text-lighten-2"
      >
        <div class="ant-col-md-24 ant-col-lg-24">
          The Instance will be resized to '{{
            selectedResizeInstance?.currentplan?.plantype
          }}' and the server require a restart. Please Confirm !
        </div>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <div>
        <button
          class="m-t-20"
          nz-button
          nzType="default"
          (click)="confirmationWindow = false"
        >
          Cancel
        </button>
        <button
          class="m-t-20"
          nz-button
          nzType="primary"
          (click)="
            resizeInstance(selectedResizeInstance); confirmationWindow = false
          "
        >
          Confirm
        </button>
      </div>
    </ng-template>
  </nz-modal>
</div>
<app-cloudmatiq-side-bar
  (dataChanged)="tagDrawerChanges($event)"
  [(isVisible)]="tagManager"
  [title]="'Add/Edit Tags'"
  [width]="450"
>
  <ng-container class="modal-content">
    <app-cloudmatiq-tag-picker
      *ngIf="tagManager"
      [pickermode]="'combined'"
      [currentTags]="tags"
      [mode]="'picker'"
      [disableParams]="true"
      [validateInputs]="true"
      [resourceType]="filters.asset"
      (tagChanges)="onTagChangeEmit($event)"
    >
    </app-cloudmatiq-tag-picker>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="tagComplianceDrawerChanges($event)"
  [(isVisible)]="taggingComplianceComparison"
  [title]="'Tagging Compliance'"
  [width]="820"
>
  <ng-container class="modal-content">
    <div nz-row *ngIf="taggingComplianceForVm">
      <div nz-col nzMd="6" class="chartDetails">
        <p>
          Tenant Name<br />
          <span>{{ instanceObj?.customer?.customername || "-" }}</span>
        </p>
      </div>
      <div nz-col nzMd="10" class="chartDetails">
        <p>
          Instance Name<br />
          <span>{{ taggingComplianceForVm?.instancename || "-" }}</span>
        </p>
      </div>
      <div nz-col nzMd="8" class="chartDetails">
        <p>
          Region<br />
          <span>{{ instanceObj?.region || "-" }}</span>
        </p>
      </div>
      <div nz-col nzMd="6" class="chartDetails">
        <p>
          Platform<br />
          <span>{{ taggingComplianceForVm?.platform || "-" }}</span>
        </p>
      </div>
      <div nz-col nzMd="6" class="chartDetails">
        <p>
          Instance Type<br />
          <span>{{ taggingComplianceForVm?.instancetyperefid || "-" }}</span>
        </p>
      </div>
      <div nz-col nzMd="6" class="chartDetails">
        <p>
          Tag Group<br />
          <span>{{ selectedTagGroupName || "-" }}</span>
        </p>
      </div>
    </div>
    <div nz-row>
      <table style="width: 100%">
        <thead>
          <tr style="text-align: center">
            <td
              style="
                padding: 7px;
                background: #5c6773;
                color: #f4cc07;
                height: 33px;
                width: 153px;
                font-size: 12px;
                text-align: left;
                width: 30%;
              "
              class="p-l-15"
            >
              Tag
            </td>
            <td
              style="
                padding: 7px;
                background: #5c6773;
                color: #f4cc07;
                height: 33px;
                text-align: left;
                font-size: 12px;
                width: 30%;
              "
            >
              Existing
            </td>
            <td
              style="
                padding: 7px;
                background: #5c6773;
                text-align: left;
                color: #f4cc07;
                height: 33px;
                font-size: 12px;
              "
            >
              Compilance
            </td>
          </tr>
        </thead>
        <tbody style="color: white">
          <!-- [ngStyle]="{'background-color': t.compval.length == 0 && t.exval.length == 0 ? '#fda39c' : null,'background-color': (t.compval == t.exval) && (t.compval.length > 0 && t.exval.length > 0) ? '#9cfdac' : null,'background-color': (t.compval && t.exval) && t.compval.length > 0 && t.exval.length > 0 && (t.compval != t.exval) ? 'rgb(251 236 51 / 36%)' : null}" -->
          <tr
            [ngStyle]="getTaggingComplianceStyles(t)"
            *ngFor="let t of complianceTagDiff; index as ti"
          >
            <td
              style="
                padding: 7px;
                height: 33px;
                font-size: 12px;
                text-align: left;
                color: #f2f2f2;
              "
              class="p-l-15"
            >
              {{ t.title }}
              <span *ngIf="t.required == true" style="color: tomato">*</span>
            </td>
            <!-- [ngStyle]="{'background-color': t.compval.length <= 0 ? 'rgb(226 226 226 / 22%)' : null}" -->
            <td
              style="
                padding: 7px;
                height: 33px;
                font-size: 12px;
                text-align: left;
                color: #f2f2f2;
              "
            >
              {{ t.exval }}
            </td>
            <!-- [ngStyle]="{'background-color': (t.compval !== t.exval) && t.compval.length > 0 ? '#ff9800' : null}" -->
            <td
              style="
                padding: 7px;
                height: 33px;
                font-size: 12px;
                text-align: left;
                color: #f2f2f2;
              "
            >
              {{ t.compval }}
            </td>
          </tr>
          <tr>
            <td colspan="3" style="border-top: 1px solid">
              <div class="row p-t-12">
                <div
                  class="col s12 m1 p-10"
                  style="background-color: rgb(156 253 172 / 39%)"
                ></div>
                <div class="col s12 m7 f-s-95 p-l-15 p-t-3">
                  The tag value and compliance are equal.
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="row">
                <div
                  class="col s12 m1 p-10"
                  style="background-color: rgb(251 236 51 / 36%)"
                ></div>
                <div class="col s12 m7 f-s-95 p-l-15 p-t-3">
                  The tag value and compliance are different.
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="row">
                <div
                  class="col s12 m1 p-10"
                  style="background-color: rgb(253 163 156 / 38%)"
                ></div>
                <div class="col s12 m7 f-s-95 p-l-15 p-t-3">
                  Tag is mandatory, but have no values.
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  [(isVisible)]="isProductmappingVisible"
  [title]="'Tags'"
  [width]="820"
>
  <ng-container *ngIf="selectedRows.length > 0" class="modal-content">
    <app-product-mapping></app-product-mapping>
  </ng-container>
</app-cloudmatiq-side-bar>
<div nz-row>
  <div nz-col nzSpan="24">
    <div nz-row style="margin-top: 13px">
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel nzHeader="Filters" [nzActive]="true">
          <div nz-row>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.provider"
                style="width: 95%"
                nzPlaceHolder="Provider *"
                (ngModelChange)="providerChanges($event)"
              >
                <nz-option
                  *ngFor="let data of cloudproviderList"
                  [nzLabel]="data.keyname"
                  [nzValue]="data.keyvalue"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.asset"
                style="width: 95%"
                nzPlaceHolder="Asset *"
                (ngModelChange)="assetChanges()"
              >
                <nz-option
                  *ngFor="let t of assetTypes; index as ti"
                  [nzLabel]="t.title"
                  [nzValue]="t.value"
                >
                </nz-option>
              </nz-select>
            </div>
            <div
              nz-col
              nzSpan="6"
              style="margin-bottom: 7px"
              *ngIf="filters.provider == 'AWS'"
            >
              <nz-select
                [(ngModel)]="filters.zone"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Region"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of zoneList; index as ti"
                  [nzLabel]="t.zonename"
                  [nzValue]="t.zonename"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.customers"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Customer"
                style="width: 95%"
                (ngModelChange)="onchangeCustomerSelection($event)"
              >
                <nz-option
                  *ngFor="let t of customersList; index as ti"
                  [nzLabel]="t.customername"
                  [nzValue]="t.customerid"
                  (ngModelChange)="getAccountsList($event)"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.accounts"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Account ID"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of accountsList; index as ti"
                  [nzLabel]="t.name"
                  [nzValue]="t.id"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px" *ngIf="this.filters.asset === 'VIRTUAL_MACHINES'|| this.filters.asset ==='ASSET_INSTANCE'">
              <nz-select
                [(ngModel)]="filters.agentstatus"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Agent Status"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of agentTypes; index as ti"
                  [nzLabel]="t.label"
                  [nzValue]="t.value"
                >
                </nz-option>
              </nz-select>
            </div>
            <div
              nz-col
              nzSpan="6"
              style="margin-bottom: 7px"
              *ngIf="showFilters && showTagFilter"
            >
              <nz-select
                [(ngModel)]="filters.tagid"
                (ngModelChange)="tagChanged($event)"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Tag"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of tagList; index as ti"
                  [nzLabel]="t.tagname"
                  [nzValue]="t.tagid"
                >
                </nz-option>
              </nz-select>
            </div>
            <div
              nz-col
              nzSpan="6"
              style="margin-bottom: 7px"
              *ngIf="showFilters && showTagFilter"
            >
              <input
                *ngIf="(selectedTag | json) == '{}'"
                nz-input
                placeholder="Value"
                disabled
              />
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'list'
                "
                [(ngModel)]="filters.tagvalue"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of selectedTag.lookupvalues; index as ti"
                  [nzLabel]="t"
                  [nzValue]="t"
                >
                </nz-option>
              </nz-select>
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'boolean'
                "
                [(ngModel)]="filters.tagvalue"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                <nz-option nzLabel="No" nzValue="No"> </nz-option>
              </nz-select>
              <nz-date-picker
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'date'
                "
                [(ngModel)]="filters.tagvalue"
                nzFormat="dd-MMM-yyyy"
              ></nz-date-picker>
              <input
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'text'
                "
                [(ngModel)]="filters.tagvalue"
                nz-input
                placeholder="Value"
                [(ngModel)]="value"
              />
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'number'
                "
                [(ngModel)]="filters.tagvalue"
              ></nz-input-number>
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'range'
                "
                [(ngModel)]="filters.tagvalue"
                [nzMin]="selectedTag.min"
                [nzMax]="selectedTag.max"
              >
              </nz-input-number>
            </div>
            <!-- Don't remove the below ... temporarily commented -->
            <!-- <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [nzDisabled]="filters.asset != 'ASSET_INSTANCE'"
                [(ngModel)]="filters.rightsize"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Right Size"
                style="width: 95%"
              >
                <nz-option nzLabel="Recommended" nzValue="Y"> </nz-option>
                <nz-option nzLabel="Not recommended" nzValue="N"> </nz-option>
                <nz-option nzLabel="Resized" nzValue="Resized"> </nz-option>
              </nz-select>
            </div> -->
            <!-- <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [nzDisabled]="filters.asset != 'ASSET_INSTANCE'"
                [(ngModel)]="filters.datacollection"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Data collection"
              >
                <nz-option
                  *ngFor="let t of dcTypes; index as ti"
                  [nzLabel]="t.title"
                  [nzValue]="t.value"
                >
                </nz-option>
              </nz-select>
            </div> -->

            <div
              nz-col
              nzSpan="6"
              style="
                margin-bottom: 7px;
                text-align: start;
                margin-top: 5px;
                color: white;
              "
              *ngIf="showFilters && showCompliance"
            >
              <label
                nz-checkbox
                style="color: white !important"
                (ngModelChange)="removeTaggingCompliance()"
                [(ngModel)]="filters.tagcompliance"
                >Tagging Compliance</label
              >
            </div>
            <div
              nz-col
              nzSpan="24"
              style="margin-bottom: 7px; text-align: end; margin-top: 5px"
            >
              <button
                nzSize="small"
                nz-button
                (click)="resetFilters()"
                nzType="primary"
                style="margin: 0 13px 0 0"
              >
                <i class="anticon anticon-close-circle"></i>Reset Filters
              </button>
              <button
                nzSize="small"
                nz-button
                (click)="getAssets()"
                [nzLoading]="gettingAssets"
                nzType="primary"
                style="margin: 0 13px 0 0"
              >
                <i class="anticon anticon-search"></i>Search
              </button>
            </div>
            <div
              *ngIf="filters.tagcompliance"
              nz-col
              nzSpan="6"
              style="margin-bottom: 7px; text-align: start; margin-top: 5px"
            >
              <nz-select
                [(ngModel)]="filters.selectedtaggroup"
                (ngModelChange)="tagGroupChanged($event)"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Tag Group"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of tagGroupList; index as ti"
                  [nzLabel]="t.groupname"
                  [nzValue]="t.taggroupid"
                >
                </nz-option>
              </nz-select>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  <div nz-col nzSpan="24">
    <div class="param-table" style="margin-bottom: 23px !important">
      <button
        *ngIf="download && assetList.length > 0"
        nz-button
        style="position: relative; bottom: -43px"
        (click)="downloadAssets()"
        title="Download as CSV"
      >
        <i class="anticon anticon-download" onclick=""></i>
      </button>
      <button
        *ngIf="assetList.length > 0 && showFilters && tagupdate"
        [disabled]="selectedRows.length == 0"
        style="position: relative; bottom: -43px; margin-left: 13px"
        nz-button
        (click)="bulkTagsVisible = true"
      >
        Update Tags
      </button>
      <nz-select
        *ngIf="
          assetList.length > 0 && showFilters && filters.customers && tagupdate
        "
        [(ngModel)]="selectedProduct"
        [nzDisabled]="selectedRows.length == 0"
        style="width: 300px; bottom: -43px; margin-left: 30px"
        nzPlaceHolder="Select Product"
      >
        <nz-option
          *ngFor="let data of productList"
          [nzLabel]="data.productname"
          [nzValue]="data"
        >
        </nz-option>
      </nz-select>
      <button
        *ngIf="
          assetList.length > 0 && showFilters && filters.customers && tagupdate
        "
        [disabled]="selectedRows.length == 0"
        style="position: relative; margin-left: 3px; bottom: -43px"
        nz-button
        (click)="updateProductMapping()"
      >
        Product Mapping
      </button>
      <app-cloudmatiq-data-table
        *ngIf="!gettingAssets"
        (dataChanged)="dataChanged($event)"
        [tableData]="assetList"
        [tableHeader]="tableHeader"
        [selectedcolumns]="selectedcolumns"
        [tableConfig]="tableConfig"
        [totalCount]="totalCount"
      ></app-cloudmatiq-data-table>
    </div>
    <div *ngIf="assetList.length == 0 && gettingAssets == true">
      <app-cloudmatiq-skeleton [loading]="true"></app-cloudmatiq-skeleton>
    </div>
  </div>
</div>
<div *ngIf="showCMDBDialog">
  <nz-modal
    [nzWidth]="750"
    [(nzVisible)]="showCMDBDialog"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="showCMDBDialog = false"
  >
    <ng-template #modalTitle> Create CMDB record </ng-template>
    <ng-template #modalContent>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3 amber-text p-b-25">
        No data found in CMDB for the selected instance. Do you want to create
        one ?
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Instance</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ assetData.instancename }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Provider</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ assetData.cloudprovider }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Instance ID</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ assetData.instancerefid }}
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
        <div class="ant-col-md-24 ant-col-lg-8">Region</div>
        <div class="ant-col-md-24 ant-col-lg-2">:</div>
        <div class="ant-col-md-24 ant-col-lg-14">
          {{ assetData.region }}
        </div>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <button
        class="m-t-20"
        nz-button
        nzType="default"
        (click)="showCMDBDialog = false"
      >
        Cancel
      </button>
      <button
        class="m-t-20"
        nz-button
        nzType="primary"
        (click)="createCMDBdata(); showCMDBDialog = false"
      >
        Confirm
      </button>
    </ng-template>
  </nz-modal>
</div>
<div nz-row style="margin-top: 30px; padding: 13px">
  <!-- <div *ngIf="features.length > 0">
    <div nz-row>
      <div nz-col nzSpan="17">
        <div nz-row>
          <div nz-col nzSpan="24">
            <div style="display: flex;justify-content: space-between;">
              <h3 style="color: #ffbf00;">Asset Details</h3>
              <button nzSize="small" *ngIf="selectedAsset != null && selectedAsset.instype == 'Server'" nz-button
                (click)="serverResize = true;" nzType="primary" style="margin: 0 13px 0 0;"><i
                  class="anticon anticon-swap"></i>Resize</button>
            </div>
          </div>
          <div *ngFor="let f of features; index as i;" nz-col nzSpan="12" style="padding:0 3px">
            <div nz-row style="display: flex;margin: 3px auto;">
              <div nz-col nzSpan="8" style="padding: 0px 7px;text-align: end;">
                <h4 style="margin-bottom: 0;color: white;font-size: 13px;"> <b>{{f['title']}}</b> : </h4>
              </div>
              <div nz-col nzSpan="16" style="padding: 0px 7px;">
                <p style="margin-bottom: 0;color: white;font-size: 13px;"> {{f['value']}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div nz-row>
          <div nz-col nzSpan="24">
            <div style="display: flex;justify-content: space-between;">
              <h3 style="color: #ffbf00;">Tags</h3>
              <button nz-button nzType="default" nzShape="circle" (click)="tagManager = true;"
                style="padding:0;margin: 0;"><i class="anticon anticon-edit"></i></button>
            </div>
          </div>
          <div *ngFor="let f of tags; index as i;" nz-col nzSpan="24" style="padding:0 3px">
            <div nz-row style="display: flex;margin: 3px auto;">
              <div nz-col nzSpan="8" style="padding: 0px 7px;">
                <h4 style="margin-bottom: 0;color: white;font-size: 13px;"> <b>{{f['title']}}</b> : </h4>
              </div>
              <div nz-col nzSpan="16" style="padding: 0px 7px;">
                <p style="margin-bottom: 0;color: white;font-size: 13px;"> {{f['value']}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div *ngIf="adhocResize">
  <app-adhoc-request
    *ngIf="adhocResize"
    [selectedInstance]="selectedInstance"
    (notifyAdhocEntry)="notifyAdhocEntry($event)"
  ></app-adhoc-request>
</div>
