<div *ngIf="historyRecords && historyRecords.length > 0">
  <div
    *ngFor="let h of historyRecords; let i = index"
    style="background: #ffffff1f; padding: 14px 15px; margin-bottom: 13px"
  >
    <div style="display: flex; justify-content: space-between; font-size: 12px">
      <p>{{ h.createdby }}</p>
      <p style="color: gold">
        <b>{{
          h.type == 0
            ? "Created : "
            : h.type == 1 || h.type == 2 || h.type == 4 || h.type == 5
            ? "Modified : "
            : "-"
        }}</b
        >{{ h.createddt | date: "dd-MMM-yyyy hh:mm a" }}
      </p>
    </div>
    <div>
      <div *ngIf="h.type == 0"></div>
      <div *ngIf="h.type == 1">
        <b>{{ h.affectedattribute }}</b> : {{ h.new }}
      </div>
      <div *ngIf="h.type == 2 || h.type == 5">
        <b>{{ h.affectedattribute }}</b>
        <span *ngIf="h.new != ''">
          <ng-container *ngIf="!h.newIsHtml;else htmlContent">
            : {{ h.old }} -> {{ h.new }}
          </ng-container>
          <ng-template #htmlContent>
            <table style="border: none;">
              <tr>
                <td style="padding: 0px 10px;border-right: solid 1px #fff;"><div [innerHtml]="h.old"></div></td>
                <td style="padding: 0px 10px;"><div [innerHtml]="h.new"></div></td>
              </tr>
            </table>
          </ng-template>
          </span>
      </div>
      <div *ngIf="h.type == 4">
        <b>{{ h.affectedattribute }}</b> : {{ h.new }}
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="historyRecords.length <= 0"
  style="text-align: center; color: white"
>
  <p class="mt-5">No Data Found</p>
</div>
