<div *ngIf="add">
  <nz-form-control [nzSm]="24" [nzXs]="12">
    <input type="file" name="attachmentFile" (change)="onFile($event)" />
  </nz-form-control>
  &nbsp;
  <nz-input-group>
    <textarea
      placeholder="Type your comments here..."
      id="ctextarea"
      rows="4"
      nz-input
      [(ngModel)]="comment"
    ></textarea>
  </nz-input-group>
  <br />
  <div class="row right-align">
    <button nz-button nzType="primary" (click)="addDocs()">Upload</button>
  </div>
</div>
<div *ngIf="documentRecords && documentRecords.length > 0">
  <div
    *ngFor="let c of documentRecords; let i = index"
    style="background: #ffffff1f; padding: 14px 15px; margin-bottom: 13px"
  >
    <div style="display: flex; justify-content: space-between; font-size: 12px">
      <p>{{ c.createdby }}</p>
      <p style="color: gold">
        {{ c.createddt | date: "dd-MMM-yyyy hh:mm a" }}
      </p>
    </div>
    <div>
      <p style="margin: 0">{{ c.comment }}</p>
    </div>
    <div class="row right-align">
      <ng-template #pTemplate>
        <div>
          <p>File Name : {{ c.filename }}</p>
          <p>File Size : {{ c.filesize }}</p>
        </div>
      </ng-template>
      <a (click)="downloadFile(c.meta)"
        ><i
          class="anticon anticon-download"
          nz-popover
          nzTitle="Title"
          [nzContent]="pTemplate"
          nzTrigger="hover"
        ></i
      ></a>
      &nbsp;&nbsp;
      <a
        nz-popconfirm
        nzTitle="Are you sure?"
        nzOkText="Ok"
        nzCancelText="Cancel"
        title="Delete"
        (nzOnConfirm)="deleteDocument(c)"
      >
        <i
          *ngIf="delete && c.createdby == userstoragedata.fullname"
          class="anticon anticon-delete"
          style="color: #ffcc00"
        ></i></a>
    </div>
  </div>
</div>
<div
  *ngIf="documentRecords && documentRecords.length <= 0"
  style="text-align: center; color: white"
>
  <p class="mt-5">No documents yet.</p>
</div>
