<div nz-row>
        <div nz-col nzSpan="24" class="right-align">
          <button
            nzSize="small"
            nz-button
            nzType="primary"
            (click)="updateTagVisible = !updateTagVisible"
          >
            Edit Tags
          </button>
        </div>
        <div nz-col nzSpan="24">
          <div *ngFor="let item of groupedTagsList | keyvalue" nz-row>
            <div nz-col nzSpan="24">
              <p style="margin: 13px 0 0 0; font-weight: bolder">
                {{ item.key == "null" ? "Other" : item.key }}
              </p>
            </div>
            <div nz-col nzSpan="24">
              <app-cloudmatiq-data-table
                [tableData]="item.value"
                [tableHeader]="tagTableHeader"
                [tableConfig]="tagTableConfig"
              >
              </app-cloudmatiq-data-table>
            </div>
          </div>
        </div>
      </div>
      <button
        nzSize="small"
        nz-button
        nzType="primary"
        (click)="updateTags()"
        [nzLoading]="updatingTags"
      >
        Save
      </button>