<table id="assetdetail" style="width: 100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of selectedResource">
      <td>{{ r.fieldname }}</td>
      <td>
        <app-cloudmatiq-mask-text [maskable]="r.protected || false">
          <span
            *ngIf="
              r.fieldtype == 'Text' ||
              r.fieldtype == 'DateTime' ||
              r.fieldtype == 'Date' ||
              r.fieldtype == 'Integer' ||
              r.fieldtype == 'Float' ||
              r.fieldtype == 'Select' ||
              r.fieldtype == 'Textarea' ||
              r.fieldtype == 'STATUS'
            "
          >
            {{ resourceDetails[r.fieldkey] || "-" }}
          </span>
          <span *ngIf="r.fieldtype == 'Boolean'" style="font-style: italic">
            {{ resourceDetails[r.fieldkey] || "-" }}
          </span>
          <span *ngIf="r.fieldtype == 'URL'" style="font-style: italic">
            <a [href]="resourceDetails[r.fieldkey] || '-'">
              {{ resourceDetails[r.fieldkey] || "-" }}
            </a>
          </span>
          <div *ngIf="r.fieldtype == 'REFERENCE'">
            <div *ngIf="parseJSON(resourceDetails[r.fieldkey]) != null">
              <a
                style="margin-right: 5px"
                *ngFor="let obj of parseJSON(resourceDetails[r.fieldkey])"
              >
                {{ obj["name"] }} ({{ obj["crn"] }}/{{ obj["resourceid"] }})
              </a>
              <!-- <table style="width: 100%">
                      <tr
                        *ngFor="
                          let item of parseJSON(resourceDetails[r.fieldkey])
                            | keyvalue
                        "
                      >
                        <td style="border: 1px dashed grey; width: 50%">
                          <b>{{ item.key }}</b>
                        </td>
                        <td style="border: 1px dashed grey">
                          {{ item.value }}
                        </td>
                      </tr>
                    </table> -->
            </div>
            <div *ngIf="parseJSON(resourceDetails[r.fieldkey]) == null">-</div>
          </div>
          <div *ngIf="r.fieldtype == '_TEXT' || r.fieldtype == '_INT'">
            <ul *ngIf="resourceDetails[r.fieldkey].split('||').length > 0">
              <li *ngFor="let l of resourceDetails[r.fieldkey].split('||')">
                {{ l || "-" }}
              </li>
            </ul>
            <span *ngIf="resourceDetails[r.fieldkey].split('||').length == 0">
              -
            </span>
          </div>
        </app-cloudmatiq-mask-text>
      </td>
    </tr>
  </tbody>
</table>
