<nz-spin [nzSpinning]="loading" [nzTip]="loadermessage" [nzSize]="'large'">
  <nz-tabset [nzTabBarExtraContent]="extraTemplate" [nzSelectedIndex]="tabIndex" (nzSelectChange)="tabChanged($event)">
    <nz-tab nzTitle="Info">

      <div nz-row>
        <div nz-col nzSpan="12" class="col s12">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="monitoringname" nzRequired>Name
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input nz-input placeholder="Monitoring Name" [(ngModel)]="monitoringname" type="text" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="col s24">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24">Notes
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <textarea [(ngModel)]="notes" type="text" nz-input></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <br />
      <div *ngIf="!edit" nz-row>
        <div nz-col nzSpan="24">
          <h4 style="margin-left: 11px" class="amber-text">Import</h4>
        </div>
      </div>
      <div *ngIf="!edit" nz-row>
        <div nz-col nzSpan="6">
          <!-- <input type='file' (change)="fileChanged($event)"> -->
          <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" nzLimit="1">
            <button nz-button style="margin-right: -90px">
              <i class="anticon anticon-upload"></i><span>Click to upload</span>
            </button>
          </nz-upload>
        </div>
        <div nz-col nzSpan="18">
          <span class="amber-text"><a href="../../../../assets/ssl-sample.csv">Download sample csv</a></span>
        </div>
      </div>
      <br />
      <div nz-row>
        <div nz-col nzSpan="24">
          <h4 style="margin-left: 11px" class="amber-text">Enter Monitoring URL's</h4>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <table id="grouptable">
            <thead>
              <th width="50%">URL</th>
              <th width="50%">Instances</th>
              <th width="3%">
                <span style="float: right"><i class="anticon anticon-plus" (click)="addRow()"
                    style="color: #ffcc00"></i></span>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let t of listofurls let i = index; ">
                <td>
                  <input nz-input placeholder="Enter url" [(ngModel)]="t.url" type="text" />
                </td>
                <td>
                <nz-select
                [(ngModel)]="t.instancerefid"
                style="width:100%"
                nzAllowClear
                nzPlaceHolder="Choose"
                nzShowSearch
              >
              <nz-option 
              *ngFor="let option of instanceList;"
                [nzLabel]="option.instancename"
                [nzValue]="option.instancerefid" 
                ></nz-option>

                  </nz-select>
                </td>
                <td>
                  <span style="float: right"><i class="anticon anticon-delete" (click)="deleteRow(i)"
                      style="color: #ffcc00; padding-top: 12px"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div nz-row>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Change Logs" *ngIf="monitoringObj.id !== undefined && monitoringObj.id !== null && isChangelogs">
      <app-comments *ngIf="tabIndex == 1" [resourceDetails]="monitoringObj" [resourceId]="monitoringObj.refid"
        [refType]="'history'"></app-comments>
    </nz-tab>
  </nz-tabset>
</nz-spin>
<div class="right mr-0">
  <button *ngIf="tabIndex == 0" (click)="saveOrUpdate()" class="mt-1 save-button" type="submit" nz-button
    nzType="primary">
    {{ button }}
  </button>
</div>
<div *ngIf="view" nz-row>
  <div class="row" id="ntfid" style="color:white">
    <div class="col s2 m2">Monitoring Name</div>
    <div class="col s1 m1">:</div>
    <div class="col s8 m8">{{ monitoringname }}</div>
  </div>
  <div class="row" id="ntfid" style="color:white">
    <div class="col s2 m2">Notes</div>
    <div class="col s1 m1">:</div>
    <div class="col s8 m8">{{ notes }}</div>
  </div>
  <br />
  <div nz-row>
    <div nz-col nzSpan="24">
      <table id="grouptable">
        <thead>
          <th width="60%" class="amber-text">URL</th>
          <th width="15%" class="amber-text">Expiry Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let t of listofurls; let i = index">
            <td><span style="color: white;">{{t.url}}</span></td>
            <td><span style="color: white;">{{t.validity_end | date: "dd-MMM-yyyy"}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>