.mainlayout {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
}
.mainlayout.status {
  color: #2d3232;
}
.color-green,
.status-none {
  color: #aabb11;
}
.layout-content.status .masthead-container.basic {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}
.layout-content.status .masthead-container.basic .masthead {
  /* padding-top: 36px; */
}
.layout-content.status .masthead-container .masthead {
  /* margin-bottom: -23px; */
}
.layout-content.status .masthead-container.basic .masthead .logo-container {
  float: right;
  max-width: 40%;
  margin: 0px;
}
.layout-content.status .masthead-container.basic .masthead .dahboard-name {
  float: left;
}
.flat-button,
.layout-content.status
  .masthead-container
  .updates-dropdown-container
  .show-updates-dropdown {
  box-shadow: 0 -2px 0 rgb(0 0 0 / 15%) inset;
  -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 -2px 0 rgb(0 0 0 / 15%) inset;
  -o-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
  -ms-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  font-size: 12px;
  line-height: 18.6px;
  font-size: 0.75rem;
  line-height: 1.1625rem;
  font-weight: 500;
  border: none;
  display: inline-block;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 15px 9px;
  position: relative;
}
.layout-content.status
  .masthead-container
  .updates-dropdown-container
  .updates-dropdown {
  right: 0px;
}
.clearfix {
  clear: both;
  zoom: 1;
}

.container {
  width: 90%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.layout-content.status.status-index .page-status.status-none {
  background-color: #aabb11;
}

.layout-content.status.status-index .page-status {
  font-weight: 500;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  margin-bottom: 70px;
  padding: 0.75rem 1.25rem;
}

.layout-content.status.status-index .page-status .status {
  color: #fff;
  position: relative;
  top: 2px;
}

.font-large {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}

.layout-content.status.status-index .page-status .last-updated-stamp {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  float: right;
  position: relative;
  top: 7px;
}

.font-small,
small {
  font-size: 14px;
  line-height: 21.35px;
  font-size: 0.875rem;
  line-height: 1.334375rem;
}
.layout-content.status.status-index .components-section {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  margin-bottom: 70px;
}
.fa,
i.component-status {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-content.status.status-index
  .components-section
  .components-uptime-link {
  /* text-align: right; */
  font-size: 0.85em;
}

.layout-content.status.status-index .components-section .components-container {
  overflow: hidden;
}

.layout-content.status.status-index
  .components-section
  .components-container.one-column
  .component-container:first-child {
  border-top-width: 1px;
  border-radius: 4px 4px 0 0 !important;
  -moz-border-radius: 4px 4px 0 0 !important;
  -webkit-border-radius: 4px 4px 0 0 !important;
  -o-border-radius: 4px 4px 0 0 !important;
  -ms-border-radius: 4px 4px 0 0 !important;
}
.layout-content.status.status-index
  .components-section
  .components-container.one-column
  .component-container {
  width: 100%;
  float: none;
  border-bottom-width: 1px;
  border-left-width: 1px !important;
  border-right-width: 1px;
  border-top-width: 0px;
}
.layout-content.status.status-index .components-section .component-container {
  padding: 1.1rem 1.25rem 1rem;
  border-style: solid;
}

.mainlayout.status .layout-content.status .border-color,
hr,
.tooltip-base,
.markdown-display table,
div[id^="subscribe-modal"],
#uptime-tooltip .tooltip-box {
  border-color: #2d3232;
}

.layout-content.status.status-index
  .components-section
  .component-container
  .name {
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  font-weight: 500;
  max-width: 75%;
}

.mainlayout.status .layout-content.status .border-color,
hr,
.tooltip-base,
.markdown-display table,
div[id^="subscribe-modal"],
#uptime-tooltip .tooltip-box {
  border-color: #2d3232;
}

.layout-content.status.status-index
  .components-section
  .components-container.one-column
  .component-container
  .component-status {
  display: inline-block;
}

.layout-content.status.status-index
  .components-section
  .component-container
  .component-status {
  font-size: 0.875rem;
  float: right;
}
.layout-content.status.status-index
  .components-section
  .components-container.one-column
  .component-container
  .icon-indicator {
  display: none;
}
.layout-content.status.status-index
  .components-section
  .component-container
  .icon-indicator {
  float: right;
  position: relative;
  top: 4px;
}
.shared-partial.uptime-90-days-wrapper {
  padding-top: 5px;
  margin-bottom: -2px;
}

.shared-partial.uptime-90-days-wrapper {
  padding-top: 5px;
  margin-bottom: -2px;
}

.shared-partial.uptime-90-days-wrapper svg {
  margin: 0;
  padding: 0;
  height: 34px;
  width: 100%;
  overflow: hidden;
}
.font-regular {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.shared-partial.uptime-90-days-wrapper .legend {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -2px;
}
.layout-content.status
  .shared-partial.uptime-90-days-wrapper
  .legend
  .legend-item.light {
  color: #abadad;
  opacity: 0.5;
}
.layout-content.status
  .shared-partial.uptime-90-days-wrapper
  .legend
  .legend-item {
  color: #abadad;
  opacity: 0.8;
}
.shared-partial.uptime-90-days-wrapper .legend .legend-item.light {
  color: #aaa;
  opacity: 0.5;
}
.shared-partial.uptime-90-days-wrapper .legend .legend-item {
  flex: 0 0 auto;
  font-size: 0.875rem;
  position: relative;
  color: #aaa;
  opacity: 0.8;
}
.layout-content.status .shared-partial.uptime-90-days-wrapper .legend .spacer {
  background: #abadad;
  opacity: 0.3;
}
.shared-partial.uptime-90-days-wrapper .legend .spacer {
  flex: 1;
  margin: 0.75rem 1rem 0 1rem;
  height: 1px;
  background: #aaa;
  opacity: 0.3;
}
.layout-content.status
  .shared-partial.uptime-90-days-wrapper
  .legend
  .legend-item {
  color: #abadad;
  opacity: 0.8;
}
.shared-partial.uptime-90-days-wrapper .legend .legend-item {
  flex: 0 0 auto;
  font-size: 0.875rem;
  position: relative;
  color: #aaa;
  opacity: 0.8;
}
var {
  font-style: normal;
}
.layout-content.status
  .shared-partial.uptime-90-days-wrapper
  .legend
  .legend-item.light {
  color: #abadad;
  opacity: 0.5;
}
.layout-content.status
  .shared-partial.uptime-90-days-wrapper
  .legend
  .legend-item {
  color: #abadad;
  opacity: 0.8;
}
.shared-partial.uptime-90-days-wrapper .legend .legend-item.light {
  color: #aaa;
  opacity: 0.5;
}
.shared-partial.uptime-90-days-wrapper .legend .legend-item {
  flex: 0 0 auto;
  font-size: 0.875rem;
  position: relative;
  color: #aaa;
  opacity: 0.8;
}
#uptime-tooltip {
  display: none;
  z-index: 1000;
}
.layout-content.status.status-index
  .components-section
  .components-container.one-column
  + .component-statuses-legend {
  display: none;
}
.layout-content.status.status-index
  .components-section
  .component-statuses-legend {
  overflow: hidden;
  text-align: center;
  margin-top: 1.5rem;
}
.font-small,
small {
  font-size: 14px;
  line-height: 21.35px;
  font-size: 0.875rem;
  line-height: 1.334375rem;
}
.layout-content.status.status-index
  .components-section
  .component-statuses-legend
  .legend-item {
  display: inline-block;
  margin-right: 5%;
}
.layout-content.status.status-index
  .components-section
  .component-statuses-legend
  .legend-item
  .icon-indicator {
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 0px;
}
.layout-content.status.status-index
  .components-section
  .component-statuses-legend
  .breaker {
  display: none;
}
.mainlayout.status .layout-content.status .border-color,
hr,
.tooltip-base,
.markdown-display table,
div[id^="subscribe-modal"],
#uptime-tooltip .tooltip-box {
  border-color: #2d3232;
}
.mainlayout,
.layout-content.status.status-api
  .section
  .example-container
  .example-opener
  .color-secondary,
.grouped-items-selector,
.layout-content.status.status-full-history .history-nav a.current,
div[id^="subscribe-modal"] .modal-footer,
div[id^="subscribe-modal"],
#uptime-tooltip .tooltip-box {
  background-color: #ffffff;
}
.hidden {
  display: none;
  visibility: hidden;
}
.fa,
i.component-status {
  display: inline-block;
  font: normal normal normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
small,
.layout-content.status .table-row .date,
.color-secondary,
.layout-content.status .grouped-items-selector.inline .grouped-item,
.layout-content.status.status-full-history
  .history-footer
  .pagination
  a.disabled,
.layout-content.status.status-full-history .history-nav a,
#uptime-tooltip
  .tooltip-box
  .tooltip-content
  .related-events
  #related-event-header {
  color: #abadad;
}
h3 {
  font-size: 35.2px;
  line-height: 44.352px;
  font-size: 2.2rem;
  line-height: 2.772rem;
  margin-bottom: 0.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.layout-content.status .incidents-list {
  margin-top: 70px;
}
a.no-link {
  text-decoration: none;
  color: inherit;
}
.font-largest {
  font-weight: 500;
  font-size: 28px;
  line-height: 37.8px;
  font-size: 1.75rem;
  line-height: 2.3625rem;
}
.layout-content.status
  .incidents-list.format-expanded
  .status-day:nth-child(2) {
  margin-top: 20px;
}
.layout-content.status .incidents-list.format-expanded .status-day {
  margin-top: 35px;
}
.font-regular {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.layout-content.status .incidents-list.format-expanded .status-day .date {
  font-weight: 500;
  /* border-style: solid; */
  border-bottom: 1px solid;
  border-bottom-width: 1px;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
body.status .layout-content.status .border-color,
hr,
.tooltip-base,
.markdown-display table,
div[id^="subscribe-modal"],
#uptime-tooltip .tooltip-box {
  border-color: #2d3232;
}
.layout-content.status .incidents-list.format-expanded .status-day p {
  margin-bottom: 0px;
}

/* history */

.layout-content.status.status-full-history > .container {
  position: relative;
}
.layout-content.status.status-full-history .history-nav {
  border-bottom-width: 1px;
  border-style: solid;
  margin: 2rem 0;
}
.layout-content.status.status-full-history .history-nav a:not(.current) {
  border: 1px solid transparent !important;
}
.layout-content.status.status-full-history .history-nav a {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  display: inline-block;
  float: left;
  margin-bottom: -1px;
  padding: 10px 18px;
  margin-right: 6px;
  line-height: 20px;
  display: inline-block;
}
a,
a:hover,
.layout-content.status-index .page-footer span a:hover,
.layout-content.status-index
  .timeframes-container
  .timeframe:not(.active):hover,
.layout-content.status-incident .subheader a:hover {
  color: #825fff;
}
a {
  color: #3498db;
  text-decoration: none;
}
.mainlayout,
.layout-content.status.status-api
  .section
  .example-container
  .example-opener
  .color-secondary,
.grouped-items-selector,
.layout-content.status.status-full-history .history-nav a.current,
div[id^="subscribe-modal"] .modal-footer,
div[id^="subscribe-modal"],
#uptime-tooltip .tooltip-box {
  background-color: #ffffff;
}
.layout-content.status.status-full-history .history-nav a.current {
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: transparent;
}

.system:hover {
  fill: #88960e;
}