<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="keyForm">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="keyname"
        >Key Name</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input
            id="keyname"
            formControlName="keyname"
            nz-input
            type="text"
            placeholder="Key Name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="publickey"
        >Public Key</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input
            id="publickey"
            formControlName="publickey"
            nz-input
            type="text"
            placeholder="Public Key"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="!keyForm.valid || disabled"
      (click)="saveUpdateKeys(keyForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
