<nz-spin [nzSpinning]="loading">
<div class="row">
  <div class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="slaname">SLA Name</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input
                type="text"
                nz-input
                [(ngModel)]="slaformObj.slaname"
                placeholder="SLA Name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzFor="notes">Notes</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <textarea
                type="text"
                nz-input
                rows="2"
                [(ngModel)]="slaformObj.notes"
                placeholder="Notes"
              ></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="clearfix"></div>
      <br />
      <h4 class="amber-text ml-2">Availabilty SLA</h4>
      <div class="clearfix"></div>
      <br />
      <div nz-col [nzSpan]="8">
        <div>
          <nz-form-label nzRequired nzFor="uptimeprcnt"
            >Uptime&nbsp;(%)</nz-form-label
          >
          <nz-input-group>
            <input
              type="text"
              nz-input
              [(ngModel)]="slaformObj.uptimeprcnt"
              placeholder="Uptime"
            />
          </nz-input-group>
        </div>
      </div>
      <div nz-col [nzSpan]="8">
        <div>
          <nz-form-label nzRequired nzFor="rpo">RPO&nbsp;(Hrs)</nz-form-label>
          <nz-input-group>
            <input
              type="text"
              nz-input
              [(ngModel)]="slaformObj.rpo"
              placeholder="RPO"
            />
          </nz-input-group>
        </div>
      </div>
      <div nz-col [nzSpan]="8">
        <div>
          <nz-form-label nzRequired nzFor="rto">RTO&nbsp;(Hrs)</nz-form-label>
          <nz-input-group>
            <input
              type="text"
              nz-input
              [(ngModel)]="slaformObj.rto"
              placeholder="RTO"
            />
          </nz-input-group>
        </div>
      </div>
      <div class="clearfix"></div>
      <br />
      <h4 class="amber-text ml-2">Incident SLA</h4>
      <div class="clearfix"></div>
      <br />
      <div class="ml-2">
        <div class="param-table" style="margin-top: 0px">
          <table id="grouptable">
            <thead>
              <th width="5%">Priority</th>
              <th width="10%">Response time&nbsp;(Mins)</th>
              <th width="10%">Resolution time&nbsp;(Hrs)</th>
              <th width="20%">Notes</th>
            </thead>
            <tbody>
              <tr></tr>
              <tr *ngFor="let a of slaformObj.incidentsla">
                <td>
                  <span style="color: #fff">{{ a.priority }}</span>
                </td>
                <td>
                  <input
                    nz-input
                    [(ngModel)]="a.responsetime"
                    style="margin: 0 0 0 1px"
                  />
                </td>
                <td>
                  <input
                    nz-input
                    [(ngModel)]="a.resolutiontime"
                    style="margin: 0 0 0 1px"
                  />
                </td>
                <td>
                  <input
                    nz-input
                    [(ngModel)]="a.notes"
                    style="margin: 0 0 0 1px"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
      <br />
      <h4 class="amber-text ml-2">Service Credits</h4>
      <div class="clearfix"></div>
      <br />
      <div class="ml-2">
        <div class="param-table" style="margin-top: 0px">
          <table id="grouptable">
            <thead>
              <th width="5%">From&nbsp;(%)</th>
              <th width="10%">To&nbsp;(%)</th>
              <th width="10%">Credit&nbsp;(%)</th>
              <th width="20%">
                Notes
                <span style="float: right">
                  <i
                    class="anticon anticon-plus"
                    (click)="addServiceCredits()"
                    style="color: #ffcc00"
                  ></i
                ></span>
              </th>
            </thead>
            <tbody>
              <tr></tr>
              <tr *ngFor="let a of slaformObj.servicecredits; let i = index">
                <td>
                  <input
                    nz-input
                    [(ngModel)]="a.utmin"
                    style="margin: 0 0 0 1px"
                  />
                </td>
                <td>
                  <input
                    nz-input
                    [(ngModel)]="a.utmax"
                    style="margin: 0 0 0 1px"
                  />
                </td>
                <td>
                  <nz-input-number
                    nz-input
                    [(ngModel)]="a.servicecredit"
                    style="margin: 0 0 0 1px"
                  ></nz-input-number>
                </td>
                <td>
                  <span
                    ><input
                      nz-input
                      [(ngModel)]="a.notes"
                      style="margin: 0 0 0 1px;width: 93%;"
                  /></span>
                  <span style="float: right;padding-top: 10px;">
                    <i
                      class="anticon anticon-delete"
                      (click)="deleteServiceCredits(i)"
                      style="color: #ffcc00"
                    ></i
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
      <br/>
      <div nz-row *ngIf="create">
        <div nz-col [nzSpan]="24" style="text-align: right">
          <button
            style="bottom: 0; right: 30px"
            nz-button
            (click)="updateSlaTemplate()"
            [nzType]="'primary'"
          >
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</nz-spin>

