<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body resize-list">
    <form nz-form>
      <div class="col s12 m12 service-edit" *ngIf="approverChain.length > 0">
        <h3 class="white-text mb-0">Approval Chain</h3>
        <div class="serviceform">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="create-service ant-col-md-24 ant-col-lg-24">
              <div class="ant-col-lg-2"></div>
              <div class="ant-col-md-7 ant-col-lg-19 p-b-20 p-t-10">
                <nz-table
                  #basicTable
                  [nzShowPagination]="false"
                  nzSize="medium"
                  [nzData]="approverChain"
                  class="resize-table"
                >
                  <thead>
                    <tr>
                      <th class="left-align">Approver Level</th>
                      <th class="left-align">Name</th>
                      <th class="left-align">Action</th>
                      <th class="center-align">Due Date</th>
                      <th class="left-align">Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let data of basicTable.data"
                      [ngClass]="{
                        'status-pending': data.apprvstatus === 'Pending',
                        'status-rejected': data.apprvstatus === 'Rejected',
                        'status-approved': data.apprvstatus === 'Approved'
                      }"
                    >
                      <td class="left-align">Level {{ data.approverlevel }}</td>
                      <td class="left-align">
                        {{ data.touser?.fullname || data.department }}
                      </td>
                      <td class="left-align">{{ data.apprvstatus }}</td>
                      <td class="center-align">
                        {{
                          data.duedate != null
                            ? (data.duedate | date: "dd-MMM-yyyy")
                            : "To be
                                                determined"
                        }}
                      </td>
                      <td style="width: 35%">
                        {{ data.notes != null ? data.notes : "-" }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 service-edit">
        <h3 class="white-text mb-0">Basic Details</h3>
        <div class="serviceform" *ngIf="requestList?.length > 0">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-lg-2"></div>
            <div class="ant-col-md-7 ant-col-lg-19 p-b-20 p-t-10">
              <nz-table
                #requestTable
                [nzShowPagination]="false"
                class="resize-table"
                nzSize="medium"
                [nzData]="requestList"
              >
                <thead>
                  <tr>
                    <th class="left-align" width="15%">Tenant</th>
                    <th class="center-align">Requested Date</th>
                    <th class="left-align" width="20%">Instance</th>
                    <th class="left-align">Current Plan</th>
                    <th class="right-align">Current Cost</th>
                    <th class="left-align">New Plan</th>
                    <th class="right-align">New Cost</th>
                    <th class="center" nzRight="0px" width="10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of requestTable.data">
                    <td class="left-align">{{ data.tenant?.tenantname }}</td>
                    <td class="center-align">
                      {{ data.createddt | date: "dd-MMM-yyyy" }}
                    </td>
                    <td class="left-align">
                      {{ data.instance?.instancename }}
                    </td>
                    <td class="left-align">
                      {{ data.currentplan?.plantype }}
                    </td>
                    <td>
                      {{ data.currentplan?.currency }}
                      {{ data.currentplan?.cost }}
                    </td>
                    <td>
                      {{ data.upgradeplan?.plantype }}
                    </td>
                    <td>
                      {{ data.upgradeplan?.currency }}
                      {{ data.upgradeplan?.cost }}
                    </td>
                    <td nzWidth="120px" nzRight="0px" class="center-align">
                      <a (click)="viewChart(data)">
                        <i class="anticon anticon-line-chart"></i>&nbsp;&nbsp;
                      </a>
                      <a
                        *ngIf="data?.autoimplementation == 'N' && isApproved"
                        (click)="selectUpgrade(data)"
                      >
                        <i class="anticon anticon-swap"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
        <div *ngIf="requestPanels.length > 0">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-lg-2"></div>
            <div class="ant-col-md-7 ant-col-lg-19 p-b-20 p-t-10">
              <nz-collapse nzAccordion class="customer-collase">
                <nz-collapse-panel
                  *ngFor="let panel of requestPanels"
                  [nzHeader]="panel.name"
                  [nzActive]="panel.active"
                >
                  <nz-table
                    #filterTable
                    [nzData]="panel.data"
                    class="solution-table"
                    [nzShowPagination]="false"
                    [nzFrontPagination]="false"
                  >
                    <thead *ngIf="panel.data?.length > 0">
                      <tr>
                        <th *ngFor="let col of panel.columns">
                          {{ col.name }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of filterTable.data">
                        <td *ngFor="let col of panel.columns">
                          {{ data[col.value] }}
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </div>
        </div>
        <div class="col s12 m12 service-edit clear" *ngIf="isApprover">
          <h3 class="white-text mb-0">Notes</h3>
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-2"></div>
            <div class="ant-col-md-24 ant-col-lg-20 p-b-25" *ngIf="isApprover">
              <nz-form-item>
                <nz-form-control [nzSm]="12" [nzXs]="12">
                  <textarea
                    nz-input
                    placeholder=""
                    [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                    [value]="notes"
                    (input)="notes = $event.target.value"
                  ></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="col s12 m12 service-edit clear">
          <h3 class="white-text mb-0">Approver History</h3>
          <div class="serviceform edit-form">
            <div class="ant-col-md-24 ant-col-lg-24">
              <div
                class="ant-col-md-24 ant-col-lg-24"
                style="margin-left: 63px"
              >
                <nz-collapse [nzBordered]="false">
                  <nz-collapse-panel
                    *ngFor="let panel of panels"
                    [nzHeader]="panelName"
                    [nzActive]="panel.active"
                    (nzActiveChange)="onCollapse($event)"
                  >
                    <nz-timeline *ngFor="let notes of notesList">
                      <nz-timeline-item style="color: white"
                        >{{ notes.notes }}
                        <br />
                        <span
                          class="desc"
                          style="font-style: italic; font-size: 12px"
                          >From: {{ notes.fromuser?.fullname }}
                          {{notes.touserid==null?'':&nbsp;'To:'}}
                          {{ notes.touser?.fullname }}&nbsp;&nbsp;&nbsp;&nbsp;{{
                            notes.lastupdateddt
                              | date
                                : "dd-MMM-yyyy
                                                    hh:mm:ss"
                          }}</span
                        >
                      </nz-timeline-item>
                    </nz-timeline>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
            </div>
          </div>

          <div class="col s12 m12 right-align clear save-button">
            <!-- <button *ngIf="isApproved " nz-button class="service-button mt-1 mr-1" (click)="resizeInstance()"
                        nzType="primary">
                        <span>Resize</span>
                    </button> -->
            <button
              *ngIf="isApprover == true"
              nz-button
              (click)="approve(notes)"
              class="service-button mt-1 mr-1"
              nzType="primary"
            >
              <span>Approve</span>
            </button>
            <button
              nz-button
              (click)="close()"
              class="service-button mt-1 mr-1"
              nzType="primary"
            >
              <span>Close</span>
            </button>
          </div>
        </div>
      </div>
    </form>
    <nz-modal
      [nzVisible]="previewVisible"
      [nzTitle]="previewTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      [nzClosable]="false"
    >
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
      </ng-template>
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="previewVisible = false">
          Close
        </button>
      </ng-template>
    </nz-modal>
  </ng-container>
  <div *ngIf="confirmationWindow">
    <app-adhoc-request
      *ngIf="confirmationWindow"
      [selectedInstance]="selectedInstance"
      (notifyAdhocEntry)="notifyResizeEntry($event)"
      [recommendPlanId]="adhocResizeRecommendPlanId"
      [upgradePlan]="upgradePlan"
    >
    </app-adhoc-request>
    <!-- <nz-modal [nzWidth]="750" [(nzVisible)]="confirmationWindow" [nzTitle]="modalTitle" [nzContent]="modalContent"
            [nzFooter]="modalFooter" (nzOnCancel)="confirmationWindow=false">
            <ng-template #modalTitle>
                Instance Details
            </ng-template>
            <ng-template #modalContent>
                <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
                    <div class="ant-col-md-24 ant-col-lg-8">
                        Tenant Name
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-2">
                        :
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-14">
                        {{selectedInstance?.tenant?.tenantname}}
                    </div>
                </div>
                <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
                    <div class="ant-col-md-24 ant-col-lg-8">
                        Requested Date
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-2">
                        :
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-14">
                        {{selectedInstance?.createddt|date:'dd-MMM-yyyy'}}
                    </div>
                </div>
                <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
                    <div class="ant-col-md-24 ant-col-lg-8">
                        Instance Name
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-2">
                        :
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-14">
                        {{selectedInstance?.instance?.instancename}}
                    </div>
                </div>
                <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
                    <div class="ant-col-md-24 ant-col-lg-8">
                        Current Plan
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-2">
                        :
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-14">
                        {{selectedInstance?.currentplan?.plantype}}
                    </div>
                </div>
                <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
                    <div class="ant-col-md-24 ant-col-lg-8">
                        Current Cost
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-2">
                        :
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-14">
                        {{selectedInstance?.currentplan?.currency}}
                        {{selectedInstance?.currentplan?.cost}}
                    </div>
                </div>
                <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
                    <div class="ant-col-md-24 ant-col-lg-8">
                        New Plan
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-2">
                        :
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-14">
                        {{selectedInstance?.upgradeplan?.plantype}}
                    </div>
                </div>
                <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
                    <div class="ant-col-md-24 ant-col-lg-8">
                        New Cost
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-2">
                        :
                    </div>
                    <div class="ant-col-md-24 ant-col-lg-14">
                        {{selectedInstance?.upgradeplan?.currency}} {{selectedInstance?.upgradeplan?.cost}}
                    </div>
                </div>
                <div class="ant-col-md-24 ant-col-lg-24 m-t-35 materialize-red-text text-lighten-2">
                    <div class="ant-col-md-24 ant-col-lg-24">
                        Please Confirm To Resize The Instance !
                    </div>
                </div>
            </ng-template>

            <ng-template #modalFooter>
                <button class="m-t-20" nz-button nzType="default" (click)="confirmationWindow=false">Cancel</button>
                <button class="m-t-20" nz-button nzType="primary"
                    (click)="resizeInstance(selectedInstance);confirmationWindow=false;">Confirm</button>
            </ng-template>
        </nz-modal> -->
  </div>
  <app-cloudmatiq-side-bar
    [width]="1000"
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
  >
    <ng-container class="modal-content" *ngIf="isVisible">
      <app-server-utils
        [resizeReqObj]="resizeObj"
        (notifyDetailEntry)="notifyDetailEntry($event)"
      >
      </app-server-utils>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    [width]="1000"
    (dataChanged)="onDetailedChanged($event)"
    [(isVisible)]="showDetailedChart"
    [title]="'Resource Utilization Chart'"
  >
    <ng-container class="modal-content" *ngIf="showDetailedChart">
      <app-server-detail-utilization
        [headers]="{
          utype: currentConfigs.utiltype,
          provider: currentConfigs.provider,
          customer: currentConfigs?.customerid,
          instance: currentConfigs?.instanceid
        }"
        [configs]="utilizationDetailConfigs"
      ></app-server-detail-utilization>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
