<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <form nz-form class="serviceform">
      <div class="col s12 m12 service-edit">
        <h3 class="white-text mb-0">Basic Details</h3>
        <div class="serviceform">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Load Balancer Name</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ awslbObj.lbname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12">Listeners</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ listeners }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Certificate ACM</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ awslbObj.certificatearn }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Associated Servers</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ awssolution }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12">Subnet</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ subnet?.subnetname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Security Group</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ awslbObj.lbsecuritygroup?.securitygroupname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Security Policy</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ awslbObj.securitypolicy }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12">Notes</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ awslbObj.notes }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24">
          <h3 class="white-text mb-0">Health Check</h3>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Health Check Port</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ awslbObj.hcport }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Health Check Interval</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ awslbObj.hcinterval }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Health Check Timeout</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ awslbObj.hctimeout }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Healthy Check Threshold</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ awslbObj.hchealthythreshold }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Unhealthy Check Threshold</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ awslbObj.hcunhealthythreshold }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div class="col s12 m12 right-align clear">
        <button
          nz-button
          (click)="router.navigate(['loadbalancers/list'])"
          class="service-button mt-1 mr-1"
          nzType="primary"
        >
          <span>Close</span>
        </button>
      </div>
    </form>
  </ng-container>
</app-cloudmatiq-side-nav>
