<nz-spin [nzSpinning]="isLoading">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="8" *ngIf="installExporters">
      <nz-modal
      [nzWidth]="750"
      [(nzVisible)]="confirmationWindow"
      [nzContent]="validationmsg"
      [nzFooter]="modalFooter"
      (nzOnCancel)="confirmationWindow = false"
    >
      <ng-template #modalFooter>
        <button
          class="m-t-20"
          nz-button
          nzType="default"
          (click)="confirmationWindow = false"
        >
          Cancel
        </button>
        <button
          class="m-t-20"
          nz-button
          nzType="primary"
          (click)="installExporter($event)" 
        >
          Confirm
        </button>
      </ng-template>
    </nz-modal>
      <nz-select nzMode="multiple" (ngModelChange)="addRemoveExporter($event)" [ngModelOptions]="{ standalone: true }"
        style="width: 100%" [nzDisabled]="runOrch" [(ngModel)]="metrics" nzPlaceHolder="Dashboards">
        <nz-option *ngFor="let data of exporterList" [nzLabel]="data.exprtrname" [nzValue]="data"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6">
      <nz-range-picker [(ngModel)]="metricsModel.range" [nzShowTime]="{ nzFormat: 'HH:mm' }"
        (ngModelChange)="reloadMetricsData()" nzFormat="yyyy-MM-dd HH:mm"
        [nzPlaceHolder]="['Start Time', 'End Time']"></nz-range-picker>
    </div>
    <div nz-col nzSpan="4">
      <nz-select style="width: 100%" [(ngModel)]="metricsModel.refresh" (ngModelChange)="reloadMetricsData()"
        nzPlaceHolder="Refresh Interval">
        <nz-option nzValue="5s" nzLabel="5s"></nz-option>
        <nz-option nzValue="10s" nzLabel="10s"></nz-option>
        <nz-option nzValue="15s" nzLabel="15s"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6" *ngIf="installExporters">
      <button nzSize="small" nz-button nzType="primary" style="margin: 0" class="right white-text"
        (click)="showAlert = !showAlert">
        <i class="anticon anticon-eye"></i>
        {{showAlert ? "Hide Progress": "Show Progress"}}
      </button>
    </div>
  </div>
  <app-cloudmatiq-side-bar (dataChanged)="showAlert=false" [(isVisible)]="showAlert" [width]="1100" title="Details">
    <ng-container class="modal-content">
      <app-orchestration-logs *ngIf="showAlert" [instanceObj]="instanceObj"></app-orchestration-logs>
    </ng-container></app-cloudmatiq-side-bar>
  <nz-tabset *ngIf="dsbrdData?.length>0" [nzSelectedIndex]="tabIndex" (nzSelectChange)="tabChange($event)">
    <nz-tab *ngFor="let item of dsbrdData" [nzTitle]="item.exprtrname">
      <div nz-col nzSpan="24" *ngIf="item['url']">
        <iframe name="grafana-frame" id="grafana-frame" style="width: 100%; height: 90vh" [src]="item['url']"
          frameborder="0"></iframe>
      </div>
    </nz-tab>
  </nz-tabset>
  <!-- <div *ngFor="let item of dsbrdData" nz-row nzGutter="16">
  <div nz-col nzSpan="24" *ngIf="item['url']">
    <h4 class="amber-text">{{ item.exprtrname }}</h4>
  </div>
  <div nz-col nzSpan="24" *ngIf="item['url']">
    <iframe
      name="grafana-frame"
      id="grafana-frame"
      style="width: 100%; height: 90vh"
      [src]="item['url']"
      frameborder="0"
    ></iframe>
  </div>
</div> -->
</nz-spin>