<div *ngIf="!gettingDetails">
  <!-- <button nz-button (click)="showUtilChart()" class="m-t-20">
    <i class="anticon anticon-line-chart" style="color: #ffcc00"></i> Show Util
    Chart
  </button> -->
    <span *ngFor="let item of selectedInstance" class="left left-align">
      <h5 class="f-w-bold amber-text m-l-10 f-s-17">
        {{item.instancename}} {{'(' + item.instancerefid + ')'}}
      </h5>
      <h5 class="m-l-10 ant-tabs">Region: {{item.region}}</h5>
    </span>
  <button
    *ngIf="serverDetails"
    nz-button
    class="m-l-10 m-t-20 right right-align"
    (click)="backToDashboard()"
  >
    Back to dashboard
  </button>
</div>
<app-adhoc-request
  *ngIf="adhocResize"
  [selectedInstance]="selectedInstance[0]"
  (notifyAdhocEntry)="
    adhocResize = false; getResizeHistory(instanceObj['instancerefid'])
  "
  [recommendPlanId]="adhocResizeRecommendPlanId"
>
</app-adhoc-request>
<app-cloudmatiq-side-bar
  [width]="1000"
  (dataChanged)="assetUtilizationVisible = false"
  [(isVisible)]="assetUtilizationVisible"
  [title]="'Resource Utilization Chart'"
>
  <ng-container class="modal-content" *ngIf="assetUtilizationVisible">
    <app-server-utils
      [resizeReqObj]="assetUtilization"
      (notifyDetailEntry)="showDrillDownChart()"
    >
    </app-server-utils>
  </ng-container>
</app-cloudmatiq-side-bar>
<nz-tabset
  *ngIf="meta && !gettingDetails"
  style="width: 97%"
  [nzSelectedIndex]="tabIndex"
  (nzSelectChange)="tabChange($event)"
>
  <nz-tab nzTitle="Virtual Server Details">
    <div>
      <div *ngFor="let item of meta | keyvalue">
        <h4 class="amber-text">{{ item.key }}</h4>
        <div *ngFor="let t of item.value; index as ti">
          <h5 class="white-text text-lighten-3 ml-1">
            {{ t["title"] }} :
            <span *ngIf="t.title != 'Instance Name'" class="grey-text">
              {{ t["value"] }}</span
            >
            <span *ngIf="t.title == 'Instance Name'" class="amber-text">
              {{ t["value"] }}</span
            >
          </h5>
        </div>
      </div>
      <div *ngIf="instanceref.asset == 'ASSET_INSTANCE'">
        <h4 class="amber-text">Volumes</h4>
        <app-cloudmatiq-data-table
          [tableData]="metaVolumes.volumeList"
          [tableHeader]="metaVolumes.Volume"
          [tableConfig]="metaVolumes.tagTableConfig"
        >
        </app-cloudmatiq-data-table>
        <h4 class="amber-text">Products</h4>
        <app-cloudmatiq-data-table
          [tableData]="metaProducts.productList"
          [tableHeader]="metaProducts.Products"
          [tableConfig]="metaProducts.tagTableConfig"
        > 
        </app-cloudmatiq-data-table>
             </div>
      <div *ngIf="instanceref.asset == 'VIRTUAL_MACHINES'">
        <h4 class="amber-text">Disks</h4>
        <app-cloudmatiq-data-table
          [tableData]="metaVolumes.diskList"
          [tableHeader]="metaVolumes.disk"
          [tableConfig]="metaVolumes.tagTableConfig"
        >
        </app-cloudmatiq-data-table>
        <h4 class="amber-text">Networks</h4>
        <app-cloudmatiq-data-table
          [tableData]="metaVolumes.networkList"
          [tableHeader]="metaVolumes.network"
          [tableConfig]="metaVolumes.tagTableConfig"
        >
        </app-cloudmatiq-data-table>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Monitoring" *ngIf="showMonitoring">
    <app-cloudmatiq-montioring-detail
      *ngIf="tabTitle == 'Monitoring'"
      [instanceRef]="instanceref"
      [instanceObj]="instanceObj"
      [metricsPlatform]="metricsPlatform"
    ></app-cloudmatiq-montioring-detail>
  </nz-tab>
  <nz-tab nzTitle="Detailed System Info" *ngIf="showSytmInfo">
    <app-security-monitoring
      *ngIf="tabTitle == 'Detailed System Info'"
      [assetData]="instanceObj"
    ></app-security-monitoring>
  </nz-tab>
  <nz-tab nzTitle="Security Compliance" *ngIf="showCompliance">
    <app-security-compliance
      *ngIf="tabTitle == 'Security Compliance'"
      [assetData]="instanceObj"
    ></app-security-compliance>
  </nz-tab>
  <nz-tab nzTitle="Tags">
    <app-cloudmatiq-side-bar
      (dataChanged)="metaTagsSideBarVisible = false"
      [(isVisible)]="metaTagsSideBarVisible"
      [title]="'Add/Edit Tags'"
      [width]="450"
    >
      <ng-container class="modal-content">
        <app-cloudmatiq-tag-picker
          [pickermode]="'combined'"
          [currentTags]="metaTags"
          [mode]="'picker'"
          [disableParams]="true"
          [validateInputs]="true"
          [resourceType]="resourcetype"
          (tagChanges)="metaTagsChanges($event)"
        >
        </app-cloudmatiq-tag-picker>
      </ng-container>
    </app-cloudmatiq-side-bar>
        <button
      *ngIf="tagupdate && !isSyncTags"
      nz-button
      class="m-r-15"
      (click)="metaTagsSideBarVisible = true"
    >
      Add/Edit Tags
    </button>
    <button *ngIf="tagupdate" nz-button (click)="syncAssetTags()">
      Sync Tags
    </button>
    <nz-form-extra class="red-text"
      >* Please sync the tags before update</nz-form-extra
    >
    <app-cloudmatiq-data-table
      [tableData]="metaTagsList"
      [tableHeader]="tagTableHeader"
      [tableConfig]="metaVolumes.tagTableConfig"
    >
    </app-cloudmatiq-data-table>
    <div style="text-align: end">
      <button
        *ngIf="tagupdate && !isSyncTags"
        [nzLoading]="syncingTagstoCloud"
        nz-button
        (click)="syncTags()"
      >
        Save
      </button>
    </div>
    <div class="count-container">
      <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
    </div>
  </nz-tab>
  <!-- <nz-tab nzTitle="Rightsizing">
    <h4 _ngcontent-c22="" class="amber-text">Rightsize Group</h4>
    <div class="row">
      <div class="col s12 m5">
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            [(ngModel)]="rightsizegrpid"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Rightsize Group"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of rightsizegroupList; index as ti"
              [nzLabel]="t.groupname"
              [nzValue]="t.rightsizegrpid"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div class="col s12 m2">
        <button
          class="mr-1"
          nz-button
          nzType="primary"
          (click)="updateInstanceWithRightSizeGroup()"
        >
          Change
        </button>
      </div>
    </div>
    <h4 _ngcontent-c22="" class="amber-text">Rightsize History</h4>
    <div>
      <div class="row">
        <div class="col s12 m2 right right-align mt-1">
          <button nz-button nzType="primary" (click)="adhocResizeReq()">
            Instant Resize
          </button>
        </div>
      </div>
      <app-cloudmatiq-data-table
        [tableData]="resizeReqList"
        [tableHeader]="resizeTableHeader"
        [tableConfig]="resizeTableConfig"
        (dataChanged)="resizeDataChanged($event)"
      >
      </app-cloudmatiq-data-table>
    </div>
  </nz-tab> -->
  <nz-tab [nzTitle]="subtenantLabel" *ngIf="instanceObj">
    <div>
      <app-mapping-instance
        *ngIf="tabTitle == subtenantLabel"
        [assetData]="instanceObj"
        [readOnly]="updatecus"
      ></app-mapping-instance>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Operations" *ngIf="instanceObj ">
    <app-cloudmatiq-operations
      *ngIf="tabTitle == 'Operations'"
      [instancemeta]="instanceRes"
    ></app-cloudmatiq-operations>
  </nz-tab>
  <nz-tab
    nzTitle="Budget & Billing"
    *ngIf="!vmware && instanceObj && showbudget"
  >
    <div>
      <app-asset-costs
        *ngIf="tabTitle == 'Budget & Billing'"
        [assetData]="instanceObj"
        [resource]="'ASSET_INSTANCE'"
        [listOnlyActiveCosts]="true"
      >
      </app-asset-costs>
    </div>
  </nz-tab>
  <nz-tab
    *ngIf="instanceref.cloudprovider == 'AWS' && instanceObj && showsg"
    nzTitle="Security Group"
  >
    <div>
      <app-cloudmatiq-sg-add-edit
        [assetData]="instanceObj"
        [noEdit]="true"
        [sgObj]="awssgobj"
      >
      </app-cloudmatiq-sg-add-edit>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Orchestration" *ngIf="showOrch">
    <app-server-schedules
      [assetData]="instanceObj"
      *ngIf="tabTitle == 'Orchestration'"
    >
    </app-server-schedules>
  </nz-tab><nz-tab nzTitle="Notifications" *ngIf="instanceObj">
    <app-cloudmatiq-alerts
      [reference]="instanceObj"
      *ngIf="tabTitle == 'Notifications'"
    >
    </app-cloudmatiq-alerts>
  </nz-tab>
</nz-tabset>
<div *ngIf="gettingDetails" style="text-align: center; margin-top: 99px">
  <nz-spin></nz-spin>
</div>
