<app-cloudmatiq-side-bar (dataChanged)="onChanged($event)" [(isVisible)]="isworkflowVisible" [title]="workflowformTitle"
      [width]="700">
      <ng-container class="modal-content">
        <!-- <app-workflow-add-edit *ngIf="isVisible" (notifyNewEntry)="notifyNewEntry($event)" [operationMode]="'WKPACK_MAPPING'" [operationRef]="taskResource"></app-workflow-add-edit> -->
        
        <app-workflow-add-edit *ngIf="isworkflowVisible" (notifyNewEntry)="notifySelectionEntry($event)" [operationMode]="'WKPACK_MAPPING'" [operationRef]="selectedWorkflowTask"></app-workflow-add-edit>
      </ng-container>
    </app-cloudmatiq-side-bar>
      <app-cloudmatiq-side-bar
        (dataChanged)="rightbarChanged($event)"
        [(isVisible)]="isVisible"
        [title]="formTitle"
        [width]="500"
      >
        <ng-container class="modal-content">
          <!-- <app-addedittasktemplate [tasktemplateObj]="tasktemplateObj" [taskMode]="taskMode" [taskTemplateFields]="taskResource"
            (notifyNewEntry)="notifyNewTaskEntry($event)">
          </app-addedittasktemplate> -->
        </ng-container>
      </app-cloudmatiq-side-bar>
      <app-cloudmatiq-side-bar
        (dataChanged)="resourceDetailMenuVisible = !resourceDetailMenuVisible"
        [(isVisible)]="resourceDetailMenuVisible"
        [width]="920"
        title="Details"
      >
        <ng-container *ngIf="resourceDetailMenuVisible" class="modal-content">
          <!-- <add-edit-tasktemplete-assets
            [resourceId]="selectedResourceID"
            [(selectedResource)]="selectedTaskResource"
            [(resourceDetails)]="resourceDetails"
            [inboundDetails]="inboudResourceDetails"
            [referringAssetDetails]="referringAssetDetails"
            [highlight]="globalSearchModel"
            (onEmitTagClick)="onSideBarTagClick(true)"
            [(isAddForm)]="isAddForm"
            [recordData]="selectedTaskResource"
            (notifyNewEntry)="notifyNewEntry($event)"
            [(selectedTaskEdit)]="selectedTaskEdit"
          >
          </add-edit-tasktemplete-assets> -->
        </ng-container>
      </app-cloudmatiq-side-bar>
      <div style="height: 100%; width: 100%">
        <div nz-col nzspan="24">
          <div nz-row class="dynamic-form" *ngIf="comparisionDataReady">
            <div (scroll)="compareScroll($event,'comparepanel-'+oidx)" nz-col [nzSpan]="12" class="col s24" [id]="'comparepanel-'+oidx"   class="compare-container" 
            *ngFor="let c of resourceComparisionData; let oidx = index">
              <ng-container *ngFor="let o of c.resourceData; let idx = index">
              
                <div
                  nz-col
                  [nzSpan]="24"
                  class="col s12"
                 
                >
                  <nz-form-item [ngClass]="{
                    'scirpt_notequal': !o.isEqualvalue
                  }">
                    <nz-form-label
                      [nzSm]="24"
                      class="left-align"
                      [nzXs]="12"
                      nzFor="title"
                    >
                      {{ o.fieldname }}
                    </nz-form-label>
                    <div
                      class="formspan"
                      *ngIf="
                        o.fieldtype == 'Text' ||
                        o.fieldtype == 'Integer' ||
                        o.fieldtype == 'Float' ||
                        o.fieldtype == 'URL'
                      "
                    >
                      <nz-input-group>
                        <input
                          nz-input
                          readonly
                          placeholder="Enter value"
                          [(ngModel)]="o.fieldvalue"
                        />
                      </nz-input-group>
                    </div>
                    <div class="formspan" *ngIf="o.fieldtype == 'Password'">
                      <nz-input-group>
                        <input
                          nz-input
                          readonly
                          type="password"
                          placeholder="Enter value"
                          [(ngModel)]="o.fieldvalue"
                        />
                      </nz-input-group>
                    </div>
                    <div class="formspan" *ngIf="o.fieldtype == 'Date'">
                      <nz-input-group>
                        <nz-date-picker
                        nzDisabled
                          [(ngModel)]="o.fieldvalue"
                        ></nz-date-picker>
                      </nz-input-group>
                    </div>
                    <div class="formspan" *ngIf="o.fieldtype == 'DateTime'">
                      <nz-input-group>
                        <nz-date-picker
                        nzDisabled
                          [(ngModel)]="o.fieldvalue"
                          [nzShowTime]="{ nzHideDisabledOptions: true }"
                          nzFormat="dd-MM-yyyy HH:mm:ss"
                        ></nz-date-picker>
                      </nz-input-group>
                    </div>
                    <div
                      class="formspan"
                      *ngIf="o.fieldtype == 'Select' || o.fieldtype == 'STATUS'"
                    >
                      <nz-input-group>
                        <nz-select
                        nzDisabled
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="Select"
                          [(ngModel)]="o.fieldvalue"
                        >
                          <nz-option
                            *ngFor="let p of o.defaultValues"
                            [nzValue]="p"
                            [nzLabel]="p"
                          ></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </div>
                    <div class="formspan" *ngIf="o.fieldtype == 'Boolean'">
                      <nz-radio-group
                      readonly
                        nzName="radiogroup"
                        [(ngModel)]="o.fieldvalue"
                      >
                        <label nz-radio nzValue="true">True</label>
                        <label nz-radio nzValue="false">False</label>
                      </nz-radio-group>
                    </div>
                    <div class="formspan" *ngIf="o.fieldtype == 'REFERENCE'">
                      <nz-select
                      nzDisabled
                        nzShowSearch
                        [(ngModel)]="o.fieldvalue"
                        nzMode="multiple"
                        nzAllowClear
                        nzPlaceHolder="Select"
                      >
                        <nz-option
                          *ngFor="let p of o.defaultValues"
                          [nzValue]="p"
                          [nzLabel]="p.name"
                        ></nz-option>
                      </nz-select>
                    </div>
                    <div
                      class="formspan"
                      *ngIf="o.fieldtype == 'Reference Tag'"
                    >
                      <nz-input-group>
                        <input
                        readonly
                          nz-input
                          [(ngModel)]="o.fieldvalue"
                          placeholder="Enter value"
                        />
                      </nz-input-group>
                    </div>
                    <div class="formspan" *ngIf="o.fieldtype == 'Textarea'">
                      <p-editor
                      [readonly]="true"
                        [(ngModel)]="o.fieldvalue"
                        [style]="{ height: '200px' }"
                      ></p-editor>
                      <!-- <textarea rows="4" nz-input [(ngModel)]="o.fieldvalue" placeholder="Enter the value"></textarea> -->
                    </div>
                    <div class="formspan" *ngIf="o.fieldtype == 'DOCUMENT'">
                      <nz-input-group>
                        <input readonly type="file" (change)="onFile($event, o)" />
                      </nz-input-group>
                      <ul class="download-badge-list custom-flex-start">
                        <li
                          class="custom-flex-end"
                          *ngFor="
                            let imgDir of displayPreviewList(o);
                            let inneridx = index
                          "
                        >
                        
                        <a *ngIf="isEdit" (click)="downloadFile(imgDir,o)"
                        ><i
                          class="anticon anticon-download"
                        ></i
                      ></a>
                      <a (click)="removeImage(o, inneridx)"
                        ><i
                          class="anticon anticon-delete"
                        ></i
                      ></a>
                        </li>
                      </ul>
  
                      <!-- <div [innerHtml]="displayPreview(o)">
                  </div> -->
                    </div>
                  </nz-form-item>
                </div>
                <div class="clearfix" *ngIf="!IsDecimalExist(idx/4)"></div>
              </ng-container>
            </div>
            
            <div class="clearfix"></div>
          </div>
          <div class="clearfix m-t-20">
            <div *ngIf="!comparisionDataReady">
              <nz-spin [nzSpinning]="!comparisionDataReady">

              </nz-spin>
            </div>
          </div>
          <!-- <div nz-row>
            <div nz-row nzType="flex" nzJustify="end">
              <div nz-col nzSpan="6" *ngIf="taskResourceTypeList.length > 0">
                <div class="full-width">
                  <nz-form-label
                    [nzSm]="24"
                    class="left-align"
                    [nzXs]="12"
                    nzFor="title"
                  >Task Template</nz-form-label>
                  <nz-select
                    style="width: 100%"
                    nzShowSearch
                    [(ngModel)]="selectedTaskResourceName"
                    nzAllowClear
                    nzPlaceHolder="Select Task Template"
                    (ngModelChange)="changeTaskResourceType($event)"
                  >
                    <nz-option
                      *ngFor="let p of taskResourceTypeList"
                      [nzValue]="p.relation"
                      [nzLabel]="p.fieldname"
                    ></nz-option>
                  </nz-select>
                </div>
              </div>
              <div nz-col nzSpan="2">
                <button
                  [disabled]="selectedTaskResource.length == 0"
                  nzSize="small"
                  nz-button
                  (click)="openAddView()"
                  nzType="primary"
                  style="float: right;"
                >
                  <i class="anticon anticon-plus"></i>
                </button>
              </div>
            </div>

            <div class="clearfix"></div>
            <app-takstemplateList
              [selectedTaskResourceId]="selectedTaskResourceId" [selectedTaskResourceName]="selectedTaskResourceName" (notifyTaskEditEntry)="notifyTaskEditEntry($event)"
            ></app-takstemplateList>
          </div> -->
        </div>
      </div>
      <!-- <nz-tabset
        [nzSelectedIndex]="temptabIndex"
        (nzSelectChange)="tabChanged($event)"
      >
          
        
      </nz-tabset> -->