<form nz-form [formGroup]="configForm">
  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
              >Tag
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                formControlName="tagid"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Tag"
                nzShowSearch
                (ngModelChange)="tagChanged($event)"
              >
                <nz-option
                  *ngFor="let t of tagList; index as ti"
                  [nzLabel]="t.tagname"
                  [nzValue]="t.tagid"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagvalue"
              >Tag Value
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <input
                *ngIf="selectedTag == null"
                nz-input
                placeholder="Tag Value"
                (ngModelChange)="getInstancesWithFilter()"
                disabled
              />
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'list'
                "
                formControlName="tagvalue"
                (ngModelChange)="getInstancesWithFilter()"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Tag Value"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of selectedTag.lookupvalues; index as ti"
                  [nzLabel]="t"
                  [nzValue]="t"
                >
                </nz-option>
              </nz-select>
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'boolean'
                "
                formControlName="tagvalue"
                (ngModelChange)="getInstancesWithFilter()"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Tag Value"
                style="width: 95%"
              >
                <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                <nz-option nzLabel="No" nzValue="No"> </nz-option>
              </nz-select>
              <nz-date-picker
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'date'
                "
                formControlName="tagvalue"
                nzFormat="dd-MMM-yyyy"
              ></nz-date-picker>
              <input
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'text'
                "
                formControlName="tagvalue"
                (ngModelChange)="getInstancesWithFilter()"
                nz-input
                placeholder="Tag Value"
              />
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'number'
                "
                formControlName="tagvalue"
                (ngModelChange)="getInstancesWithFilter()"
              ></nz-input-number>
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'range'
                "
                formControlName="tagvalue"
                [nzMin]="selectedTag.min"
                [nzMax]="selectedTag.max"
                (ngModelChange)="getInstancesWithFilter()"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label
          class="left-align"
          [nzSm]="24"
          [nzXs]="12"
          nzFor="rtype"
          nzRequired
          >Instances
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <nz-select
            style="width: 100%"
            nzMode="tags"
            formControlName="instances"
            nzPlaceHolder="Please select"
          >
            <nz-option
              *ngFor="let option of instanceList"
              [nzLabel]="option.instancename"
              [nzValue]="option.instancerefid"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <br />
    <div class="amber-text">Patching operation</div>
    <div class="clearfix"></div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <nz-radio-group nzName="radiogroup" formControlName="operation">
            <label nz-radio nzValue="SI">Scan and install</label>
            <label nz-radio nzValue="Scan">Scan only</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="amber-text">Patching schedule</div>
    <div class="clearfix"></div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <nz-radio-group nzName="radiogroup" formControlName="configtype">
            <label nz-radio nzValue="SCHEDULEPATCH"
              >Select an existing Maintenance Window</label
            >
            <label nz-radio nzValue="PATCHNOW"
              >Skip scheduling and patch instances now</label
            >
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="clearfix"></div>
    <div
      nz-col
      nzSpan="24"
      *ngIf="configForm.value.configtype == 'SCHEDULEPATCH'"
    >
      <nz-form-item>
        <nz-form-label
          class="left-align"
          [nzSm]="24"
          [nzXs]="12"
          nzFor="rtype"
          nzRequired
          >Maintenance window
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <nz-select
            style="width: 100%"
            formControlName="maintwindowid"
            nzPlaceHolder="Maintenance window"
          >
            <nz-option
              *ngFor="let c of mainWindowList"
              [nzLabel]="c.label"
              [nzValue]="c.WindowId"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="right mr-0">
      <button
        class="mt-1 save-button"
        type="submit"
        nz-button
        nzType="primary"
        [nzLoading]="addingconfig"
        (click)="configure()"
      >
        Configure
      </button>
    </div>
  </div>
</form>
