<nz-tabset
  [nzSelectedIndex]="pmtabIndex"
  (nzSelectChange)="pmTabChanged($event)"
  [nzTabBarExtraContent]="extraTemplate"
>
  <ng-template #extraTemplate>
    <div nz-col nzSpan="24" *ngIf="configpatch">
      <div class="right-align">
        <button nz-button nzType="primary" (click)="showConfig = true">
          Configure Patching
        </button>
        &nbsp;&nbsp;
      </div>
    </div>
  </ng-template>
  <nz-tab nzTitle="Dashboard">
    <div style="padding: 30px">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card1Template"
          >
            <div style="height: 250px">
              <div>
                <span style="float: left">Nodes with missing patches</span>
                <span style="float: right"> 2 </span><br />
              </div>
              <div>
                <span style="float: left">Nodes with failed patches</span>
                <span style="float: right"> 0 </span><br />
              </div>
              <div>
                <span style="float: left">Nodes pending reboot</span>
                <span style="float: right"> 0 </span><br />
              </div>
            </div>
            <ng-template #card1Template>
              <span style="font-size: 15px">Noncompliance counts</span
              ><span class="right" (click)="getDashboard()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card3Template"
          >
            <div>
              <p-chart
                type="doughnut"
                [data]="card3chart"
                [options]="options"
                width="250px"
                height="250px"
              ></p-chart>
            </div>
            <ng-template #card3Template>
              <span style="font-size: 15px">Compliance Summary</span
              ><span class="right" (click)="getDashboard()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card2Template"
          >
            <div>
              <p-chart
                type="doughnut"
                [data]="card2chart"
                [options]="options"
                width="250px"
                height="250px"
              ></p-chart>
            </div>
            <ng-template #card2Template>
              <span style="font-size: 15px">Noncompliance Summary</span
              ><span class="right" (click)="getDashboard()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Compliance">
    <ng-container *ngIf="pmtabIndex == 1">
      <div class="row" nzSpan="24">
        <div class="col s4">
          <nz-select
            id="rtype"
            [(ngModel)]="op_system"
            style="width: 90%"
            nzAllowClear
            nzPlaceHolder="Choose OS"
            nzShowSearch
            (ngModelChange)="getBaselineList()"
          >
            <nz-option
              *ngFor="let os of osList"
              [nzValue]="os"
              [nzLabel]="os"
            ></nz-option>
          </nz-select>
        </div>
        <div class="col s4">
          <nz-select
            id="rtype"
            [(ngModel)]="baseline"
            style="width: 90%"
            nzAllowClear
            nzPlaceHolder="Choose Baseline"
            nzShowSearch
            (ngModelChange)="getComplianceSummary()"
          >
            <nz-option
              *ngFor="let b of patchbaseLines"
              [nzValue]="b.BaselineId"
              [nzLabel]="b.BaselineId"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <app-cloudmatiq-side-bar
      [(isVisible)]="viewServerDetail"
      (dataChanged)="viewServerDetail = false"
      [title]="metaSideBarTitle"
      [width]="950"
    >
      <ng-container class="modal-content" *ngIf="viewServerDetail">
        <app-cloudmatiq-server-detail
          [instanceref]="serverDetail"
          (showDrillDown)="viewServerDetail = false"
        >
        </app-cloudmatiq-server-detail>
      </ng-container>
    </app-cloudmatiq-side-bar>
      <div class="row param-table">
        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="complianceSummary"
          [tableHeader]="complaincesummarytableHeader"
          [selectedcolumns]="selectedcolumns"
          [tableConfig]="complaincesummarytableConfig"
          [widthConfig]="complaincesummarytableConfig.widthConfig"
        ></app-cloudmatiq-data-table>
       
        <div class="count-container">
          <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
        </div>
        </div
    ></ng-container>
  </nz-tab>
  <nz-tab nzTitle="Patch Baselines">
    <ng-container *ngIf="pmtabIndex == 2">
      <div class="row" nzSpan="24" *ngIf="createpb">
        <div class="col s6">
          <nz-select
            id="rtype"
            [(ngModel)]="op_system"
            style="width: 90%"
            nzAllowClear
            nzPlaceHolder="Choose OS"
            nzShowSearch
            (ngModelChange)="getBaselineList()"
          >
            <nz-option
              *ngFor="let z of osList"
              [nzValue]="z"
              [nzLabel]="z"
            ></nz-option>
          </nz-select>
        </div>
        <div class="col s12" class="right-align">
          <button nz-button nzType="primary" (click)="showPatchBaseline()">
            Create Patch Baseline
          </button>
          &nbsp;&nbsp;
        </div>
      </div>
      <div class="row param-table">
        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="patchbaseLines"
          [tableHeader]="pbtableHeader"
          [selectedcolumns]="selectedcolumns"
          [tableConfig]="pbtableConfig"
        ></app-cloudmatiq-data-table>
        <div class="count-container">
          <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
        </div>
        </div
    ></ng-container>
  </nz-tab>
  <nz-tab nzTitle="Patch Operations History">
    <ng-container class="page-body" *ngIf="pmtabIndex == 3">
      <app-cloudmatiq-commandhistory
        [refresh]="pmtabIndex == 3"
        [region]="region"
        [accountid]="accountid"
        [commandtype]="'PATCH'"
      ></app-cloudmatiq-commandhistory>
    </ng-container>
  </nz-tab>
</nz-tabset>
<app-cloudmatiq-side-bar
  (dataChanged)="closeDrawer($event)"
  [(isVisible)]="isVisible"
  [title]="title"
  [width]="480"
>
  <ng-container class="modal-content">
    <app-cloudmatiq-patch-baseline
      [region]="region"
      [accountid]="accountid"
      (notifyBaseLine)="notifyBaseLine($event)"
      [baselineObj]="baselineObj"
      *ngIf="isVisible"
    >
    </app-cloudmatiq-patch-baseline>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
  (dataChanged)="closeDrawer($event)"
  [(isVisible)]="showConfig"
  [title]="'Config Patching'"
  [width]="480"
>
  <ng-container class="modal-content">
    <app-cloudmatiq-config-patch
      [region]="region"
      [accountid]="accountid"
      (notifyConfig)="notifyConfig($event)"
      *ngIf="showConfig"
    >
    </app-cloudmatiq-config-patch>
  </ng-container>
</app-cloudmatiq-side-bar>
