<form nz-form [formGroup]="pbForm">
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="pbname" nzRequired
          >Name
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <input nz-input placeholder="Name" formControlName="pbname" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label
          class="left-align"
          [nzSm]="24"
          [nzXs]="12"
          nzFor="osname"
          nzRequired
          >Operating System
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <nz-select
            style="width: 100%"
            formControlName="osname"
            nzPlaceHolder="Please Operating System"
            nzShowSearch
            nzAllowClear
          >
            <nz-option
              *ngFor="let o of osList"
              [nzLabel]="o.label"
              [nzValue]="o.value"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="clearfix"></div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
          >Description
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <input
            nz-input
            placeholder="Description"
            formControlName="description"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="clearfix"></div>
    <div
      nz-col
      nzSpan="24"
      class="m-t-20"
      *ngIf="baselineObj?.DefaultBaseline == true"
    >
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <label nz-checkbox nzDisabled formControlName="defaultpb" disa
            >Default patch baseline</label
          >
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="right mr-0">
      <button
        class="mt-1 save-button"
        type="submit"
        nz-button
        nzType="primary"
        [nzLoading]="addingpb"
        (click)="createOrUpdatePatchbaseline()"
      >
        {{ buttonTxt }}
      </button>
    </div>
  </div>
</form>
