<app-cloudmatiq-side-nav [loadermessage]="loadermessage">
  <ng-container class="page-body">
    <nz-tabset 
    [nzTabBarExtraContent]="extraTemplate" 
    [nzSelectedIndex]="tabIndex"
    (nzSelectChange)="tabChanged($event)" >
      <ng-template #extraTemplate>
        <div nz-col nzSpan="24" *ngIf="!ExecuteTemplate">
          <div class="right-align">
            <button
              nz-button
              nzType="primary"
              (click)="validate()"
              title="Validate"
              class="m-r-15"
              >
              <i class="anticon anticon-check-circle-o"></i>
            </button>
            <button
            *ngIf="tabIndex == 0"
              [disabled]="disabled"
              (click)="saveOrchestration()"
              nz-button
              nzType="primary"
              [nzLoading]="loading"
              [title]="id ? 'Update': 'Save'"
              class="m-r-15"
            >
            <i class="anticon anticon-save"></i>
            </button>
            <button title="close" nz-button (click)="routeBack()" nzType="primary">
              <i class="anticon anticon-close"></i>
            </button>
            &nbsp;&nbsp;
          </div>
        </div>
      </ng-template>
    <nz-tab nzTitle="Designer/Template">
    <div nz-row>
      <div nz-col>
        <div id="flowrigami"></div>
      </div>
    </div>
    </nz-tab>
    <nz-tab nzTitle="Comments" *ngIf="id !== undefined && !clone">
      <app-comments
        *ngIf="tabIndex == 1"
        [resourceDetails]="orchObj"
        [resourceId]="this.orchObj.refid"
        [refType]="'comments'"
      ></app-comments>
    </nz-tab>
    <nz-tab nzTitle="Documents" *ngIf="id !== undefined && !clone">
      <app-comments
        *ngIf="tabIndex == 2"
        [resourceDetails]="orchObj"
        [resourceId]="this.orchObj.refid"
        [documentType]="true"
        [refType]="'documents'"
      ></app-comments>
    </nz-tab>
    <nz-tab nzTitle="Change Logs" *ngIf="id !== undefined && !clone">
      <app-comments
        *ngIf="tabIndex == 3"
        [resourceDetails]="orchObj"
        [resourceId]="this.orchObj.refid"
        [refType]="'history'"
      ></app-comments>
    </nz-tab>
    </nz-tabset>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="isValidateVisible = false"
    [(isVisible)]="isValidateVisible"
    title="Template Validation"
    [width]="520"
  >
    <ng-container class="modal-content">
      <app-pipeline-validator [exportObj]="exportObj"></app-pipeline-validator>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
