<div nz-row>
  <div nz-col nzSpan="24">
    <form nz-form [formGroup]="CMDBFrom">
      <h3 nz-col nzSpan="24" class="solution-title mb-0 underline">Input</h3>
      <div nz-row>
        <div nz-col nzSpan="24">
          <table id="tableContent" class="width-100">
            <thead>
              <tr>
                <th width="50%">Resource Type</th>
                <th width="50%">Attributes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-select
                        formControlName="resourcetype"
                        nzPlaceHolder="Select Resource type"
                        nzShowSearch
                        nzAllowClear
                        (ngModelChange)="getResourceDetail($event, 'incoming')"
                      >
                        <nz-option
                          *ngFor="let option of resourceTypesList"
                          [nzValue]="option.crn"
                          [nzLabel]="option.resource"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-select
                        formControlName="attributes"
                        nzPlaceHolder="Select Attributes"
                        nzShowSearch
                        nzMode="multiple"
                        nzAllowClear
                      >
                        <nz-option
                          *ngFor="let option of incomingFilteredColumns"
                          [nzValue]="option.fieldname"
                          [nzLabel]="option.fieldname"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h3 nz-col nzSpan="24" class="solution-title mb-0 underline">Output</h3>
      <div nz-row>
        <div nz-col nzSpan="24">
          <table id="tableContent">
            <thead>
              <tr>
                <th width="50%">Resource Type</th>
                <th width="50%">Attributes</th>
                <th width="3%">
                  <span class="right"
                    ><i
                      class="anticon anticon-plus yellow-icon"
                      (click)="addRow()"
                    ></i
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="outgoingResources">
              <tr
                *ngFor="let t of outgoingResources.controls; let i = index"
                [formGroupName]="i"
              >
                <td>
                  <nz-select
                    formControlName="outgoingResourcetype"
                    nzPlaceHolder="Select Resource type"
                    nzShowSearch
                    nzAllowClear
                    (ngModelChange)="getResourceDetail($event, 'outgoing', i)"
                  >
                    <nz-option
                      *ngFor="let option of resourceTypesList"
                      [nzValue]="option.crn"
                      [nzLabel]="option.resource"
                    ></nz-option>
                  </nz-select>
                </td>
                <td>
                  <nz-select
                    formControlName="outgoingattributes"
                    nzPlaceHolder="Select Attributes"
                    nzShowSearch
                    nzMode="multiple"
                    nzAllowClear
                  >
                    <nz-option
                      *ngFor="let option of outgoingFilteredColumns[i]"
                      [nzValue]="option.fieldname"
                      [nzLabel]="option.fieldname"
                    ></nz-option>
                  </nz-select>
                </td>
                <td>
                  <span class="right"
                    ><i
                      class="anticon anticon-delete yellow-icon p-t-12"
                      (click)="deleteRow(i)"
                    ></i
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <button nz-button nzType="primary" class="left" (click)="formValidate()">
      Save
    </button>
  </div>
</div>
