<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="amiForm" (ngSubmit)="saveOrUpdate(amiForm.value)">
    <div class="row" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="aminame"
          >AMI Name</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input
            nz-input
            placeholder="AMI Name"
            formControlName="aminame"
            type="text"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="awsamiid"
          >AWS AMI ID</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-input-group>
            <input
              type="text"
              nz-input
              formControlName="awsamiid"
              placeholder="AWS AMI ID"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="platform"
          >Platform</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="platform"
            placeholder="Select Platform"
            nzPlaceHolder="Select Platform"
            formControlName="platform"
          >
            <nz-option
              *ngFor="let p of platformList"
              [nzLabel]="p.keyvalue"
              [nzValue]="p.keyvalue"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="notes" class="notes"
          >Notes</nz-form-label
        >

        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-input-group>
            <textarea
              id="notes"
              formControlName="notes"
              placeholder="Some Notes.."
              type="text"
              nz-input
            ></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div *ngIf="edit">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status"
            >Status</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-input-group>
              <nz-switch
                class="status"
                id="status"
                formControlName="status"
              ></nz-switch>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="right mr-0">
        <button
          class="mt-1 save-button"
          type="submit"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </form>
</nz-spin>
