<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <!-- <div class="row">
            <div class="col s12 m3 right right-align" style="padding-top: 5px;">
                <button (click)="closeWindow()" nz-button nzType="primary">
                    <i class="anticon anticon-close"></i>Close</button>
            </div>
        </div> -->
    <div nz-row style="height: 88%">
      <div>
        <app-server-detail-prediction
          [headers]="{
            utype: currentConfigs.utiltype,
            provider: currentConfigs.provider,
            customer: customerObj?.customername,
            instance: serverObj?.instancename
          }"
          [configs]="utilizationDetailConfigs"
        ></app-server-detail-prediction>
      </div>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
