.release-view ::ng-deep .ant-card-body {
    padding: 0px 0px 0px 5px;
    margin-top: 3px;
}

.connector {
    min-width: 68px;
    height: 0px;
    border-top: 3px solid #ffffffd1;
    position: absolute;
    bottom: 20px;
}

.release-view ::ng-deep .ant-input:focus,
.ant-input:hover {
    border-color: #8d9ba6;
}

.logdetail {
    min-width: 100%;
    max-width: 100%;
    min-height: 82% !important;
    background-color: rgb(28 46 60);
}

.logdetail-height {
    height: 74.6% !important;
    margin: 0px;
}

.viewlog {
    border-radius: 80px;
    border: none;
    width: 92%;
    min-height: 25px;
    margin: 10px;
    position: relative;
    cursor: grab;
}

.job {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.node-container {
    width: 100%;
    height: auto;
}

.node-container-height {
    height: 112px;
}

pre {
    width: 100%;
    margin: 0px;
    padding: 1px 4px;
    font-size: 13px;
    white-space: pre-wrap;
    color: white;
    background: rgb(28, 46, 60);
    overflow: auto;
    border-radius: 6px;
}

.logdetail-border {
    border: 2px solid #ffcc00cc !important;
}

.selected-job {
    position: fixed;
    bottom: 8px;
    right: 56px;

    h3 {
        color: #aabb11;
    }
}