<!-- <div class="row param-table">
    <app-cloudmatiq-data-table (dataChanged)="dataChanged($event)" [tableData]="ntfList" [tableHeader]="ntfTableHeader" [tableConfig]="ntfTableConfig">
    </app-cloudmatiq-data-table>
</div> -->

<div nz-row>
  <div nz-row style="margin-top: 54px">
    <div nz-col nzSpan="24">
      <div
        class="demo-infinite-container demo-loadmore-list"
        infiniteScroll
        (scrolled)="onScroll()"
      >
        <nz-list
          [nzDataSource]="ntfList"
          [nzRenderItem]="item"
          [nzLoadMore]="loadMore"
          [nzLoading]="loading"
        >
          <ng-template #item let-item>
            <nz-list-item>
              <nz-list-item-meta
                [nzTitle]="nzTitle"
                [nzAvatar]="nzAvatar"
                [nzDescription]="nzDescription"
              >
                <ng-template #nzTitle>
                  <a style="color: whitesmoke">{{ item.content }}</a>
                </ng-template>
                <ng-template #nzDescription>
                  <span
                    class="desc"
                    style="font-style: italic; font-size: 12px"
                  >
                    {{ item.username }} on
                    {{ item.createddt | date: "dd-MMM-yyyy hh:mm:ss" }}
                  </span>
                </ng-template>
                <ng-template #nzAvatar>
                  <nz-badge nzStatus="default"></nz-badge>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
          <ng-template #loadMore>
            <div *ngIf="showLoadingMore" class="loadmore">
              <a *ngIf="!loadingMore" (click)="onLoadMore()" class="amber-text"
                >Loading more</a
              >
              <nz-spin *ngIf="loadingMore" [nzSpinning]="loadingMore"></nz-spin>
            </div>
          </ng-template>
        </nz-list>
      </div>
    </div>
  </div>
</div>
