<div class="example-wrapper">
  <div class="row">
    <div nz-col nzSpan="12" class="m-r-15">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input id="filter-text-box" [(ngModel)]="treeTableSearchbox" type="text" nz-input
          (input)="onFilterTextBoxChanged()" placeholder="Select Template" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button (click)="selectTreeTableNode($event)" class="ant-btn ng-star-inserted ant-btn-primary" nz-button
          nz-dropdown>
          <span>Select</span>
        </button>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <ag-grid-angular style="width: 100%; height: 550px" class="ag-theme-balham-dark" #grid [gridOptions]="gridOptions"
      [columnDefs]="columnDefs" [rowData]="templateTreeList" [cacheQuickFilter]="true"
      [autoGroupColumnDef]="autoGroupColumnDef" [rowSelection]="'single'"
      (firstDataRendered)="onFirstDataRendered($event)" (gridReady)="onGridReady($event)"
      [suppressRowClickSelection]="true" (selectionChanged)="onTreeSelectionChanged($event)"
      (onCellClicked)="onGridClick($event)"></ag-grid-angular>
  </div>

</div>