<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <nz-tabset
      [nzTabBarExtraContent]="extraTemplate"
      [nzSelectedIndex]="tabIndexNo"
      (nzSelectChange)="tabChanged($event)"
    >
      <ng-template #extraTemplate>
        <div nz-col nzSpan="24" *ngIf="!ExecuteTemplate">
          <div class="right-align">
            <button nzSize="small" nz-button (click)="close()" nzType="primary">
              <i class="anticon anticon-close"></i>
            </button>
            &nbsp;&nbsp;
          </div>
        </div>
      </ng-template>
      <nz-tab nzTitle="Info">
    <div class="col s12 m12 generic-request">
      <h3 class="white-text mb-0" *ngIf="genericReqObj.srvrequestid">Basic Details</h3>
      <form
        nz-form
        class="serviceform"
        [formGroup]="genericReqForm"
        (ngSubmit)="saveOrUpdate()"
      >
        <div class="ant-col-md-24 ant-col-lg-24">
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="subject"
                >Title
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <input
                  nz-input
                  id="subject"
                  placeholder="Enter Title"
                  formControlName="subject"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="budget"
                >Budget Available
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-radio-group nzName="radiogroup" formControlName="budget">
                  <label nz-radio nzValue="Y">Yes</label>
                  <label nz-radio nzValue="N">No</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div> -->

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzFor="custmorprjyn"
                >Internal or Customer Project</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select Project"
                  nzAllowClear
                  nzShowSearch
                  formControlName="custmorprjyn"
                >
                  <nz-option
                    *ngFor="let p of projectList"
                    [nzLabel]="p.keyname"
                    [nzValue]="p.keyvalue"
                  ></nz-option>
                </nz-select>
                <nz-form-explain
                  *ngIf="
                    genericReqForm.get('custmorprjyn').dirty &&
                    genericReqForm.get('custmorprjyn').errors
                  "
                >
                  Select Project</nz-form-explain
                >
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="priority"
                >Priority</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  placeholder="Select Priority"
                  nzPlaceHolder="Select Priority"
                  formControlName="priority"
                >
                  <nz-option
                    *ngFor="let p of priority"
                    [nzLabel]="p.keyname"
                    [nzValue]="p.keyvalue"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="assignedto"
                >Assignee</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select Assignee"
                  nzAllowClear
                  nzShowSearch
                  formControlName="assignedto"
                >
                  <nz-option
                    *ngFor="let p of usersList"
                    [nzLabel]="p.fullname"
                    [nzValue]="p.userid"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzFor="environment"
                >Environment</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select Environment"
                  nzAllowClear
                  nzShowSearch
                  formControlName="environment"
                >
                  <nz-option
                    *ngFor="let r of resourceTypesList"
                    [nzValue]="r.resource"
                    [nzLabel]="r.Name"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="decommissionindate"
                >Decommissioning Date</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-group nzCompact>
                  <nz-date-picker
                    nzFormat="dd-MMM-yyyy"
                    nzPlaceHolder="Decommissioning Date"
                    formControlName="decommissionindate"
                  ></nz-date-picker>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div> -->

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="assignedto"
                >Reporter</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select Reporter"
                  nzAllowClear
                  nzShowSearch
                  formControlName="reporter"
                >
                  <nz-option
                    *ngFor="let p of usersList"
                    [nzLabel]="p.fullname"
                    [nzValue]="p.userid"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div class="ant-col-md-24 ant-col-lg-24">
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12" nzFor="customerid"
                >Customer</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select Customer"
                  nzAllowClear
                  nzShowSearch
                  id="customerid"
                  placeholder="Select Customer"
                  formControlName="customerid"
                >
                  <nz-option
                    *ngFor="let c of customersList"
                    [nzLabel]="c.customername"
                    [nzValue]="c.customerid"
                  ></nz-option>
                </nz-select>
                <nz-form-explain
                  *ngIf="
                    genericReqForm.get('customerid').dirty &&
                    genericReqForm.get('customerid').errors
                  "
                >
                  Select {{ subtenantLable }}</nz-form-explain
                >
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12" nzFor="irn" nzRequired
                >Internal Reference Number</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <input
                  nz-input
                  placeholder="Enter Internal Reference Number"
                  formControlName="irn"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div *ngIf="genericReqObj.srvrequestid" class="ant-col-md-24 ant-col-lg-24">
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="sractionstatus">Change Status</nz-form-label>
                            <nz-form-control [nzSm]="8" [nzXs]="12">
                                <nz-select nzPlaceHolder="Select Status" nzAllowClear nzShowSearch id="sractionstatus" formControlName="sractionstatus" [nzServerSearch]="true" (nzOnSearch)="onSearch($event)">
                                    <nz-option *ngFor="let s of statusList" [nzLabel]="s.keyname" [nzValue]="s.keyvalue"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div> -->
          <!-- <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="autodeployyn"
                >Automated Deployment
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-radio-group
                  nzName="radiogroup"
                  formControlName="autodeployyn"
                >
                  <label nz-radio nzValue="Y">Yes</label>
                  <label nz-radio nzValue="N">No</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div> -->

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzFor="departmentname"
                >Department Name
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  id="departmentname"
                  nzPlaceHolder="Select Department Name"
                  formControlName="departmentname"
                >
                  <nz-option
                    *ngFor="let d of departmentList"
                    [nzLabel]="d.keyname"
                    [nzValue]="d.lookupid"
                  ></nz-option>
                </nz-select>
                <nz-form-explain
                  *ngIf="
                    genericReqForm.get('departmentname').dirty &&
                    genericReqForm.get('departmentname').errors
                  "
                >
                  Select Department</nz-form-explain
                >
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="assignedto"
                >Workflow </nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select workflow"
                  nzAllowClear
                  nzShowSearch
                  formControlName="wrkflowid"
                  (ngModelChange)="onWorkflowSelect($event)"
                >
                <nz-option
                  *ngFor="let p of workflowList"
                  [nzLabel]="p.wrkflowname"
                  [nzValue]="p.wrkflowid"
                ></nz-option>
                </nz-select>
                <a class="show-button" (click)="showWorkflowSummary()">
                  Show Workflow Details
                </a>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="startdate"
                >Start Date of Deployment
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-group nzCompact>
                  <nz-date-picker
                    nzFormat="dd-MMM-yyyy"
                    nzPlaceHolder="Start Date"
                    formControlName="startdate"
                  ></nz-date-picker>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div> -->

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzFor="requestdescription"
                >Customer notes</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-group>
                  <p-editor
                  formControlName="notes"
                  [style]="{ height: '220px' }"
                ></p-editor>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>

        </div>
        <div class="col s12 m12 right-align clear save-button">
          <button nz-button class="service-button mt-1 mr-1" nzType="primary">
            {{ buttonText }}
          </button>
          <button
            nz-button
            (click)="close()"
            class="service-button mt-1 mr-1"
            nzType="primary"
          >
            <span>Close</span>
          </button>
        </div>
      </form>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Comments" *ngIf="srvrequestid">
    <app-comments
      *ngIf="tabIndexNo == 1"
      [resourceDetails]="genericReqObj"
      [resourceId]="genericReqObj.srvrequestid"
    ></app-comments>
  </nz-tab>
  <nz-tab nzTitle="Documents" *ngIf="srvrequestid">
    <app-comments
      *ngIf="tabIndexNo == 2"
      [resourceDetails]="genericReqObj"
      [resourceId]="genericReqObj.srvrequestid"
      [documentType]="true"
    ></app-comments>
  </nz-tab>
  <nz-tab nzTitle="Notifications" *ngIf="srvrequestid">
    <div nz-row class="mt-3 ant-col-md-24 ant-col-lg-24">
      <nz-table
        #nzTable
        [nzData]="notificationList"
        [nzScroll]="{ x: '650px' }"
      >
        <thead>
          <tr>
            <th>Receiver</th>
            <th>Notes</th>
            <th>Notify via</th>
            <th class="center-align">Updated Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data; let i = index">
            <td>{{ receivername[i] }}</td>
            <td>{{ data.notes }}</td>
            <td>{{ data.contenttype }}</td>
            <td class="center-align">{{ data.lastupdateddt }}</td>
            <td>{{ data.status }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-tab>
  <nz-tab nzTitle="History" *ngIf="srvrequestid">
    <app-cloudmatiq-asset-history
      *ngIf="tabIndexNo == 4"
      [resourceDetails]="genericReqObj"
      [resourceId]="resourceId"
    ></app-cloudmatiq-asset-history>
  </nz-tab>
  </nz-tabset>
  <!-- workflow -->
  <div *ngIf="showWorkflow" class="col s12 m12">
    <nz-drawer
      id="sidebar-modal"
      [nzBodyStyle]="{ 'padding-bottom': '55px' }"
      [nzMaskClosable]="true"
      [nzWidth]="820"
      [nzVisible]="showWorkflow"
      nzTitle="Workflow"
      (nzOnClose)="showWorkflow = !showWorkflow"
    >
      <div style="opacity: 0.8; pointer-events: none;">
        <app-workflow-add-edit 
          [isView]="false"
          [operationMode]="operationMode"
          [selectedWorkflow]="selectedWorkflow">
        </app-workflow-add-edit>
      </div>
    </nz-drawer>
  </div>
  </ng-container>
</app-cloudmatiq-side-nav>
