<nz-layout class="main-menu">
  <nz-sider [style.background]="'#1C2E3C'" style="height: 100vh; position: fixed; left: 0" class="main-submenu mt-50"
    nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <ul [style.background]="'#1C2E3C'" class="mt-1 scroll-bar" nz-menu [nzTheme]="'dark'" [nzMode]="'inline'"
      [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let item of screens" nz-submenu class="nav-menu" style="margin-bottom: 3px"
        [(nzOpen)]="openMap[item.name]" (nzOpenChange)="openHandler(item.name)">
        <span title><i class="anticon {{ item.icon }}"></i> {{ item.name }}</span>
        <ul>
          <li nz-menu-item *ngFor="let element of item.data" (click)="selectedLink(element.screenurl)">
            <small *ngIf="element.screenname == 'Inbox'" class="inbox-menu-item">({{ pendingCount }})</small>
            <span title>{{ element.screenname }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout [ngClass]="isCollapsed == true ? 'sidenav' : 'header-menu'">
    <nz-header style="padding: 0; display: flex; align-items: center">
      <div nz-col nzSpan="12">
        <ul [style.background]="'#aabb11'" nz-menu [nzMode]="'horizontal'" style="
            background: rgb(170, 187, 17);
            display: flex;
            align-items: center;
          ">
          <li nz-menu-item>
            <a href="#" class="header-logo" style="line-height: 0">
              <img height="35" [src]="tenantLogo" alt="logo" />
            </a>
          </li>
          <li nz-menu-item>
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed"
              [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed = !isCollapsed"></i>
          </li>
          <li nz-menu-item>
            <h2 style="margin: 0; font-size: 17px; font-weight: 300">
              <b class="white-text">{{ title }}</b>
            </h2>
          </li>
        </ul>
      </div>
      <div nz-col nzSpan="12">
        <ul [style.background]="'#aabb11'" nz-menu [nzMode]="'horizontal'" class="right">
          <li nz-menu-item>
            <span class="user-name">
              {{ userfullname }}
              <p class="rolename">({{ rolename }})</p>
            </span>
            <!-- <i class="anticon anticon-user"></i> -->
          </li>
          <!-- <li nz-menu-item (click)="route.navigate(['srm/inbox'])">
            <i class="anticon anticon-inbox">
              <small class="notification">{{ pendingCount }}</small>
            </i>
          </li> -->
          <li nz-menu-item *ngIf="demourl != ''">
            <a href="{{demourl}}" target="_blank" title="Demo Video"><i class="anticon anticon-youtube"></i></a>
          </li>
          <li nz-menu-item (click)="route.navigate(['notifications'])">
            <i class="anticon anticon-notification" title="Notifications"> </i>
          </li>
          <!-- <li nz-menu-item>
            <ng-template #titleTemplate
              ><i nz-icon type="close"></i> Notifications</ng-template
            >
            <ng-template #contentTemplate>
              <div
                nz-row
                style="max-height: 350px; min-width: 350px; overflow-y: scroll"
              >
                <div>One</div>
              </div>
            </ng-template>
            <button
              nzSize="small"
              nz-button
              nzType="primary"
              nz-popover
              [nzTitle]="titleTemplate"
              [nzContent]="contentTemplate"
              nzPlacement="bottomRight"
              style="margin: 0; background: none; border: none"
            >
              <i class="anticon anticon-notification">
                <small class="notification">{{ pendingCount }}</small>
              </i>
            </button>
          </li> -->

          <!-- <li nz-menu-item>
            <i class="anticon anticon-setting"></i>
          </li> -->
          <li nz-menu-item>
            <a nz-popconfirm nzTitle="Are you sure, logout?" nzPlacement="bottomRight" (nzOnConfirm)="logout()"
              title="Logout"><i class="anticon anticon-logout"></i></a>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-content [style.background]="'#475560'" class="main-section">
      <div *ngIf="blockUI" class="row">
        <div class="col s12 text-xs-center center mt-15">
          <nz-spin nzSize="large" *ngIf="loadermessage == ''" nzTip="Loading..."></nz-spin>
          <nz-spin nzSize="large" *ngIf="loadermessage != ''" [nzTip]="loadermessage"></nz-spin>
          <!-- <img src="../../../../assets/loader.gif" alt="loader" srcset="">
                    <h4 *ngIf="loadermessage == ''" class="amber-text mt-1">Loading...</h4>
                    <h4 *ngIf="loadermessage != ''" class="amber-text mt-1">{{loadermessage}}</h4> -->
        </div>
      </div>
      <ng-content *ngIf="!blockUI" select=".page-body"></ng-content>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #template>
  <div class="ant-notification-notice-message">Notifications</div>
  <div *ngIf="count == 0" class="ant-notification-notice-description">
    No Notifications
  </div>
  <nz-list [nzDataSource]="notificationList" nzBordered [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="item.notes" [nzActions]="[editAction]">
        <ng-template #editAction>
          <a (click)="edit(item)">Read</a>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</ng-template>

<div style="display: none; " id="sessionExpired">
  <nz-modal [nzWidth]="750" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    id="sessionExpired-dialog" (nzOnCancel)="logout();">
    <ng-template #modalTitle> Session expired </ng-template>
    <ng-template #modalContent>
      <div class="ant-col-md-24 ant-col-lg-24 p-t-3 amber-text p-b-25">
        Your session has expired. Please login again !
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <button class="m-t-20" nz-button nzType="primary" (click)="logout();">
        Login
      </button>
    </ng-template>
  </nz-modal>
</div>