.section-container {
  margin-bottom: 20px;
  /* Space between sections */
}

.title {
  font-size: 0.5em;
  font-weight: bold;
  color: #dfe5ef;
  text-align: left;
  margin-bottom: 20px;
}

.progress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dfe5ef;
  margin-bottom: 20px;
}

.custom-card {
  position: relative;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #000;
}
.custom-card-subcontrols {
  position: relative;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #4755608f;
}

.custom-text {
  display: block;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 60px;
}

.custom-number {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #516e82;
  color: #ffffff;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 14px;
  width: 50px;
  text-align: center;
}
.customer-collase .ant-collapse {
  border: 1px solid #8d9ba6;
}
.customer-collase {
  .ant-collapse {
    border: 1px solid #8d9ba6;
    margin-bottom: 2px;
    border-radius: 1px;
  }

  .ant-collapse-header {
    color: #aabb11 !important; 
    border: 1px solid #8d9ba6;
  }

  .ant-collapse > .ant-collapse-item {
    border-bottom: 0px;
  }
  .data-container {
    max-height: 440px;
    overflow-y: auto;
  }
  .chart-icon{
    font-size: 28px;
    text-align: end;
    margin-top: 8px;
    padding-right: 15px;
    cursor: pointer;
 }
 .progress-align {
  display: flex;
  justify-content: end;
  align-items: center;
 }
}

.compliance-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .progress-low .ant-progress-circle-path {
  stroke: #52c41a !important;
}

:host ::ng-deep .progress-medium .ant-progress-circle-path {
  stroke: #faad14 !important;
}

:host ::ng-deep .progress-high .ant-progress-circle-path {
  stroke: #f56c6c !important;
}

:host ::ng-deep .progress-critical .ant-progress-circle-path {
  stroke: #f5222d !important;
}

:host ::ng-deep .custom-progress-bar .ant-progress-circle .ant-progress-circle-path {
  stroke-width: 10px;
  transform: scale(0.9);
  transform-origin: center center;
}
:host ::ng-deep .custom-progress-bar .ant-progress-circle .ant-progress-circle-trail {
  stroke-width: 12px;
  transform: scale(0.9);
  transform-origin: center center;
}

