<ng-container *ngIf="isTemplateShowHide">
  <ng-container *ngTemplateOutlet="contentpanel"></ng-container>
</ng-container>

<ng-container *ngIf="!isTemplateShowHide">
  <app-cloudmatiq-side-nav [blockUI]="loading">
    <div class="page-body">
      <ng-container *ngTemplateOutlet="contentpanel"></ng-container>
    </div>
  </app-cloudmatiq-side-nav>
</ng-container>

<ng-template #contentpanel>
  <div class="ant-col-md-24 ant-col-lg-24">
    <div class="">
      <nz-collapse
        class="customer-collase"
        style="padding-top: 40px"
      >
        <nz-collapse-panel
          *ngFor="let g of complianceReport; let i = index"
          [nzHeader]="headerTemplate"
          (nzActiveChange)="onPanelChange($event, g)"
        >
          <!-- ng-template definition -->
          <ng-template #headerTemplate>
            <div nz-row="24">
              <div class="ant-col-16">
                <b class="title" style="font-size: medium">{{ g.title }}</b>
                <p class="desc" style="font-size: small">{{ g.desc }}</p>
              </div>
              <div class="ant-col-7 progress-align">
                <nz-progress
                  [nzPercent]="g.score"
                  nzType="circle"
                  [nzWidth]="45"
                  [ngClass]="g.title !== 'Risk Score' ? getProgressScore(g.score) : getRiskScore(g.score)"
                ></nz-progress>
              </div>
              <div class="ant-col-1 chart-icon">
                <i class="anticon anticon-area-chart" (click)="showDashboard(g.title)"></i>
              </div>
            </div>
          </ng-template>
          <ng-container>
            <div nz-row class="mt-3">
              <div nz-col nzSpan="6" style="margin-bottom: 7px; margin-top: 55px;">
                <div class="section-container" style="margin-bottom: 20px">
                  <div class="progress-section">
                    <nz-progress
                      [nzPercent]="g.score"
                      nzType="circle"
                      [nzWidth]="260"
                      [ngClass]="['custom-progress-bar', g.title !== 'Risk Score' ? getProgressScore(g.score) : getRiskScore(g.score)]"
                    ></nz-progress>
                    <p>Score</p>
                  </div>
                </div>
                <!-- Load the chart here -->
              </div>
                <div nz-col nzSpan="18" class="">
                  <div nz-row [nzGutter]="18">
                    <div nz-col nzSpan="14" *ngIf="g.title === 'Risk Score'" class="compliance-bar">
                      <div nz-row style="width: 50%;">
                        <div style="margin-top: 10px; cursor: pointer;" >
                          <div class="progress-info">
                            <h4 style="color: white;">Compliance Score</h4>
                            <h4 style="color: white;">{{success}}</h4>
                          </div>
                          <div>
                            <nz-progress [nzPercent]= "70" nzSize="small"></nz-progress>
                          </div>
                        </div>
                        <div style="margin-top: 10px; cursor: pointer;">
                          <div class="progress-info">
                            <h4 style="color: white;">Vulnerability Score</h4>
                          </div>
                          <div>
                            <nz-progress [nzPercent]="50" nzSize="small"></nz-progress>
                          </div>
                        </div>
                        <div style="margin-top: 10px; cursor: pointer;">
                          <div class="progress-info">
                            <h4 style="color: white;" >Asset Value Score</h4>
                          </div>
                          <div>
                            <nz-progress [nzPercent]="80" nzSize="small"></nz-progress>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div nz-col nzSpan="9">
                      <div *ngFor="let item of g.values">
                        <div class="custom-card" (click)="onRequirementClick(item, i)">
                          <span class="custom-text">{{ item.control }}</span>
                          <span class="custom-number">{{ item.number }}</span>
                      </div>
                      </div>
                    </div>
                    <div class="data-container" *ngIf="selectedRequirement[i]?.length > 0">
                        <div
                          nz-col
                          nzSpan="9"
                          *ngFor="let subcontrol of selectedRequirement[i]"
                          class="custom-card-subcontrols"
                          [title]="subcontrol.details"
                          (click)="onControlsClick(subcontrol)"
                        >
                          <span class="custom-text">
                            {{ subcontrol.id }} - {{ subcontrol.details }}
                          </span>
                          <span class="custom-number">{{ subcontrol.number }}</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div></ng-container
          >
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</ng-template>

<app-cloudmatiq-side-bar
  (dataChanged)="isModalVisible = false"
  [(isVisible)]="isModalVisible"
  [width]="1200"
  [title]="modalTitle"
>
  <ng-container class="modal-content">
    <span *ngIf="dashboardURL"><iframe [src]="dashboardURL"
      height="850" width="100%" title="Dashboard Content"></iframe>
  </span>
  </ng-container>
</app-cloudmatiq-side-bar>
<app-cloudmatiq-side-bar
(dataChanged)="isVisible = false"
[(isVisible)]="isVisible"
[title]="formTitle"
[width]="1100"
>
<ng-container class="modal-content">
  <app-compliance-logs [modalData]="modalData"></app-compliance-logs>
</ng-container>
</app-cloudmatiq-side-bar>
