<ng-container class="page-body">
  <nz-tabset>
    <nz-tab nzTitle="Schedules"
      ><div class="row">
        <div class="col s12 m2 right right-align mt-1">
          <button nz-button nzType="primary" (click)="isVisible = true">
            <i class="anticon anticon-plus"></i>{{ buttonText }}
          </button>
        </div>
      </div>
      <div class="row param-table">
        <app-cloudmatiq-data-table
          (dataChanged)="dataChangedScheduled($event)"
          [tableData]="orchestrationSchedulesList"
          [tableHeader]="orchestrationSchedulesHeaders"
          [tableConfig]="orchestrationScheduleTableConfig"
        ></app-cloudmatiq-data-table></div
    ></nz-tab>
    <nz-tab nzTitle="Logs">
      <div class="row param-table">
        <app-cloudmatiq-data-table
          (dataChanged)="dataChangedScheduleLog($event)"
          [tableData]="orchestrationLogList"
          [tableHeader]="orchestrationLogHeaders"
          [tableConfig]="orchestrationLogTableConfig"
        ></app-cloudmatiq-data-table>
      </div>
    </nz-tab>
  </nz-tabset>
  <app-cloudmatiq-side-bar
    (dataChanged)="isVisible = false"
    [(isVisible)]="isVisible"
    title="Orchestrations"
    [width]="820"
  >
    <ng-container class="modal-content">
        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="orchestrationList"
          [tableHeader]="orchestrationListHeaders"
          [tableConfig]="orchestrationTableConfig"
        ></app-cloudmatiq-data-table>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <nz-drawer
    id="sidebar-modal"
    [nzBodyStyle]="{
      'padding-bottom': '55px',
      height: 'calc(100% - 55px)',
      overflow: 'auto'
    }"
    [nzMaskClosable]="true"
    [nzWidth]="750"
    [nzVisible]="isLogVisible"
    nzTitle="Log"
    (nzOnClose)="isLogVisible = !isLogVisible"
  >
    <pre
      style="
        color: white;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      "
      >{{ file }}</pre
    >
    <div class="footer">
      <button
        type="button"
        (click)="isLogVisible = !isLogVisible"
        class="ant-btn ant-btn-primary"
      >
        <span>Close</span>
      </button>
    </div>
  </nz-drawer>
  <app-cloudmatiq-side-bar
    (dataChanged)="isLifecycleVisible = false"
    [(isVisible)]="isLifecycleVisible"
    [title]="'Progress'"
  >
    <ng-container class="modal-content">
      <nz-timeline>
        <nz-timeline-item
          [nzColor]="
            l['status'] == 'Completed'
              ? 'green'
              : l['status'] == 'Inprogress'
              ? 'red'
              : 'grey'
          "
          *ngFor="let l of orchLifeCycle"
        >
          <span style="color: white">
            {{ l["title"] }}
          </span>
          <br />
          <span style="color: white; font-size: 11px">
            {{ l["timestamp"] | date: "dd-MMM-yyyy hh:mm:ss" }}
          </span>
        </nz-timeline-item>
      </nz-timeline>
    </ng-container>
  </app-cloudmatiq-side-bar>
</ng-container>
