<nz-spin [nzSpinning]="loading">
  <nz-tabset style="width: 95%">
    <nz-tab nzTitle="Details">
      <div class="cloudasset">
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Name</div>
            <div class="grey-text">: {{ cloudassetObj.assetname }}</div>
          </h4>
        </div>
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Cloud Provider</div>
            <div class="grey-text">: {{ cloudassetObj.cloudprovider }}</div>
          </h4>
        </div>
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">VM ID</div>
            <div class="grey-text">: {{ cloudassetObj.assetid }}</div>
          </h4>
        </div>
        <div class="row" *ngIf="cloudassetObj.drsstate">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">DRS State</div>
            <div class="grey-text">: {{ cloudassetObj.drsstate }}</div>
          </h4>
        </div>
        <div class="row" *ngIf="cloudassetObj.hastate">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">HA State</div>
            <div class="grey-text">: {{ cloudassetObj.hastate }}</div>
          </h4>
        </div>
        <div class="row" *ngIf="cloudassetObj.hoststate">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Host State</div>
            <div class="grey-text">: {{ cloudassetObj.hoststate }}</div>
          </h4>
        </div>
        <div class="row" *ngIf="cloudassetObj.powerstate">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Power Status</div>
            <div class="grey-text">: {{ cloudassetObj.powerstate }}</div>
          </h4>
        </div>
        <div class="row" *ngIf="cloudassetObj.lastupdatedby">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Updated By</div>
            <div class="grey-text">: {{ cloudassetObj.lastupdatedby }}</div>
          </h4>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Tags">
      <app-cloudmatiq-side-bar
        (dataChanged)="metaTagsSideBarVisible = false"
        [(isVisible)]="metaTagsSideBarVisible"
        [title]="'Add/Edit Tags'"
        [width]="450"
      >
        <ng-container class="modal-content">
          <app-cloudmatiq-tag-picker
            [pickermode]="'combined'"
            [currentTags]="metaTags"
            [mode]="'picker'"
            [disableParams]="true"
            [validateInputs]="true"
            [resourceType]="'ASSET_INSTANCE'"
            (tagChanges)="metaTagsChanges($event)"
          >
          </app-cloudmatiq-tag-picker>
        </ng-container>
      </app-cloudmatiq-side-bar>
      <button nz-button (click)="metaTagsSideBarVisible = true">
        Add/Edit Tags
      </button>
      <app-cloudmatiq-data-table
        [tableData]="metaTagsList"
        [tableHeader]="tagTableHeader"
        [tableConfig]="metaVolumes.tagTableConfig"
      >
      </app-cloudmatiq-data-table>
      <div style="text-align: end">
        <button [nzLoading]="syncingTagstoCloud" nz-button (click)="syncTags()">
          Save
        </button>
      </div>
    </nz-tab>
  </nz-tabset>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      (click)="notifyNewEntry.next($event)"
      class="save-button"
      type="submit"
      nz-button
      nzType="primary"
    >
      Close
    </button>
  </div>
</div>
