<!-- <ng-container class="modal-content"> -->
<div nz-row>
  <!-- <nz-button-group>
    <button
      [ngClass]="{ 'active-btn': operator == 0 }"
      nz-button
      class="button"
      [nzType]="operator == 0 ? 'primary' : 'default'"
    >
      AND
    </button>
    <button
      [ngClass]="{ 'active-btn': operator == 1 }"
      nz-button
      class="button"
      [nzType]="operator == 1 ? 'primary' : 'default'"
    >
      OR
    </button>
  </nz-button-group> -->

  <div nz-col nzSpan="24" class="mt-1">
    <button *ngIf="querybuilder==false" style="float: right;" nzSize="small" (click)="addGroup()" nz-button>Add
      Group</button>
  </div>
  <!-- <nz-radio-group [(ngModel)]="operator">
    <label nz-radio nzValue="AND" style="color: white">AND</label>
    <label nz-radio nzValue="OR" style="color: white">OR</label>
  </nz-radio-group> -->
</div>
<!-- <div nz-row>
  <nz-spin [nzSpinning]="dataloading">
    <div> -->
<div class="row" *ngFor="let q of groups;let idx=index">
  <div *ngIf="idx > 0" class="row">
    <div nz-col nzSpan="6" style="
  display: flex;
  align-items: center;
  justify-content: space-between;
" class="card-toggle-btn mt-1">

      <nz-button-group>
        <button [ngClass]="{ 'active-btn': q.operator == 0 }" nz-button (click)="onchangeTab(0,idx)" class="button"
          [nzType]="q.operator == 0 ? 'primary' : 'default'" [nzSize]="small" style="height: 39px;">
          AND
        </button>
        <button [ngClass]="{ 'active-btn': q.operator == 1 }" nz-button (click)="onchangeTab(1,idx)" class="button"
          [nzType]="q.operator == 1 ? 'primary' : 'default'" [nzSize]="small" style="height: 39px;">
          OR
        </button>
      </nz-button-group>
    </div>
    <div nz-col nzSpan="18" class="card-toggle-btn mt-1">
      <span><i class="anticon anticon-close" (click)="deleteGroup(idx)"
          style="color: #ffcc00; padding-top: 12px"></i></span>
      <!-- <button nzSize="small" (click)="addGroup()" nz-button>Remove Group</button> -->
    </div>
  </div>
  <div class="row">
    <table id="grouptable">
      <thead>
        <th width="30%">Attribute</th>
        <th width="15%"></th>
        <th width="52%">Value</th>
        <th width="3%">
          <span style="float: right"><i class="anticon anticon-plus" (click)="addRow(idx)"
              style="color: #ffcc00"></i></span>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let t of q.attributeList; let i = index">
          <td>
            <nz-select style="width: 232px; margin: -14px" [(ngModel)]="t.type" nzShowSearch nzPlaceHolder="Select"
              (ngModelChange)="onAttributeSelect($event, i,idx, true)">
              <nz-option *ngFor="let option of attributes" [nzLabel]="option.title" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </td>
          <td>
            <nz-select style="width: 118px; margin: -18px" [(ngModel)]="t.formula" nzShowSearch nzPlaceHolder="Select">
              <nz-option *ngFor="let option of t.operations" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </td>
          <td>
            <!-- <span *ngIf="t.type && t.type.fieldtype == 'AUTOGEN'">
                    <nz-input-number [nzMin]="1" [(nzMax)]="t.maxseqno" [nzStep]="1" placeholder="Value"
                      [(ngModel)]="t.value" style="width: 100%"></nz-input-number>
                  </span> -->
            <span *ngIf="
                    t.type &&
                    (t.type.fieldtype == 'Text' ||
                      t.type.fieldtype == 'Select' ||
                      t.type.fieldtype == 'URL' ||
                      t.type.fieldtype == 'REFERENCE' ||
                      t.type.fieldtype == 'STATUS' ||
                      t.type.fieldtype == 'Textarea' ||
                      t.type.fieldtype == 'AUTOGEN')
                  ">
              <!-- <input
                      nz-input
                      placeholder="Value"
                      type="text"
                      [(ngModel)]="t.value"
                    /> -->
              <!-- <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="All" [(ngModel)]="t.value">
                      <nz-option *ngFor="let option of t.possibleValues" [nzLabel]="option.label"
                        [nzValue]="option.value">
                      </nz-option>
                    </nz-select> -->
              <p-multiSelect [options]="t.possibleValues" [(ngModel)]="t.value"></p-multiSelect>
            </span>
            <span *ngIf="t.type && t.type.fieldtype == 'Boolean'">
              <nz-select style="width: 95%; margin: -18px" [(ngModel)]="t.value" nzShowSearch nzPlaceHolder="Select">
                <nz-option *ngFor="let option of t.possibleValues" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
                <!-- <nz-option nzValue="true" nzLabel="true"></nz-option>
                <nz-option nzValue="false" nzLabel="false"></nz-option> -->
              </nz-select>
            </span>
            <span *ngIf="t.type && t.type.fieldtype == 'DateTime'">
              <nz-date-picker *ngIf="t.formula != 'BETWEEN'" [(ngModel)]="t.value"
                [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="dd-MM-yyyy HH:mm:ss"></nz-date-picker>
              <nz-range-picker *ngIf="t.formula == 'BETWEEN'" [(ngModel)]="t.value"
                [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="dd-MM-yyyy HH:mm:ss"></nz-range-picker>
            </span>
            <span *ngIf="t.type && t.type.fieldtype == 'Date'">
              <nz-date-picker *ngIf="t.formula != 'BETWEEN'" [(ngModel)]="t.value"></nz-date-picker>
              <nz-range-picker *ngIf="t.formula == 'BETWEEN'" [(ngModel)]="t.value"></nz-range-picker>
            </span>
            <span *ngIf="
                    t.type &&
                    (t.type.fieldtype == 'Integer' ||
                      t.type.fieldtype == 'Float')
                  ">
              <nz-input-group>
                <input type="number" nz-input placeholder="Enter value" [(ngModel)]="t.value" />
              </nz-input-group>
            </span>
          </td>
          <td>
            <span style="float: right"><i class="anticon anticon-delete" (click)="deleteRow(idx,i)"
                style="color: #ffcc00; padding-top: 12px"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
</div>
<!-- </div> -->
<!-- </nz-spin> -->
<!-- </div> -->
<button style="position: absolute; bottom: 7px; right: 7px" nzSize="small" nz-button (click)="applyFilter()"
  nzType="primary">
  Apply Filter
</button>
<!-- </ng-container> -->