<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <!-- #OP_B632 -->
    <div class="param-table" style="margin-top: 0px">
      <div class="row">
        <!-- <div class="col s12 m9 left">
        <div nz-col nzSpan="6" class="m-r-15">
          <nz-select [(ngModel)]="filters.provider" style="width: 95%;" nzAllowClear nzPlaceHolder="Provider"
            (ngModelChange)="providerChanges()">
            <nz-option *ngFor="let t of providerList; index as ti;" [nzLabel]="t.label" [nzValue]="t.value">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="6" class="m-r-15">
          <nz-select [(ngModel)]="filters.asset" style="width: 95%;" nzAllowClear nzPlaceHolder="Asset">
            <nz-option *ngFor="let t of assetTypes; index as ti;" [nzLabel]="t.title" [nzValue]="t.value">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="6" class="m-r-15">
          <nz-select [(ngModel)]="filters.zone" nzShowSearch nzAllowClear nzPlaceHolder="Zone" style="width: 95%;">
            <nz-option *ngFor="let t of zoneList; index as ti;" [nzLabel]="t.label" [nzValue]="t.value">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="2" style="text-align: end;">
          <button nzSize="small" nz-button (click)="getAllCost()" [nzLoading]="isVisible" nzType="primary"
            style="margin: 0 13px 0 0;"><i class="anticon anticon-search"></i></button>
        </div>
      </div> -->
        <div class="col s12 m2 left left-align">
          <button
            *ngIf="createcost"
            nz-button
            nzType="primary"
            (click)="showAddForm()"
          >
            <i class="anticon anticon-plus"></i>Add
          </button>
        </div>

        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="notificationList"
          [tableHeader]="tableHeader"
          [selectedcolumns]="selectedcolumns"
          [tableConfig]="tableConfig"
          [totalCount]="totalCount"
        ></app-cloudmatiq-data-table>
      </div>
    </div>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="showSidebar"
    [title]="formTitle"
    [width]="600"
  >
    <ng-container *ngIf="showSidebar" class="modal-content">
      <app-notification-setup-add-edit
        [notificationObj]="notificationObj"
        (notifyTagEntry)="notifyTagEntry($event)"
      >
      </app-notification-setup-add-edit>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
  (dataChanged)="showFilter = false"
  [(isVisible)]="showFilter"
  [title]="'Filter'"
>
  <ng-container *ngIf="showFilter" class="modal-content">
    <app-filters
      (getFilterValue)="getFilterValue($event)"
      (setFilterValue)="setFilterValue($event)"
      [filterableValues]="filterableValues"
      [existValues]="filteredValues[filterKey]"
      [filterKey]="filterKey"
    >
    </app-filters>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
