<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <div class="ant-col-md-24 ant-col-lg-24 mt-1 tco">
      <div class="ant-col-md-24 ant-col-lg-12">
        <h4 class="white-text mb-0">On Premise Deployment</h4>
        <div class="ant-col-md-24 ant-col-lg-24">
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="realestate"
                >Real Estate (Monthly)
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-number
                  [(ngModel)]="realestate"
                  id="realestate"
                  [nzMin]="0"
                  [nzStep]="10"
                  [nzFormatter]="formatterDollar"
                  [nzParser]="parserDollar"
                  style="width: 100%"
                >
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="elecricity"
                >Electricity (Monthly)
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-number
                  [(ngModel)]="elecricity"
                  id="elecricity"
                  [nzMin]="0"
                  [nzStep]="10"
                  [nzFormatter]="formatterDollar"
                  [nzParser]="parserDollar"
                  style="width: 100%"
                >
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="ssalary"
                >Staffs Salary (Monthly)
              </nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-number
                  [(ngModel)]="ssalary"
                  id="ssalary"
                  [nzMin]="0"
                  [nzStep]="10"
                  [nzFormatter]="formatterDollar"
                  [nzParser]="parserDollar"
                  style="width: 100%"
                >
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="bandwidth"
                >Bandwidth (Monthly)</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-number
                  [(ngModel)]="bandwidth"
                  id="bandwidth"
                  [nzMin]="0"
                  [nzStep]="10"
                  [nzFormatter]="formatterDollar"
                  [nzParser]="parserDollar"
                  style="width: 100%"
                >
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="storage"
                >Storage (Monthly)</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-number
                  [(ngModel)]="storage"
                  id="storage"
                  [nzMin]="0"
                  [nzStep]="10"
                  [nzFormatter]="formatterDollar"
                  [nzParser]="parserDollar"
                  style="width: 100%"
                >
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="premisetco"
                >On Premise TCO</nz-form-label
              >
              <nz-form-control
                [nzSm]="8"
                [nzXs]="12"
                style="margin-top: 10px; color: white"
              >
                <span> {{ totalotco | currency }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24">
          <div class="ant-col-md-24 ant-col-lg-24">
            <h4 class="white-text mb-0">Cloud Deployment</h4>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="payment"
                  >Recurring Payment (Monthly)
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-input-number
                    [(ngModel)]="payment"
                    id="payment"
                    [nzMin]="0"
                    [nzStep]="10"
                    [nzFormatter]="formatterDollar"
                    [nzParser]="parserDollar"
                    style="width: 100%"
                  >
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="cloudtco"
                  >Cloud TCO</nz-form-label
                >
                <nz-form-control
                  [nzSm]="8"
                  [nzXs]="12"
                  style="margin-top: 10px; color: white"
                >
                  <span> {{ totalcTco | currency }} </span>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="col s12 m12 right-align clear save-button">
          <button
            nz-button
            class="service-button mt-1 mr-1"
            nzType="primary"
            (click)="calculate()"
            *ngIf="hide"
          >
            Calculate
          </button>
          <button
            nz-button
            (click)="calculate()"
            *ngIf="show"
            class="service-button mt-1 mr-1"
            nzType="primary"
          >
            Recalculate
          </button>
        </div>
      </div>
      <div class="ant-col-md-24 ant-col-lg-12 center-align">
        <div class="row">
          <div class="count">
            <h4 class="white-text mb-0 mt-1 ml-1">Project Saving</h4>
            <div style="clear: both">
              <br />
              <div class="ant-col-lg-4"></div>
              <div class="ant-col-md-4 ant-col-lg-12">
                <table
                  align="center"
                  style="
                    width: 100%;
                    box-shadow: 1px 2px 1px #585d61;
                    color: white;
                  "
                >
                  <thead style="background-color: #585d61">
                    <tr>
                      <th class="left-align">Yearly Cost</th>
                      <th class="left-align">Percentage</th>
                    </tr>
                  </thead>
                  <tbody style="background-color: #424e57">
                    <tr>
                      <td class="left-align">{{ totalcTco | currency }}</td>
                      <td class="left-align">{{ diffper }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <table align="center" style="width: 80%; box-shadow: 1px 2px 1px #585d61; color: white;">
                                <thead style="background-color: #585d61;">
                                    <tr>
                                        <th class="pad">
                                            Yearly Cost
                                        </th>
                                        <th class="pad">
                                            Percentage
                                        </th>
                                    </tr>
                                </thead>
                                <tbody style="background-color: #424e57;">
                                    <tr>
                                        <td class="pad">
                                            <label [className]="color" style="font-weight: normal;">{{totalcTco |currency}}</label>
                                        </td>

                                        <td class="pad">
                                            <label [className]="color" style="font-weight: normal;">{{diffper}} </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
            </div>
            <br /><br /><br />
            <p-chart
              type="horizontalBar"
              [data]="data"
              *ngIf="calculating"
              [options]="options"
            ></p-chart>
            <p-chart
              type="horizontalBar"
              [data]="data"
              *ngIf="!calculating"
              [options]="options"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
