<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <form nz-form class="serviceform">
      <div class="col s12 m12 service-edit">
        <h3 class="white-text mb-0">Basic Details</h3>
        <div class="serviceform">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Load Balancer Name</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ alibabalbObj.lbname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12">VSwitch</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ alibabalbObj.alivswitch?.vswitchname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Specification</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ alibabalbObj.specification }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12">Notes</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ alibabalbObj.notes }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24">
          <h3 class="white-text mb-0">Listeners</h3>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Front End Port</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ alibabalbObj.alilblistener?.frontendport }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Back End Port</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ alibabalbObj.alilblistener?.backendport }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Health Check Type</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ alibabalbObj.alilblistener?.healthchecktype }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Healthy Threshold</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ alibabalbObj.alilblistener?.healthythreshold }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Un Healthy Threshold</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{
                  alibabalbObj.alilblistener?.unhealthythreshold
                }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Healthy Check Interval</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{
                  alibabalbObj.alilblistener?.healthcheckinterval
                }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Unhealthy Check Timeout</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{
                  alibabalbObj.alilblistener?.healthchecktimeout
                }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div class="col s12 m12 right-align clear">
        <button
          nz-button
          (click)="router.navigate(['loadbalancers/list'])"
          class="service-button mt-1 mr-1"
          nzType="primary"
        >
          <span>Close</span>
        </button>
      </div>
    </form>
  </ng-container>
</app-cloudmatiq-side-nav>
