<div>
  <div class="row">
    <div class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="cloudprovider"
          >Cloud Provider
        </nz-form-label>
        <nz-input-group>
          <input
            id="cloudprovider"
            placeholder="Cloudprovider"
            [(ngModel)]="budgetObj.cloudprovider"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div class="col s12 m3">
      <nz-form-item>
        <nz-form-label
          class="budget-summary-label"
          [nzSm]="24"
          [nzXs]="12"
          nzFor="startdt"
          >Start Date
        </nz-form-label>
        <nz-input-group nzCompact>
          <nz-date-picker
            nzFormat="dd-MMM-yyyy"
            nzPlaceHolder="Start Date"
            [(ngModel)]="budgetObj.startdt"
            disabled
          ></nz-date-picker>
        </nz-input-group>
      </nz-form-item>
    </div>

    <div class="col s12 m3">
      <nz-form-item>
        <nz-form-label
          class="budget-summary-label"
          [nzSm]="24"
          [nzXs]="12"
          nzFor="enddt"
          >End Date
        </nz-form-label>
        <nz-input-group nzCompact>
          <nz-date-picker
            nzFormat="dd-MMM-yyyy"
            nzPlaceHolder="End Date"
            [(ngModel)]="budgetObj.enddt"
            disabled
          >
          </nz-date-picker>
        </nz-input-group>
      </nz-form-item>
    </div>
    <div class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="budgetamount"
          >Budget
        </nz-form-label>
        <nz-input-group>
          <input
            id="budgetamount"
            placeholder="Budget"
            [(ngModel)]="budgetObj.budgetamount"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div *ngIf="budgetObj.customername" class="col s12 m3">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customername"
          >Customer
        </nz-form-label>
        <nz-input-group>
          <input
            id="customer"
            placeholder="Customer"
            [(ngModel)]="budgetObj.customername"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div *ngIf="instanceObj.instancename" class="col s12 m6">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="instancename"
          >Instance Name
        </nz-form-label>
        <nz-input-group>
          <input
            id="instancename"
            placeholder="Instance Name"
            [(ngModel)]="instanceObj.instancename"
            nz-input
            type="text"
            disabled
          />
        </nz-input-group>
      </nz-form-item>
    </div>
  </div>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <div nz-col class="col s12 gutter-row">
      <div nz-row>
        <div>
          <div
            style="
              background: rgba(128, 128, 128, 0.212) !important;
              padding: 13px 0px 33px 0;
              margin-top: 13px;
            "
          >
            <div nz-row id="dailybillingChart"></div>
          </div>
          <div class="col s12 p-t-20">
            <nz-table
              #nzTable
              [nzData]="dailyBillings"
              [nzPageSize]="5"
              class="table-section deploylist"
            >
              <thead>
                <tr>
                  <th class="left-align" nzWidth="30px">Date</th>
                  <th class="left-align" nzWidth="15px">Bill Amount</th>
                </tr>
              </thead>
              <tbody style="color: white">
                <tr *ngFor="let data of nzTable.data">
                  <td class="left-align" nzWidth="30px">
                    {{ data.billingdt }}
                  </td>
                  <td class="left-align" nzWidth="15px">
                    {{ data.billamount | currency: data.currency }}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
</div>
