<nz-spin [nzSpinning]="loading" [nzTip]="loadermessage" [nzSize]="'large'">
    <div class="row" style="margin-bottom: 0">
        <div class="col s12">
                <button
                  nz-button
                  nz-tooltip
                  nzTitle="Add Product"
                  nzPlacement="topLeft"
                  (click)="addProduct()"
                  class=" right right-align mt-1"
                >
                  Add
                </button>
        <app-cloudmatiq-data-table
        [noResult]="'No Parameters found'"
        [tableData]="productList"
        [tableHeader]="productTableHdr"
        [tableConfig]="producttableConfig"
      ></app-cloudmatiq-data-table>
        </div>
    </div>
    <app-cloudmatiq-side-bar
    (dataChanged)="AddeditProductChange($event)"
    [(isVisible)]="showAddEditPanel"
    [title]="'Add/Edit Product'"
    [width]="500"
  >
    <ng-container class="modal-content" *ngIf="showAddEditPanel">
      <form nz-form [formGroup]="addeditForm" (ngSubmit)="saveOrUpdate(addeditForm.value)">
        <div class="row" style="margin-bottom: 0">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="productname"
              >Product Name</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input
                nz-input
                placeholder="Product Name"
                formControlName="productname"
                type="text"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="productcode"
              >Product Code</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input
                nz-input
                placeholder="Product Code"
                formControlName="productcode"
                type="text"
              />
            </nz-form-control>
          </nz-form-item>
          
          <div *ngIf="isedit">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status"
                >Status</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <nz-switch
                    class="status"
                    id="status"
                    formControlName="status"
                  ></nz-switch>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="right mr-0">
            <button
              class="mt-1 save-button"
              type="submit"
              nz-button
              nzType="primary"
            >
              {{ buttonText }}
            </button>
          </div>
        </div>
      </form>
    </ng-container>
  </app-cloudmatiq-side-bar>
</nz-spin>