<nz-tabset [(nzSelectedIndex)]="selectedIndex" class="networking-tab">
  <nz-tab nzTitle="Basic Details">
    <div class="row">
      <form nz-form [formGroup]="lbForm">
        <div class="col s12 m9">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="lbname"
              >Load Balancer Name
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <input
                  [attr.disabled]="noEdit"
                  id="lbname"
                  placeholder="Only a-z, A-Z, 0-9 and hyphens are allowed"
                  formControlName="lbname"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="certificatearn"
              >Certificate ACM
            </nz-form-label>
            <nz-form-control [nzSm]="11" [nzXs]="12">
              <nz-input-group>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  class="width-100"
                  id="certificatearn"
                  [attr.disabled]="noEdit"
                  placeholder="Certificate ACM"
                  nzPlaceHolder="Certificate ACM"
                  formControlName="certificatearn"
                >
                  <nz-option
                    *ngFor="let data of certificationList"
                    [nzLabel]="data.keyname"
                    [nzValue]="data.keyvalue"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="assignlb"
              >Assign LB to
            </nz-form-label>
            <nz-form-control [nzSm]="11" [nzXs]="12">
              <nz-input-group>
                <nz-select
                  formControlName="assignlb"
                  nzMode="multiple"
                  class="width-100"
                  nzShowSearch
                  nzAllowClear
                  id="assignlb"
                  placeholder="Public IP"
                  nzPlaceHolder="Select Servers"
                >
                  <nz-option
                    *ngFor="let i of instanceList"
                    [nzLabel]="i.instancename"
                    [nzValue]="i.awssolutionid"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="subnetid"
              >Subnet</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  class="lb-input-width-92"
                  id="subnetid"
                  placeholder="Select Subnet"
                  nzPlaceHolder="Select Subnet"
                  formControlName="subnetid"
                >
                  <nz-option
                    *ngFor="let data of subnetList"
                    [nzLabel]="data.subnetname"
                    [nzValue]="data.subnetid"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="securitygroupid"
              >Security Group
            </nz-form-label>
            <button
              (click)="openSGForm()"
              [disabled]="noEdit"
              class="ml-1"
              nz-button
              nzType="primary"
            >
              <i class="anticon anticon-plus"></i>
            </button>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  class="lb-input-width-92"
                  id="securitygroupid"
                  nzPlaceHolder="Security Group"
                  formControlName="securitygroupid"
                >
                  <nz-option
                    *ngFor="let data of sgList"
                    [nzLabel]="data.securitygroupname"
                    [nzValue]="data.securitygroupid"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="securitypolicy"
              >Security Policy
            </nz-form-label>
            <nz-form-control [nzSm]="11" [nzXs]="12">
              <nz-input-group>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  class="width-100"
                  id="securitypolicy"
                  placeholder="Security Policy"
                  nzPlaceHolder="Security Policy"
                  formControlName="securitypolicy"
                >
                  <!-- <nz-option nzLabel="ELBSecurityPolicy-2016-08" nzValue="ELBSecurityPolicy-2016-08"></nz-option>
                        <nz-option nzLabel="ELBSecurityPolicy-FS-2018-06" nzValue="ELBSecurityPolicy-FS-2018-06"></nz-option>
                        <nz-option nzLabel="ELBSecurityPolicy-TLS-1-2-2017-01" nzValue="ELBSecurityPolicy-TLS-1-2-2017-01"></nz-option>
                        <nz-option nzLabel="ELBSecurityPolicy-TLS-1-2-Ext-2018-06" nzValue="ELBSecurityPolicy-TLS-1-2-Ext-2018-06"></nz-option>
                        <nz-option nzLabel="ELBSecurityPolicy-TLS-1-1-2017-01" nzValue="ELBSecurityPolicy-TLS-1-1-2017-01"></nz-option>
                        <nz-option nzLabel="ELBSecurityPolicy-2015-05" nzValue="ELBSecurityPolicy-2015-05"></nz-option>
                        <nz-option nzLabel="ELBSecurityPolicy-TLS-1-0-2015-04" nzValue="ELBSecurityPolicy-TLS-1-0-2015-04"></nz-option> -->
                  <nz-option
                    *ngFor="let data of policiesList"
                    [nzLabel]="data.keyname"
                    [nzValue]="data.keyvalue"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="notes"
              >Notes</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <input
                  [attr.disabled]="noEdit"
                  id="notes"
                  placeholder="Notes"
                  formControlName="notes"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <!-- <h4 class="amber-text ml-2">Listeners</h4> -->
          <!-- <div class="col s12 m10 pl-2 pr-2"> -->
          <!-- <div class="row"> -->
          <div class="col s12 m4">
            <h4 class="amber-text ml-2">Listeners</h4>
          </div>
          <div class="col s12 m8">
            <div class="right-align p-r-15">
              <button
                (click)="addListener()"
                [disabled]="noEdit"
                nz-button
                nzType="primary"
              >
                Add Listener
              </button>
            </div>
          </div>
          <!-- </div> -->
          <div formArrayName="listeners" class="p-l-45">
            <div
              *ngFor="
                let rules of getFormArray('listeners').controls;
                let i = index
              "
            >
              <div [formGroupName]="i" class="row security-type">
                <div class="col s12 m3">
                  <nz-form-item>
                    <nz-form-label
                      class="left-align"
                      *ngIf="i == 0"
                      [nzSm]="24"
                      [nzXs]="12"
                      nzRequired
                      nzFor="type"
                    >
                      Instance Protocol
                    </nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="12">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="InstanceProtocol"
                        placeholder="Select Protocol"
                        nzPlaceHolder="Protocol"
                        formControlName="InstanceProtocol"
                      >
                        <nz-option
                          *ngFor="let c of protocolList"
                          [nzLabel]="c.keyvalue"
                          [nzValue]="c.keyvalue"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col s12 m3">
                  <nz-form-item>
                    <nz-form-label
                      class="left-align"
                      *ngIf="i == 0"
                      [nzSm]="24"
                      [nzXs]="12"
                      nzRequired
                      nzFor="type"
                    >
                      Instance Port
                    </nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="12">
                      <nz-input-group>
                        <input
                          type="text"
                          nz-input
                          formControlName="InstancePort"
                          placeholder="Instance Port"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col s12 m3">
                  <nz-form-item>
                    <nz-form-label
                      class="left-align"
                      *ngIf="i == 0"
                      [nzSm]="24"
                      [nzXs]="12"
                      nzRequired
                      nzFor="type"
                    >
                      Protocol
                    </nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="12">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="Protocol"
                        placeholder="Select Protocol"
                        nzPlaceHolder="Protocol"
                        formControlName="Protocol"
                      >
                        <nz-option
                          *ngFor="let c of protocolList"
                          [nzLabel]="c.keyvalue"
                          [nzValue]="c.keyvalue"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col s12 m3">
                  <nz-form-item>
                    <nz-form-label
                      class="left-align"
                      *ngIf="i == 0"
                      [nzSm]="24"
                      [nzXs]="12"
                      nzRequired
                      nzFor="type"
                    >
                      LoadBalancer Port
                    </nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="12">
                      <nz-input-group>
                        <input
                          type="text"
                          nz-input
                          formControlName="LoadBalancerPort"
                          placeholder="LoadBalancer Port"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="s12 delete-buttons">
                  <i
                    (click)="deleteListener(i)"
                    class="anticon hover-pointer delete-icon anticon-delete"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <h4 class="amber-text ml-2">Health Check</h4>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="hcport"
              >Health Check Port
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-input-number
                  class="lb-input-width-92"
                  id="hcport"
                  nzPlaceHolder="Health Check Port"
                  formControlName="hcport"
                  [nzStep]="1"
                ></nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="hcinterval"
              >Health Check Interval
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-input-number
                  class="lb-input-width-92"
                  id="hcinterval"
                  [nzMin]="5"
                  [nzMax]="300"
                  nzPlaceHolder="Health Check Timeout"
                  formControlName="hcinterval"
                  [nzStep]="1"
                >
                </nz-input-number>
                <!-- <nz-select nzShowSearch nzAllowClear id="hcinterval" placeholder="Public IP" nzPlaceHolder="Health Check Interval" formControlName="hcinterval">
                        <nz-option [nzLabel]="'10'" [nzValue]="10"></nz-option>
                        <nz-option [nzLabel]="'30'" [nzValue]="30"></nz-option>
                    </nz-select> -->
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="hctimeout"
              >Health Check Timeout
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-input-number
                  class="lb-input-width-92"
                  id="hctimeout"
                  [nzMin]="2"
                  [nzMax]="60"
                  nzPlaceHolder="Health Check Timeout"
                  formControlName="hctimeout"
                  [nzStep]="1"
                >
                </nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="hchealthythreshold"
              >Healthy Check Threshold
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-input-number
                  class="lb-input-width-92"
                  id="hchealthythreshold"
                  [nzMin]="2"
                  [nzMax]="10"
                  nzPlaceHolder="Health Check Healthy Threshold"
                  formControlName="hchealthythreshold"
                  [nzStep]="1"
                ></nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="hcunhealthythreshold"
              >Unhealthy Check Threshold
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <nz-input-number
                  class="lb-input-width-92"
                  id="hcunhealthythreshold"
                  [nzMin]="2"
                  [nzMax]="10"
                  nzPlaceHolder="Unhealthy Check Threshold"
                  formControlName="hcunhealthythreshold"
                  [nzStep]="1"
                ></nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div class="center-align mr-5">
            <nz-dropdown>
              <button
                style="width: 115px"
                [disabled]="noEdit"
                class="loadbalancer"
                nz-button
                nz-dropdown
              >
                <span>Save</span>
                <i class="anticon anticon-down"></i>
              </button>
              <ul nz-menu>
                <li
                  [nzDisabled]="!lbForm.valid"
                  (click)="saveLb()"
                  nz-menu-item
                >
                  <a>Save Load Balancer</a>
                </li>
                <li (click)="skip()" nz-menu-item>
                  <a>Skip</a>
                </li>
              </ul>
            </nz-dropdown>
          </div>
        </div>
        <div *ngIf="lbList.length > 0" class="col s12 m3 pl-2 pr-2">
          <h4 class="amber-text">Load Balancers</h4>
          <table *ngIf="lbList && lbList.length > 0" style="width: 100%">
            <tr *ngFor="let lb of lbList; let i = index">
              <td *ngIf="lb.lbname" class="white-text">{{ lb.lbname }}</td>
              <td *ngIf="lb.lbname">
                <i
                  (click)="editLB(lb)"
                  class="anticon hover-pointer amber-text anticon-edit ml-2"
                ></i>
                <i
                  (click)="removeLB(lb, i)"
                  class="anticon hover-pointer amber-text anticon-delete ml-1"
                ></i>
              </td>
            </tr>
          </table>
        </div>
      </form>
      <app-cloudmatiq-side-bar
        (dataChanged)="onChanged($event)"
        [(isVisible)]="awssgDetailVisible"
        [title]="'Security Group Details'"
        [width]="820"
      >
        <ng-container *ngIf="awssgDetailVisible" class="modal-content">
          <app-cloudmatiq-sg-add-edit
            [sgObj]="awssgobj"
            [vpcList]="vpcList"
            (notifySgEntry)="notifySgEntry($event)"
          >
          </app-cloudmatiq-sg-add-edit>
        </ng-container>
      </app-cloudmatiq-side-bar>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="subtenantLable" *ngIf="addTenant">
    <div>
      <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Pricing" *ngIf="addTenant">
    <div>
      <app-asset-costs [assetData]="assetData"></app-asset-costs>
    </div>
  </nz-tab>
</nz-tabset>
