<form nz-form [formGroup]="keyForm">
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="keyname"
      >Name</nz-form-label
    >
    <nz-form-control [nzSm]="24" [nzXs]="12">
      <nz-input-group>
        <input
          id="keyname"
          formControlName="keyname"
          nz-input
          type="text"
          placeholder="Name"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="keypairObj.keyid != null">
    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status"
      >Status</nz-form-label
    >
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-input-group>
        <nz-switch
          class="status"
          id="status"
          formControlName="status"
        ></nz-switch>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveUpdateKeys(keyForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
