<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="uptimeForm" (ngSubmit)="saveOrUpdate()">
    <div class="row" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="customerid"
          >Customer</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="customerid"
            placeholder="Select Customer"
            nzPlaceHolder="Select Customer"
            formControlName="customerid"
          >
            <nz-option
              *ngFor="let c of customerList"
              [nzLabel]="c.customername"
              [nzValue]="c.customerid"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagid"
          >Tag</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="tagid"
            placeholder="Select Tag"
            nzPlaceHolder="Select Tag"
            formControlName="tagid"
            (ngModelChange)="onTagSelect()"
          >
            <nz-option
              *ngFor="let t of tagList"
              [nzLabel]="t.tagname"
              [nzValue]="t.tagid"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tagvalue"
          >Value</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-input-group>
            <input
              type="text"
              nz-input
              formControlName="tagvalue"
              placeholder="Value"
              [nzAutocomplete]="auto"
            />
            <nz-autocomplete nzBackfill #auto>
              <nz-auto-option
                *ngFor="let tv of tagValues"
                [nzValue]="tv.tagvalue"
              >
                {{ tv.tagvalue }}
              </nz-auto-option>
            </nz-autocomplete>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="slaid"
          >SLA</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="slaid"
            placeholder="Select SLA"
            nzPlaceHolder="Select SLA"
            formControlName="slaid"
            (ngModelChange)="onSLASelect($event)"
          >
            <nz-option
              *ngFor="let s of slaList"
              [nzLabel]="s.slaname"
              [nzValue]="s.id"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="priority"
          >Priority</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="priority"
            placeholder="Select Priority"
            nzPlaceHolder="Select Priority"
            formControlName="priority"
            (ngModelChange)="onPrioritySelect($event)"
          >
            <nz-option
              *ngFor="let p of priorityList"
              [nzLabel]="p.label"
              [nzValue]="p.value"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="uptime"
          >Uptime(%)</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-input-group>
            <input
              type="text"
              nz-input
              formControlName="uptime"
              placeholder="Uptime(%)"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="right mr-0">
        <button
          class="mt-1 save-button"
          type="submit"
          nz-button
          nzType="primary"
          [nzLoading]="addingparam"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </form>
</nz-spin>
