<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-csdm-side-bar
    (dataChanged)="rightbarChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
    [width]="820"
  >
    <ng-container class="modal-content">
      <app-add-edit-customer
        [customerObj]="customerObj"
        (notifyNewEntry)="notifyNewEntry($event)"
      >
      </app-add-edit-customer>
    </ng-container>
  </app-csdm-side-bar>
  <app-csdm-side-bar
    (dataChanged)="rightbarChanged($event)"
    [(isVisible)]="syncVisible"
    [title]="'Sync Assets'"
    [width]="820"
  >
    <ng-container class="modal-content">
      <nz-tabset>
        <nz-tab nzTitle="ECL2">
          <nz-spin [nzSpinning]="savingCustomer">
            <form nz-form [formGroup]="regionForm" [nzLayout]="'vertical'">
              <div formArrayName="region">
                <div class="row">
                  <div class="col s12 m5">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      ECL2 Tenant ID</nz-form-label
                    >
                  </div>
                  <div class="col s12 m3">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      ECL2 Region</nz-form-label
                    >
                  </div>
                  <div class="col s12 m3">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      Last Sync Date</nz-form-label
                    >
                  </div>
                  <div
                    class="col s12 m1 right-align network-button network-btn"
                  >
                    <button
                      class="net-btn"
                      (click)="addRegion()"
                      nz-button
                      nzType="primary"
                    >
                      <i class="anticon anticon-plus"></i>
                    </button>
                  </div>
                </div>
                <div
                  *ngFor="
                    let item of getFormArray('region').controls;
                    let i = index
                  "
                >
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="col s12 m5">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <input
                              nz-input
                              placeholder="Tenant Id"
                              (ngModelChange)="checkDuplicate($event, i)"
                              formControlName="ecl2tenantid"
                              type="text"
                            />
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m3">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <nz-select
                              nzShowSearch
                              nzAllowClear
                              placeholder="Select Region"
                              nzPlaceHolder="Select Region"
                              formControlName="region"
                              (ngModelChange)="checkDuplicate($event, i)"
                            >
                              <nz-option
                                *ngFor="let data of regionList"
                                [nzLabel]="data.keyname"
                                [nzValue]="data.keyvalue"
                              ></nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m3">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <nz-form-item>
                              <nz-form-control [nzSm]="24" [nzXs]="6">
                                <div *ngIf="item.value.lastsyncdt">
                                  <p style="color: #ffffff; padding-left: 12px">
                                    {{
                                      item.value.lastsyncdt
                                        | date: "dd-MMM-yyyy hh:mm:ss"
                                    }}
                                  </p>
                                </div>
                              </nz-form-control>
                            </nz-form-item>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m1 right-align">
                        <i
                          [style.margin-top.px]="i == 0 ? '15' : '10'"
                          (click)="syncData(i)"
                          class="anticon hover-pointer amber-text anticon-sync"
                          style="
                            padding-right: 8px;
                            margin-top: 15px;
                            float: right;
                          "
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nz-spin>
        </nz-tab>
        <nz-tab nzTitle="AWS">
          <nz-spin [nzSpinning]="savingCustomer">
            <form nz-form [formGroup]="awsRegionForm" [nzLayout]="'vertical'">
              <div formArrayName="region">
                <div class="row">
                  <div class="col s23 m6">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      AWS Zone</nz-form-label
                    >
                  </div>
                  <div class="col s23 m4">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      Last Sync Date</nz-form-label
                    >
                  </div>
                  <div
                    class="col s12 m2 right-align network-button network-btn"
                  >
                    <button
                      class="net-btn"
                      (click)="addAwsRegion()"
                      nz-button
                      nzType="primary"
                    >
                      <i class="anticon anticon-plus"></i>
                    </button>
                  </div>
                </div>
                <div
                  *ngFor="
                    let item of getAwsFormArray('region').controls;
                    let i = index
                  "
                >
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="col s12 m6">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <nz-select
                              nzShowSearch
                              nzAllowClear
                              placeholder="Select Zone"
                              nzPlaceHolder="Select Zone"
                              formControlName="region"
                              (ngModelChange)="checkawsDuplicate($event, i)"
                            >
                              <nz-option
                                *ngFor="let data of awsZones"
                                [nzLabel]="data.awszoneid"
                                [nzValue]="data.awszoneid"
                              ></nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m4">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <div *ngIf="item.value.lastsyncdt">
                              <p style="color: #ffffff; padding-left: 12px">
                                {{
                                  item.value.lastsyncdt
                                    | date: "dd-MMM-yyyy hh:mm:ss"
                                }}
                              </p>
                            </div>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m2 right-align">
                        <i
                          [style.margin-top.px]="i == 0 ? '15' : '10'"
                          (click)="syncawsData(i)"
                          class="anticon hover-pointer amber-text anticon-sync"
                          style="
                            padding-right: 8px;
                            margin-top: 15px;
                            float: right;
                          "
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nz-spin>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </app-csdm-side-bar>
  <ng-container class="page-body">
    <div class="row">
      <div class="col s12 m2 right right-align mt-1">
        <button
          *ngIf="visibleadd"
          nz-button
          nzType="primary"
          (click)="showModal()"
        >
          <i class="anticon anticon-plus"></i>{{ buttonText }}
        </button>
      </div>
    </div>
    <div class="row param-table">
      <app-csdm-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="customerList"
        [tableHeader]="tableHeader"
        [tableConfig]="tableconfig"
      ></app-csdm-data-table>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
