.line {
    margin: 7px;
    height: 2px;
    background-color: #aabb11;
}

.environmentTitle {
    display: flex;
    align-items: center;
    margin: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.add-environment ::ng-deep .ant-form-item-label label:after {
    content: " ";
}

.add-environment ::ng-deep .ant-input {
    margin-bottom: 5px;
    border: 1px solid #8d9ba6;
}

:host ::ng-deep .ant-form-item-control .ant-select .ant-select-selection,
:host ::ng-deep .ant-input-number,
:host ::ng-deep .ant-select-selection {
    border: 1px solid #8d9ba6;
}

.add-environment ::ng-deep .ant-switch-checked {
    background-color: #aabb11;
}

.discard:hover {
    background: #475560;
    color: #a4a7a8 !important;
    border: 1px solid #a4a7a8;
}

.text-light-gray {
    color: lightgray;
}

.fileUpload {
    border: 1px solid #8d9ba6;
}

.add-environment ::ng-deep .ant-form input[type="file"] {
    width: 95%;
}

.add-environment {
    .form-field {
        display: flex;
        align-items: center;
    }

    .ant-form-explain {
        color: #f5222d;
    }

    .ant-input-affix-wrapper .ant-input-suffix {
        top: 55%;
        right: 32px;
    }

    .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
        border-color: #a4a7a8 !important;
    }

    .ant-form-item-control {
        line-height: 0px !important;
    }

    .ant-form-item .ant-switch {
        margin: 2px 0 6px 0px;
    }
}

.ant-tooltip-inner {
    font-size: 10px !important;
}

.autocomplete {
    -webkit-text-security: disc;
}
::ng-deep .ql-toolbar.ql-snow{
    width: 95% !important;
}
#tableContent th {
    border: 1px solid #dddddd30;
    padding: 8px;
    border-style: groove;
  }

    #tableContent td {
    border: 1px solid #dddddd30;
    padding: 6px;
    border-style: groove;
  }

    #tableContent th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }
  .width-50 {
    width: 50%;
    }
    .width-3 {
        width: 3%;
        }