<div class="row data-table">
  <div>
    <button
    nz-button
    (click)="refresh()"
    class="publish-button right right-align"
    title="Reload"
  >
    <i class="anticon anticon-reload"></i>
  </button>
  </div>
  <div class="col s12 m2 right mr-0">
    <nz-input-group nzAddOnAfterIcon="anticon anticon-search" style="margin-bottom: 7px; text-align: end; margin-top: 5px" title="Click to search">
      <input
        type="search"
        nz-input
        [(ngModel)]="searchText"
        (ngModelChange)="globalSearch($event)"
        placeholder="Search"
      />
    </nz-input-group>

  </div>
  
</div>
<div class="row table-section">
  <nz-table
    #InboxTable
    [nzData]="srmInboxList"
    [nzWidthConfig]="widthConfig"
    [nzPageSize]="pageSize"
    nzSize="middle"
    [nzScroll]="{ x: '1300px' }"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageCount"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzLoading]="loading"
  >
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th class="left-align" nzShowSort nzSortKey="requesttype">Type</th>
        <th class="left-align" nzShowSort nzSortKey="user?.fullname">From</th>
        <th class="left-align" nzShowSort nzSortKey="subject">Subject</th>
        <th class="center-align" nzShowSort nzSortKey="requestdate">
          Request Date
        </th>
        <th class="center-align" nzShowSort nzSortKey="duedate">Due Date</th>
        <th class="left-align" nzShowSort nzSortKey="customer?.customername">
          {{ subtenantLable }} Name
        </th>
        <th class="left-align" nzShowSort nzSortKey="srstatus">Status</th>
        <th class="left-align" nzShowSort nzSortKey="lastupdatedby">
          Updated By
        </th>
        <th class="left-align" nzShowSort nzSortKey="lastupdateddt">
          Updated On
        </th>
        <th
          *ngIf="editFlag || viewFlag || progressFlag"
          class="center"
          nzWidth="80px"
          nzRight="0px"
        >
          Action
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of InboxTable.data">
        <td class="left-align">{{ data.requesttype }}</td>
        <td class="left-align">
          <span>{{ data.user?.fullname }}</span>
          <br />
          <span style="font-size: 12px"
            >Ticket ID : {{ data.referenceno }}</span
          >
        </td>
        <td class="left-align">{{ data.subject }}</td>
        <td class="center-align">
          {{ data.requestdate | date: "dd-MMM-yyyy" }}
        </td>
        <td class="center-align">{{ data.duedate | date: "dd-MMM-yyyy" }}</td>
        <td class="left-align">{{ data.customer?.customername }}</td>
        <td class="left-align">
          {{ data.srstatus }}<br />
          <nz-progress
            [nzPercent]="data.progresspercent == null ? 0 : data.progresspercent"
            [nzStatus]="getProgressStatus(data.srstatus)"
        ></nz-progress>
        </td>
        <td class="left-align">{{ data.lastupdatedby }}</td>
        <td class="left-align">
          {{ data.lastupdateddt | date: "dd-MMM-yyyy hh:mm:ss" }}
        </td>
        <td
          class="center-align"
          nzRight="0px"
          *ngIf="editFlag || viewFlag || progressFlag"
        >
          <a *ngIf="showStatus == '3' && editFlag" (click)="edit(data)">
            <i class="anticon anticon-edit"></i> </a
          >&nbsp;
          <a (click)="view(data)" *ngIf="viewFlag">
            <i class="anticon anticon-eye-o"></i> </a
          >&nbsp;
          <!-- <a
            *ngIf="showStatus == '1' && progressFlag"
            title="Progress update"
            (click)="updateProgress(data)"
          >
            <i class="anticon anticon-solution"></i>
          </a> -->
          <a
            *ngIf="showStatus == '3' && delete"
            nz-popconfirm
            nzTitle="Are you sure?"
            nzOkText="Ok"
            nzCancelText="Cancel"
            (nzOnConfirm)="deleteGenericService(data)"
          >
            <i class="anticon anticon-delete"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div>
    <p class="count-container">Total Records : {{totalCount}}</p>
</div>
</div>
