<nz-spin [nzSpinning]="loading" [nzTip]="loadermessage" [nzSize]="'large'">
  <app-cloudmatiq-side-bar
    *ngIf="isWidgetSelectionVisible"
    [width]="700"
    (dataChanged)="onChangedWidgetselection($event)"
    [(isVisible)]="isWidgetSelectionVisible"
    title="Widget Selection"
  >
    <ng-container class="modal-content">
      <button
          (click)="saveMapwidget()"
          class="mt-1 save-button"
          type="submit"
          nz-button
          nzType="primary"
        >
          Save
        </button>
      <!-- <nz-table
        [nzNoResult]="'No Data'"
        #dataTable
        nzSize="middle"
        [nzData]="tempWidgetList"
      >
      <thead>
        <tr>
          <th width="50px"></th>
          <th>Widget Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tempWidgetList">
          <td>
            <label
            nz-checkbox
            [(ngModel)]="data.isEnabled"
          ></label>
          </td>
          <td nzLeft="0px">
            {{ data.keyname }}
            <span *ngIf="data.group">
              <span [ngClass]="['groupbadge', 'groupbadge-' + data.group]">
                {{ data.group }}
              </span>
            </span>
          </td>
        </tr>
      </tbody>
      </nz-table> -->
      <div class="row">
        
        <ag-grid-angular style="width: 100%; height: calc( 80vh )" class="ag-theme-balham-dark"
       #grid [gridOptions]="gridOptions" [columnDefs]="columnDefs"
      [rowData]="treeFormattedWidget"
      [cacheQuickFilter]="true"
      [rowSelection]="'multiple'"
      (firstDataRendered)="onFirstDataRendered($event)"
      (gridReady)="onGridReady($event)"
      [suppressRowClickSelection]="true"
      (selectionChanged)="onTreeSelectionChanged($event)"
      (onCellClicked)="onGridClick($event)" ></ag-grid-angular>
      </div>
    </ng-container>
  </app-cloudmatiq-side-bar>

  <nz-tabset (nzSelectChange)="onTabChange($event)">
    <nz-tab nzTitle="Basic Details">
      <form nz-form [formGroup]="customerForm">
        <div class="row" style="margin-bottom: 0">
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzRequired
                nzFor="customername"
                >{{ subtenantLable }} Name
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <input
                  nz-input
                  placeholder="Customer Name"
                  formControlName="customername"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="contactemail"
                >Email ID</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="contactemail"
                    placeholder="Email ID"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customercode"
                >Customer Code</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="customercode"
                    placeholder="Customer Code"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="phoneno"
                >Phone No</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <input
                  nz-input
                  placeholder="Mobile No"
                  formControlName="phoneno"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="secondaryphoneno"
                >Mobile No</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <input
                  nz-input
                  placeholder="Mobile No"
                  formControlName="secondaryphoneno"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="contactperson"
                >Contact Person</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="contactperson"
                    placeholder="Contact Person"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customeraddress"
                >Address</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <textarea
                    id="notes"
                    formControlName="customeraddress"
                    placeholder="Address"
                    type="text"
                    nz-input
                  ></textarea>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="postcode"
                >Postcode</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <input
                  nz-input
                  placeholder="Postcode"
                  formControlName="postcode"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6" *ngIf="edit">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status"
                >Status</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <nz-switch
                    class="status"
                    id="status"
                    formControlName="status"
                  ></nz-switch>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row" style="padding-top: 28px">
          <div class="col s6">
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <input
                type="file"
                name="attachmentFile"
                (change)="onFile($event)"
              />
            </nz-form-control>
            <br />
            <span>
              <a
                *ngIf="attachmentUrl"
                (click)="downloadFile()"
                target="_blank"
                download
                >Download</a
              >
            </span>
          </div>
        </div>
        <!-- Temporarily commented -->
        <!-- <div class="row">
            <div class="col s6">
                <nz-form-item *ngIf="!edit">
                    <nz-form-label [nzSm]="12" [nzXs]="12" nzFor="ecl2flag">Create ECL Tenant?
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                        <nz-input-group style="padding-top: 10px;">
                            <label id="ecl2flag" formControlName="ecl2flag" nz-checkbox
                                (ngModelChange)=onChangeEcl2Flag($event)></label>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div> -->
        <div class="row">
          <div class="col s6">
            <nz-form-item *ngIf="customerForm.get('ecl2flag').value == true">
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="ecl2contractid"
                >ECL Contract ID</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  id="ecl2contractid"
                  placeholder="Select"
                  nzPlaceHolder="Select"
                  formControlName="ecl2contractid"
                >
                  <nz-option
                    *ngFor="let data of contractIDList"
                    [nzLabel]="data.referenceid"
                    [nzValue]="data.referenceid"
                  ></nz-option>
                </nz-select>
                <!-- <input nz-input placeholder="ECL Contract ID" formControlName="ecl2contractid" type="text"> -->
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item *ngIf="customerForm.get('ecl2flag').value == true">
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="ecl2region"
                >Region</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  placeholder="Select Region"
                  nzPlaceHolder="Select Region"
                  formControlName="ecl2region"
                >
                  <nz-option
                    *ngFor="let data of regionList"
                    [nzLabel]="data.keyname"
                    [nzValue]="data.keyvalue"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col s6"
            *ngIf="!edit && customerForm.get('ecl2flag').value == true"
          >
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="admintenantid"
                ><span
                  >ECL Admin ID
                  <nz-tooltip nzTitle="Existing Tenant ID for authentication">
                    <i
                      nz-tooltip
                      class="anticon anticon-question-circle-o"
                    ></i> </nz-tooltip></span
              ></nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <input
                  nz-input
                  placeholder="ECL Admin ID"
                  formControlName="admintenantid"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col s6"
            *ngIf="!edit && customerForm.get('ecl2flag').value == true"
          >
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="accesspermissionid"
                ><span
                  >Access Permission ID
                  <nz-tooltip nzTitle="Access Permission ID of contract owner">
                    <i
                      nz-tooltip
                      class="anticon anticon-question-circle-o"
                    ></i> </nz-tooltip></span
              ></nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <input
                  nz-input
                  placeholder="Access Permission ID"
                  formControlName="accesspermissionid"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col s6" *ngIf="edit">
                <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="ecl2region">Region</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24">
                        <nz-select nzShowSearch nzAllowClear placeholder="Select Region" nzPlaceHolder="Select Region"
                            formControlName="ecl2region">
                            <nz-option *ngFor="let data of regionList" [nzLabel]="data.keyname"
                                [nzValue]="data.keyvalue"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col s6" *ngIf="edit">
                <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="ecl2tenantid">ECL Tenant ID</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24">
                        <input nz-input placeholder="ECL Tenant ID" formControlName="ecl2tenantid" type="text">
                    </nz-form-control>
                </nz-form-item>
            </div> -->
          <div class="col s6" *ngIf="edit">
            <p style="display: none"></p>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col s6">
                <div *ngIf="edit || customerForm.get('ecl2flag').value == true">
                    <button nz-button nzType="primary" (click)="dataSync()"><i class="fa fa-cloud-download"
                            style="color:#FFCC00;"></i>&nbsp;
                        ECL Data Sync</button>
                </div>
            </div>
        </div> -->
      </form>

      <div class="right mr-0">
        <button
          (click)="saveOrUpdate(customerForm.value)"
          class="mt-1 save-button"
          type="submit"
          nz-button
          nzType="primary"
          [nzLoading]="addingparam"
        >
          {{ button }}
        </button>
      </div>
    </nz-tab>
    <!-- <nz-tab nzTitle="Logo" *ngIf="customerObj.customerid">
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <input type="file" name="attachmentFile" (change)="onFile($event)" />
      </nz-form-control>
      <br />
      <span>
        <a
          *ngIf="attachmentUrl"
          (click)="downloadFile()"
          target="_blank"
          download
          >Download</a
        >
      </span>
    </nz-tab> -->
    <nz-tab nzTitle="Dashboard" *ngIf="customerObj.customerid">
      <div class="row m-t-5">
        <div class="col s2 m2">
          Dashboard
          <nz-switch
            class="p-l-10"
            [(ngModel)]="enabledashboard"
            (ngModelChange)="updateCustomer()"
          ></nz-switch>
        </div>
        <div class="col s7 m7" *ngIf="enabledashboard">
          <nz-tree-select
            style="width: 580px"
            nzCheckable
            [nzNodes]="nodes"
            [nzDefaultExpandAll]="false"
            [nzAllowClear]="false"
            nzPlaceHolder="Please select"
            [(ngModel)]="selectedComponents"
            [nzMultiple]="true"
            (ngModelChange)="checkisDailyReportavail($event)"
          >
          </nz-tree-select>
          <a
            *ngIf="selectedComponents.length != 0"
            (click)="updateCustomer()"
            style="color: #ffcc00; font-size: 20px"
            nz-tooltip
            class="p-l-5"
            nzTitle="Update"
            nzPlacement="topLeft"
          >
            <i class="anticon anticon-check"></i>
          </a>
        </div>
        <div *ngIf="enabledashboard" class="col s1 m1 right">
          <a
            (click)="openDashboard()"
            style="color: #ffcc00; font-size: 20px"
            nz-tooltip
            class="right"
            nzTitle="Dashboard"
            nzPlacement="topLeft"
          >
            <i class="anticon anticon-line-chart"></i>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row m-t-5">
        <div class="col s2 m2">
          Authentication
          <nz-switch
            class="p-l-10"
            [(ngModel)]="enableauth"
            (ngModelChange)="updateCustomer()"
          ></nz-switch>
        </div>
        <div class="col s4 m4" *ngIf="enableauth">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <nz-select
              class="p-l-10"
              nzShowSearch
              [(ngModel)]="users"
              nzPlaceHolder="Please select users"
              nzMode="multiple"
            >
              <nz-option
                *ngFor="let u of usersList"
                [nzValue]="u.userid"
                [nzLabel]="u.fullname"
              ></nz-option> </nz-select
          ></nz-input-group>
          <ng-template #suffixTemplate>
            <i
              class="anticon anticon-check"
              style="color: #ffcc00; font-size: 20px"
              nz-tooltip
              (click)="updateCustomer('user')"
            ></i>
          </ng-template>
        </div>
        <div class="col s5 m4 pl-1" *ngIf="isDailyReportavail">
          Is Compare Daily Report ? 
         <nz-switch
           class="p-l-10"
           [(ngModel)]="iscomparedailyreport" 
           (ngModelChange)="updateCustomer()"
         ></nz-switch>
       </div>
        <!-- <div *ngIf="isDailyReportavail" class="col s7 m7">
          <nz-select class="p-l-10" nzShowSearch [(ngModel)]="selecteddailyreportWidge" nzPlaceHolder="Please select widget"
              nzMode="multiple" >
              <nz-option
                *ngFor="let u of dailyreportWidgetList"
                [nzValue]="u.keyname"
                [nzLabel]="u.keyname"
              ></nz-option>
          </nz-select>
        </div> -->
      </div>
      <!-- <div class="row">
        <div class="col s2 m2"><b>Reporting</b></div>
      </div> -->
      <!-- <div *ngFor="let t of groupList; let i = index" style="padding-top: 22px"> -->
      <p-table
        id="grouptable"
        [columns]="cols"
        [value]="groupList"
        dataKey="sectionname"
        [reorderableColumns]="true"
        (onRowReorder)="savereorderedheader($event)"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th id="" style="width: 3em"></th>
            <th id="title" width="20%" pReorderableColumn>Title</th>
            <th id="tag" width="30%" pReorderableColumn>Tag</th>
            <th id="value" width="25%" pReorderableColumn>Value</th>
            <th id="downtimebearing" width="8%" pReorderableColumn>Downtime bearing?</th>
            <th id="report" width="8%" pReorderableColumn>Report?</th>
            <th id="dailyreport" width="8%" >Daily Report?</th>
            <th id="uptime" width="20%" pReorderableColumn>
              Uptime(%)
              <span style="float: right"
                ><i
                  nz-tooltip
                  nzTitle="Add row"
                  nzPlacement="topLeft"
                  class="anticon anticon-plus"
                  (click)="addGroup()"
                  style="color: #ffcc00"
                ></i>
              </span>
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-expanded="expanded"
          let-columns="columns"
          let-index="rowIndex"
        >
          <tr [pReorderableRow]="index">
            <td>
              <a [pRowToggler]="rowData">
                <i
                  nz-tooltip
                  nzTitle="Expand"
                  nzPlacement="topLeft"
                  [ngClass]="
                    expanded ? 'anticon anticon-down' : 'anticon anticon-right'
                  "
                  style="color: #ffcc00"
                ></i>
              </a>
            </td>
            <td>
              <input
                nz-input
                [(ngModel)]="rowData.sectionname"
                style="margin: 0 0 0 1px"
              />
            </td>
            <td>
              <nz-select
                [(ngModel)]="rowData.tagid"
                nzAllowClear
                [nzShowSearch]="true"
                nzPlaceHolder="Choose"
                (ngModelChange)="onTagSelect(rowData, index)"
                style="margin-left: -13px; width: 100%"
              >
                <nz-option
                  *ngFor="let data of tagList"
                  [nzLabel]="data.tagname"
                  [nzValue]="data.tagid"
                ></nz-option>
              </nz-select>
            </td>
            <td>
              <input
                nz-input
                placeholder="Value"
                [nzAutocomplete]="auto"
                [(ngModel)]="rowData.tagvalue"
                (ngModelChange)="onTagValue(rowData, index)"
              />
              <nz-autocomplete nzBackfill #auto>
                <nz-auto-option
                  *ngFor="let option of rowData.tagValues"
                  [nzValue]="option.tagvalue"
                >
                  {{ option.tagvalue }}
                </nz-auto-option>
              </nz-autocomplete>
            </td>
            <td><label
              nz-checkbox
              [(ngModel)]="rowData.downtimeyn"
              (ngModelChange)="onReportSelect($event, index,'downtimeyn')"
            ></label></td>
            <td>
              <label
                nz-checkbox
                [(ngModel)]="rowData.reportyn"
                (ngModelChange)="onReportSelect($event, index,'reportyn')"
              ></label>
            </td>
            <td>
              
              <label
                nz-checkbox
                [(ngModel)]="rowData.dailyreportyn"
                (ngModelChange)="onReportSelect($event, index,'dailyreportyn')"
              ></label>
            </td>
            <td>
              <nz-input-number
                [nzMin]="1"
                [nzMax]="100"
                [nzStep]="1"
                placeholder="Uptime"
                [(ngModel)]="rowData.uptime"
                (keyup.enter)="
                  onEnterUptime($event.target.value, index, rowData)
                "
                (ngModelChange)="onEnterUptime($event, index, rowData)"
              ></nz-input-number>
              <a
                (click)="saveDashboardConfig(index)"
                nz-tooltip
                nzTitle="Save"
                nzPlacement="topLeft"
                style="padding-left: 20px"
              >
                <i
                  class="anticon anticon-check"
                  style="color: #ffcc00; font-size: 20px"
                ></i>
              </a>
              &nbsp;
              <a nz-tooltip nzTitle="Delete" nzPlacement="topLeft"></a>
              <i
                nz-popconfirm
                nzTitle="Are you sure?"
                nzPlacement="bottomLeft"
                class="anticon anticon-delete"
                (nzOnConfirm)="deleteGroup(index)"
                style="color: #ffcc00"
              ></i>
              &nbsp;
              <a href="#" pReorderableRowHandle>
                <i
                  style="color: #ffcc00; transform: rotateZ(90deg)"
                  class="anticon anticon-swap"
                ></i>
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="rowexpansion"
          let-rowData
          let-columns="columns"
          let-index="rowIndex"
        >
          <tr>
            <td [attr.colspan]="columns.length + 1">
              <p-table
                [value]="rowData.dashboardconfigdetails"
                dataKey="label"
                [reorderableColumns]="true"
                (onRowReorder)="saveReorderedDetails($event, index)"
              >
                <ng-template pTemplate="body" let-innerrowData let-index="rowIndex">
                  <tr [pReorderableRow]="index">
                    <td colspan="2" style="width: 21.5%">
                      <i
                        style="color: #ffcc00; transform: rotateZ(90deg)"
                        class="anticon anticon-swap"
                        pReorderableRowHandle
                      ></i>
                      &nbsp;
                      <span style="margin: 0 0 0 1px">{{ innerrowData.label }}</span>
                    </td>
                    <td colspan="4" style="width: 43%">
                      <input
                        nz-input
                        [(ngModel)]="innerrowData.displayname"
                        style="margin: 0 0 0 1px"
                      />
                    </td>
                    <td style="width: 7%">
                      <label
                        nz-checkbox
                        [(ngModel)]="innerrowData.downtimeyn"
                      ></label>
                    </td>
                    <td style="width: 7%">
                      <label nz-checkbox [(ngModel)]="innerrowData.reportyn"></label>
                    </td>
                    <td style="width: 6%">
                      <a title="View" *ngIf="innerrowData.dailyreportyn">
                        <i (click)="viewWidgetDetails(rowData,innerrowData)" class="anticon anticon-eye-o"></i>
                      </a>
                      <label nz-checkbox [(ngModel)]="innerrowData.dailyreportyn"></label>
                    </td>
                    <td>
                      <nz-input-number
                        [nzMin]="1"
                        [nzMax]="100"
                        [nzStep]="1"
                        placeholder="Uptime"
                        [(ngModel)]="innerrowData.uptime"
                      ></nz-input-number>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- </div> -->
      <!-- <div *ngFor="let t of groupList; let i = index" style="padding-top: 22px">
        <table id="grouptable">
          <thead>
            <th>#</th>
            <th width="20%">Title</th>
            <th width="30%">Tag</th>
            <th width="20%">Value</th>
            <th width="10%">Report?</th>
            <th width="20%">
              Uptime(%)
              <span style="float: right"
                ><i
                  class="anticon anticon-plus"
                  (click)="addGroup()"
                  style="color: #ffcc00"
                ></i>
                &nbsp;
                <i
                  class="anticon anticon-close"
                  (click)="deleteGroup(i)"
                  style="color: #ffcc00"
                ></i
              ></span>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <a *ngIf="!t.show" (click)="t.show = true">
                  <i class="anticon anticon-right" style="color: #ffcc00"></i>
                </a>
                <a *ngIf="t.show" (click)="t.show = false">
                  <i class="anticon anticon-down" style="color: #ffcc00"></i>
                </a>
              </td>
              <td>
                <input
                  nz-input
                  [(ngModel)]="t.sectionname"
                  style="margin: 0 0 0 1px"
                />
              </td>
              <td>
                <nz-select
                  [(ngModel)]="t.tagid"
                  nzAllowClear
                  [nzShowSearch]="true"
                  nzPlaceHolder="Choose"
                  (ngModelChange)="onTagSelect(t, i)"
                  style="margin-left: -13px; width: 100%"
                >
                  <nz-option
                    *ngFor="let data of tagList"
                    [nzLabel]="data.tagname"
                    [nzValue]="data.tagid"
                  ></nz-option>
                </nz-select>
              </td>
              <td>
                <input
                  nz-input
                  placeholder="Value"
                  [nzAutocomplete]="auto"
                  [(ngModel)]="t.tagvalue"
                  (ngModelChange)="onTagValue(t, i)"
                />
                <nz-autocomplete nzBackfill #auto>
                  <nz-auto-option
                    *ngFor="let option of t.tagValues"
                    [nzValue]="option.tagvalue"
                  >
                    {{ option.tagvalue }}
                  </nz-auto-option>
                </nz-autocomplete>
              </td>
              <td>
                <label
                  nz-checkbox
                  [(ngModel)]="t.reportyn"
                  (ngModelChange)="onReportSelect($event, i)"
                ></label>
              </td>
              <td>
                <nz-input-number
                  [nzMin]="1"
                  [nzMax]="100"
                  [nzStep]="1"
                  placeholder="Uptime"
                  [(ngModel)]="t.uptime"
                  (keyup.enter)="onEnterUptime($event.target.value, i, t)"
                  (ngModelChange)="onEnterUptime($event, i, t)"
                ></nz-input-number>
                <a
                  (click)="saveDashboardConfig(i)"
                  nz-tooltip
                  nzTitle="Save"
                  nzPlacement="topLeft"
                  style="padding-left: 20px"
                >
                  <i
                    class="anticon anticon-check"
                    style="color: #ffcc00; font-size: 20px"
                  ></i>
                </a>
              </td>
            </tr>
            <tr *ngFor="let a of t.dashboardconfigdetails">
              <td *ngIf="t.show" colspan="2">
                {{ a.label }}
              </td>
              <td *ngIf="t.show" colspan="2">
                <input
                  nz-input
                  [(ngModel)]="a.displayname"
                  style="margin: 0 0 0 1px"
                />
              </td>
              <td *ngIf="t.show">
                <label nz-checkbox [(ngModel)]="a.reportyn"></label>
              </td>
              <td *ngIf="t.show">
                <nz-input-number
                  [nzMin]="1"
                  [nzMax]="100"
                  [nzStep]="1"
                  placeholder="Uptime"
                  [(ngModel)]="a.uptime"
                ></nz-input-number>
              </td>
            </tr>
            <tr
              *ngIf="
                t.show &&
                t.tagid != null &&
                t.tagvalue != null &&
                t.dashboardconfigdetails.length == 0
              "
              colspan="6"
            >
              <td colspan="6">
                <span style="padding-left: 325px">No instances matched</span>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div> -->
    </nz-tab>
    <nz-tab nzTitle="Maintenance Window" *ngIf="customerObj.customerid">
      <app-maintwindow-mapping
        *ngIf="tabIndex == 2"
        [txnDetails]="{ txnid: customerObj.customerid, txntype: 'CUSTOMER' }"
      ></app-maintwindow-mapping>
    </nz-tab>
    <nz-tab nzTitle="SLA" *ngIf="customerObj.customerid">
      <app-add-sla
        *ngIf="tabIndex == 3"
        [customerid]="customerObj.customerid"
      ></app-add-sla>
    </nz-tab>
    <nz-tab nzTitle="KPI Reporting" *ngIf="customerObj.customerid">
      <app-add-kpi
        *ngIf="tabIndex == 4"
        [customerid]="customerObj.customerid"
      ></app-add-kpi>
    </nz-tab>
    <nz-tab nzTitle="Notifications" *ngIf="customerObj.customerid">
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzRequired
              >Duration
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-range-picker
                [(ngModel)]="ntfObj.daterange"
                [nzFormat]="'dd/MM/yyyy HH:mm'"
                [nzShowTime]="{ nzFormat: 'HH:mm' }"
                [nzPlaceHolder]="['Start Time', 'End Time']"
              ></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzRequired
              >Timer Date
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-date-picker
                [(ngModel)]="ntfObj.implementationdt"
                nzPlaceHolder="Timer Date"
                [nzFormat]="'dd/MM/yyyy HH:mm'"
                [nzShowTime]="{ nzFormat: 'HH:mm' }"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzRequired
              >Background Color
            </nz-form-label>
            <nz-select
              style="width: 90%"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select"
              [(ngModel)]="ntfObj.bgcolor"
            >
              <nz-option nzCustomContent nzLabel="Blue" nzValue="#2f54eb">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#2f54eb' }"
                ></nz-badge>
                Blue</nz-option
              >
              <nz-option nzCustomContent nzLabel="Green" nzValue="#A3E798">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#A3E798' }"
                ></nz-badge>
                Green</nz-option
              >
              <nz-option nzCustomContent nzLabel="Red" nzValue="#FF0000">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#FF0000' }"
                ></nz-badge
                >Red</nz-option
              >
              <nz-option nzCustomContent nzLabel="Orange" nzValue="#faad14">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#faad14' }"
                ></nz-badge
                >Orange</nz-option
              >
            </nz-select>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzRequired
              >Text Color
            </nz-form-label>
            <nz-select
              style="width: 90%"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select"
              [(ngModel)]="ntfObj.textcolor"
            >
              <nz-option nzCustomContent nzLabel="Red" nzValue="#ff0000">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#ff0000' }"
                ></nz-badge>
                Red</nz-option
              >
              <nz-option nzCustomContent nzLabel="White" nzValue="#ffffff">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#ffffff' }"
                ></nz-badge>
                White</nz-option
              >
              <nz-option nzCustomContent nzLabel="Black" nzValue="#000000">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#000000' }"
                ></nz-badge
                >Black</nz-option
              >
              <nz-option nzCustomContent nzLabel="Grey" nzValue="#808080">
                <nz-badge
                  nzStatus="default"
                  [nzStyle]="{ 'background-color': '#808080' }"
                ></nz-badge
                >Grey</nz-option
              >
            </nz-select>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzRequired
              >Message
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <textarea
                [(ngModel)]="ntfObj.content"
                placeholder="Some Message.."
                type="text"
                nz-input
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="right-align mt-3">
          <button
            nzSize="small"
            nz-button
            nzType="primary"
            (click)="addNotification()"
            style="margin: 0"
          >
            Save
          </button>
        </div>
      </div>

      <div nz-row class="mt-3">
        <nz-table
          #nzTable
          [nzData]="ntfList"
          [nzShowPagination]="false"
          [nzScroll]="{ x: '650px' }"
        >
          <thead>
            <tr>
              <th id="duration">Duration</th>
              <th id="content" width="50%">Content</th>
              <th id="action">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable.data; let i = index">
              <td>
                {{ data.ntfstartdate | date : "dd-MMM-yyyy" }} ~
                {{ data.ntfenddate | date : "dd-MMM-yyyy" }}
              </td>
              <td>{{ data.content }}</td>
              <td>
                <a (click)="editNtf(data)"
                  ><i class="anticon anticon-edit"> </i
                ></a>
                &nbsp;&nbsp;
                <a
                  nz-popconfirm
                  nzTitle="Are you sure, delete notification?"
                  nzPlacement="bottomRight"
                  (nzOnConfirm)="deleteNtf(data, i)"
                  ><i class="anticon anticon-delete"> </i
                ></a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Comments" *ngIf="customerObj.customerid">
      <app-comments
        *ngIf="tabIndex == 6"
        [resourceDetails]="customerObj"
        [resourceId]="customerObj.customerid"
      ></app-comments>
    </nz-tab>
    <nz-tab nzTitle="Documents" *ngIf="customerObj.customerid">
      <app-comments
        *ngIf="tabIndex == 7"
        [resourceDetails]="customerObj"
        [resourceId]="customerObj.customerid"
        [documentType]="true"
      ></app-comments>
    </nz-tab>
    <nz-tab nzTitle="Products" *ngIf="customerObj.customerid">
      <app-customer-products *ngIf="tabIndex == 8" [customerid]="customerObj.customerid"></app-customer-products>
    </nz-tab>
    <nz-tab nzTitle="Change Logs" *ngIf="customerObj.customerid !== undefined && customerObj.customerid !== null && isChangelogs">
      <app-comments
        *ngIf="tabIndex == 9"
        [resourceDetails]="customerObj"
        [resourceId]="customerObj.refid"
        [refType]="'history'"
      ></app-comments>
    </nz-tab>
  </nz-tabset>
</nz-spin>