<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <!-- #OP_B632 -->
    <div class="row param-table" *ngIf="!loading">
      <div class="row">
        <div class="col s6 m2 left left-align">
          <button
            *ngIf="visibleadd"
            nz-button
            nzType="primary"
            (click)="showModal()"
          >
            <i class="anticon anticon-plus"></i>{{ buttonText }}
          </button>
        </div>
        </div>
      <div class="row">
        <div nzSpan="6" class="col s6 m2 left left-align">
          <nz-form-item>
            <nz-form-label 
              class="left-align"
              [nzSm]="24"
              [nzXs]="12"
              nzFor="module"
              nzRequired
              >Module </nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="12" >
              <nz-select
                nzShowSearch
                nzAllowClear
                id="module"
                placeholder="Select module"
                nzPlaceHolder="Select module"
                [(ngModel)]="currentModule"
                style="width: 15rem; margin: 3px"
                (ngModelChange)="handleDropdownClick($event)"
              >
                <nz-option
                  *ngFor="let m of module"
                  [nzLabel]="m.title"
                  [nzValue]="m.value"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <app-cloudmatiq-data-table
          [tableData]="workflowList"
          [tableHeader]="globalLogHeader"
          [selectedcolumns]="selectedcolumns"
          [tableConfig]="tableConfig"
          (dataChanged)="dataChanged($event)"
          [searchText]="searchText"
        >
        </app-cloudmatiq-data-table>
      </div>
    </div>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
    [width]="800"
  >
    <ng-container class="modal-content">
      <app-workflow-add-edit
        [addNew]="addNew"
        *ngIf="isVisible"
        [operationMode]="operationMode"
        [selectedWorkflow]="selectedWorkflow"
        (notifyNewEntry)="notifyNewEntry($event)"
      ></app-workflow-add-edit>
      <!-- <app-workflow-add-edit *ngIf="isVisible" (notifyNewEntry)="notifyNewEntry($event)" [operationMode]="'WKPACK_MAPPING'" [operationRef]="taskResource"></app-workflow-add-edit> -->
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>