<div
  style="
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  "
>
  <div style="font-weight: 500">{{ currentMonth.format("MMM YYYY") }}</div>
  <div style="color: #80808082; font-weight: 500">
    {{ avg | number: "1.2-2" }} %
  </div>
</div>
<div id="uptime-calendar" style="width: 260px">
  <div
    *ngFor="let row of calendar"
    style="
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 7px;
    "
  >
    <div
      *ngFor="let day of row.days"
      style="height: 32px; width: 32px"
      [attr.aria-label]="getTooltipMsg(day)"
      data-microtip-position="top"
      role="tooltip"
      [style.background]="getColorOfTheDay(day)"
    ></div>
  </div>
</div>
