<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <form
      nz-form
      class="serviceform"
      [formGroup]="roleForm"
      (ngSubmit)="create(this.roleForm.value)"
    >
      <div class="col s12 m3 mt-1">
        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="12"
            nzRequired
            nzFor="rolename"
            style="margin-left: -172px"
            >Role Name</nz-form-label
          >
          <nz-form-control [nzSm]="8" [nzXs]="12">
            <input
              nz-input
              placeholder="Role Name"
              formControlName="rolename"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="param-table mt-1 role-table">
        <nz-table
          #screenTable
          [nzData]="allscreens"
          [nzWidthConfig]="widthConfig"
        >
          <thead>
            <tr>
              <th id="screen_names">Screen Names</th>
              <th id="access">Access</th>
              <th id="options">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of screenTable.data; index as i">
              <td>{{ data.screenname[0].screens.screenname }}</td>
              <td>Yes</td>
              <td>{{ data.actions }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="col s12 m12 right-align clear">
        <!-- <button nz-button class="service-button mt-1 mr-1" nzType="primary">
                  <span>Clone to Create</span>
              </button> -->
        <button
          nz-button
          (click)="router.navigate(['roles'])"
          class="service-button mt-1 mr-1"
          nzType="primary"
        >
          <span>Close</span>
        </button>
      </div>
    </form>
  </ng-container>
</app-cloudmatiq-side-nav>
