<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <nz-tabset
      [nzTabBarExtraContent]="extraTemplate"
      [nzSelectedIndex]="tabIndexNo"
      (nzSelectChange)="tabChanged($event)"
    >
      <ng-template #extraTemplate>
        <div nz-col nzSpan="24" *ngIf="!ExecuteTemplate">
          <div class="right-align">
            <button nzSize="small" nz-button (click)="close()" nzType="primary">
              <i class="anticon anticon-close"></i>
            </button>
            &nbsp;&nbsp;
          </div>
        </div>
      </ng-template>
      <nz-tab nzTitle="Info">
    <form nz-form class="serviceform">
      <div
        class="col s12 m12 service-edit"
      >
        <h3 class="white-text mb-0">Approval Chain</h3>
        <app-workflow-approvers [id]="srvrequestid">
        </app-workflow-approvers>
      </div>
      <div class="col s12 m12 service-edit">
        <h3 class="white-text mb-0">Basic Details</h3>
        <div class="serviceform">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Title</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.subject }}</span>
              </nz-form-control>
            </div>
            <!-- <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Budget Available</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ genericObj.budgetyn == "Y" ? "Yes" : "No" }}</span>
                </nz-form-control>
              </nz-form-item>
            </div> -->
            
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Internal or Customer Project</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{
                    genericObj.custmorprjyn == "Y"
                      ? "Customer Project"
                      : "Internal Project"
                  }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Priority</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ genericObj.priority }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Assignee</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ genericObj.assignee?.fullname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="genericObj.environment">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Environment</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ genericObj.environment }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Reporter</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ genericObj.reportee?.fullname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <!-- <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Decommissioning Date</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ genericObj.decommdate | date: "dd-MMM-yyyy" }}</span>
                </nz-form-control>
              </nz-form-item>
            </div> -->
          </div>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24">
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >{{ subtenantLable }} </nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.customer?.customername }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Internal Reference Number</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.referenceno }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div class="ant-col-md-24 ant-col-lg-24 creative-service">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Deployment Progress</nz-form-label
              >
              <nz-form-control [nzSm]="4" [nzXs]="8">
                <nz-progress
                  [nzPercent]="
                    genericObj.progresspercent == null
                      ? 0
                      : genericObj.progresspercent
                  "
                >
                </nz-progress>
              </nz-form-control>
            </nz-form-item>
          </div> -->
          <!-- <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Change Status</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.srstatus }}</span>
              </nz-form-control>
            </nz-form-item>
          </div> -->
          <!-- <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Automated Deployment</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.autodeployyn == "Y" ? "Yes" : "No" }}</span>
              </nz-form-control>
            </nz-form-item>
          </div> -->
          <div class="ant-col-md-24 ant-col-lg-24" *ngIf="genericObj.department != ''">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Department Name</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.departments?.keyname }}</span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Start Date of Deployment</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.deploystdate | date: "dd-MMM-yyyy" }}</span>
              </nz-form-control>
            </nz-form-item>
          </div> -->
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Workflow</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <span>{{ genericObj.workflow?.wrkflowname }}</span>
                <a class="show-model" (click)="showWorkflowSummary()">
                  Show Workflow Details
                </a>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12"
                >Customer notes</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12" class="generic-desc">
                <p class="desc">{{ genericObj.description }}</p>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div>
        <nz-modal
        [(nzVisible)]="isExecutionVisible"
        nzTitle="Are you sure that you want to reject this request?"
        nzOkText="Reject"
        nzCancelText="Cancel"
        (nzOnOk)="requestRejection()"
        (nzOnCancel)="handleCancel()"
      >
        <ng-container>
          <nz-form-item>
            <nz-form-label
              class="left left-align"
              [nzSm]="24"
                nzRequired
                [nzXs]="24"
              >Comments</nz-form-label
            >
            <div *ngIf="isExecutionVisible">
              <textarea
                [(ngModel)]="comments"
                placeholder="Add comments"
                (ngModelChange)="comments = $event"
                type="text"
                nz-input
                [ngModelOptions]="{standalone: true}"
              ></textarea>
            </div>
          </nz-form-item>
        </ng-container>
      </nz-modal>
      </div> 
      <!-- <div class="col s12 m12 right-align ">
        <button
          nz-button
          (click)="close()"
          class="approve-button mt-1 mr-1"
          nzType="primary"
        >
          <span>Close</span>
        </button>
      </div>
      <div class="col s12 m12 right-align ">
        <button
          nz-button
          (click)="update('Approve')"
          class="approve-button mt-1 mr-1"
          nzType="primary"
          *ngIf="approver"
        >
          <span>Approve</span>
        </button>
      </div>
      <div class="col s12 m12 right-align ">
        <button
          nz-button
          (click)="update('Execute')"
          class="approve-button mt-1 mr-1"
          nzType="primary"
          *ngIf="executor"
        >
          <span>Execute</span>
        </button>
      </div> -->
      <div class="row right" *ngIf="approver && inboxScreen">
        <div class="col s12 md4">
          <button
            class="save-button-1"
            nz-button
            nzType="primary"
            (click)="approveRequest()"
          >
            Approve
          </button>
        </div>
      </div>
      <div class="row right" *ngIf="approver && inboxScreen">
        <div class="col s12 md4">
          <button
            class="save-button"
            nz-button
            nzType="primary"
            (click)="rejectRequest()"
          >
            Reject
          </button>
        </div>
      </div>
      <div class="row right" *ngIf="executor && inboxScreen">
        <div class="col s12 md4">
          <button
            class="save-button"
            nz-button
            nzType="primary"
            (click)="executeRequest()"
          >
            Execute
          </button>
        </div>
      </div>
    </form>
    </nz-tab>
    <nz-tab nzTitle="Comments">
      <app-comments
        *ngIf="tabIndexNo == 1"
        [resourceDetails]="genericObj"
        [resourceId]="genericObj.srvrequestid"
      ></app-comments>
    </nz-tab>
    <nz-tab nzTitle="Documents">
      <app-comments
        *ngIf="tabIndexNo == 2"
        [resourceDetails]="genericObj"
        [resourceId]="genericObj.srvrequestid"
        [documentType]="true"
      ></app-comments>
    </nz-tab>
    <nz-tab nzTitle="Notifications">
      <div nz-row class="mt-3 ant-col-md-24 ant-col-lg-24">
        <nz-table
          #nzTable
          [nzData]="notificationList"
          [nzScroll]="{ x: '650px' }"
        >
          <thead>
            <tr>
              <th>Receiver</th>
              <th>Notes</th>
              <th>Notify via</th>
              <th class="center-align">Updated Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable.data; let i = index">
              <td>{{ receivername[i] }}</td>
              <td>{{ data.notes }}</td>
              <td>{{ data.contenttype }}</td>
              <td class="center-align">{{ data.lastupdateddt }}</td>
              <td>{{ data.status }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-tab>
    <nz-tab nzTitle="History">
      <app-cloudmatiq-asset-history
        *ngIf="tabIndexNo == 4"
        [resourceDetails]="genericObj"
        [resourceId]="resourceId"
      ></app-cloudmatiq-asset-history>
    </nz-tab>
    </nz-tabset>
    <!-- workflow -->
  <div *ngIf="showWorkflow" class="col s12 m12">
    <nz-drawer
      id="sidebar-modal"
      [nzBodyStyle]="{ 'padding-bottom': '55px' }"
      [nzMaskClosable]="true"
      [nzWidth]="820"
      [nzVisible]="showWorkflow"
      nzTitle="Workflow"
      (nzOnClose)="showWorkflow = !showWorkflow"
    >
      <div style="opacity: 0.8; pointer-events: none;">
        <app-workflow-add-edit 
          [isView]="false"
          [operationMode]="operationMode"
          [selectedWorkflow]="selectedWorkflow">
        </app-workflow-add-edit>
      </div>
    </nz-drawer>
  </div>
  </ng-container>
</app-cloudmatiq-side-nav>
