<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="sharenetworkForm">
    <div class="row">
      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customer">{{
            subtenantLable
          }}</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <nz-select
                nzShowSearch
                nzAllowClear
                id="customer"
                formControlName="customer"
                style="width: 100%"
              >
                <nz-option
                  *ngFor="let data of customerList"
                  [nzLabel]="data.customername"
                  [nzValue]="data"
                ></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>
<div class="col s12">
  <nz-table #nzTable [nzData]="sharedList" [nzPageSize]="10">
    <thead>
      <tr>
        <th nzWidth="30px">Customer Name</th>
        <th nzWidth="20px">Approval request ID</th>
        <th nzWidth="20px">Status</th>
        <th class="center-align" nzWidth="15px" nzRight="0px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.customername }}</td>
        <td>{{ data.requestid }}</td>
        <td>{{ data.status }}</td>
        <td class="center-align" nzWidth="15px" nzRight="0px">
          &nbsp;
          <a (click)="editPort(data)">
            <i class="anticon anticon-edit"></i> </a
          >&nbsp;
          <a
            nz-popconfirm
            nzTitle="Are you sure?"
            nzOkText="Ok"
            nzCancelText="Cancel"
            (nzOnConfirm)="deletePort(data)"
          >
            <i class="anticon anticon-delete"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveUpdate(sharenetworkForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
