<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <nz-tabset 
    [nzTabBarExtraContent]="extraTemplate"
    [nzSelectedIndex]="tabIndex"
    (nzSelectChange)="tabChanged($event)" >
    <ng-template #extraTemplate>
      <div nz-col nzSpan="24" *ngIf="!ExecuteTemplate">
        <div class="right-align">
          <button
              *ngIf="viewMode == false && tabIndex == 0"
              class="service-button mt-1 mr-1"
              type="submit"
              nz-button
              nzType="primary"
              [nzLoading]="addingparam"
              style="bottom: 14px;"
              (click)="saveOrUpdate(roleForm.value)"
            >
              {{ buttonText }}
            </button>
            <button
              nz-button
              (click)="router.navigate(['roles'])"
              class="service-button mt-1 mr-1"
              nzType="primary"
              style="bottom: 14px;"
            >
              <span>Close</span>
            </button>
          &nbsp;&nbsp;
        </div>
      </div>
    </ng-template>
    <nz-tab nzTitle="Info">
    <form
      nz-form
      class="serviceform"
      [formGroup]="roleForm"
    >
      <div class="col s6 m3 mt-1">
        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="12"
            nzRequired
            nzFor="rolename"
            style="margin-left: -17%"
            >Role Name</nz-form-label
          >
          <nz-form-control [nzSm]="8" [nzXs]="12">
            <input
              nz-input
              placeholder="Role Name"
              formControlName="rolename"
              type="text"
            />
          </nz-form-control>
          <nz-form-control [nzSm]="9" [nzXs]="12">
            <div class="col s12 m2 right mr-0">
          </div>
          </nz-form-control>
          <span style="float: right;">
            <nz-input-group nzAddOnAfterIcon="anticon anticon-search">
              <input
                type="search"
                nz-input
                [(ngModel)]="searchText"
                (ngModelChange)="globalSearch($event)"
                [ngModelOptions]="{standalone: true}"
                placeholder="Search"
              />
            </nz-input-group>
          </span>
        </nz-form-item>
      </div>
      <div class="param-table mt-1 role-table">
        <nz-table
          #screenTable
          [nzData]="screenList"
          nzSize="middle"
          [nzWidthConfig]="widthConfig"
          [nzPageSize]="pageSize"
          nzShowSizeChanger
          [nzPageSizeOptions]="pageCount"
          (nzPageSizeChange)="onPageSizeChange($event)"
        >
          <thead>
            <tr>
              <th id="screenname" class="left-align">Screen Names</th>
              <th id="access" class="left-align">Access</th>
              <th id="available_permissions" class="left-align">Available Permissions</th>
              <th id="assigned_permissions" class="left-align">Assigned Permissions</th>
              <th id="actions" *ngIf="viewMode == false" class="center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of screenTable.data">
              <td class="left-align">{{ data.screenname }}</td>
              <td class="left-align">
                {{ data.actions.length == 0 ? "No" : "Yes" }}
              </td>
              <td class="left-align">{{ data.actionsscreens }}</td>
              <td class="left-align">{{ data.actions }}</td>
              <td *ngIf="viewMode == false" class="center">
                <a (click)="viewModal(data)" title="Edit">
                  <i class="anticon anticon-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <nz-modal
        [(nzVisible)]="show"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel()"
      >
        <ng-template #modalTitle> Add Actions </ng-template>

        <ng-template #modalContent>
          <div>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="action"
                >Actions</nz-form-label
              >
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <nz-select
                  nzMode="multiple"
                  nzShowSearch
                  nzAllowClear
                  id="action"
                  placeholder="Select Actions"
                  nzPlaceHolder="Select Actions"
                  formControlName="action"
                  style="width: 100%"
                >
                  <nz-option
                    *ngFor="let s of screenActions"
                    [nzLabel]="s"
                    [nzValue]="s"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </ng-template>

        <ng-template #modalFooter>
          <button nz-button nzType="primary" (click)="handleOk()">Save</button>
        </ng-template>
      </nz-modal>
    </form>
  </nz-tab>
  <nz-tab nzTitle="Change Logs" *ngIf="roleid !== undefined">
    <app-comments
      *ngIf="tabIndex == 1"
      [resourceDetails]="roleObj"
      [resourceId]="roleObj.refid"
      [refType]="'history'"
    ></app-comments>
    
  </nz-tab>
  </nz-tabset>
  </ng-container>
</app-cloudmatiq-side-nav>
