<nz-tabset
  *ngIf="!gettingNetwork"
  [(nzSelectedIndex)]="selectedIndex"
  class="networking-tab"
>
  <nz-tab nzTitle="Logical Network">
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <form nz-form [formGroup]="neworkForm">
        <div class="row">
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="networkname"
                >Logical Network Name {{ tagsOnly }}
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-input-group>
                  <input
                    [attr.disabled]="tagsOnly"
                    id="networkname"
                    formControlName="networkname"
                    nz-input
                    type="text"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="plane" nzRequired
                >Plane</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  [nzDisabled]="neworkObj.networkid || tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="plane"
                  formControlName="plane"
                >
                  <nz-option
                    *ngFor="let data of planeList"
                    [nzLabel]="data.keyname"
                    [nzValue]="data.keyvalue"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzFor="adminstateup"
                nzRequired
                >Admin State</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-select
                  [nzDisabled]="tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="adminstateup"
                  formControlName="adminstateup"
                >
                  <nz-option nzLabel="UP" nzValue="UP"></nz-option>
                  <nz-option nzLabel="DOWN" nzValue="DOWN"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="zoneid" nzRequired
                >Select Zone/Group
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select
                  [nzDisabled]="neworkObj.networkid || tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="zoneid"
                  placeholder="Select Zone/Group"
                  formControlName="zoneid"
                  (ngModelChange)="onZoneChange($event)"
                >
                  <nz-option
                    *ngFor="let data of ecl2zoneList"
                    [nzLabel]="data.zonename"
                    [nzValue]="data"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6">
            <nz-form-item>
              <nz-form-label
                [nzSm]="24"
                [nzXs]="12"
                nzFor="customerid"
                nzRequired
                >Select
                {{ subtenantLable }}
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select
                  [nzDisabled]="neworkObj.networkid || tagsOnly"
                  nzShowSearch
                  nzAllowClear
                  id="customerid"
                  placeholder="Select"
                  formControlName="customerid"
                >
                  <nz-option
                    *ngFor="let data of customerList"
                    [nzLabel]="data.customername"
                    [nzValue]="data"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col s6 description-label">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
                >Description</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-input-group>
                  <textarea
                    [attr.disabled]="tagsOnly"
                    id="description"
                    formControlName="description"
                    type="text"
                    nz-input
                  ></textarea>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div *ngIf="edit" class="col s6">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status"
                >Status</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <nz-switch
                    class="status"
                    id="status"
                    [nzDisabled]="tagsOnly"
                    formControlName="status"
                  ></nz-switch>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col s8">
            <h3 class="solution-title mb-0">Tags</h3>
          </div>
          <div class="col s4 tag-button">
            <i [style.margin-top.px]="'10'" (click)="addItem()" class="anticon hover-pointer amber-text anticon-plus-circle-o"></i>
          </div>
        </div>
        <div formArrayName="ecl2tags">
          <div *ngFor="let item of getFormArray('ecl2tags').controls;let i = index">
            <div [formGroupName]="i">
              <div class="row">
                <div class="col s4 tags-label">
                  <nz-form-item>
                    <nz-form-label *ngIf="i == 0" style="text-align:left" [nzSm]="22" [nzXs]="12" nzFor="tagkey">Key</nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="12">
                      <nz-input-group>
                        <input id="key" formControlName="tagkey" nz-input type="text">
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col s4">
                  <nz-form-item>
                    <nz-form-label *ngIf="i == 0" style="text-align:left" [nzSm]="22" [nzXs]="12" nzFor="tagvalue">Value</nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="12">
                      <nz-input-group>
                        <input id="value" formControlName="tagvalue" nz-input type="text">
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col s12 m3">
                  <i [style.margin-top.px]="i==0 ? '50' : '10'" (click)="removeItem(i)" class="anticon hover-pointer amber-text anticon-delete"></i>
                </div>
              </div>
            </div>

          </div>
        </div> -->
      </form>
    </nz-spin>
    <div class="row right">
      <div class="col s12 md4">
        <button
          [disabled]="formDisabled || tagsOnly"
          (click)="saveOrUpdate(neworkForm.value)"
          class="save-button"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </nz-tab>
  <nz-tab
    nzTitle="Subnet & Subnet Details"
    (nzSelect)="SelectedValue('Subnet')"
    [nzDisabled]="disabled"
  >
    <app-cloudmatiq-ecl2-add-edit-subnet
      *ngIf="neworkObj.networkid"
      [inputdisabled]="true"
      [subnetObj]="subnetObj"
    >
    </app-cloudmatiq-ecl2-add-edit-subnet>
  </nz-tab>
  <nz-tab
    nzTitle="Port"
    (nzSelect)="SelectedValue('Port')"
    [nzDisabled]="disabled"
  >
    <app-cloudmatiq-ecl2-add-edit-port
      *ngIf="neworkObj.networkid"
      [inputdisabled]="true"
      [portObj]="portObj"
    >
    </app-cloudmatiq-ecl2-add-edit-port>
  </nz-tab>
  <nz-tab [nzTitle]="subtenantLable" *ngIf="addTenant">
    <div>
      <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Tags" [nzDisabled]="disabled">
    <app-cloudmatiq-side-bar
      (dataChanged)="tagDrawerChanges($event)"
      [(isVisible)]="tagPickerVisible"
      [width]="550"
      [title]="'Add/Edit Tags'"
    >
      <ng-container class="modal-content">
        <app-cloudmatiq-tag-picker
          *ngIf="neworkObj && neworkObj.networkid"
          [currentTags]="tags"
          cloudProvider="ECL2"
          [pickermode]="'combined'"
          [mode]="'picker'"
          [validateInputs]="true"
          [disableParams]="true"
          [tagGroupType]="null"
          [resourceId]="neworkObj.networkid"
          [resourceType]="'ASSET_NETWORK'"
          (tagChanges)="onTagChangeEmit($event)"
        >
        </app-cloudmatiq-tag-picker>
      </ng-container>
    </app-cloudmatiq-side-bar>
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <div nz-row class="ml-1">
        <div
          nz-col
          nzSpan="24"
          style="display: flex; justify-content: space-between"
        >
          <!-- <h2 class="solution-title mb-0" style="margin-top: .5em;">Tags</h2> -->
          <button
            (click)="tagPickerVisible = true"
            nz-button
            nzType="primary"
            style="margin: 9px 0"
          >
            Add/Edit Tags
          </button>
        </div>
        <div nz-col nzSpan="24">
          <div class="param-table" style="margin-top: 0px">
            <app-cloudmatiq-data-table
              [tableData]="tagsList"
              [tableHeader]="tagTableHeader"
              [tableConfig]="tagTableConfig"
            >
            </app-cloudmatiq-data-table>
          </div>
        </div>
      </div>
    </nz-spin>
    <button
      (click)="updateTags()"
      [nzLoading]="loading"
      class="save-button"
      nz-button
      nzType="primary"
    >
      Save
    </button>
  </nz-tab>
</nz-tabset>
<div *ngIf="gettingNetwork" style="color: white">Loading...</div>
