<div class="row">
  <div class="col s12">
    <h4 class="amber-text">Solution template :</h4>
    <h5 *ngIf="viewData?.solutionname" class="white-text text-lighten-3 ml-1">
      Name :
      <span class="grey-text">{{ viewData?.solutionname }}</span>
    </h5>
    <h5 *ngIf="viewData?.cloudprovider" class="white-text text-lighten-3 ml-1">
      Cloud Provider :
      <span class="grey-text">{{ viewData?.cloudprovider }}</span>
    </h5>
    <h4 class="amber-text">Notification :</h4>
    <h5
      *ngIf="viewData?.notifications?.eventtype"
      class="white-text text-lighten-3 ml-1"
    >
      Type :
      <span class="grey-text">{{
        viewData?.notifications.eventtype.join(", ")
      }}</span>
    </h5>
    <h5
      *ngIf="viewData?.notifications?.modeofnotification"
      class="white-text text-lighten-3 ml-1"
    >
      Mode of Notification :
      <span class="grey-text">{{
        viewData?.notifications.modeofnotification.join(", ")
      }}</span>
    </h5>
    <h5
      *ngIf="viewData?.notifications?.configuration"
      class="white-text text-lighten-3 ml-1"
    >
      Configuration :
      <span class="grey-text">{{
        viewData?.notifications.configuration.join(", ")
      }}</span>
    </h5>
    <!-- <h4 class="amber-text">
      SLA :
    </h4>
    <h5 class="white-text text-lighten-3 ml-1">
      Name :
      <span class="grey-text">{{viewData?.sla.slaname}}</span>
    </h5>
    <h5 *ngIf="viewData?.sla.priority" class="white-text text-lighten-3 ml-1">
      Priority :
      <span class="grey-text">{{viewData?.sla.priority}}</span>
    </h5>
    <h5 *ngIf="viewData?.sla.responsetimemins" class="white-text text-lighten-3 ml-1">
      Response Time ( Minutes ) :
      <span class="grey-text">{{viewData?.sla.responsetimemins}}</span>
    </h5>
    <h5 *ngIf="viewData?.sla.uptimeprcnt" class="white-text text-lighten-3 ml-1">
      Uptime ( % ) :
      <span class="grey-text">{{viewData?.sla.uptimeprcnt}}</span>
    </h5>
    <h5 *ngIf="viewData?.sla.workinghrs" class="white-text text-lighten-3 ml-1">
      Working ( Hrs ) :
      <span class="grey-text">{{viewData?.sla.workinghrs}}</span>
    </h5>
    <h5 *ngIf="viewData?.sla.creditsprcnt" class="white-text text-lighten-3 ml-1">
      Credits ( % ) :
      <span class="grey-text">{{viewData?.sla.creditsprcnt}}</span>
    </h5> -->
  </div>
  <div class="col s12">
    <h4 class="amber-text">SLA</h4>
  </div>
  <h5 class="white-text text-lighten-3 ml-1">
    Name :
    <span class="grey-text">{{ viewData?.slaname }}</span>
  </h5>
  <div class="col s12">
    <app-cloudmatiq-data-table
      [tableData]="slasList"
      [tableHeader]="slaTableHeader"
      [tableConfig]="slaTableConfig"
    >
    </app-cloudmatiq-data-table>
  </div>
  <div class="col s12">
    <h4 class="amber-text">Instances</h4>
  </div>
  <div class="col s12">
    <app-cloudmatiq-data-table
      [tableData]="sList"
      [tableHeader]="instancesTableHeader"
      [tableConfig]="instanceTableConfig"
    ></app-cloudmatiq-data-table>
  </div>
  <div class="col s12">
    <h4 class="amber-text">Load Balancers</h4>
  </div>
  <div class="col s12">
    <app-cloudmatiq-data-table
      [tableData]="lbList"
      [tableHeader]="lbTableHeader"
      [tableConfig]="lbTableConfig"
    >
    </app-cloudmatiq-data-table>
  </div>
  <div class="col s12">
    <h4 class="amber-text">Template Parameters</h4>
  </div>
  <div class="col s12" style="padding: 0 11px">
    <!-- [customQuery]="{paramtype:'Template',templateid:viewData.solutionid,status:'Active'}" -->
    <app-parameters
      [customQuery]="paramquery"
      [tableOnly]="true"
      [hideSideNav]="true"
    ></app-parameters>
  </div>
  <div class="col s12" *ngIf="showcosts">
    <h4 class="amber-text">Cost Summary</h4>
  </div>
  <div class="col s12" *ngIf="showcosts">
    <app-costsummary
      [solutionData]="viewData"
      [disableEdit]="true"
    ></app-costsummary>
  </div>
  <div class="row right">
    <div class="col s12 md4">
      <button nz-button nzType="default" (click)="close()" class="save-button">
        Close
      </button>
    </div>
  </div>
</div>
