<div class="row param-table">
  <app-cloudmatiq-data-table
    (dataChanged)="dataChanged($event)"
    [tableData]="commandList"
    [tableHeader]="tableHeader"
    [selectedcolumns]="selectedcolumns"
    [tableConfig]="tableConfig"
  ></app-cloudmatiq-data-table>
  <div class="count-container">
    <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
  </div>
</div>
<app-cloudmatiq-side-bar
  (dataChanged)="closeDrawer($event)"
  [(isVisible)]="viewInstance"
  [title]="'Comment Log'"
  [width]="860"
>
  <ng-container class="modal-content" *ngIf="viewInstance">
    <app-cloudmatiq-commandinstance
      [commandobj]="selectedData"
      [region]="region"
      [accountid]="accountid"
      *ngIf="viewInstance"
    >
    </app-cloudmatiq-commandinstance>
  </ng-container>
</app-cloudmatiq-side-bar>
