<nz-tabset [(nzSelectedIndex)]="selectedIndex" class="networking-tab">
  <nz-tab nzTitle="Basic Details">
    <nz-spin [nzSpinning]="loading">
      <form nz-form [formGroup]="commonfuncForm">
        <div class="row" style="margin-bottom: 0">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="12"
              nzRequired
              nzFor="cfgatewayname"
              >Name</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input
                [attr.disabled]="tagsOnly"
                nz-input
                placeholder="Name"
                formControlName="cfgatewayname"
                type="text"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="zoneid" nzRequired
              >Select Zone/Group
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                [nzDisabled]="
                  (commonfngatewayObj && commonfngatewayObj.cfgatewayid) ||
                  tagsOnly
                "
                nzShowSearch
                nzAllowClear
                id="zoneid"
                placeholder="Select Zone/Group"
                formControlName="zoneid"
                (ngModelChange)="onRegionChange($event)"
              >
                <nz-option
                  *ngFor="let data of ecl2zoneList"
                  [nzLabel]="data.zonename"
                  [nzValue]="data"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="customerid" nzRequired
              >Select
              {{ subtenantLable }}
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                [nzDisabled]="
                  (commonfngatewayObj && commonfngatewayObj.cfgatewayid) ||
                  tagsOnly
                "
                nzShowSearch
                nzAllowClear
                id="customerid"
                placeholder="Select"
                formControlName="customerid"
                (ngModelChange)="onCustomerChange($event)"
              >
                <nz-option
                  *ngFor="let data of customerList"
                  [nzLabel]="data.customername"
                  [nzValue]="data"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="cfpoolid"
              >Common Function Pool</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                [nzDisabled]="
                  (commonfngatewayObj && commonfngatewayObj.cfgatewayid) ||
                  tagsOnly
                "
                nzShowSearch
                nzAllowClear
                id="cfpoolid"
                placeholder="Select"
                nzPlaceHolder="Select"
                formControlName="cfpoolid"
              >
                <nz-option
                  *ngFor="let data of commonPoolList"
                  [nzLabel]="data.cfpoolname"
                  [nzValue]="data"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="12"
              nzFor="description"
              class="description"
              >Description</nz-form-label
            >

            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <textarea
                  [attr.disabled]="tagsOnly"
                  id="description"
                  formControlName="description"
                  placeholder="Description"
                  type="text"
                  nz-input
                ></textarea>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div *ngIf="edit">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status"
                >Status</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-input-group>
                  <nz-switch
                    [nzDisabled]="tagsOnly"
                    class="status"
                    id="status"
                    formControlName="status"
                  ></nz-switch>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-spin>
    <div class="row right">
      <div class="col s12 md4">
        <button
          [disabled]="disabled || tagsOnly"
          (click)="saveOrUpdate(commonfuncForm.value)"
          class="save-button"
          type="submit"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="subtenantLable" *ngIf="addTenant">
    <div>
      <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
    </div>
  </nz-tab>
</nz-tabset>
