<app-cloudmatiq-side-nav class="setup">
  <ng-container class="page-body">
    <nz-tabset
      [(nzSelectedIndex)]="tabIndex"
      (nzSelectedIndexChange)="onTabChange($event)"
    >
      <nz-tab nzTitle="Providers"
        ><app-setupmaster-providers></app-setupmaster-providers
      ></nz-tab>
      <nz-tab nzTitle="Container Registry"
        ><app-setupmaster-container-registry></app-setupmaster-container-registry
      ></nz-tab>
      <nz-tab nzTitle="Build"
        ><app-setupmaster-build [tabIndex]="tabIndex"></app-setupmaster-build
      ></nz-tab>
      <nz-tab nzTitle="Tests"
        ><app-setupmaster-tests></app-setupmaster-tests
      ></nz-tab>
      <nz-tab nzTitle="Environments"
        ><app-setupmaster-environments [tabIndex]="tabIndex"></app-setupmaster-environments
      ></nz-tab>
    </nz-tabset>
  </ng-container>
</app-cloudmatiq-side-nav>
