.setup ::ng-deep .ant-tabs-nav .ant-tabs-tab:hover {
    color: #40a9ff;;
}
.setup ::ng-deep .ant-tabs-nav .ant-tabs-tab:active {
    color: #838b92;
}
.setup ::ng-deep .ant-tabs-ink-bar {
    background-color: #40a9ff;
}
.setup ::ng-deep .ant-tabs-nav .ant-tabs-tab-active {
    color: #40a9ff;;
}
.setup ::ng-deep .ant-tabs-nav {
    display: flex;
}
.setup ::ng-deep .ant-tabs-nav .ant-tabs-tab {
    font-size: 18px;
    flex: 1;
}
.setup ::ng-deep .ant-table-body table > thead > tr > th, .ant-table-thead > tr > th {
    background: #1c2e3c !important;
}
