<app-cloudmatiq-side-nav [blockUI]="loading">

  <ng-container class="page-body">
    <div class="content-wrapper">
      <div class="row">


        <div nz-col nzSpan="12" class="m-r-15">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input id="filter-text-box" [(ngModel)]="treeTableSearchbox" type="text" nz-input
              (input)="onFilterTextBoxChanged()" placeholder="Select" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button (click)="selectTreeTableNode($event)" class="ant-btn ng-star-inserted ant-btn-primary" nz-button
              nz-dropdown>
              <span>Select</span>
            </button>
            <button (click)="selectTreeTableNode($event)" class="ant-btn ng-star-inserted ant-btn-primary m-l-10"
              nz-button nz-dropdown>
              <span>Compare</span>
            </button>
          </ng-template>
        </div>
      </div>
      <div nz-row class="row limed-spruce-bg tree-node-p">
        <tree-root #tree [state]="state" [options]="options" [focused]="true" [nodes]="templateTreeList"
        (moveNode)="onMoveNode($event)" class="workpack-tree">
          <ng-template #treeNodeTemplate let-node let-index="index" let-templates="templates">
            <div nz-col nzSpan="12">
              <span *ngIf="node.isLeaf" style="color: white !important">{{
                node.data.name
                }}</span>
              <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, treeMenu)">
                <span style="color: white !important" *ngIf="node.edit">
                  <input class="inline-input" type="text" [(ngModel)]="node.data.name"
                    (keydown.enter)="node.edit = false" />
                </span>
                <span style="color: #1890ff !important; font-weight: bold" *ngIf="!node.edit">
                  {{ node.data.name }}
                </span>
              </span>
            </div>
            <div nz-col nzSpan="12" class="action-icon">
              <i class="anticon anticon-plus ml-3" title="Add" (click)="addResourceType(node.data)"></i>
              <i class="anticon anticon-eye-o m-l-10" title="View" (click)="logsView(node.data)"></i>
              <i class="anticon anticon-play-circle m-l-10" title="Execute"></i>
              <i class="anticon anticon-copy m-l-10" title="Clone" (click)="cloneResource(node.data)"></i>
              <i class="anticon anticon-delete m-l-10" title="Delete" nz-popconfirm nzTitle="Are you sure?" nzOkText="Ok"
                nzCancelText="Cancel" (nzOnConfirm)="deleteRecordType(node.data)"></i>
            </div>
          </ng-template>
        </tree-root>
      </div>   
    </div>
    <app-cloudmatiq-side-bar
    (dataChanged)="closeDrawer()"
    [(isVisible)]="isVisible"
    [width]="360"
    [title]="formTitle"
  >
  <ng-container class="modal-content">
    <nz-spin [nzSpinning]="loading">
      <form nz-form [formGroup]="resourceForm">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired>Resource Type</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <input
                placeholder="Resource Type"
                formControlName="resourcetype"
                nz-input
                type="text"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired>Parent Resource Type</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="parentcrn"
              nzPlaceHolder="Choose"
              formControlName="parentcrn"
            >
            <nz-option
            *ngFor="let r of resourceTypesList"
            [nzValue]="r.crn"
            [nzLabel]="r.resource"
          >
          </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired>Module</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-input-group>
              <nz-select
                id="module"
                style="width: 100%"
                formControlName="module"
                nzPlaceHolder="Choose"
                nzAllowClear
                nzShowSearch
              >
                <nz-option
                  *ngFor="let r of resourceModuleList"
                  [nzValue]="r"
                  [nzLabel]="r"
                >
                </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="right mr-0">
        <button
          (click)="saveResource(resourceForm.value)"
          class="save-button"
          nz-button
          nzType="primary"
        >
          {{buttonText}}
        </button>
      </div>
    </nz-spin>
  </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="closeDrawer()"
    [(isVisible)]="isViewVisible"
    [width]="360"
    [title]="formTitle"
  >
  <ng-container class="modal-content">
    <nz-spin [nzSpinning]="loading">
      <nz-tabset>
        <nz-tab nzTitle="History" *ngIf="isViewVisible">
          <app-cloudmatiq-asset-history
            [(resourceDetails)]="resourceDetails"
            [(resourceId)]="resourceId"
            [(crnDetails)]="crnDetails"
          ></app-cloudmatiq-asset-history>
        </nz-tab>
      </nz-tabset>
    </nz-spin>
  </ng-container>
  </app-cloudmatiq-side-bar>
  </ng-container>
</app-cloudmatiq-side-nav>