<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <form nz-form [formGroup]="ecl2subnetForm">
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="subnetname"
            >Subnet Name</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <input
                [attr.disabled]="inputdisabled"
                id="subnetname"
                formControlName="subnetname"
                nz-input
                type="text"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="subnetcidr">
            <span>
              Network Address
              <nz-tooltip
                nzTitle="Network address in CIDR format (e.g. 192.168.0.0/24)"
              >
                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
              </nz-tooltip> </span
          ></nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <input
                [attr.disabled]="inputdisabled"
                id="subnetcidr"
                formControlName="subnetcidr"
                nz-input
                type="text"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="gatewayip">
            <span>
              Gateway IP
              <nz-tooltip nzTitle="IP address of Gateway (e.g. 192.168.0.254)">
                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
              </nz-tooltip>
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <input
                [attr.disabled]="inputdisabled"
                id="gatewayip"
                formControlName="gatewayip"
                nz-input
                type="text"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="dnsnameservers">
            <span>
              DNS Name Servers
              <nz-tooltip
                nzTitle="IP address list of DNS servers for this subnet. One entry per line"
              >
                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
              </nz-tooltip>
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <p-chips
                [disabled]="inputdisabled"
                formControlName="dnsnameservers"
              ></p-chips>
              <!-- <input id="dnsnameservers" formControlName="dnsnameservers" nz-input type="text" placeholder="DNS Name Servers"> -->
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="ntpservers">
            <span>
              NTP Servers
              <nz-tooltip
                nzTitle="IP address list of NTP servers for this subnet (eg. 169.254.127.1). One entry per line"
              >
                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
              </nz-tooltip>
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <p-chips
                [disabled]="inputdisabled"
                formControlName="ntpservers"
              ></p-chips>
              <!-- <input id="ntpservers" formControlName="ntpservers" nz-input type="text" placeholder="NTP Servers"> -->
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
            >Description</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <textarea
                [attr.disabled]="inputdisabled"
                id="description"
                formControlName="description"
                type="text"
                nz-input
              ></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4 clear">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="enabledhcp"
            >Enable DHCP</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <nz-switch
                [nzDisabled]="inputdisabled"
                class="status"
                id="enabledhcp"
                formControlName="enabledhcp"
              >
              </nz-switch>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="row">
      <div class="col s8">
        <h3 class="solution-title mb-0">
          <span
            >Allocation Pools
            <nz-tooltip
              nzTitle="IP address allocation pools (e.g..End - 192.168.1.120,Start - 192.168.1.100)"
            >
              <i nz-tooltip class="anticon anticon-question-circle-o"></i>
            </nz-tooltip>
          </span>
        </h3>
      </div>
      <div class="col s4 tag-button">
        <i
          [style.margin-top.px]="'10'"
          (click)="addItem('Pools')"
          class="anticon hover-pointer amber-text anticon-plus-circle-o"
        ></i>
      </div>
    </div>
    <div formArrayName="allocationpool">
      <div
        *ngFor="
          let item of getFormArray('allocationpool').controls;
          let i = index
        "
      >
        <div [formGroupName]="i">
          <div class="row">
            <div class="col s4">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  style="text-align: left"
                  [nzSm]="22"
                  [nzXs]="12"
                  nzRequired
                  nzFor="start"
                >
                  Start
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <nz-input-group>
                    <input
                      [attr.disabled]="inputdisabled"
                      id="start"
                      formControlName="start"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s4">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="end"
                  nzRequired
                  >End</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-input-group>
                    <input
                      [attr.disabled]="inputdisabled"
                      id="end"
                      formControlName="end"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s12 m3">
              <i
                [style.margin-top.px]="i == 0 ? '50' : '10'"
                (click)="removeItem(i, 'Pools')"
                class="anticon hover-pointer amber-text anticon-delete"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <h3 class="solution-title mb-0">
          <span>
            Host Routes
            <nz-tooltip
              nzTitle="Additional routes announced to the hosts. (e.g..Destination - 192.168.100.0/24,Next Hop - 10.56.1.25)"
            >
              <i
                nz-tooltip
                class="anticon anticon-question-circle-o"
              ></i> </nz-tooltip
          ></span>
        </h3>
      </div>
      <div class="col s4 tag-button">
        <i
          [style.margin-top.px]="'10'"
          (click)="addItem('Routes')"
          class="anticon hover-pointer amber-text anticon-plus-circle-o"
        ></i>
      </div>
    </div>
    <div formArrayName="hostroute">
      <div
        *ngFor="let item of getFormArray('hostroute').controls; let i = index"
      >
        <div [formGroupName]="i">
          <div class="row">
            <div class="col s4">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="destination"
                  >Destination</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-input-group>
                    <input
                      [attr.disabled]="inputdisabled"
                      id="destination"
                      formControlName="destination"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s4">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  style="text-align: left"
                  [nzSm]="22"
                  [nzXs]="12"
                  nzFor="nexthop"
                  >Next Hop
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <nz-input-group>
                    <input
                      [attr.disabled]="inputdisabled"
                      id="nexthop"
                      formControlName="nexthop"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s12 m3">
              <i
                [style.margin-top.px]="i == 0 ? '50' : '10'"
                (click)="removeItem(i, 'Routes')"
                class="anticon hover-pointer amber-text anticon-delete"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <h3 class="solution-title mb-0">Tags</h3>
      </div>
      <div class="col s4 tag-button">
        <i
          [style.margin-top.px]="'10'"
          (click)="addItem('Tag')"
          class="anticon hover-pointer amber-text anticon-plus-circle-o"
        ></i>
      </div>
    </div>
    <div formArrayName="subnettags">
      <div
        *ngFor="let item of getFormArray('subnettags').controls; let i = index"
      >
        <div [formGroupName]="i">
          <div class="row">
            <div class="col s4">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  style="text-align: left"
                  [nzSm]="22"
                  [nzXs]="12"
                  nzFor="tagkey"
                  >Key
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <nz-input-group>
                    <input
                      [attr.disabled]="inputdisabled"
                      id="key"
                      formControlName="tagkey"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s4">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  style="text-align: left"
                  [nzSm]="22"
                  [nzXs]="12"
                  nzFor="tagvalue"
                  >Value
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <nz-input-group>
                    <input
                      [attr.disabled]="inputdisabled"
                      id="value"
                      formControlName="tagvalue"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s12 m3">
              <i
                [style.margin-top.px]="i == 0 ? '50' : '10'"
                (click)="removeItem(i, 'Tag')"
                class="anticon hover-pointer amber-text anticon-delete"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <nz-table
        #nzTable
        [nzData]="subnetList"
        [nzPageSize]="10"
        class="table-section deploylist"
      >
        <thead>
          <tr>
            <th class="left-align" nzWidth="30px">Name</th>
            <th class="left-align" nzWidth="30px">Network Address</th>
            <th class="left-align" nzWidth="25px">Gateway IP</th>
            <th class="left-align" nzWidth="15px">Status</th>
            <th class="center-align" nzWidth="25px" nzRight="0px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td class="left-align" nzWidth="30px">{{ data.subnetname }}</td>
            <td class="left-align">{{ data.subnetcidr }}</td>
            <td class="left-align">{{ data.gatewayip }}</td>
            <td class="left-align">{{ data.status }}</td>
            <td nzWidth="25px" class="center-align" nzRight="0px">
              &nbsp;
              <a (click)="editSubnet(data)">
                <i class="anticon anticon-edit"></i> </a
              >&nbsp;
              <a
                nz-popconfirm
                nzTitle="Are you sure?"
                nzOkText="Ok"
                nzCancelText="Cancel"
                (nzOnConfirm)="deleteSubnet(data)"
              >
                <i class="anticon anticon-delete"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </form>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled || inputdisabled"
      (click)="saveUpdateSubnet(ecl2subnetForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
