<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <div class="row m-t-35 m-b-20">
      <div class="col s12 m9 left">
        <div nz-col nzSpan="6" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.provider"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Provider"
            (ngModelChange)="providerChanges()"
          >
            <nz-option
              *ngFor="let t of providerList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="6" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.asset"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Asset"
          >
            <nz-option
              *ngFor="let t of assetTypes; index as ti"
              [nzLabel]="t.title"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="6" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.zone"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Zone"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of zoneList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="2" style="text-align: end">
          <button
            nzSize="small"
            nz-button
            (click)="getAllCost()"
            [nzLoading]="isVisible"
            nzType="primary"
            style="margin: 0 13px 0 0"
          >
            <i class="anticon anticon-search"></i>
          </button>
        </div>
      </div>
      <div class="col s12 m2 right right-align">
        <button
          *ngIf="createcost"
          nz-button
          nzType="primary"
          (click)="showAddForm()"
        >
          <i class="anticon anticon-plus"></i>Add New Price
        </button>
      </div>
    </div>
    <div class="param-table" style="margin-top: 0px">
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="costList"
        [tableHeader]="tableHeader"
        [tableConfig]="tableConfig"
      ></app-cloudmatiq-data-table>
    </div>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="showSidebar"
    [title]="formTitle"
    [width]="600"
  >
    <ng-container class="modal-content">
      <app-cloudmatiq-costsetup-add-edit
        [costList]="costObj"
        (notifyTagEntry)="notifyTagEntry($event)"
      >
      </app-cloudmatiq-costsetup-add-edit>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
