<nz-tabset
  [nzTabBarExtraContent]="extraTemplate"
  [nzSelectedIndex]="invtabIndex"
  (nzSelectChange)="invTabChanged($event)"
>
  <nz-tab nzTitle="Dashboard">
    <div style="padding: 30px">
      <div nz-row [nzGutter]="12">
        <div nz-col [nzSpan]="12">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card0Template"
          >
            <nz-spin
              nzSimple
              nzTip="Loading..."
              [nzSpinning]="chartloading.mgmtchartOps"
              [nzSize]="'small'"
            >
              <div id="mgmtchartOps">
                <apx-chart
                  [series]="mgmtchartOps.series"
                  [chart]="mgmtchartOps.chart"
                  [labels]="mgmtchartOps.labels"
                  [legend]="mgmtchartOps.legend"
                  [responsive]="mgmtchartOps.responsive"
                  [colors]="mgmtchartOps.colors"
                  [tooltip]="mgmtchartOps.tooltip"
                  [plotOptions]="mgmtchartOps.plotOptions"
                ></apx-chart>
              </div>
            </nz-spin>
            <ng-template #card0Template>
              <span style="font-size: 15px"
                >Managed instances with inventory enabled</span
              >
              <span class="right" (click)="getInvStatus()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card1Template"
          >
            <nz-spin
              nzSimple
              nzTip="Loading..."
              [nzSpinning]="chartloading.oschartOps"
              [nzSize]="'small'"
            >
              <div id="oschartOps">
                <apx-chart
                  [series]="oschartOps.series"
                  [chart]="oschartOps.chart"
                  [xaxis]="oschartOps.xaxis"
                  [yaxis]="oschartOps.yaxis"
                  [stroke]="oschartOps.stroke"
                  [labels]="oschartOps.labels"
                  [title]="oschartOps.title"
                  [legend]="oschartOps.legend"
                  [tooltip]="oschartOps.tooltip"
                  [colors]="oschartOps.colors"
                  [plotOptions]="oschartOps.plotOptions"
                ></apx-chart>
              </div>
            </nz-spin>
            <ng-template #card1Template>
              <span style="font-size: 15px">Top 5 OS Versions</span>
              <span class="right" (click)="getTopOsVersion()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card2Template"
          >
            <nz-spin
              nzSimple
              nzTip="Loading..."
              [nzSpinning]="chartloading.rolechartOps"
              [nzSize]="'small'"
            >
              <div id="rolechartOps">
                <apx-chart
                  [series]="rolechartOps.series"
                  [chart]="rolechartOps.chart"
                  [xaxis]="rolechartOps.xaxis"
                  [yaxis]="rolechartOps.yaxis"
                  [stroke]="rolechartOps.stroke"
                  [labels]="rolechartOps.labels"
                  [title]="rolechartOps.title"
                  [legend]="rolechartOps.legend"
                  [tooltip]="rolechartOps.tooltip"
                  [colors]="rolechartOps.colors"
                  [plotOptions]="rolechartOps.plotOptions"
                ></apx-chart>
              </div>
            </nz-spin>
            <ng-template #card2Template>
              <span style="font-size: 15px">Top 5 Server Roles</span
              ><span class="right" (click)="getTopRoles()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card3Template"
          >
            <nz-spin
              nzSimple
              nzTip="Loading..."
              [nzSpinning]="chartloading.servicechartOps"
              [nzSize]="'small'"
            >
              <div id="servicechartOps">
                <apx-chart
                  [series]="servicechartOps.series"
                  [chart]="servicechartOps.chart"
                  [xaxis]="servicechartOps.xaxis"
                  [yaxis]="servicechartOps.yaxis"
                  [stroke]="servicechartOps.stroke"
                  [labels]="servicechartOps.labels"
                  [title]="servicechartOps.title"
                  [legend]="servicechartOps.legend"
                  [tooltip]="servicechartOps.tooltip"
                  [colors]="servicechartOps.colors"
                  [plotOptions]="servicechartOps.plotOptions"
                ></apx-chart>
              </div>
            </nz-spin>
            <ng-template #card3Template>
              <span style="font-size: 15px">Top 5 Services</span
              ><span class="right" (click)="getTopServices()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card
            class="dashboard-fullwidth"
            nzHoverable
            [nzTitle]="card4Template"
            ><nz-spin
              nzSimple
              nzTip="Loading..."
              [nzSpinning]="chartloading.appschartOps"
              [nzSize]="'small'"
            >
              <div id="appschartOps">
                <apx-chart
                  [series]="appschartOps.series"
                  [chart]="appschartOps.chart"
                  [xaxis]="appschartOps.xaxis"
                  [yaxis]="appschartOps.yaxis"
                  [stroke]="appschartOps.stroke"
                  [labels]="appschartOps.labels"
                  [title]="appschartOps.title"
                  [legend]="appschartOps.legend"
                  [tooltip]="appschartOps.tooltip"
                  [colors]="appschartOps.colors"
                  [plotOptions]="appschartOps.plotOptions"
                ></apx-chart>
              </div>
            </nz-spin>
            <ng-template #card4Template>
              <span style="font-size: 15px">Top 5 Applications</span
              ><span class="right" (click)="getTopApps()"
                ><i class="anticon anticon-reload"></i
              ></span>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Associations">
    <ng-container class="page-body" *ngIf="invtabIndex == 1">
      <app-cloudmatiq-association
        [region]="region"
        [accountid]="accountid"
        [associationtype]="'INVENTORY'"
        *ngIf="invtabIndex"
      >
      </app-cloudmatiq-association> </ng-container
  ></nz-tab> </nz-tabset
><ng-template #extraTemplate>
  <div nz-row nzType="flex" nzAlign="middle" *ngIf="setupinv">
    <div nz-col nzSpan="24">
      <div class="right-align">
        <button nz-button nzType="primary" (click)="setupInv()">
          Setup Inventory
        </button>
        &nbsp;&nbsp;
      </div>
    </div>
  </div>
</ng-template>
<app-cloudmatiq-side-bar
  (dataChanged)="closeDrawer($event)"
  [(isVisible)]="showSetup"
  [title]="'Setup Inventory'"
  [width]="480"
>
  <ng-container class="modal-content">
    <app-cloudmatiq-setup-inventory
      [region]="region"
      [accountid]="accountid"
      (notifyIV)="notifyIV($event)"
      *ngIf="showSetup"
    >
    </app-cloudmatiq-setup-inventory>
  </ng-container>
</app-cloudmatiq-side-bar>
