<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'" nzTip="Loading...">
      <div class="pipeline-template">
        <div class="pipeline-template-hrd">
          <div class="left left-align">
            <nz-dropdown>
              <button
                class="add-pipeline-btn publish-button"
                nz-button
                nzType="primary"
                nz-dropdown
              >
                <span>Add</span>
                <i class="anticon anticon-down"></i>
              </button>
              <ul nz-menu>
                <li (click)="createTemplate()" nz-menu-item>
                  <a>Create New</a>
                </li>
                <li (click)="openModel()" nz-menu-item>
                  <a>Create Using Template</a>
                </li>
              </ul>
            </nz-dropdown>
            <nz-modal
              [(nzVisible)]="isVisible"
              [nzTitle]="modalTitle"
              (nzOnCancel)="handleCancel()"
              [nzFooter]="modalFooter"
              [nzContent]="modalContent"
            >
              <ng-template #modalTitle> Create Using Template </ng-template>
              <ng-template #modalContent>
                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="12"
                    >Select Template</nz-form-label
                  >
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      id="action"
                      [(ngModel)]="defaulttemplate"
                      placeholder="Select Template"
                      nzPlaceHolder="Select Template"
                      style="width: 100%"
                    >
                      <nz-option
                        *ngFor="let option of defaultTemplateList"
                        [nzValue]="option.id"
                        [nzLabel]="option.pipelinename"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-template>
              <ng-template #modalFooter>
                <button
                  nz-button
                  nzType="primary"
                  (click)="navigateToTemplate(defaulttemplate)"
                >
                  Create
                </button>
              </ng-template>
            </nz-modal>
          </div>
          <div>
            <!-- <h2 class="header-title">Pipeline Template</h2> -->
          </div>
        </div>
        <div class="pipeline-template-btm">
          <app-cloudmatiq-data-table
            (dataChanged)="dataChanged($event)"
            [tableData]="templateList"
            [tableHeader]="tableHeader"
            [selectedcolumns]="selectedcolumns"
            [tableConfig]="tableConfig"
            [totalCount]="totalCount"
            [currentPageIndex]="pageIndex"
          ></app-cloudmatiq-data-table>
        </div>
      </div>
    </nz-spin>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="showFilter = false"
    [(isVisible)]="showFilter"
    [title]="'Filter'"
  >
    <ng-container *ngIf="showFilter" class="modal-content">
      <app-filters
        (getFilterValue)="getFilterValue($event)"
        (setFilterValue)="setFilterValue($event)"
        [filterableValues]="filterableValues"
        [existValues]="filteredValues[filterKey]"
        [filterKey]="filterKey"
      >
      </app-filters>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>