<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <div class="row m-t-35 m-b-20">
      <div class="col s12 m12 left">
        <div nz-col nzSpan="5" class="m-r-15">
          <nz-input-group nzCompact>
            <nz-date-picker
              nzFormat="dd-MMM-yyyy"
              nzPlaceHolder="Start Date"
              [(ngModel)]="filters.startdt"
            >
            </nz-date-picker>
          </nz-input-group>
        </div>
        <div nz-col nzSpan="5" class="m-r-15">
          <nz-input-group nzCompact>
            <nz-date-picker
              nzFormat="dd-MMM-yyyy"
              nzPlaceHolder="End Date"
              [(ngModel)]="filters.enddt"
            >
            </nz-date-picker>
          </nz-input-group>
        </div>
        <div nz-col nzSpan="5" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.provider"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Provider"
            (ngModelChange)="onProviderChanges($event)"
          >
            <nz-option
              *ngFor="let t of providerList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="5" class="m-r-15">
          <nz-select
            [(ngModel)]="filters.customer"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Customer"
          >
            <nz-option
              *ngFor="let t of customerList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="5" class="m-r-15" style="margin-top: 7px">
          <nz-select
            [(ngModel)]="filters.asset"
            style="width: 95%"
            (ngModelChange)="assetChanges()"
            nzAllowClear
            nzPlaceHolder="Resource Type"
          >
            <nz-option
              *ngFor="let t of assetTypes; index as ti"
              [nzLabel]="t.title"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div
          *ngIf="filters.asset == 'ASSET_INSTANCE'"
          nz-col
          nzSpan="5"
          class="m-r-15"
          style="margin-top: 7px"
        >
          <nz-select
            nzMode="multiple"
            [(ngModel)]="filters.resource"
            style="width: 95%"
            nzAllowClear
            nzPlaceHolder="Resource"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of referenceList; index as ti"
              [nzLabel]="t.label"
              [nzValue]="t.value"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="5" class="m-r-15" style="margin-top: 7px">
          <nz-select
            [(ngModel)]="filters.tagid"
            (ngModelChange)="tagChanged($event)"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Tag"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of tagList; index as ti"
              [nzLabel]="t.tagname"
              [nzValue]="t.tagid"
            >
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="5" class="m-r-15" style="margin-top: 7px">
          <input
            *ngIf="(selectedTag | json) == '{}'"
            nz-input
            placeholder="Value"
            disabled
          />
          <nz-select
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'list'
            "
            [(ngModel)]="filters.tagvalue"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Value"
            style="width: 95%"
          >
            <nz-option
              *ngFor="let t of selectedTag.lookupvalues; index as ti"
              [nzLabel]="t"
              [nzValue]="t"
            >
            </nz-option>
          </nz-select>
          <nz-select
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'boolean'
            "
            [(ngModel)]="filters.tagvalue"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Value"
            style="width: 95%"
          >
            <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
            <nz-option nzLabel="No" nzValue="No"> </nz-option>
          </nz-select>
          <nz-date-picker
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'date'
            "
            [(ngModel)]="filters.tagvalue"
            nzFormat="dd-MMM-yyyy"
          ></nz-date-picker>
          <input
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'text'
            "
            [(ngModel)]="filters.tagvalue"
            nz-input
            placeholder="Value"
            [(ngModel)]="value"
          />
          <nz-input-number
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'number'
            "
            [(ngModel)]="filters.tagvalue"
          ></nz-input-number>
          <nz-input-number
            *ngIf="
              selectedTag &&
              selectedTag.tagtype &&
              selectedTag.tagtype == 'range'
            "
            [(ngModel)]="filters.tagvalue"
            [nzMin]="selectedTag.min"
            [nzMax]="selectedTag.max"
          >
          </nz-input-number>
        </div>
        <div nz-col nzSpan="2" style="text-align: end; margin-top: 8px">
          <button
            nzSize="small"
            nz-button
            (click)="getAllBudgets()"
            [nzLoading]="isVisible"
            nzType="primary"
            style="margin: 0 13px 0 0"
          >
            <i class="anticon anticon-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="param-table">
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="billingList"
        [tableHeader]="tableHeader"
        [tableConfig]="tableConfig"
      ></app-cloudmatiq-data-table>
    </div>
  </ng-container>
  <!-- <app-cloudmatiq-side-bar (dataChanged)="onChanged($event)" [(isVisible)]="metaSideBarVisible"
          [title]="metaSideBarTitle" [width]="1000">
          <ng-container *ngIf="meta && metaSideBarVisible" class="modal-content">
             
              <nz-tabset>
                  <nz-tab nzTitle="Details">
                      <div *ngFor="let item of meta | keyvalue : 0">
                          <h4 class="amber-text">{{item.key}}</h4>
                          <div *ngFor="let t of item.value; index as ti;">
                              <h5 class="white-text text-lighten-3 ml-1">
                                  {{t['title']}} :
                                  <span *ngIf="t.title != 'Instance Name'" class="grey-text"> {{t['value']}}</span>
                                  <span *ngIf="t.title == 'Instance Name'" class="amber-text"> {{t['value']}}</span>
                              </h5>
                          </div>
                      </div>
                      
                  </nz-tab>
                  <nz-tab *ngIf="metaTagsEnabled" nzTitle="Tags">
                      <app-cloudmatiq-side-bar (dataChanged)="metaTagsSideBarVisible = false"
                          [(isVisible)]="metaTagsSideBarVisible" [title]="'Add/Edit Tags'" [width]="450">
                          <ng-container class="modal-content">
                              <app-cloudmatiq-tag-picker [pickermode]="'combined'" [currentTags]="metaTags"
                                  [mode]="'picker'" [disableParams]="true" [validateInputs]="true"
                                  [resourceType]="filters.asset" (tagChanges)="metaTagsChanges($event)">
                              </app-cloudmatiq-tag-picker>
                          </ng-container>
                      </app-cloudmatiq-side-bar>
                      <button nz-button (click)="metaTagsSideBarVisible = true">Add/Edit Tags</button>
                      <app-cloudmatiq-data-table [tableData]="metaTagsList" [tableHeader]="tagTableHeader"
                          [tableConfig]="tagTableConfig">
                      </app-cloudmatiq-data-table>
                      <div style="text-align: end;">
                          <button [nzLoading]="syncingTagstoCloud" nz-button (click)="syncTags()">Save</button>
                      </div>
                  </nz-tab>
                  <nz-tab nzTitle="Resize History" *ngIf="enableServerResize">
                      <div>
                          <app-cloudmatiq-data-table [tableData]="resizeReqList" [tableHeader]="resizeTableHeader"
                              [tableConfig]="resizeTableConfig">
                          </app-cloudmatiq-data-table>
                      </div>
                  </nz-tab>
                  <nz-tab [nzTitle]="subtenantLable" *ngIf="assetData">
                      <div>
                          <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
                      </div>
                  </nz-tab>
                  <nz-tab *ngIf="showcosts && assetData" nzTitle="Budget & Billing">
                      <div>
                          <app-asset-costs [assetData]="assetData" [resource]="ASSET_INSTANCE"></app-asset-costs>
                      </div>
                  </nz-tab>
                  <nz-tab *ngIf="filters.asset == 'ASSET_INSTANCE' && filters.provider == 'AWS'" nzTitle="Security Group">
                      <div>
                          <app-cloudmatiq-sg-add-edit [assetData]="assetData" [noEdit]="true" [sgObj]="awssgobj">
                          </app-cloudmatiq-sg-add-edit>
                      </div>
                  </nz-tab>
              </nz-tabset>
          </ng-container>
      </app-cloudmatiq-side-bar> -->
  <app-cloudmatiq-side-bar
    [(isVisible)]="metaSideBarVisible"
    (dataChanged)="metaSideBarVisible = false"
    [title]="metaSideBarTitle"
    [width]="950"
  >
    <ng-container class="modal-content">
      <app-cloudmatiq-server-detail
        [instanceref]="serverDetail"
        (showDrillDown)="metaSideBarVisible = false; notifyDetailEntry(event)"
      >
      </app-cloudmatiq-server-detail>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
