<app-cloudmatiq-side-nav [blockUI]="loading">
  <nz-drawer
    id="sidebar-modal"
    [nzBodyStyle]="{ 'padding-bottom': '55px' }"
    [nzMaskClosable]="true"
    [nzWidth]="820"
    [nzVisible]="showSummary"
    nzTitle="Solution Summary"
    (nzOnClose)="showSummary = false"
  >
    <app-cloudmatiq-summary-view
      *ngIf="showSummary"
      [style.width]="'100%'"
      class="deploymentForm"
      (closeSummary)="closeSummary($event)"
      [viewData]="solutionData"
      [summaryTitle]="'Solution Summary'"
    >
    </app-cloudmatiq-summary-view>
  </nz-drawer>
  <nz-drawer
    id="sidebar-modal"
    [nzBodyStyle]="{ 'padding-bottom': '55px' }"
    [nzMaskClosable]="true"
    [nzWidth]="820"
    [nzVisible]="showSlaModal"
    nzTitle="SLA - {{ snameForm.value.slaname }}"
    (nzOnClose)="showSlaModal = false"
  >
    <app-sla-add
      *ngIf="showSlaModal"
      [slaList]="slaList"
      (addorupdateSLA)="addSla($event)"
    >
    </app-sla-add>
  </nz-drawer>
  <ng-container class="page-body">
    <nz-tabset
        [nzSelectedIndex]="tabIndex"
        (nzSelectChange)="SolutionTabChange($event)"
      >
      <nz-tab nzTitle="Info">
      <button
        class="close"
        (click)="router.navigate(['solutiontemplate'])"
        nz-button
        nzType="primary"
        nzTitle="Close"
        nzPlacement="bottomLeft"
        nz-tooltip
      >
        <i class="anticon anticon-close"></i>
      </button>
    <div class="ml-1">
      <div class="row">
        <div class="col s11">
          <nz-steps [nzCurrent]="current" nzSize="small">
            <nz-step nzTitle="Basic Detail"> </nz-step>
            <nz-step nzTitle="Instances"> </nz-step>
            <nz-step nzTitle="Load Balancers"> </nz-step>
            <nz-step nzTitle="Parameters"> </nz-step>
            <nz-step nzTitle="Tags"> </nz-step>
            <nz-step *ngIf="showcosts" nzTitle="Costs"> </nz-step>
            <!-- <nz-step nzTitle="Graphical"> </nz-step> -->
            <nz-step nzTitle="Summary"> </nz-step>
          </nz-steps>
          <div class="steps-content">
            <div class="row" *ngIf="current == 0">
              <div class="col s12">
                <h2 class="amber-text ml-2">Step 1:</h2>
                <p class="ml-2 grey-text text-lighten-2">
                  Define basic details of the solution template to be created.
                  This will be your quick go through on deployment screen.
                </p>
              </div>
              <div class="col s12 m8">
                <form nz-form [formGroup]="snameForm">
                  <h4 class="amber-text ml-2">Solution Template</h4>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="solutionname"
                      >Solution Name
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-input-group>
                        <input
                          id="solutionname"
                          placeholder="Solution Name"
                          formControlName="solutionname"
                          nz-input
                          type="text"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="clientid">{{
                      subtenantLable
                    }}</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="clientid"
                        nzPlaceHolder="Select"
                        placeholder="Select"
                        formControlName="clientid"
                      >
                        <nz-option
                          *ngFor="let data of clientList"
                          [nzLabel]="data.customername"
                          [nzValue]="data.customerid"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="cloudprovider"
                      >Select Provider
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        [nzDisabled]="solutionEditObj"
                        nzShowSearch
                        nzAllowClear
                        id="cloudprovider"
                        placeholder="Select Provider"
                        nzPlaceHolder="Select Provider"
                        formControlName="cloudprovider"
                        (ngModelChange)="onChangeProvider($event)"
                      >
                        <nz-option
                          *ngFor="let data of cloudproviderList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <div *ngIf="snameForm.value.cloudprovider == 'ECL2'">
                    <nz-form-item>
                      <nz-form-label
                        [nzSm]="8"
                        [nzXs]="12"
                        nzFor="zoneid"
                        nzRequired
                        >Select Zone/Group
                      </nz-form-label>
                      <nz-form-control [nzSm]="12" [nzXs]="12">
                        <nz-select
                          [nzDisabled]="solutionEditObj"
                          nzShowSearch
                          nzAllowClear
                          id="zoneid"
                          nzPlaceHolder="Select Zone/Group"
                          formControlName="zoneid"
                        >
                          <nz-option
                            *ngFor="let data of ecl2zoneList"
                            [nzLabel]="data.zonename"
                            [nzValue]="data.zoneid"
                          ></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="notes"
                      >Notes</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-input-group>
                        <input
                          id="notes"
                          placeholder="Notes"
                          formControlName="notes"
                          nz-input
                          type="text"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <h4 class="amber-text ml-2">Service Level Agreement</h4>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="slaname"
                      >Select SLA
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        id="slaname"
                        placeholder="Select SLA"
                        nzPlaceHolder="Select SLA"
                        formControlName="slaname"
                        (ngModelChange)="onChange($event)"
                      >
                        <nz-option
                          *ngFor="let data of sladropList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                    <button
                      (click)="show()"
                      class="ml-1"
                      nz-button
                      nzType="primary"
                    >
                      <i class="anticon anticon-plus"></i>
                    </button>
                  </nz-form-item>
                  <h4 class="amber-text ml-2">Notification Options</h4>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="eventtype"
                      >Event Type
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzMode="multiple"
                        nzShowSearch
                        nzAllowClear
                        id="eventtype"
                        placeholder="Notification"
                        nzPlaceHolder="Select Notification"
                        formControlName="eventtype"
                      >
                        <nz-option
                          *ngFor="let data of eventList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="modeofnotification"
                      >Mode of Notification</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzMode="multiple"
                        nzShowSearch
                        nzAllowClear
                        id="modeofnotification"
                        placeholder="Notification"
                        nzPlaceHolder="Select Mode of Notifications"
                        formControlName="modeofnotification"
                      >
                        <nz-option
                          *ngFor="let data of modeList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="configuration"
                    >
                      Configuration</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-select
                        nzMode="multiple"
                        nzShowSearch
                        nzAllowClear
                        id="configuration"
                        placeholder="Notification"
                        nzPlaceHolder="Configuration"
                        formControlName="configuration"
                      >
                        <nz-option
                          *ngFor="let data of configList"
                          [nzLabel]="data.keyname"
                          [nzValue]="data.keyvalue"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="8"
                      [nzXs]="12"
                      nzRequired
                      nzFor="interval"
                      >Interval
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-input-number
                        id="interval"
                        formControlName="interval"
                        [nzMin]="1"
                        [nzMax]="10"
                        [nzStep]="1"
                      ></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="status"
                      >Status</nz-form-label
                    >
                    <nz-form-control [nzSm]="12" [nzXs]="12">
                      <nz-input-group>
                        <nz-switch
                          class="status"
                          id="status"
                          formControlName="status"
                        >
                        </nz-switch>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </form>
              </div>
              <div class="col s12 mt-2 center-align">
                <button
                  [disabled]="!snameForm.valid"
                  (click)="saveOrUpdateSolution(snameForm.value)"
                  class="next-button"
                  nz-button
                  nzType="primary"
                  nzTitle="Next"
                  nzPlacement="bottomLeft"
                  nz-tooltip
                >
                  <i class="anticon anticon-arrow-right"></i>
                </button>
              </div>
            </div>
            <div *ngIf="current == 1">
              <div class="row">
                <div class="col s12">
                  <h2 class="amber-text ml-2">Step 2:</h2>
                  <p class="ml-2 grey-text text-lighten-2">
                    Fine tweak the server based on the requirement. Add volumes,
                    Security Groups and so on.
                  </p>
                </div>
                <div class="col s12">
                  <!-- include add-edit server instance -->
                  <app-cloudmatiq-aws-instance-add-edit
                    *ngIf="snameForm.value.cloudprovider == 'AWS'"
                    [solutionObj]="solutionObj"
                    (continue)="current = current + 1"
                  >
                  </app-cloudmatiq-aws-instance-add-edit>
                  <app-cloudmatiq-ecl2-add-edit-instance
                    *ngIf="snameForm.value.cloudprovider == 'ECL2'"
                    [solutionObj]="solutionObj"
                    (continue)="current = current + 1"
                  >
                  </app-cloudmatiq-ecl2-add-edit-instance>
                  <app-cloudmatiq-ali-add-edit-instance
                    *ngIf="snameForm.value.cloudprovider == 'Alibaba'"
                    [solutionObj]="solutionObj"
                    (continue)="current = current + 1"
                  >
                  </app-cloudmatiq-ali-add-edit-instance>
                </div>
                <div class="col s12 mt-2">
                  <div class="row">
                    <div class="col s12 m6 right-align">
                      <button
                        (click)="current = current - 1"
                        class="prev-button"
                        nz-button
                        nzType="primary"
                        nzTitle="Previous"
                        nzPlacement="bottomLeft"
                        nz-tooltip
                      >
                        <i class="anticon anticon-arrow-left"></i>
                      </button>
                    </div>
                    <div class="col s12 m6 left-align">
                      <button
                        (click)="current = current + 1"
                        class="next-button"
                        nz-button
                        nzType="primary"
                        nzTitle="Next"
                        nzPlacement="bottomLeft"
                        nz-tooltip
                      >
                        <i class="anticon anticon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="current == 2" class="mt-1">
              <div class="row">
                <div class="col s12">
                  <h2 class="amber-text ml-1">Step 3:</h2>
                  <p class="ml-1 grey-text text-lighten-2">
                    Make sure to manage load on each server equally. Add as much
                    as loadbalancer required and assign them to servers created.
                  </p>
                </div>
                <div class="col s12">
                  <!-- include add-edit lb instance -->
                  <app-cloudmatiq-lb-add-edit
                    [solutionObj]="solutionObj"
                    (continue)="current = current + 1"
                    *ngIf="snameForm.value.cloudprovider == 'AWS'"
                  ></app-cloudmatiq-lb-add-edit>
                  <app-cloudmatiq-ecl2-add-edit-lb
                    [solutionObj]="solutionObj"
                    (continue)="current = current + 1"
                    *ngIf="snameForm.value.cloudprovider == 'ECL2'"
                  >
                  </app-cloudmatiq-ecl2-add-edit-lb>
                  <app-cloudmatiq-ali-add-edit-lb
                    [solutionObj]="solutionObj"
                    (continue)="current = current + 1"
                    *ngIf="snameForm.value.cloudprovider == 'Alibaba'"
                  >
                  </app-cloudmatiq-ali-add-edit-lb>
                </div>
                <div class="col s12 mt-2">
                  <div class="row">
                    <div class="col s12 m6 right-align">
                      <button
                        class="prev-button"
                        (click)="current = current - 1"
                        nz-button
                        nzType="primary"
                        nzTitle="Previous"
                        nzPlacement="bottomLeft"
                        nz-tooltip
                      >
                        <i class="anticon anticon-arrow-left"></i>
                      </button>
                    </div>
                    <div class="col s12 m6 left-align">
                      <button
                        class="next-button"
                        (click)="current = current + 1"
                        nz-button
                        nzType="primary"
                        nzTitle="Next"
                        nzPlacement="bottomLeft"
                        nz-tooltip
                      >
                        <i class="anticon anticon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="current == 3" class="mt-1">
              <div class="col s12">
                <h2 class="amber-text ml-1">Step 4:</h2>
                <p class="grey-text text-lighten-2 ml-1">
                  Add parameter to simplify deployments.
                </p>
              </div>
              <app-parameters
                [customQuery]="paramQuery"
                [hideSideNav]="true"
              ></app-parameters>
              <div class="col s12 m6 left-align">
                <button
                  class="prev-button"
                  (click)="current = current - 1"
                  nz-button
                  nzType="primary"
                  nzTitle="Next"
                  nzPlacement="bottomLeft"
                  nz-tooltip
                >
                  <i class="anticon anticon-arrow-left"></i>
                </button>
                <button
                  class="next-button"
                  (click)="current = current + 1"
                  nz-button
                  nzType="primary"
                  nzTitle="Next"
                  nzPlacement="bottomLeft"
                  nz-tooltip
                >
                  <i class="anticon anticon-arrow-right"></i>
                </button>
              </div>
            </div>
            <div *ngIf="current == 4" class="mt-1">
              <div class="col s12">
                <h2 class="amber-text ml-2">Step 5:</h2>
                <p class="ml-2 grey-text text-lighten-2">
                  Tag your resource for contentful insights later.
                </p>
              </div>
              <div class="col s12">
                <app-cloudmatiq-side-bar
                  (dataChanged)="tagDrawerChanges($event)"
                  [(isVisible)]="tagPickerVisible"
                  [width]="550"
                  [title]="'Add/Edit Tags'"
                >
                  <ng-container class="modal-content">
                    <app-cloudmatiq-tag-picker
                      *ngIf="solutionObj && solutionObj.solutionid"
                      [currentTags]="tags"
                      [cloudProvider]="snameForm.value.cloudprovider"
                      [pickermode]="'combined'"
                      [mode]="'picker'"
                      [validateInputs]="true"
                      [resourceId]="solutionObj.solutionid"
                      [tagGroupType]="'SOLUTION'"
                      [resourceType]="'SOLUTION'"
                      (tagChanges)="onTagChangeEmit($event)"
                    >
                    </app-cloudmatiq-tag-picker>
                  </ng-container>
                </app-cloudmatiq-side-bar>
                <div nz-row class="ml-2">
                  <div
                    nz-col
                    nzSpan="24"
                    style="display: flex; justify-content: space-between"
                  >
                    <h2 class="solution-title mb-0" style="margin-top: 0.5em">
                      Tags
                    </h2>
                    <button
                      (click)="tagPickerVisible = true"
                      nz-button
                      nzType="primary"
                      style="margin: 9px 0"
                    >
                      Add/Edit Tags
                    </button>
                  </div>
                  <div nz-col nzSpan="24">
                    <div class="param-table" style="margin-top: 0px">
                      <app-cloudmatiq-data-table
                        [tableData]="solutionLevelTags"
                        [tableHeader]="tagTableHeader"
                        [tableConfig]="tagTableConfig"
                      >
                      </app-cloudmatiq-data-table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s12 mt-2">
                <div class="row">
                  <div class="col s12 m6 right-align">
                    <button
                      class="prev-button"
                      (click)="current = current - 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Previous"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-left"></i>
                    </button>
                  </div>
                  <div class="col s12 m8 center-align mt-2">
                    <button
                      style="width: 115px"
                      class="server-button"
                      (click)="upsertTags()"
                      nz-button
                      nz-dropdown
                    >
                      <span>Save</span>
                    </button>
                  </div>
                  <div class="col s12 m6 left-align">
                    <button
                      class="next-button"
                      (click)="current = current + 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Next"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="showcosts && current == 5" class="mt-1">
              <div class="col s12">
                <h2 class="amber-text ml-1">Step 6:</h2>
                <p class="ml-1 grey-text text-lighten-2">
                  Cost summary of the solution.
                </p>
              </div>
              <div class="col s12">
                <app-costsummary
                  *ngIf="current == 5"
                  [solutionData]="solutionObj"
                ></app-costsummary>
              </div>
              <div class="col s12 mt-2">
                <div class="row">
                  <div class="col s12 m6 right-align">
                    <button
                      class="prev-button"
                      (click)="current = current - 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Previous"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-left"></i>
                    </button>
                  </div>
                  <div class="col s12 m6 left-align">
                    <button
                      class="next-button"
                      (click)="current = current + 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Next"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="!showcosts && current == 5" class="mt-1">
              <div class="col s12">
                <h2 class="amber-text ml-1">Step 6:</h2>
                <p class="ml-1 grey-text text-lighten-2">
                  Graphical overview of the solution.
                </p>
              </div>
              <div class="col s12">
                <app-solutiongraph
                  *ngIf="current == 5"
                  [graphical]="solutionObj"
                ></app-solutiongraph>
              </div>
              <div class="col s12 mt-2">
                <div class="row">
                  <div class="col s12 m6 right-align">
                    <button
                      class="prev-button"
                      (click)="current = current - 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Previous"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-left"></i>
                    </button>
                  </div>
                  <div class="col s12 m6 left-align">
                    <button
                      class="next-button"
                      (click)="current = current + 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Next"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div *ngIf="showcosts && current == 6" class="mt-1">
              <div class="col s12">
                <h2 class="amber-text ml-1">Step 7:</h2>
                <p class="ml-1 grey-text text-lighten-2">
                  Graphical overview of the solution.
                </p>
              </div>
              <div class="col s12">
                <app-solutiongraph
                  *ngIf="current == 6"
                  [graphical]="solutionObj"
                ></app-solutiongraph>
              </div>
              <div class="col s12 mt-2">
                <div class="row">
                  <div class="col s12 m6 right-align">
                    <button
                      class="prev-button"
                      (click)="current = current - 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Previous"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-left"></i>
                    </button>
                  </div>
                  <div class="col s12 m6 left-align">
                    <button
                      class="next-button"
                      (click)="current = current + 1"
                      nz-button
                      nzType="primary"
                      nzTitle="Next"
                      nzPlacement="bottomLeft"
                      nz-tooltip
                    >
                      <i class="anticon anticon-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
            <div *ngIf="!showcosts && current == 6" class="mt-1 center">
              <i
                style="font-size: 32px"
                class="anticon anticon-check-circle-o green-text text-lighten-2"
              ></i>
              <h2 class="white-text">Created successfully</h2>
              <h4 class="mt-1 grey-text text-lighten-3">
                Solution
                <a
                  href="javascript:;"
                  (click)="viewSummary()"
                  class="amber-text"
                  >{{ snameForm.get("solutionname").value }}</a
                >
                is ready to use.
              </h4>
              <div class="row mt-2">
                <button
                  (click)="router.navigate(['solutiontemplate/create'])"
                  nz-button
                  nzType="primary"
                >
                  Add Another Template
                </button>
              </div>
              <div class="row">
                <span class="pa-2 white-text">( OR )</span>
              </div>
              <div class="row">
                <button
                  (click)="router.navigate(['solutiontemplate'])"
                  nz-button
                  nzType="primary"
                >
                  Close
                </button>
              </div>
            </div>
            <div *ngIf="showcosts && current == 6" class="mt-1 center">
              <i
                style="font-size: 32px"
                class="anticon anticon-check-circle-o green-text text-lighten-2"
              ></i>
              <h2 class="white-text">Created successfully</h2>
              <h4 class="mt-1 grey-text text-lighten-3">
                Solution
                <a
                  href="javascript:;"
                  (click)="viewSummary()"
                  class="amber-text"
                  >{{ snameForm.get("solutionname").value }}</a
                >
                is ready to use.
              </h4>
              <div class="row mt-2">
                <button
                  (click)="router.navigate(['solutiontemplate/create'])"
                  nz-button
                  nzType="primary"
                >
                  Add Another Template
                </button>
              </div>
              <div class="row">
                <span class="pa-2 white-text">( OR )</span>
              </div>
              <div class="row">
                <button
                  (click)="router.navigate(['solutiontemplate'])"
                  nz-button
                  nzType="primary"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Change Logs" *ngIf="solutionObj.solutionid !== undefined && solutionObj.solutionid !== null && isChangeLog">
    <app-comments
      *ngIf="tabIndex == 1"
      [resourceDetails]="solutionObj"
      [resourceId]="solutionObj.refid"
      [refType]="'history'"
    >
    </app-comments>
  </nz-tab>
  </nz-tabset>
  </ng-container>
</app-cloudmatiq-side-nav>
