<!-- [blockUI]="loading" -->
<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <div nz-row style="padding: 19px 0">
      <div nz-col nzSpan="6">
        <nz-select
          [(ngModel)]="model.customer"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Customer"
          style="width: 95%"
        >
          <nz-option
            *ngFor="let t of customersList; index as ti"
            [nzLabel]="t.customername"
            [nzValue]="t.customerid"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="6">
        <nz-select
          [(ngModel)]="model.account"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Account ID"
          style="width: 95%"
        >
          <nz-option
            *ngFor="let t of accountsList; index as ti"
            [nzLabel]="t.name"
            [nzValue]="t.id"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="6">
        <nz-select
          [(ngModel)]="model.tag"
          (ngModelChange)="tagChanged($event)"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Tag"
          style="width: 95%"
        >
          <nz-option
            *ngFor="let t of tagList; index as ti"
            [nzLabel]="t.tagname"
            [nzValue]="t.tagid"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="3">
        <input
          *ngIf="(selectedTag | json) == '{}'"
          nz-input
          placeholder="Value"
          disabled
        />
        <nz-select
          *ngIf="
            selectedTag && selectedTag.tagtype && selectedTag.tagtype == 'list'
          "
          [(ngModel)]="model.tagvalue"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Value"
          style="width: 95%"
        >
          <nz-option
            *ngFor="let t of selectedTag.lookupvalues; index as ti"
            [nzLabel]="t"
            [nzValue]="t"
          >
          </nz-option>
        </nz-select>
        <nz-select
          *ngIf="
            selectedTag &&
            selectedTag.tagtype &&
            selectedTag.tagtype == 'boolean'
          "
          [(ngModel)]="model.tagvalue"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Value"
          style="width: 95%"
        >
          <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
          <nz-option nzLabel="No" nzValue="No"> </nz-option>
        </nz-select>
        <nz-date-picker
          *ngIf="
            selectedTag && selectedTag.tagtype && selectedTag.tagtype == 'date'
          "
          [(ngModel)]="model.tagvalue"
          nzFormat="dd-MMM-yyyy"
        ></nz-date-picker>
        <input
          *ngIf="
            selectedTag && selectedTag.tagtype && selectedTag.tagtype == 'text'
          "
          [(ngModel)]="model.tagvalue"
          nz-input
          placeholder="Value"
          [(ngModel)]="value"
        />
        <nz-input-number
          *ngIf="
            selectedTag &&
            selectedTag.tagtype &&
            selectedTag.tagtype == 'number'
          "
          [(ngModel)]="model.tagvalue"
        ></nz-input-number>
        <nz-input-number
          *ngIf="
            selectedTag && selectedTag.tagtype && selectedTag.tagtype == 'range'
          "
          [(ngModel)]="model.tagvalue"
          [nzMin]="selectedTag.min"
          [nzMax]="selectedTag.max"
        >
        </nz-input-number>
      </div>
      <div nz-col nzSpan="3">
        <button
          nzSize="small"
          nz-button
          (click)="getMetrics()"
          [nzLoading]="loading"
          nzType="primary"
          style="margin: 0 13px 0 0"
        >
          <i class="anticon anticon-search"></i>
        </button>
      </div>
    </div>
    <div nz-row nzSpan="24" style="padding: 15px 0">
      <div nz-col nzSpan="12">
        <!-- #OP_T620 -->
        <button
          nzSize="small"
          nz-button
          (click)="downloadCSV()"
           *ngIf = "download"  
          nzType="primary"
          style="margin: 0 13px 0 0"
        >
          <i class="anticon anticon-download"></i>
        </button>
      </div>
      <div nz-col nzSpan="12" style="text-align: end">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            type="text"
            nz-input
            style="width: 35%"
            (keyup.enter)="currentPage = 1; getMetrics()"
            placeholder="Search"
            [(ngModel)]="model.search"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i
            (click)="currentPage = 1; model.search = null"
            *ngIf="model.search"
            style="color: white"
            class="anticon anticon-close-circle"
          ></i
        ></ng-template>
      </div>

      <!-- <input
        nz-input
        placeholder="Search"
        style="width: 25%"
        (keyup.enter)="currentPage = 1; getMetrics()"
        [(ngModel)]="model.search"
        nzAllowClear
      /> -->
    </div>
    <div nz-col nzSpan="24">
      <nz-table
        #basicTable
        [nzData]="metrics"
        [nzFrontPagination]="false"
        [nzTotal]="totalCount"
        [nzLoading]="loading"
        [(nzPageIndex)]="currentPage"
        [(nzPageSize)]="pageLimit"
        [nzScroll]="{ x: '1500px' }"
        (nzPageIndexChange)="getMetrics()"
      >
        <thead>
          <tr>
            <th nzWidth="150px">Instance Name</th>
            <th nzWidth="150px">Instance Id</th>
            <th nzWidth="100px">Cloud provider</th>
            <th nzWidth="175px">
              CPU
              <!-- <nz-dropdown
                nzTrigger="click"
                [nzClickHide]="false"
                #dropdown
                [nzPlacement]="'bottomRight'"
              >
                <i
                  style="color: white"
                  class="anticon anticon-filter ant-table-filter-icon"
                  nz-dropdown
                ></i>
                <div
                  style="
                    background: #5c6672;
                    width: 225px;
                    padding: 13px 10px;
                    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
                  "
                >
                  <nz-slider [(ngModel)]="model.cpu_range" nzRange></nz-slider>
                </div>
              </nz-dropdown> -->
            </th>
            <th nzWidth="175px">
              Memory
              <!-- <nz-dropdown
                nzTrigger="click"
                [nzClickHide]="false"
                #dropdown
                [nzPlacement]="'bottomRight'"
              >
                <i
                  style="color: white"
                  class="anticon anticon-filter ant-table-filter-icon"
                  nz-dropdown
                ></i>
                <div
                  style="
                    background: #5c6672;
                    width: 225px;
                    padding: 13px 10px;
                    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
                  "
                >
                  <nz-slider
                    [(ngModel)]="model.memory_range"
                    nzRange
                  ></nz-slider>
                </div>
              </nz-dropdown> -->
            </th>
            <th nzWidth="175px">
              Disk
              <!-- <nz-dropdown
                nzTrigger="click"
                [nzClickHide]="false"
                #dropdown
                [nzPlacement]="'bottomRight'"
              >
                <i
                  style="color: white"
                  class="anticon anticon-filter ant-table-filter-icon"
                  nz-dropdown
                ></i>
                <div
                  style="
                    background: #5c6672;
                    width: 225px;
                    padding: 13px 10px;
                    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
                  "
                >
                  <nz-slider [(ngModel)]="model.disk_range" nzRange></nz-slider>
                </div>
              </nz-dropdown> -->
            </th>
            <th nzWidth="175px">Status</th>
            <th nzWidth="175px">Alerts (Last 24 hours)</th>
            <th nzWidth="50px" nzRight="0px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.instancename }}</td>
            <td>{{ data.instancerefid }}</td>
            <td>{{ data.cloudprovider }}</td>
            <td>
              <div style="padding: 0 13px" *ngIf="data.cpu">
                <nz-progress [nzPercent]="data.cpu"></nz-progress>
              </div>
              <div style="padding: 0 13px" *ngIf="!data.cpu">N/A</div>
            </td>
            <td>
              <div style="padding: 0 13px" *ngIf="data.memory">
                <nz-progress [nzPercent]="data.memory"></nz-progress>
              </div>
              <div style="padding: 0 13px" *ngIf="!data.memory">N/A</div>
            </td>
            <td>
              <div style="padding: 0 13px" *ngIf="data.disk">
                <nz-progress [nzPercent]="data.disk"></nz-progress>
              </div>
              <div style="padding: 0 13px" *ngIf="!data.disk">N/A</div>
            </td>
            <td>
              <div style="background: green; padding: 8px 13px">
                {{ data.up ? data.up : "N/A" }}
              </div>
            </td>
            <td>
              <div *ngIf="data.events_count <= 0">
                {{ data.events_count }}
              </div>
              <div *ngIf="data.events_count > 0">
                <a
                  style="color: #ffcc00; font-weight: bold"
                  (click)="routeToEventLogs(data.instancerefid)"
                  >{{ data.events_count }}</a
                >
              </div>
            </td>
            <td nzRight="0px" style="text-align: center">
              <i
                style="color: #ffcc00"
                class="anticon anticon-link"
                (click)="
                  serverDetail = {
                    cloudprovider: data.cloudprovider,
                    instanceref: data.instancerefid,
                    instancereftype: 'instancerefid'
                  };
                  viewServerDetail = true
                "
                nz-dropdown
              ></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <app-cloudmatiq-side-bar
    [(isVisible)]="viewServerDetail"
    (dataChanged)="viewServerDetail = false"
    [title]="''"
    [width]="1300"
  >
    <ng-container class="modal-content" *ngIf="viewServerDetail">
      <app-cloudmatiq-server-detail
        [instanceref]="serverDetail"
        (showDrillDown)="viewServerDetail = false"
      >
      </app-cloudmatiq-server-detail>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
