<div>
  <div class="ant-col-md-24 ant-col-lg-24 center-align">
    <p-organizationChart
      [value]="graphdata"
      class="graph"
      selectionMode="single"
    >
      <ng-template let-node pTemplate="person">
        <!-- <div class="node-content"> -->
        <div>{{ node.label }}</div>
        <img src="assets/images/{{ node.data.avatar }}" width="30" />
        <!-- // </div> -->
      </ng-template>
      <ng-template let-node>
        {{ node.label }}
      </ng-template>
    </p-organizationChart>
  </div>
</div>
