<form nz-form [formGroup]="volumeForm">
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="volumetype"
      >Volume Type</nz-form-label
    >
    <nz-form-control [nzSm]="24" [nzXs]="12">
      <nz-select
        nzShowSearch
        nzAllowClear
        id="volumetype"
        placeholder="Select Volume Type"
        nzPlaceHolder="Select Volume Type"
        formControlName="volumetype"
      >
        <nz-option
          nzLabel="General Purpose SSD ( GP2 )"
          nzValue="General Purpose SSD ( GP2 )"
        ></nz-option>
        <nz-option
          nzLabel="Provisioned IOPS SSD ( IO1 )"
          nzValue="Provisioned IOPS SSD ( IO1 )"
        ></nz-option>
        <nz-option
          nzLabel="Cold HDD ( SC1 )"
          nzValue="Cold HDD ( SC1 )"
        ></nz-option>
        <nz-option
          nzLabel="Throughput Optimized HDD ( ST1 )"
          nzValue="Throughput Optimized HDD ( ST1 )"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="sizeingb">
      Volume Size ( GB )</nz-form-label
    >
    <nz-form-control [nzSm]="24" [nzXs]="12">
      <nz-input-group>
        <nz-input-number
          id="sizeingb"
          placeholder="Size in GB"
          formControlName="sizeingb"
          nz-input
          type="text"
        ></nz-input-number>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="delontermination"
      >Delete On Termination</nz-form-label
    >
    <nz-form-control [nzSm]="24" [nzXs]="12">
      <nz-select
        nzShowSearch
        nzAllowClear
        id="delontermination"
        placeholder="Delete On Termination"
        nzPlaceHolder="Delete On Termination"
        formControlName="delontermination"
      >
        <nz-option nzLabel="Yes" nzValue="Y"></nz-option>
        <nz-option nzLabel="No" nzValue="N"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="encryptedyn"
      >Encrypt Block</nz-form-label
    >
    <nz-form-control [nzSm]="24" [nzXs]="12">
      <nz-select
        nzShowSearch
        nzAllowClear
        id="encryptedyn"
        placeholder="Encrypt the block"
        nzPlaceHolder="Encrypt the block"
        formControlName="encryptedyn"
      >
        <nz-option nzLabel="Yes" nzValue="Y"></nz-option>
        <nz-option nzLabel="No" nzValue="N"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="24" [nzXs]="12">
      <nz-input-group>
        <input id="notes" formControlName="notes" nz-input type="text" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="!volumeForm.valid"
      (click)="volumesChanged()"
      class="save-button"
      nz-button
      nzType="primary"
    >
      Save
    </button>
  </div>
</div>
