<ng-container *ngIf="isTemplateShowHide">
  <nz-spin [nzSpinning]="isloading">
    <ng-container *ngTemplateOutlet="contentpanel"></ng-container>
  </nz-spin>
</ng-container>

<ng-container *ngIf="!isTemplateShowHide">
  <app-cloudmatiq-side-nav [blockUI]="loading">
    <div class="page-body">
      <ng-container *ngTemplateOutlet="contentpanel"></ng-container>
    </div>
  </app-cloudmatiq-side-nav>
</ng-container>

<ng-template #contentpanel>
  <nz-tabset>
    <nz-tab nzTitle="Details">
      <form nz-form [formGroup]="orchForm">
        <div nz-row>
          <div nz-col nzSpan="24" *ngIf="!module || serviceRequest">
            <!-- <div nz-col nzSpan="8" class="p-r-15">
              <nz-form-item>
                <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzRequired nzFor="rtype">Title
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input formControlName="title" nz-input placeholder="Value" />
                </nz-form-control>
              </nz-form-item>
            </div> -->
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Schedule
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    formControlName="scheduled_run"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Value"
                    (ngModelChange)="checkSchedulePattern()"
                    style="width: 95%"
                  >
                    <nz-option
                      nzLabel="Scheduled run"
                      nzValue="schedule"
                    ></nz-option>
                    <nz-option
                      nzLabel="Recurring"
                      nzValue="recurring"
                    ></nz-option>
                    <nz-option
                      nzLabel="Immediate"
                      nzValue="immediate"
                    ></nz-option> </nz-select></nz-form-control
              ></nz-form-item>
              <!-- <div
                *ngIf="
                  orchForm.get('scheduled').value == true &&
                  !orchForm.get('recurring').value
                    </nz-form-item>
                  </div>
                </div>
              </div> -->
            </div>
            <div nz-col nzSpan="8" *ngIf="!serviceRequest">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Tag
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    formControlName="_tag"
                    style="width: 95%"
                    nzAllowClear
                    nzPlaceHolder="Tag"
                    nzShowSearch
                    (ngModelChange)="
                      tagChanged($event); getInstancesWithFilter()
                    "
                  >
                    <nz-option
                      *ngFor="let t of tagList; index as ti"
                      [nzLabel]="t.tagname"
                      [nzValue]="t.tagid"
                    >
                    </nz-option>
                  </nz-select> </nz-form-control
              ></nz-form-item>
            </div>
            <div nz-col nzSpan="8" *ngIf="!serviceRequest">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Tag Values
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <input
                    *ngIf="(selectedTag | json) == '{}'"
                    nz-input
                    placeholder="Tag Value"
                    disabled
                  />
                  <nz-select
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'list'
                    "
                    formControlName="tagvalue"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Value"
                    style="width: 95%"
                  >
                    <nz-option
                      *ngFor="let t of selectedTag.lookupvalues; index as ti"
                      [nzLabel]="t"
                      [nzValue]="t"
                    >
                    </nz-option>
                  </nz-select>
                  <nz-select
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'boolean'
                    "
                    formControlName="tagvalue"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Value"
                    style="width: 95%"
                  >
                    <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                    <nz-option nzLabel="No" nzValue="No"> </nz-option>
                  </nz-select>
                  <nz-date-picker
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'date'
                    "
                    formControlName="tagvalue"
                    nzFormat="dd-MMM-yyyy"
                  ></nz-date-picker>
                  <input
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'text' || selectedTag.tagtype == 'cmdb'
                    "
                    formControlName="tagvalue"
                    nz-input
                    placeholder="Value"
                  />
                  <nz-input-number
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'number'
                    "
                    formControlName="tagvalue"
                  ></nz-input-number>
                  <nz-input-number
                    *ngIf="
                      selectedTag &&
                      selectedTag.tagtype &&
                      selectedTag.tagtype == 'range'
                    "
                    formControlName="tagvalue"
                    [nzMin]="selectedTag.min"
                    [nzMax]="selectedTag.max"
                  >
                  </nz-input-number>
                  <i
                    class="tag-search anticon anticon-search"
                    (click)="getInstancesWithFilter()"
                    title="Click to search"
                  ></i>
                </nz-form-control>
              </nz-form-item>
            </div>
            <button
              style="float: right; right: 20px"
              [disabled]="disabled"
              type="submit"
              nz-button
              class="save-run-btn"
              title="Save"
              (click)="validateOrch()"
              *ngIf="serviceRequest && !isViewMode"
            >
              Save
            </button>
          </div>
          <div
            *ngIf="
              orchForm.get('recurring').value == true &&
              !orchForm.get('scheduled').value
            "
            nz-col
            nzSpan="24"
          >
            <div nz-row>
              <div nz-col nzSpan="24">
                <div nz-col nzSpan="8" style="margin-top: 13px">
                  <nz-form-item>
                    <nz-form-label
                      class="left-align"
                      [nzSm]="24"
                      [nzXs]="12"
                      nzFor="rtype"
                      >Cron Pattern
                    </nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="12">
                      <input
                        formControlName="cron"
                        nz-input
                        placeholder="Cron Pattern"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8" style="margin-top: 13px">
                  <nz-form-item>
                    <nz-form-label
                      class="left-align"
                      [nzSm]="24"
                      [nzXs]="12"
                      nzFor="rtype"
                      >Repeat count
                    </nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="12">
                      <input
                        formControlName="repetition"
                        type="number"
                        nz-input
                        placeholder="Repeat count"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24" *ngIf="!module || serviceRequest">
            <div nz-col nzSpan="24" *ngIf="!serviceRequest">
              <nz-form-item>
                <nz-form-label
                  class="left-align"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="rtype"
                  >Description
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24">
                  <nz-input-group>
                    <textarea
                      nz-input
                      placeholder="Description"
                      rows="4"
                      class="desc-textarea"
                      formControlName="description"
                    ></textarea>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </form>
      <div nz-row *ngIf="orchInstancesCount.length > 0 || serviceRequest">
        <div
          nz-col
          nzSpan="24"
          *ngIf="!isViewMode"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0 0;
          "
        >
          <h4 class="white-text width-100 script-image">
            <div class="p-b-20">Targets</div>
            <div class="right">
              <span class="ant-form-item-children">
                <input
                  #fileInput
                  type="file"
                  name="scriptfile"
                  (change)="onFileChange($event)"
                  style="display: none"
                />
                <span class="file-name">
                  {{ selectedFileName ? selectedFileName : "No file choosen" }}
                </span>
              </span>
              &nbsp;
              <i
                class="anticon anticon-close-circle"
                *ngIf="selectedFileName"
                (click)="removeFileUpload()"
              ></i>
              &nbsp;
              <button
                *ngIf="instanceList?.length > 0"
                (click)="fileInput.click()"
                [disabled]="isViewMode"
                class="ant-btn ant-btn-primary"
                nz-button
              >
                <i class="anticon anticon-upload"></i> Upload
              </button>
              <button
                *ngIf="!isViewMode"
                (click)="addOrchRunGroup()"
                class="add-run-btn"
                title="New"
                nz-button
              >
                <i class="anticon anticon-plus"></i> Add
              </button>
            </div>
            <button
              nz-button
              *ngIf="missingIns.length > 0"
              nzType="dashed"
              class="m-l-10 left"
              nzSize="small"
              (click)="showMissingVM = true"
            >
              Show missing VM's
            </button>
            <span
              *ngIf="missingIns.length > 0"
              class="left p-t-5 materialize-red-text m-l-10"
              >Some VM's are missing</span
            >
            <button
              nz-button
              *ngIf="duplicateVMs.length > 0"
              nzType="dashed"
              class="m-l-10 left"
              nzSize="small"
              (click)="ShowDuplicateVM = true"
            >
              Duplicate VM's
            </button>
            <span
              *ngIf="duplicateVMs.length > 0"
              class="left p-t-5 materialize-red-text m-l-10"
              >Duplicate VM's are found</span
            >
          </h4>
        </div>
        <div nz-col nzSpan="24" class="orch-run-table">
          <nz-table #nzTable [nzScroll]="{ x: '1600px' }">
            <thead>
              <tr>
                <th nzWidth="100px" nzLeft="0px">
                  Title
                  <i
                    class="anticon anticon-info-circle-o amber-text vertical-align-text-b"
                    title="Title allows only 100 characters"
                  ></i>
                </th>
                <th *ngIf="orchForm.get('scheduled').value == true">
                  Scheduled
                </th>
                <th>
                  Group
                  <i
                    class="anticon anticon-info-circle-o amber-text vertical-align-text-b"
                    title="Group allows only 100 characters"
                  ></i>
                </th>
                <th *ngFor="let i of orchInstancesCount; let ind = index">
                  {{ i }}
                </th>
                <th class="center"
                nzRight="0px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of orchRunGroup; let ind = index">
                <td width="14%" nzLeft="0px">
                  <input
                    nz-input
                    placeholder="Title"
                    [(ngModel)]="i['title']"
                    maxlength="100"
                    [disabled]="isViewMode"
                  />
                </td>
                <td *ngIf="orchForm.get('scheduled').value == true">
                  <nz-date-picker
                    nzShowTime
                    nzFormat="dd-MMM-yyyy HH:mm:ss"
                    nzPlaceHolder="Select Time"
                    [(ngModel)]="i['runtimestamp']"
                    [nzDisabled]="isViewMode"
                  ></nz-date-picker>
                </td>
                <td>
                  <input
                    nz-input
                    placeholder="Group Name"
                    [(ngModel)]="i['groupname']"
                    maxlength="100"
                    [disabled]="isViewMode"
                  />
                </td>
                <td *ngFor="let j of orchInstancesCount; let jind = index">
                  <nz-form-item *ngIf="!isFileSelected">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input
                        nz-input
                        placeholder="Value"
                        [nzAutocomplete]="auto"
                        [(ngModel)]="i[j].instancename"
                        [disabled]="isViewMode"
                      />
                      <nz-autocomplete nzBackfill #auto>
                        <nz-auto-option
                          *ngFor="let option of instanceList"
                          [nzValue]="option.instancename"
                        >
                          {{ option.instancename }}
                        </nz-auto-option>
                      </nz-autocomplete>
                    </nz-input-group>
                    <!-- <nz-form-control>
                      <nz-select
                        style="width: 100%"
                        nzShowSearch
                        [(ngModel)]="i[j]"
                        nzPlaceHolder="Please select"
                      >
                        <nz-option
                          *ngFor="let option of instanceList"
                          [nzLabel]="option.instancename"
                          [nzValue]="option.instancerefid"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control> -->
                  </nz-form-item>
                  <input
                    *ngIf="isFileSelected && i[j]"
                    nz-input
                    placeholder="Value"
                    [(ngModel)]="i[j].instancename"
                    [disabled]="isViewMode"
                  />
                </td>
                <td
                  style="text-align: center; z-index: 0"
                  width="5%"
                  nzRight="0px"
                  *ngIf="!isViewMode"
                >
                  <a
                    title="Delete"
                    (click)="orchRunGroup.splice(ind, 1)"
                    class="m-r-3"
                  >
                    <i class="anticon anticon-delete"></i>
                  </a>
                  <a title="Filter">
                    <i class="anticon anticon-filter"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div nz-row>
        <div
          nz-col
          nzSpan="24"
          *ngIf="variablesToGet.length > 0"
          style="margin-top: 13px"
        >
          <h4 class="amber-text">Parameters</h4>
        </div>
        <div nz-col nzSpan="24" *ngIf="variablesToGet.length > 0">
          <div nz-row class="ml-2 row">
            <div
              nz-col
              nzSpan="12"
              *ngFor="let param of variablesToGet; index as i"
            >
              <!-- FIXME: Remove this validation on completing orchestration -->
              <!-- *ngIf="!isGroupShare || (isGroupShare && param['fieldlabel'] != 'TMS Version' && param['fieldlabel'] != 'Other Softwares')" -->
              <nz-form-item>
                <nz-form-label nzFor="notes" class="notes">
                  {{ param["key"] }}
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input
                      nz-input
                      placeholder="Value"
                      [(ngModel)]="param['value']"
                      [name]="param['key']"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 30px">
        <button
          class="close-run-btn"
          title="Close"
          nz-button
          *ngIf="!serviceRequest"
          nz-button
          (click)="close()"
        >
          Discard
        </button>
        <button
          class="save-run-btn"
          title="Save"
          [disabled]="disabled"
          type="submit"
          nz-button
          (click)="validateOrch()"
          *ngIf="!serviceRequest"
        >
          Save
        </button>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Triggers" *ngIf="!module">
      <div nz-row style="margin-bottom: 13px">
        <div nz-col nzSpan="24">
          <nz-select
            style="width: 100%"
            [(ngModel)]="triggerForm['type']"
            nzAllowClear
            nzPlaceHolder="Choose"
          >
            <nz-option nzValue="UPDATE-TAG" nzLabel="Update Tag"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-row *ngIf="triggerForm['type'] == 'UPDATE-TAG'">
      <div nz-col nzSpan="24">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzFor="tagid"
              >Tag
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                [(ngModel)]="triggerForm['meta']['tagid']"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Tag"
                nzShowSearch
                (ngModelChange)="triggersTagChanged($event)"
              >
                <nz-option
                  *ngFor="let t of tagList; index as ti"
                  [nzLabel]="t.tagname"
                  [nzValue]="t.tagid"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label class="left-align" [nzSm]="24" [nzXs]="12" nzFor="tagid"
              >Tag Value</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <input
                *ngIf="(selectedTriggerTag | json) == '{}'"
                nz-input
                placeholder="Value"
                disabled
              />
              <nz-select
                *ngIf="
                  selectedTriggerTag &&
                  selectedTriggerTag.tagtype &&
                  selectedTriggerTag.tagtype == 'list'
                "
                [(ngModel)]="triggerForm['meta']['tagvalue']"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of selectedTriggerTag.lookupvalues; index as ti"
                  [nzLabel]="t"
                  [nzValue]="t"
                >
                </nz-option>
              </nz-select>
              <nz-select
                *ngIf="
                  selectedTriggerTag &&
                  selectedTriggerTag.tagtype &&
                  selectedTriggerTag.tagtype == 'boolean'
                "
                [(ngModel)]="triggerForm['meta']['tagvalue']"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                <nz-option nzLabel="No" nzValue="No"> </nz-option>
              </nz-select>
              <nz-date-picker
                *ngIf="
                  selectedTriggerTag &&
                  selectedTriggerTag.tagtype &&
                  selectedTriggerTag.tagtype == 'date'
                "
                [(ngModel)]="triggerForm['meta']['tagvalue']"
                nzFormat="dd-MMM-yyyy"
              ></nz-date-picker>
              <input
                *ngIf="
                  selectedTriggerTag &&
                  selectedTriggerTag.tagtype &&
                  selectedTriggerTag.tagtype == 'text'
                "
                [(ngModel)]="triggerForm['meta']['tagvalue']"
                nz-input
                placeholder="Value"
              />
              <nz-input-number
                *ngIf="
                  selectedTriggerTag &&
                  selectedTriggerTag.tagtype &&
                  selectedTriggerTag.tagtype == 'number'
                "
                [(ngModel)]="triggerForm['meta']['tagvalue']"
              ></nz-input-number>
              <nz-input-number
                *ngIf="
                  selectedTriggerTag &&
                  selectedTriggerTag.tagtype &&
                  selectedTriggerTag.tagtype == 'range'
                "
                [(ngModel)]="triggerForm['meta']['tagvalue']"
                [nzMin]="selectedTriggerTag.min"
                [nzMax]="selectedTriggerTag.max"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      </div>
    </nz-tab>
  </nz-tabset>
  <app-cloudmatiq-side-bar
    (dataChanged)="showMissingVM = false"
    [(isVisible)]="showMissingVM"
    title="Missing VM's"
    [width]="820"
  >
    <ng-container class="modal-content">
      <span *ngIf="missingIns.length > 0" class="right p-t-5 p-b-20 orange-text"
        ><i class="anticon anticon-info-circle-o"></i> Please sync the customer
        accounts before running orchestration
      </span>
      <nz-table
        #nzTable
        *ngIf="showMissingVM"
        [nzData]="missingIns"
        [nzPageSize]="10"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th width="25%">Title</th>
            <th *ngFor="let h of orchInstancesCount">{{ h }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of missingIns">
            <td>{{ o.title }}</td>
            <td *ngFor="let h of orchInstancesCount">
              <span class="materialize-red-text" *ngIf="o[h]?.status">{{
                o[h].instancename
              }}</span>
              <span class="green-text" *ngIf="!o[h]?.status">{{
                o[h].instancename
              }}</span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="ShowDuplicateVM = false"
    [(isVisible)]="ShowDuplicateVM"
    title="Duplicate VM's"
    [width]="1200"
  >
    <ng-container class="modal-content">
      <nz-table
        #nzTable
        *ngIf="ShowDuplicateVM"
        [nzData]="duplicateVMs"
        [nzPageSize]="10"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th>Column Name</th>
            <th>Title</th>
            <th>Instance Name</th>
            <th>Instance ID</th>
            <th>Platform</th>
            <th>Region</th>
            <th>Account ID</th>
            <th>Cloud Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of duplicateVMs">
            <td>{{ o.orch }}</td>
            <td>{{ o.title }}</td>
            <td>{{ o.instancename }}</td>
            <td>{{ o.instancerefid }}</td>
            <td>{{ o.platform }}</td>
            <td>{{ o.region }}</td>
            <td>{{ o.accountdata.accountref }}</td>
            <td>{{ o.cloudstatus }}</td>
            <td>
              <label
                title="Select"
                nz-checkbox
                style="color: #fff !important"
                [(ngModel)]="o.isSelected"
              ></label>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <button
        (click)="selectRecord()"
        class="save-button"
        type="submit"
        nz-button
        nzType="primary"
      >
        Select
      </button>
    </ng-container>
  </app-cloudmatiq-side-bar>
</ng-template>
