<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="destinationnatForm">
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="rulename" nzRequired
            >Rule Name</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="rulename"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="fromzone" nzRequired
            >From Zone
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              [nzDisabled]="inputdisabled"
              nzShowSearch
              nzAllowClear
              id="fromzone"
              placeholder="Select Zone"
              formControlName="fromzone"
            >
              <nz-option
                *ngFor="let data of interfaceZoneList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="pooladdress" nzRequired
            >Incoming Pool Address</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="pooladdress"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="matchaddress" nzRequired
            >Match Destination Address
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="matchaddress"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>
<div class="col s12">
  <nz-table #nzTable [nzData]="destinationnatList">
    <thead>
      <tr>
        <th nzWidth="25px">Rule Name</th>
        <th nzWidth="25px">Source Zone</th>
        <th nzWidth="20px">Incoming</th>
        <th nzWidth="20px">Destination</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.rulename }}</td>
        <td>{{ data.fromzone }}</td>
        <td>{{ data.pooladdress }}</td>
        <td>{{ data.matchaddress }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveOrUpdate(destinationnatForm.value)"
      class="save-button"
      type="submit"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
