<div
      *ngFor="let ntfObj of ntfList"
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 19px;
        position: sticky;
        top: 0;
        z-index: 999;
      "
      [style.background-color]="ntfObj.bgcolor"
    >
    <div>
      <p style="margin: 0" [style.color]="ntfObj.textcolor">{{ ntfObj.content }}</p>
    </div>
    <div [style.color]="ntfObj.textcolor">
      <i *ngIf="ntfObj.timer != 'EXPIRED'" class="anticon anticon-bell"></i>
      <b *ngIf="ntfObj.timer != 'EXPIRED'">{{ ntfObj.timer }}</b>
    </div>
    </div>