<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <form nz-form [formGroup]="interfaceForm">
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="interfacename"
            >Name</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="interfacename"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="networkid"
            >Connected Logical Network</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-select
              [nzDisabled]="interFaceEditObj.iginterfaceid || inputdisabled"
              nzShowSearch
              nzAllowClear
              id="networkid"
              placeholder="Select Network"
              nzPlaceHolder="Select Network"
              formControlName="networkid"
            >
              <nz-option
                *ngFor="let data of networkList"
                [nzLabel]="data.networkname"
                [nzValue]="data"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="gwvipv4"
            >Gateway IPV4 Address</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="gwvipv4"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="primaryipv4"
            >Primary Device IPv4 Address
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="primaryipv4"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="12"
            nzRequired
            nzFor="secondaryipv4"
            >Secondary Device IPv4 Address
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="secondaryipv4"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="vrid"
            >VRRP Group ID
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="vrid"
              type="number"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="vrid"
            >IPV4 Netmask
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              formControlName="netmask"
              type="number"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="servicetype"
            >Service Type</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-select
              [nzDisabled]="interFaceEditObj.iginterfaceid || inputdisabled"
              nzShowSearch
              nzAllowClear
              id="servicetype"
              placeholder="Select Service Type"
              nzPlaceHolder="Select Service Type"
              formControlName="servicetype"
            >
              <nz-option
                *ngFor="let data of servicetypeList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="12"
            nzFor="description"
            class="description"
            >Description</nz-form-label
          >

          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <textarea
                [attr.disabled]="inputdisabled"
                id="description"
                formControlName="description"
                placeholder="Description"
                type="text"
                nz-input
              ></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="status">Status</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <nz-switch class="status" id="status" formControlName="status"></nz-switch>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div> -->
    </div>
    <div></div>
    <div class="col s12">
      <nz-table #nzTable [nzData]="interfaceList" [nzPageSize]="10">
        <thead>
          <tr>
            <th nzWidth="25px">Name</th>
            <th nzWidth="30px">Gateway IPV4 Address</th>
            <!-- <th nzWidth="25px">Gateway IP Netmask</th> -->
            <th nzWidth="15px">Status</th>
            <th class="center-align" nzWidth="15px" nzRight="0px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.interfacename }}</td>
            <td>{{ data.gwvipv4 }}</td>
            <!-- <td>{{data.netmask}}</td> -->
            <td>{{ data.status }}</td>
            <td nzWidth="15px" class="center-align" nzRight="0px">
              &nbsp;
              <a (click)="editInterface(data)">
                <i class="anticon anticon-edit"></i> </a
              >&nbsp;
              <a
                nz-popconfirm
                nzTitle="Are you sure?"
                nzOkText="Ok"
                nzCancelText="Cancel"
                (nzOnConfirm)="deleteInterface(data)"
              >
                <i class="anticon anticon-delete"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </form>
</nz-spin>

<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled || inputdisabled"
      (click)="saveOrUpdate(interfaceForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
