<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div nz-row style="margin-top: 13px">
          <div nz-row>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.provider"
                style="width: 95%"
                nzPlaceHolder="Provider *"
              >
                <nz-option
                  *ngFor="let data of cloudproviderList"
                  [nzLabel]="data.keyname"
                  [nzValue]="data.keyvalue"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.customers"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Customer"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of customersList; index as ti"
                  [nzLabel]="t.customername"
                  [nzValue]="t.customerid"
                  (ngModelChange)="getAccountsList($event)"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.accounts"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Account ID"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of accountsList; index as ti"
                  [nzLabel]="t.name"
                  [nzValue]="t.id"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.tagid"
                (ngModelChange)="tagChanged($event)"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Tag"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of tagList; index as ti"
                  [nzLabel]="t.tagname"
                  [nzValue]="t.tagid"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <input
                *ngIf="(selectedTag | json) == '{}'"
                nz-input
                placeholder="Value"
                disabled
              />
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'list'
                "
                [(ngModel)]="filters.tagvalue"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option
                  *ngFor="let t of selectedTag.lookupvalues; index as ti"
                  [nzLabel]="t"
                  [nzValue]="t"
                >
                </nz-option>
              </nz-select>
              <nz-select
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'boolean'
                "
                [(ngModel)]="filters.tagvalue"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Value"
                style="width: 95%"
              >
                <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
                <nz-option nzLabel="No" nzValue="No"> </nz-option>
              </nz-select>
              <nz-date-picker
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'date'
                "
                [(ngModel)]="filters.tagvalue"
                nzFormat="dd-MMM-yyyy"
              ></nz-date-picker>
              <input
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'text'
                "
                [(ngModel)]="filters.tagvalue"
                nz-input
                placeholder="Value"
                [(ngModel)]="value"
              />
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'number'
                "
                [(ngModel)]="filters.tagvalue"
              ></nz-input-number>
              <nz-input-number
                *ngIf="
                  selectedTag &&
                  selectedTag.tagtype &&
                  selectedTag.tagtype == 'range'
                "
                [(ngModel)]="filters.tagvalue"
                [nzMin]="selectedTag.min"
                [nzMax]="selectedTag.max"
              >
              </nz-input-number>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px">
              <nz-select
                [(ngModel)]="filters.instancerefid"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select Instance"
                style="width: 95%"
                nzMode="multiple"
              >
                <nz-option
                  *ngFor="let t of instance"
                  [nzLabel]="t.instancename"
                  [nzValue]="t.instancerefid"
                >
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6" style="margin-bottom: 7px; top: 1px">
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select Report Type"
                style="width: 95%"
              >
                <nz-option
                  nzValue="Compliance Report"
                  nzLabel="Compliance Report"
                ></nz-option>
                <nz-option
                  nzValue="Risk Management"
                  nzLabel="Risk Management"
                ></nz-option>
              </nz-select>
            </div>

            <div
              nz-col
              nzSpan="24"
              style="margin-bottom: 7px; text-align: end; margin-top: 5px"
            >
              <button
                nzSize="small"
                nz-button
                (click)="getfilteredInstance()"
                [nzLoading]="gettingAssets"
                nzType="primary"
                style="margin: 0 13px 0 0"
              >
                <i class="anticon anticon-search"></i>Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span
      style="align-items: center; justify-content: space-between"
      class="card-toggle-btn"
    >
      <nz-button-group>
        <button
          title="List view"
          [ngClass]="{ 'active-btn': currentTab == 0 }"
          nz-button
          (click)="onChangeView(0)"
          class="button"
          [nzType]="currentTab == 0 ? 'primary' : 'default'"
        >
          <i class="anticon anticon-table"></i>
        </button>
        <button
          title="Summary view"
          [ngClass]="{ 'active-btn': currentTab == 1 }"
          nz-button
          (click)="onChangeView(1)"
          class="button"
          [nzType]="currentTab == 1 ? 'primary' : 'default'"
        >
          <i class="anticon anticon-pie-chart"></i>
        </button>
        <button
          title="Detailed view"
          [ngClass]="{ 'active-btn': currentTab == 2 }"
          nz-button
          (click)="onChangeView(2)"
          class="button"
          [nzType]="currentTab == 2 ? 'primary' : 'default'"
        >
          <i class="anticon anticon-file-text"></i>
        </button>
      </nz-button-group>
    </span>
    <div *ngIf="currentTab == 0">
      <div *ngIf="!isView">
        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="instanceList"
          [tableHeader]="tableHeader"
          [tableConfig]="tableConfig"
          [selectedcolumns]="selectedcolumns"
          (dataRow)="openModal($event)"
        ></app-cloudmatiq-data-table>
        <div>
          <p style="color:#ffcc00;">Total Records: {{totalCount}}</p>
        </div>
      </div>
      <div *ngIf="isView">
        <div nz-col nzSpan="24" class="mt-3">
          <div>
            <span class="left left-align">
              <h5 class="f-w-bold amber-text m-l-10 f-s-17">
                {{ instanceData.instancename }}
              </h5>
            </span>
          </div>
          <div class="right-align">
            <button
              nzSize="small"
              nz-button
              (click)="goToList()"
              nzType="primary"
              class="ml-1"
            >
              <i class="anticon anticon-close"></i>
            </button>
          </div>
        </div>
        <app-compliance-score
          [isTemplateShowHide]="true"
        ></app-compliance-score>
      </div>
    </div>
    <div *ngIf="currentTab == 1">
      <nz-spin nzTip="Loading..." *ngIf="isLoading" class="loader"> </nz-spin>
      <div *ngIf="!isLoading">
        <app-compliance-score
          [isTemplateShowHide]="true"
        ></app-compliance-score>
      </div>
    </div>
    <div *ngIf="currentTab == 2">
      <div>
        <app-cloudmatiq-data-table
          (dataChanged)="compilanceDataChanged($event)"
          [tableData]="compilanceList"
          [tableHeader]="compilanceTableHeader"
          [tableConfig]="compilanceTableConfig"
        ></app-cloudmatiq-data-table>
        <div>
          <p style="color:#ffcc00;">Total Records: {{totalCompilanceCount}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="isModalVisible = false"
    [(isVisible)]="isModalVisible"
    [title]="formTitle"
    [width]="1200"
  >
    <ng-container class="modal-content">
      <span *ngIf="dashboardURL"
        ><iframe [src]="dashboardURL" height="850" width="100%" title="Dashboard Content"></iframe>
      </span>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="isShowVisible = false"
    [(isVisible)]="isShowVisible"
    [title]="modalData.instancename"
    [width]="1100"
  >
    <ng-container class="modal-content">
      <app-compliance-logs [modalData]="modalData"></app-compliance-logs>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
