<app-cloudmatiq-side-nav [blockUI]="loading" [loadermessage]="loadermessage">
  <ng-container class="page-body">
    <div class="col s12 m12 generic-request">
      <nz-tabset
      [nzTabBarExtraContent]="extraTemplate"
    [nzSelectedIndex]="nodetabIndex"
    (nzSelectChange)="tabChanged($event)">
      <ng-template #extraTemplate>
        <div nz-col nzSpan="24" *ngIf="!ExecuteTemplate">
          <div class="right-align">
            <button
            nz-button
            class="service-button mt-1 mr-1"
            nzType="primary"
            (click)="saveOrUpdate(tabIndex === 0 ? tenantForm.value : integrationForm.value ,notificationtemplate)"
            *ngIf="tabIndex !== 2"
          >
            {{ buttonText }}
          </button>
              <button
              nz-button
              (click)="router.navigate(['tenants'])"
              class="service-button mt-1 mr-1"
              nzType="primary"
            >
              <span>Close</span>
            </button>
            &nbsp;&nbsp;
          </div>
        </div>
      </ng-template>
      <nz-tab nzTitle="Basic details">
        <form nz-form class="serviceform" [formGroup]="tenantForm">
  
            <div class="ant-col-md-16 ant-col-lg-16">
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="10"
                    [nzXs]="12"
                    nzRequired
                    nzFor="tenantname"
                    >Name
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Name"
                      formControlName="tenantname"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="10"
                    [nzXs]="12"
                    nzRequired
                    nzFor="contactemail"
                    >Email
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        type="text"
                        nz-input
                        formControlName="contactemail"
                        placeholder="Email"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="10"
                    [nzXs]="12"
                    nzRequired
                    nzFor="pphoneno"
                    >Primary Phone No
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Primary Phone No"
                      formControlName="pphoneno"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="sphoneno"
                    >Secondary Phone No
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Secondary Phone No"
                      formControlName="sphoneno"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="contactperson"
                    >Contact Person
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        type="text"
                        nz-input
                        formControlName="contactperson"
                        placeholder="Contact Person"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="designation"
                    >Contact Person Designation</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        type="text"
                        nz-input
                        formControlName="designation"
                        placeholder="Designation"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="10"
                    [nzXs]="12"
                    nzFor="tenantaddress"
                    class="notes"
                    >Address
                  </nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <textarea
                        id="tenantaddress"
                        formControlName="tenantaddress"
                        placeholder="Address"
                        type="text"
                        nz-input
                      ></textarea>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="postcode"
                    >Postcode</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Postcode"
                      formControlName="postcode"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24" *ngIf="edit">
                <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="12" nzRequired nzFor="status"
                    >Status</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <nz-switch
                        class="status"
                        id="status"
                        formControlName="status"
                      ></nz-switch>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <h3 class="white-text mb-0">SMTP/POP Details</h3>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="mailhostname"
                    >Host Name</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Host Name"
                      formControlName="mailhostname"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="port"
                    >Port</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Port"
                      formControlName="port"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="frommail"
                    >Email Id</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        type="text"
                        nz-input
                        formControlName="frommail"
                        placeholder="Email Id"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="mailpassword"
                    >Password</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Password"
                      formControlName="mailpassword"
                      type="password"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <h3 class="white-text mb-0">SMS Gateway Details</h3>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="gatewayurl"
                    >Gateway Url</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Gateway Url"
                      formControlName="gatewayurl"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="smsuserid"
                    >User Id</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="User Id"
                      formControlName="smsuserid"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="smspassword"
                    >Password</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        type="password"
                        nz-input
                        formControlName="smspassword"
                        placeholder="Password"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="smstoken"
                    >Access Token</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Access Token"
                      formControlName="smstoken"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <h3 class="white-text mb-0">LDAP Details</h3>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="ldaphostname"
                    >Host Name</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Host Name"
                      formControlName="ldaphostname"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="ldapuserid"
                    >User Id</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-input-group>
                      <input
                        type="text"
                        nz-input
                        formControlName="ldapuserid"
                        placeholder="User Id"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="ldappassword"
                    >Password</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="Password"
                      formControlName="ldappassword"
                      type="password"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <h3 class="white-text mb-0">Certificate Details</h3>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="cerssl"
                    >SSL</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="SSL"
                      formControlName="cerssl"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="12" nzFor="cerntls"
                    >TLS</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <input
                      nz-input
                      placeholder="TLS"
                      formControlName="cerntls"
                      type="text"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div class="ant-col-md-8 ant-col-lg-8 service-image">
              <div class="ant-col-md-24 ant-col-lg-24">
                <nz-form-item>
                  <a (click)="onPreview(FileImage)">
                    <img
                      *ngIf="FileImage == undefined && FileImage == null"
                      src="assets/images/company_logo.png"
                      alt=""
                      class="logo-img"
                    />
                  </a>
                  <a (click)="onPreview(FileImage)">
                    <img
                      *ngIf="FileImage != undefined && FileImage != null"
                      [src]="FileImage"
                      alt=""
                      class="logo-img"
                    />
                  </a>
                  <input type="file" name="logoimage" (change)="onFile($event)" />
                </nz-form-item>
              </div>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24 p-b-50">
              <h3 class="white-text mb-0">Cloud Details</h3>
              <div class="ant-col-md-24 ant-col-lg-24">
                <div class="ant-col-md-23 ant-col-lg-23 right-align">
                  <button (click)="addArrayItem()" nz-button>
                    <i class="anticon anticon-plus"></i>
                  </button>
                </div>
                <div formArrayName="cloud">
                  <div
                    *ngFor="
                      let item of getFormArray('cloud').controls;
                      let i = index
                    "
                  >
                    <div [formGroupName]="i">
                      <div class="ant-col-md-24 ant-col-lg-24">
                        <div class="ant-col-md-4 ant-col-lg-4">
                          <nz-form-item>
                            <nz-form-label
                              *ngIf="i == 0"
                              style="text-align: left"
                              [nzSm]="22"
                              [nzXs]="12"
                              nzFor="cloudprovider"
                              >Provider</nz-form-label
                            >
                            <nz-form-control [nzSm]="20" [nzXs]="6">
                              <nz-select
                                nzShowSearch
                                nzAllowClear
                                placeholder="Select Provider"
                                (ngModelChange)="onChange($event, i)"
                                nzPlaceHolder="Select Provider"
                                formControlName="cloudprovider"
                              >
                                <nz-option
                                  *ngFor="let data of cloudproviderList"
                                  [nzLabel]="data.keyname"
                                  [nzValue]="data.keyvalue"
                                >
                                </nz-option>
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <!-- <div class="ant-col-md-4 ant-col-lg-4">
                                                  <nz-form-item>
                                                      <nz-form-label *ngIf="i == 0" style="text-align:left" [nzSm]="22"
                                                          [nzXs]="12" nzFor="region">Region</nz-form-label>
                                                      <nz-form-control [nzSm]="20" [nzXs]="6">
                                                          <nz-select nzShowSearch nzAllowClear placeholder="Select Region"
                                                              (ngModelChange)="onChangeEvent($event,i)" nzPlaceHolder="Select Region"
                                                              formControlName="region">
                                                              <nz-option *ngFor="let data of regionList" [nzLabel]="data.keyname"
                                                                  [nzValue]="data.keyvalue"></nz-option>
                                                          </nz-select>
                                                      </nz-form-control>
                                                  </nz-form-item>
                                              </div> -->
                        <div class="ant-col-md-5 ant-col-lg-5">
                          <nz-form-item>
                            <nz-form-label
                              *ngIf="i == 0"
                              style="text-align: left"
                              [nzSm]="22"
                              [nzXs]="12"
                              nzFor="cloudauthkey"
                              >Authentication Key
                            </nz-form-label>
                            <nz-form-control [nzSm]="22" [nzXs]="6">
                              <nz-input-group>
                                <input
                                  [disabled]="
                                    item.value.cloudprovider == 'Sentia' ||
                                    item.value.cloudprovider == 'Equinix'
                                  "
                                  placeholder="Value"
                                  formControlName="cloudauthkey"
                                  nz-input
                                  type="text"
                                />
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div class="ant-col-md-5 ant-col-lg-5">
                          <nz-form-item>
                            <nz-form-label
                              *ngIf="i == 0"
                              style="text-align: left"
                              [nzSm]="22"
                              [nzXs]="12"
                              nzFor="cloudseckey"
                              >Secret Key
                            </nz-form-label>
                            <nz-form-control [nzSm]="22" [nzXs]="6">
                              <nz-input-group>
                                <input
                                  [disabled]="
                                    item.value.cloudprovider == 'Sentia' ||
                                    item.value.cloudprovider == 'Equinix'
                                  "
                                  placeholder="Value"
                                  formControlName="cloudseckey"
                                  nz-input
                                  type="text"
                                />
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div class="ant-col-md-5 ant-col-lg-5">
                          <nz-form-item>
                            <nz-form-label
                              *ngIf="i == 0"
                              style="text-align: left"
                              [nzSm]="22"
                              [nzXs]="12"
                              nzFor="referenceid"
                              >Reference ID
                            </nz-form-label>
                            <nz-form-control
                              [nzSm]="22"
                              [nzXs]="6"
                              style="width: 100%"
                            >
                              <nz-input-group>
                                <input
                                  [disabled]="
                                    item.value.cloudprovider == 'Sentia' ||
                                    item.value.cloudprovider == 'Equinix'
                                  "
                                  placeholder="Value"
                                  formControlName="referenceid"
                                  nz-input
                                  type="text"
                                />
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div class="ant-col-md-4 ant-col-lg-4">
                          <nz-form-item>
                            <nz-form-label
                              *ngIf="i == 0 && showAccountType"
                              style="text-align: left"
                              [nzSm]="22"
                              [nzXs]="12"
                              nzFor="accounttype"
                              >Account Type
                            </nz-form-label>
                            <nz-form-control
                              [nzSm]="22"
                              [nzXs]="6"
                              style="width: 100%"
                              *ngIf="showAccountType"
                            >
                              <nz-select
                                nzAllowClear
                                [nzDisabled]="item.value.cloudprovider != 'AWS'"
                                placeholder="Select Account Type"
                                nzPlaceHolder="Select Account Type"
                                formControlName="accounttype"
                              >
                                <nz-option
                                  *ngFor="let data of accountType"
                                  [nzLabel]="data"
                                  [nzValue]="data"
                                >
                                </nz-option>
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <i
                          [style.margin-top.px]="i == 0 ? '50' : '10'"
                          (click)="removeItem(i)"
                          class="anticon hover-pointer amber-text anticon-delete"
                          style="margin-left: 12px"
                        ></i>
                        <!-- &nbsp;&nbsp;
                                              <b><i *ngIf="edit && !item.value.datasync" [style.margin-top.px]="i==0 ? '50' : '10'"
                                                      (click)="dataSync(i)" class="anticon hover-pointer amber-text anticon-sync"
                                                      ></i></b> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>

      </nz-tab>
       
      <nz-tab nzTitle="Integration" *ngIf="tenantid !== undefined">
        <form nz-form class="serviceform" [formGroup]="integrationForm" *ngIf="tabIndex == 1">
          <div class="ant-col-md-24 ant-col-lg-24 p-b-50">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-table [nzData]="integrationForm.value.tools">
                <thead>
                  <tr>
                    <th scope="col" nzwidth="100%">Tools</th>
                    <th scope="col" nzwidth="100%">Endpoint</th>
                    <th scope="col" nzwidth="100%">Username</th>
                    <th scope="col" nzwidth="100%">Password</th>
                    <th scope="col" nzwidth="100%">Access Key</th>
                    <th scope="col" nzwidth="100%">Secret Key</th>
                    <th scope="col"><span
                      ><i
                        class="anticon anticon-plus yellow-icon"
                        (click)="addTools()"
                      ></i
                    ></span></th>
                  </tr>
                </thead>
                <tbody formArrayName="tools">
                  <tr *ngFor="let item of gettoolsFormArray('tools').controls; let i = index" [formGroupName]="i">
                    <td style="width: 15%;">
                      <nz-form-control>
                        <nz-select nzShowSearch nzAllowClear placeholder="Select Tools" formControlName="cloud">
                          <nz-option *ngFor="let data of toolsList" [nzLabel]="data.value" [nzValue]="data.value"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </td>
                    <td>
                      <nz-form-control>
                        <input placeholder="Endpoint" formControlName="endpoint" nz-input type="text" />
                      </nz-form-control>
                    </td>
                    <td>
                      <nz-form-control>
                        <input placeholder="Username" formControlName="username" nz-input type="text" />
                      </nz-form-control>
                    </td>
                    <td>
                      <nz-form-control>
                        <input placeholder="Password" formControlName="password" nz-input type="text" />
                      </nz-form-control>
                    </td>
                    <td>
                      <nz-form-control>
                        <input placeholder="Access Key" formControlName="accesskey" nz-input type="text" />
                      </nz-form-control>
                    </td>
                    <td>
                      <nz-form-control>
                        <input placeholder="Secret Key" formControlName="secretkey" nz-input type="text" />
                      </nz-form-control>
                    </td>
                    <td>
                      <a
                      title="Delete"
                      nz-popconfirm
                      nzTitle="Are you sure?"
                      nzOkText="Ok"
                      nzCancelText="Cancel"
                      (nzOnConfirm)="deleteIntegration(i)"
                      class="p-l-5"
                    >
                      <i class="anticon anticon-delete"></i>
                    </a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </form>
        
      </nz-tab>
      <nz-tab nzTitle="Change Logs" *ngIf="tenantid !== undefined">
        <app-comments
        *ngIf="tabIndex == 2"
          [resourceDetails]="tenantObj"
          [resourceId]="this.tenantObj.refid"
          [refType]="'history'"
        ></app-comments>  
      </nz-tab>
      </nz-tabset>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
