<ng-container class="modal-content">
  <div class="row param-table">
    <div nz-row style="margin-top: 17px">
      <div nz-span="24" id="assetdetails-table">
        <nz-table
          #nzTable
          [nzData]="assets"
          [nzFrontPagination]="false"
          [nzTotal]="assetsCount"
          [(nzPageIndex)]="pageIndex"
          [nzLoading]="gettingAssets"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="getAssets()"
          [nzScroll]="{ x: '1300px' }"
        >
          <thead>
            <tr>
              <ng-container *ngFor="let r of selectedFields">
                <th [nzWidth]="tableColumnWidth(r.fieldtype)" *ngIf="r.fieldtype != 'DOCUMENT'">
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: start;
                    "
                  >
                    <div>
                      {{ r.fieldname }}
                    </div>
                    
                  </div>
                </th>
              </ng-container>
              
              <th nzWidth="150px" nzRight="0px" class="center">
                Actions
                <ng-template #titleTemplate
                  ><i nz-icon type="close"></i> Columns</ng-template
                >
                <ng-template #contentTemplate>
                  <div nz-row style="max-height: 350px; overflow-y: scroll">
                    <div *ngFor="let r of filteredColumns" nz-span="6">
                      <label [(ngModel)]="r.isSelected" nz-checkbox>
                        {{ r.fieldname }}
                      </label>
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col nzSpan="24" class="right-align">
                      <button
                        (click)="getAssets()"
                        nzSize="small"
                        nz-button
                        nzType="primary"
                      >
                        Apply
                      </button>
                    </div>
                  </div>
                </ng-template>
                <button
                  nzSize="small"
                  title="Column Selection"
                  nz-button
                  nzType="primary"
                  nz-popover
                  [nzTitle]="titleTemplate"
                  [nzContent]="contentTemplate"
                  style="margin: 0; background: none; border: none"
                  [disabled]="selectedResource.length == 0"
                >
                  <i class="anticon anticon-setting"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable.data">
              <ng-container *ngFor="let r of selectedFields">
              <td
                style="
                  text-overflow: ellipsis;
                  /* white-space: nowrap;
                  overflow: hidden; */
                "
                [ngClass]="{'notNextExecution': (!data.isNextExecution && isExecutableVersion) }"
                *ngIf="r.fieldtype != 'DOCUMENT'"
                [style.width]="tableColumnWidth(r.fieldtype)"
              >
                <app-cloudmatiq-mask-text [maskable]="r.protected || false">
                  <div
                    *ngIf="
                      r.fieldtype != 'REFERENCE' &&
                      r.fieldtype != 'Reference Asset' &&
                      r.fieldtype != 'DOCUMENT'
                    "
                  >
                    <span [innerHTML]="data[r['fieldname']]"></span>
                  </div>
                  <div *ngIf="r.fieldtype == 'Reference Asset'">
                    <span [innerHTML]="data[r['referencekey']]"></span>
                  </div>
                  <div *ngIf="r.fieldtype == 'REFERENCE'">
                    <ng-container
                      *ngFor="let obj of parseJSON(data[r['fieldname']])"
                    >
                      {{ obj["name"] }}
                    </ng-container>
                  </div>
                  <div *ngIf="r.fieldtype == 'DOCUMENT'">
                    <ul class="download-badge-list custom-flex-start">
                      <li
                        class="custom-flex-end"
                        *ngFor="
                          let imgDir of displayPreviewList(r);
                          let inneridx = index
                        "
                      >
                        <a>
                          <nz-badge
                            [nzStyle]="{
                              backgroundColor: '#fff',
                              color: '#999'
                            }"
                          >
                            <a
                              (click)="removeImage(r, inneridx)"
                              class="download-badge"
                            ><i class="anticon anticon-delete"></i></a>
                          </nz-badge>
                        </a>
                      </li>
                    </ul>
                  </div>
                </app-cloudmatiq-mask-text>
              </td>
            </ng-container>
            <td nzWidth="150px" nzRight="0px" class="center">
              <label *ngIf="isExecutableVersion" [nzDisabled]="!data.isNextExecution && (!visibleadd || !visibleEdit)" (ngModelChange)="executeTaskCompletion($event,data)" class="lbl_execution_status" nz-checkbox [(ngModel)]="data.isExecutionCompleted">
                  Execution Completed ?
              </label>
              <nz-button-group nzSize="small" >
                <!-- <button (click)="assignWorkflow(data)" nz-button nzSize="small" class="no-border-btn">
                  <i class="anticon anticon-check"></i>
                </button>
                <button nz-button nzSize="small" title="Setting" class="no-border-btn">
                  <i class="anticon anticon-setting"></i>
                </button>
                <button (click)="showModal(rowdata)" nz-button nzSize="small" class="no-border-btn">
                  <i class="anticon anticon-edit"></i>
                </button> -->
                <button [disabled]="!data.isNextExecution && (!visibleadd || !visibleEdit)" (click)="viewResourceDetail(data)" title="View" class="no-border-btn">
                  <i class="anticon anticon-eye"></i>
                </button>
                <a
                  title="Delete"
                  nz-popconfirm
                  nzTitle="Are you sure?"
                  nzOkText="Ok"
                  nzCancelText="Cancel"
                  (nzOnConfirm)="deleteRecord(data)"
                  style="padding-left: 5px"
                >
                  <i class="anticon anticon-delete"></i>
                </a>
                <!-- <button (click)="deleteRecord(data)" nz-button nzSize="small" class="no-border-btn">
                  <i class="anticon anticon-delete"></i>
                </button> -->
                <!-- <a
                *ngIf="delete"
                title="Delete"
                nz-popconfirm
                nzTitle="Are you sure?"
                nzOkText="Ok"
                nzCancelText="Cancel"
                (nzOnConfirm)="deleteRecord(data)"
                style="padding-left: 5px"
              >
                <i class="anticon anticon-delete"></i>
              </a> -->
              </nz-button-group>
              
              
            </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <!-- <app-cloudmatiq-data-table
      *ngIf="selectedcolumns && selectedcolumns.length > 0"
      (dataChanged)="dataChanged($event)"
      [tableData]="templateList"
      [tableHeader]="tableHeader"
      [tableConfig]="tableconfig"
      [selectedcolumns]="selectedcolumns"
      [totalCount]="totalCount"
    ></app-cloudmatiq-data-table> -->
  </div>
  <app-cloudmatiq-side-bar (dataChanged)="onChanged($event)" [(isVisible)]="isVisible" [title]="workflowformTitle"
    [width]="700">
    <ng-container class="modal-content">
      <!-- <app-workflow-add-edit *ngIf="isVisible" (notifyNewEntry)="notifyNewEntry($event)" [operationMode]="'WKPACK_MAPPING'" [operationRef]="taskResource"></app-workflow-add-edit> -->
      
      <app-workflow-add-edit *ngIf="isVisible" (notifyNewEntry)="notifySelectionEntry($event)" [operationMode]="'WKPACK_MAPPING'" [operationRef]="selectedWorkflowTask"></app-workflow-add-edit>
    </ng-container>
  </app-cloudmatiq-side-bar>
</ng-container>