<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
  >
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <div class="row param-table">
      <div class="row">
        <div class="col s12 m2 left left-align">
          <button
            *ngIf="visibleadd"
            nz-button
            nzType="primary"
            (click)="showModal()"
          >
            <i class="anticon anticon-plus"></i>{{ buttonText }}
          </button>
        </div>
        <app-cloudmatiq-data-table
          (dataChanged)="dataChanged($event)"
          [tableData]="approverList"
          [tableHeader]="globalLogHeader"
          [tableConfig]="tableconfig"
          [totalCount]="totalCount"
        ></app-cloudmatiq-data-table>
      </div>
    </div>
  </ng-container>

  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
    [width]="700"
  >
  <ng-container class="modal-content">
    <!-- <app-request-approver-add-edit
        [isEdit] = 'isEdit'
        [addNew]="addNew"
        *ngIf="isVisible"
        [operationMode]="operationMode"
        [selectedWorkflow]="selectedWorkflow"
        (notifyNewEntry)="notifyNewEntry($event)"
    ></app-request-approver-add-edit> -->
  </ng-container> 
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
