<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    (dataChanged)="rightbarChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
    [width]="820"
  >
    <ng-container class="modal-content">
      <tree-root [nodes]="resourceTypesTreeList" [options]="treeOptions">
      </tree-root>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="closeCompareScirptpanel($event)"
    [(isVisible)]="isvisibleCompareScirptpanel"
    [title]="'Compare Scripts'"
    [width]="1300"
  >
    <ng-container class="modal-content" *ngIf="isvisibleCompareScirptpanel">
      <app-comparescript *ngIf="selectedScript.length > 1 && isvisibleCompareScirptpanel" [resourceIds]="selectedScript"></app-comparescript>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="rightbarWorkflowChanged($event)"
    [(isVisible)]="isWorkflowVisible"
    [title]="workflowformTitle"
    [width]="820"
  >
    <ng-container class="modal-content">
      <!-- <app-workflow-add-edit *ngIf="isWorkflowVisible" (notifyNewEntry)="notifySelectionEntry($event)" [operationMode]="'WKPACK_MAPPING'" [operationRef]="selectedWorkflowTask" [resoruceTitle]="resoruceTitle"></app-workflow-add-edit> -->
      <app-workflow-add-edit [workflow_config]="workflow_config" *ngIf="isWorkflowVisible" (notifyWorkflowSelectionEntry)="notifyWorkflowSelectionEntry($event)" [operationMode]="'WKPACK_MAPPING'" [operationRef]="selectedWorkflowTask" [resoruceTitle]="resoruceTitle" mode="workflow-assign"></app-workflow-add-edit>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="executionPanelChange($event)"
    [(isVisible)]="isExecutionPanelOpen"
    [title]="'Execute Work Pack'"
    [width]="1000"
  >
    <ng-container class="modal-content" *ngIf="isExecutionPanelOpen">
      <!-- <app-addeditworkpacktemplate [modelView]="true" [ExecuteTemplate]="true" [selectedCRN]="selectedCRN" [selectedResourceID]="selectedResourceID"
      (notifyUpdateEntry)="notifyUpdateEntry($event)"></app-addeditworkpacktemplate> -->
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
  (dataChanged)="isTreeVisible=false"
    [(isVisible)]="isTreeVisible"
    title="Workpack Selection"
    [width]="820"
  >
    <ng-container class="modal-content" *ngIf="isTreeVisible">
      <div class="example-wrapper">
        <div class="row">

        
        <div nz-col nzSpan="12" class="m-r-15" >
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input id="filter-text-box" [(ngModel)]="treeTableSearchbox" type="text" nz-input (input)="onFilterTextBoxChanged()" placeholder="Select Template" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button (click)="selectTreeTableNode($event)" class="ant-btn ng-star-inserted ant-btn-primary" nz-button nz-dropdown>
              <span>Select</span> 
            </button>
          </ng-template>
        </div>
      </div>
        <div class="row">
          <ag-grid-angular style="width: 100%; height: 550px" class="ag-theme-balham-dark"
         #grid [gridOptions]="gridOptions" [columnDefs]="columnDefs"
        [rowData]="templateTreeList"
        [cacheQuickFilter]="true"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [rowSelection]="'single'"
        (firstDataRendered)="onFirstDataRendered($event)"
        (gridReady)="onGridReady($event)"
        [suppressRowClickSelection]="true"
        (selectionChanged)="onTreeSelectionChanged($event)"
        (onCellClicked)="onGridClick($event)" ></ag-grid-angular>
        </div>
        
      </div> 
      <!-- <p-treeTable [value]="templateTreeList">
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr >
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.resource}}
                </td>
            </tr>
        </ng-template>
      </p-treeTable> -->
    </ng-container>
  </app-cloudmatiq-side-bar>

  <ng-container class="page-body">
    <div class="row m-t-35 m-b-20">
      <!-- <div nz-col nzSpan="5" class="custom-workpack-tree-holder"> -->
        
        <!-- <ul *ngFor="let group of arr; index as i" class="custom-workpack-tree">
          <span class="font-weight-bold text-primary">{{group.name}}</span>
          <li *ngFor="let item of group.items; index as j">
            <span class="cursor-pointer caret"
              [ngClass]="item.expand ? 'ant-menu-submenu-arrow' : 'ant-menu-submenu-arrow'"
              (click)="item.expand = !item.expand"></span>
            <span class="mx-1" [ngClass]="item.checked ? 'fas fa-check-square' : 
              (checkMinusSquare(item) ? 'fas fa-minus-square' : 'far fa-square')"
              (click)="checkParent(i, j)">
            </span>
            <span class="cursor-pointer" (click)="item.expand = !item.expand">{{item.name}}</span>
            <ul [class.d-none]="!item.expand">
              <li *ngFor="let child of item.childs; index as k">
                <span class="mr-1" [ngClass]="child.checked ? 'fas fa-check-square' : 'far fa-square'"
                  (click)="checkChild(i, j, k)">
                </span>
                <span class="cursor-pointer" (click)="checkChild(i, j, k)">{{child.name}}</span>
              </li>
            </ul>
          </li>
        </ul> -->
        <!-- <workpackdefinition></workpackdefinition>
      </div> -->
      <!-- <div nz-col nzSpan="18" class="m-r-2"> -->
        <div class="col s12 m8 left">
          <!-- <div nz-col nzSpan="6" class="m-r-15">
            <nz-select
              [(ngModel)]="filters.component"
              style="width: 95%"
              nzAllowClear
              nzPlaceHolder="Component"
              (ngModelChange)="providerChanges($event)"
            >
              <nz-option
                *ngFor="let t of componentList; index as ti"
                [nzLabel]="t.label"
                [nzValue]="t.value"
              >
              </nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="6" class="m-r-15">
            <nz-select
              [(ngModel)]="filters.asset"
              style="width: 95%"
              nzAllowClear
              nzPlaceHolder="Category"
            >
              <nz-option
                *ngFor="let t of assetTypes; index as ti"
                [nzLabel]="t.title"
                [nzValue]="t.value"
              >
              </nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="6" class="m-r-15">
            <nz-select
              [(ngModel)]="filters.asset"
              style="width: 95%"
              nzAllowClear
              nzPlaceHolder="Asset"
            >
              <nz-option
                *ngFor="let t of assetTypes; index as ti"
                [nzLabel]="t.title"
                [nzValue]="t.value"
              >
              </nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="6" class="m-r-15">
            <nz-select
              [(ngModel)]="filters.customer"
              style="width: 95%"
              nzAllowClear
              nzPlaceHolder="Customer"
              (ngModelChange)="getAccountsList($event)"
            >
              <nz-option
                *ngFor="let t of customerList; index as ti"
                [nzLabel]="t.label"
                [nzValue]="t.value"
              >
              </nz-option>
            </nz-select>
          </div>

          <div nz-col nzSpan="2" style="text-align: end">
            <button
              nzSize="small"
              nz-button
              (click)="getAllBudgets()"
              [nzLoading]="isVisible"
              nzType="primary"
              style="margin: 0 13px 0 0"
            >
              <i class="anticon anticon-search"></i>
            </button>
          </div> -->
          <!-- <div nz-col nzSpan="8" class="m-r-15">
            <nz-tree-select
              class="workpack-tree"
              [nzNodes]="resourceTypesTreeList"
              nzShowSearch
              [nzDefaultExpandAll]="false"
              [nzAllowClear]="true"
              nzPlaceHolder="Please select"
              [(ngModel)]="selectedTreeNodes"
              (ngModelChange)="onChangeTree($event)"
            >
            </nz-tree-select>
          </div> -->
          
          <div nz-col nzSpan="4" class="m-r-15">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <!-- <input type="text" readonly nz-input [(ngModel)]="selectedWorkpackTitle" placeholder="Selected Work Pack" /> -->
              <div *ngIf="!selectedWorkpackTitle">
              </div>
              <div *ngIf="selectedWorkpackTitle">
              </div>
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button (click)="isTreeVisible=true" class="ant-btn ng-star-inserted ant-btn-primary" nz-dropdown>
                <span>Select Workpack</span> 
              </button>
            </ng-template>
            <!-- <button (click)="isTreeVisible=true" class="ant-btn ng-star-inserted ant-btn-primary" nz-button nz-dropdown>
              <span>Select Workpack</span> 
            </button> -->
          </div>
          <!-- <div nz-col nzSpan="6" class="m-r-15">
            <nz-select
                    [(ngModel)]="selectedModel"
                      nzAllowClear
                      nzPlaceHolder="Choose"
                      nzShowSearch
                      style="width: 95%"
                      (ngModelChange)="getWorkpackTemplateList($event)"
                    >
                      <nz-option
                        *ngFor="let r of resourceTypesList"
                        [nzValue]="r.crn"
                        [nzLabel]="r.resource"
                      ></nz-option>
            </nz-select>
          </div> -->
        </div>

        <div class="col s12 m4 right right-align">
          <!-- <nz-dropdown  >
            <button [disabled]="workpackTemplateList.length == 0" class="ant-btn ng-star-inserted ant-btn-primary" nz-button nz-dropdown>
              <span>{{ buttonText }}</span> <i nz-icon type="down"></i>
            </button>
            <ul nz-menu>
              <li nz-menu-item *ngFor="let data of workpackTemplateList">
                <a (click)="redirectToAddWPTemplate(data)">{{ data.resource }}</a>
              </li>
            </ul>
          </nz-dropdown> -->
          
          <!-- <a class="ant-btn ng-star-inserted ant-btn-primary" [routerLink] = "['./createtemplate']">{{ buttonText }}</a> -->
          <button  (click)="openCompareScirptpanel()" [disabled]="(selectedScript.length < 2  || assets.length < 2)"  nz-button nzType="primary" title="Compare">
            <i class="anticon anticon-copy"></i>
          </button>
          <button class="ml-1" (click)="redirectToAddWPTemplate()" [disabled]="(selectedTreeNodes == null || selectedTreeNodes == '') || (!visibleadd)"  nz-button nzType="primary" title="Add Template">
            <i class="anticon anticon-plus"></i>
            {{ buttonText }}
          </button>
        </div>
        <div nz-col nzSpan="24" class="m-r-2">
          <nz-spin [nzSpinning]="dataloading">
            <div class="row param-table">
              <div nz-row style="margin-top: 17px">
                <div nz-span="24" id="assetdetails-table">
                  <div *ngIf="!selectedWorkpackTitle">
                    <p style="color: #fff;">Please Select Workpack</p>
                  </div>
                  <div *ngIf="selectedWorkpackTitle" class="col s12 m4 left">
                    <p style="color: #ffcc00; font-weight: 600;">{{ selectedWorkpackTitle }}</p>
                  </div>
                  <nz-table
                    #nzTable
                    [nzNoResult]="'No Data'"
                    [nzData]="assets"
                    [nzFrontPagination]="false"
                    [nzTotal]="assetsCount"
                    [(nzPageIndex)]="pageIndex"
                    [nzLoading]="gettingAssets"
                    [(nzPageSize)]="pageSize"
                    (nzPageIndexChange)="getAssets()"
                    nzShowSizeChanger
                    [nzPageSizeOptions]="pageCount"
                    (nzPageSizeChange)="onPageSizeChange($event)"
                    [nzScroll]="{ x: '1300px' }"
                  >
                    <thead>
                      <tr>
                        <th nzWidth="80px"></th>
                        <ng-container *ngFor="let r of selectedFields">
                          <th nzWidth="175px" *ngIf="r.fieldtype != 'DOCUMENT'">
                            <div
                              style="
                                display: flex;
                                align-items: center;
                                justify-content: start;
                              "
                            >
                              <div
                                *ngIf="
                                  r.fieldtype == 'Text' ||
                                  r.fieldtype == 'Boolean' ||
                                  r.fieldtype == 'STATUS' ||
                                  r.fieldtype == 'Float' ||
                                  r.fieldtype == 'Integer'
                                "
                              >
                                <i
                                  title="Filter"
                                  (click)="openFilterFor(r)"
                                  class="anticon anticon-filter"
                                  style="margin: 0"
                                ></i>&nbsp;
                              </div>
                              <div  >
                                {{ r.fieldname }}
                              </div>
                              &nbsp;
                              <div
                                *ngIf="
                                  r.fieldtype == 'Text' ||
                                  r.fieldtype == 'Boolean' ||
                                  r.fieldtype == 'STATUS' ||
                                  r.fieldtype == 'Float' ||
                                  r.fieldtype == 'Integer'
                                "
                              >
                                <i
                                  *ngIf="currentSortColumn != r.fieldname"
                                  (click)="sortByColumn(r, 'ASC')"
                                  class="fa fa-sort"
                                  style="margin: 0"
                                ></i>
                                <i
                                  *ngIf="
                                    currentSortColumn == r.fieldname &&
                                    currentSortColumnOrder == 'ASC'
                                  "
                                  (click)="sortByColumn(r, 'DESC')"
                                  class="fa fa-sort-alpha-asc"
                                  style="margin: 0"
                                ></i>
                                <i
                                  *ngIf="
                                    currentSortColumn == r.fieldname &&
                                    currentSortColumnOrder == 'DESC'  
                                  "
                                  (click)="sortByColumn(r, 'ASC')"
                                  class="fa fa-sort-alpha-desc"
                                  style="margin: 0"
                                ></i>
                              </div>
                            </div>
                          </th>
                        </ng-container>
                       
                        <th nzWidth="200px" nzRight="0px" class="center">
                          Actions
                          <ng-template #titleTemplate
                            ><i nz-icon type="close"></i> Columns</ng-template
                          >
                          <ng-template #contentTemplate>
                            <div nz-row style="max-height: 350px; overflow-y: scroll">
                              <div *ngFor="let r of filteredColumns" nz-span="6">
                                <label [(ngModel)]="r.isSelected" nz-checkbox>
                                  {{ r.fieldname }}
                                </label>
                              </div>
                            </div>
                            <div nz-row>
                              <div nz-col nzSpan="24" class="right-align">
                                <button
                                  (click)="getAssets()"
                                  nzSize="small"
                                  nz-button
                                  nzType="primary"
                                >
                                  Apply
                                </button>
                              </div>
                            </div>
                          </ng-template>
                          <button
                            nzSize="small"
                            title="Column Selection"
                            nz-button
                            nzType="primary"
                            nz-popover
                            [nzTitle]="titleTemplate"
                            [nzContent]="contentTemplate"
                            style="margin: 0; background: none; border: none"
                            [disabled]="selectedResource.length == 0"
                          >
                            <i class="anticon anticon-setting"></i>
                          </button>
                                                </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of nzTable.data; let scriptidx = index">
                        <td>
                            <label title="Compare" nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="updateCompareChecked(data)" style="color:#fff !important;"></label>
                        </td>
                        <ng-container *ngFor="let r of selectedFields">
                        <td
                          style="
                            max-width: 175px;
                            max-height: 100px;
                            text-overflow: ellipsis;
                            /* white-space: nowrap; */
                            overflow: auto;
                          "
                          nzWidth="175px"
                          *ngIf="r.fieldtype != 'DOCUMENT'"
                        >
                          <app-cloudmatiq-mask-text [maskable]="r.protected || false">
                            <div
                              *ngIf="
                                r.fieldtype != 'REFERENCE' &&
                                r.fieldtype != 'Reference Asset' && 
                                r.fieldtype != 'Textarea' &&
                                r.fieldtype != 'DOCUMENT'
                              "
                            >
                              <span [innerHTML]="data[r['fieldname']]"></span>
                            </div>
                            <!-- <div *ngIf="r.fieldtype == 'DOCUMENT'">
                              <a (click)="downloadFile(r)"
                                ><i
                                  class="anticon anticon-download"
                                ></i
                              ></a>
                            </div> -->
                            <div *ngIf="r.fieldtype == 'Reference Asset'">
                              <span [innerHTML]="data[r['referencekey']]"></span>
                            </div>
                            <div *ngIf="r.fieldtype == 'REFERENCE'">
                              <ng-container
                                *ngFor="let obj of parseJSON(data[r['fieldname']])"
                              >
                                {{ obj["name"] }}
                              </ng-container>
                            </div>
                            <div class="textarea-notes" *ngIf="r.fieldtype == 'Textarea'">
                              <span [innerHTML]="data[r['fieldname']]"></span>
                            </div>
                          </app-cloudmatiq-mask-text>
                        </td>
                      </ng-container>
                      <td nzWidth="100px" nzRight="0px" class="center">

                        <a title="View" [class.disabled]="!visibleonly && !visibleadd && !tableconfig.edit">
                          <i
                            (click)=" viewResourceDetail(data)"
                            class="anticon anticon-edit padd"
                          ></i>&nbsp;
                        </a>
                          <!-- <a title="Published"><i
                            class="anticon anticon-flag"
                          ></i>&nbsp;</a> -->
                          <!-- {{data.dtl_operationtype}} -->
                        <!-- <a title="Workflow" [class.disabled]="!tableconfig.edit && !visibleadd">
                          <i
                            (click)="assignWorkflow(data)"
                            class="anticon anticon-check"
                          ></i>
                        </a> -->
                        <a title="Clone"  *ngIf="visibleadd">
                          <i
                            (click)="cloneScriptTemplate(data)"
                            class="anticon anticon-copy padd"
                          ></i>&nbsp;
                        </a>
                        <!-- <nz-spin [nzSpinning]="download_loading"> -->
                          <!-- <a title="DownLoad PDF">
                            <i
                              (click)="downloadPDF(data,selectedFields)"
                              class="anticon anticon-download"
                            ></i>
                          </a> -->
                          
                        <!-- </nz-spin> -->
                        
                        <!-- <a title="Execute"  [class.disabled]="!tableconfig.edit && !visibleadd" *ngIf="tableconfig.workflow && scriptidx != 0 && data.isExecuteReady != true && visibleadd">
                          <i
                            (click)="executeScript(data)"
                            class="anticon anticon-play-circle"
                          ></i>
                        </a> --> 
                        <a title="Execute"  [class.disabled]="(!tableconfig.edit && !visibleadd ) || data.dtl_operationtype != workpack_operationtype[1] " *ngIf="!data.isExecuteReady">
                          <i
                            (click)="assignWorkflowExecution(data)"
                            class="anticon anticon-play-circle padd"
                          ></i>&nbsp;
                        </a >
                        <a
                          (click)="publish(data)"
                          class="publish-button"
                          [title]="
                            catalogStatus?.publishstatus === 'Published'
                              ? 'Unpublish'
                              : 'Publish'
                          "
                        >
                          <i
                            *ngIf="catalogStatus?.publishstatus === 'Published'"
                            class="fa fa-magic fa-rotate-180" style="color: #ffcc00"
                          ></i>
                          <i
                            *ngIf="
                              !catalogStatus || catalogStatus?.publishstatus != 'Published'
                            "
                            class="fa fa-magic" style="color: #ffcc00"
                          ></i>&nbsp;
                        </a>
                        <a
                          title="Delete"
                          nz-popconfirm
                          nzTitle="Are you sure?"
                          nzOkText="Ok"
                          nzCancelText="Cancel"
                          [class.disabled]="!tableconfig.delete"
                          (nzOnConfirm)="deleteRecord(data)"
                        >
                          <i class="anticon anticon-delete padd"></i>
                        </a>
                      </td>
                      </tr>
                    </tbody>
                  </nz-table>
                  <div>
                    <p class="count-container">Total Records : {{assetsCount}}</p>
                  </div>
                </div>
              </div>
              <!-- <app-cloudmatiq-data-table
                *ngIf="selectedcolumns && selectedcolumns.length > 0"
                (dataChanged)="dataChanged($event)"
                [tableData]="templateList"
                [tableHeader]="tableHeader"
                [tableConfig]="tableconfig"
                [selectedcolumns]="selectedcolumns"
                [totalCount]="totalCount"
              ></app-cloudmatiq-data-table> -->
            </div>
          </nz-spin>
        </div>
        
    <!-- </div> -->
    </div>
    
    <div id="downloadableDiv" #downloadableDiv ></div>
  </ng-container>
</app-cloudmatiq-side-nav>

