<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <div class="ant-col-md-24 ant-col-lg-24">
      <nz-tabset class="dashboard-tab">
        <nz-tab nzTitle="Overview">
          <div class="ant-col-md-24 ant-col-lg-8 center-align">
            <div class="row">
              <div class="count">
                <h1>Recent Servers</h1>
                <!-- <app-srm-catalog-list></app-srm-catalog-list> -->
                <nz-table
                  #filterTable
                  [nzData]="dashboardList"
                  class="solution-table"
                  [nzPageSize]="5"
                  [nzShowPagination]="false"
                >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <!-- <th>Servers</th> -->
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of filterTable.data">
                      <td>
                        {{
                          data.solutionname.length > 25
                            ? data.solutionname.substring(0, 25) + "..."
                            : data.solutionname
                        }}
                      </td>
                      <!-- <td>{{data.noofservers?data.noofservers:0}}</td> -->
                      <td>
                        <span class="status-value">{{ data.status }}</span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
          <div class="ant-col-md-24 ant-col-lg-8 center-align">
            <div class="row">
              <div class="count">
                <h1>Server by Provider</h1>
                <p-chart
                  type="pie"
                  class="pie-chart"
                  [data]="datapiechart"
                  width="300px"
                  height="300px"
                  [options]="options"
                ></p-chart>
              </div>
            </div>
          </div>
          <div class="ant-col-md-24 ant-col-lg-8 center-align">
            <div class="row">
              <div class="count">
                <h1>Server Count</h1>
                <p-chart
                  type="bar"
                  class="bar-chart"
                  width="300px"
                  height="300px"
                  [data]="datalinechart"
                  [options]="optionsVariable"
                ></p-chart>
              </div>
            </div>
          </div>
        </nz-tab>
        <!-- <nz-tab nzTitle="Account">

                </nz-tab> -->
        <!-- <nz-tab nzTitle="Server">
                    <app-cloudmatiq-deployments-list></app-cloudmatiq-deployments-list>
                </nz-tab> -->
      </nz-tabset>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
