<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    *ngIf="isVisible"
    [width]="700"
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
  >
    <ng-container class="modal-content">
      <app-add-edit-rightsizegroup
        [groupObj]="groupObj"
        (notifyEntry)="notifyEntry($event)"
      >
      </app-add-edit-rightsizegroup>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <div class="row">
      <div class="col s12 m7 right right-align mt-1">
        <button
          class="mr-1"
          *ngIf="visibleadd"
          nz-button
          nzType="primary"
          (click)="showModal()"
        >
          <i class="anticon anticon-plus"></i>{{ buttonText }}
        </button>
      </div>
    </div>
    <div class="row param-table">
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="rightsizegroupList"
        [tableHeader]="rightsizegroupTableHeader"
        [tableConfig]="rightsizegroupTableConfig"
      >
      </app-cloudmatiq-data-table>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
