<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <form nz-form [formGroup]="ecl2lbsyslogForm">
    <div class="row">
      <h3 class="solution-title mb-0">Common Settings</h3>
      <div class="row">
        <div class="col s4">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="12"
              nzFor="lbsyslogservername"
              nzRequired
              >Name</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input
                nz-input
                formControlName="lbsyslogservername"
                type="text"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s4">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="ipaddress" nzRequired
              >IP Address</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input
                *ngIf="edit"
                nz-input
                formControlName="ipaddress"
                type="text"
                disabled="edit"
              />
              <input
                *ngIf="!edit"
                nz-input
                formControlName="ipaddress"
                type="text"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s4">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="transporttype"
              >Transport Type
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="transporttype"
                placeholder="Select"
                formControlName="transporttype"
              >
                <nz-option
                  *ngFor="let data of transportList"
                  [nzLabel]="data.keyname"
                  [nzValue]="data.keyvalue"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="portnumber"
              >Port Number</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input nz-input formControlName="portnumber" type="number" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s4">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="loglevel"
              >Log Level
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="loglevel"
                placeholder="Select"
                formControlName="loglevel"
              >
                <nz-option
                  *ngFor="let data of loglevelList"
                  [nzLabel]="data.keyname"
                  [nzValue]="data.keyvalue"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s4">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="logfacility"
              >Log Facility
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="logfacility"
                placeholder="Select"
                formControlName="logfacility"
              >
                <nz-option
                  *ngFor="let data of logFacilityList"
                  [nzLabel]="data.keyname"
                  [nzValue]="data.keyvalue"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
            >Description</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="12">
            <nz-input-group>
              <textarea
                id="description"
                formControlName="description"
                type="text"
                nz-input
              ></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <h3 class="solution-title mb-0">Specific Settings</h3>
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="dateformat"
            >Date Format
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="dateformat"
              placeholder="Select"
              formControlName="dateformat"
            >
              <nz-option
                *ngFor="let data of dateFormatList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="timezone"
            >Time Zone
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="timezone"
              placeholder="Select"
              formControlName="timezone"
            >
              <nz-option
                *ngFor="let data of timeZoneList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="priority"
            >Priority</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input nz-input formControlName="priority" type="number" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="tcplogging"
            >TCP Logging
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="tcplogging"
              placeholder="Select"
              formControlName="tcplogging"
            >
              <nz-option
                *ngFor="let data of tcpLoggingList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s4">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="acllogging"
            >ACL Logging
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="acllogging"
              placeholder="Select"
              formControlName="acllogging"
            >
              <nz-option
                *ngFor="let data of aclLoggingList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>

<div class="row right">
  <div class="col s12 md4">
    <button
      [disabled]="disabled"
      (click)="saveOrUpdate(ecl2lbsyslogForm.value)"
      class="save-button"
      type="submit"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
