<nz-spin [nzSpinning]="loading">
  <div>
    <form nz-form [formGroup]="workflowForm">
      <nz-form-item>
        <nz-form-label
          [nzSm]="24"
          [nzXs]="24"
          nzRequired
          nzFor="aprvalwrkflowname"
        >
          Workflow Name
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-input-group>
            <input
              id="aprvalwrkflowname"
              placeholder="Workflow Name"
              formControlName="aprvalwrkflowname"
              nz-input
              type="text"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div formArrayName="approvers">
        <div class="row p-t-10">
          <div class="col s12 m11">
            <nz-form-label
              style="text-align: left"
              [nzSm]="24"
              [nzXs]="24"
              nzFor="approvers"
            >
              Approvers</nz-form-label
            >
          </div>
          <div class="col s12 m1 p-t-10 right-align network-button network-btn">
            <button
              class="net-btn"
              (click)="addApprover()"
              nz-button
              nzType="primary"
            >
              <i class="anticon anticon-plus"></i>
            </button>
          </div>
        </div>
        <div *ngFor="let item of getFormArray().controls; let i = index">
          <div [formGroupName]="i">
            <div class="ant-col-md-24 ant-col-lg-24 p-t-10">
              <div class="ant-col-md-23 ant-col-lg-23">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      placeholder="Select Approver"
                      (ngModelChange)="checkDuplicate($event, i)"
                      nzPlaceHolder="Select Approver"
                      formControlName="userid"
                    >
                      <nz-option
                        *ngFor="let data of approverList"
                        [nzLabel]="data.fullname"
                        [nzValue]="data.userid"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col-md-1 ant-col-lg-1">
                <i
                  (click)="removeItem(i)"
                  class="anticon hover-pointer amber-text anticon-delete m-t-10"
                  style="margin-left: 12px"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="edit">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="status"
            >Status</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-input-group>
              <nz-switch
                class="status"
                id="status"
                formControlName="status"
              ></nz-switch>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
    <div class="row right">
      <div class="col s12 md4">
        <button
          (click)="saveUpdate(workflowForm.value)"
          class="save-button"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </div>
</nz-spin>
