<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <nz-tabset (nzSelectChange)="tabChanged($event)"
    [nzTabBarExtraContent]="extraTemplate">
    <ng-template #extraTemplate>
      <div nz-col nzSpan="24" *ngIf="!ExecuteTemplate">
        <div class="right-align">
          <button nzSize="small" nz-button (click)="router.navigate(['srm/list'])" nzType="primary">
            <i class="anticon anticon-close"></i>
          </button>
          &nbsp;&nbsp;
        </div>
      </div>
    </ng-template>
      <nz-tab nzTitle="Info">
    <form nz-form [formGroup]="catalogRequestForm">
      <div class="col s12 m12 service-edit">
        <h3 class="white-text mb-0">Basic Details</h3>
        <div class="serviceform">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="create-service ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Service Name</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.catalogname }}</span>
                  <a
                    class="show-button p-t-10 left-align"
                    (click)="showSolutionSummary()"
                    *ngIf="isSolution"
                  >
                    Show Details
                    <span>
                      <nz-spin
                        *ngIf="summaryLoading"
                        [nzIndicator]="indicatorTemplate"
                      >
                      </nz-spin>
                    </span>
                  </a>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Cloud Provider</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.solution?.cloudprovider }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">Group Name</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.group?.keyname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">Start Date</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.startdate | date: "dd-MMM-yyyy" }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Publish Date</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{
                    catalogObj.publishdate | date: "dd-MMM-yyyy"
                  }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12">End Date</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.enddate | date: "dd-MMM-yyyy" }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <div class="ant-col-md-24 ant-col-lg-24" style="clear: both">
                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="subject"
                    >Workflow</nz-form-label
                  >
                  <nz-form-control [nzSm]="8" [nzXs]="12">
                    <span>{{ catalogObj.workflow?.wrkflowname }}</span>
                    <a class="show-model" (click)="showWorkflowSummary()">
                      Show Workflow Details
                    </a>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <div
              *ngIf="
                catalogObj.catalogimage != undefined &&
                catalogObj.catalogimage != null
              "
              class="ant-col-md-24 ant-col-lg-24"
            >
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Service Image</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <a
                    (click)="
                      onPreview(catalogObj.catalogimage, 'Service Image')
                    "
                  >
                    <img
                      *ngIf="
                        catalogObj.catalogimage != undefined &&
                        catalogObj.catalogimage != null
                      "
                      [src]="catalogObj.catalogimage"
                      alt=""
                      class="imgs"
                    />
                  </a>
                  <a
                    *ngIf="catalogdownload"
                    href="{{ catalogObj.catalogimage }}"
                    target="_blank"
                    style="margin-left: 20px"
                    download
                    >Download</a
                  >
                </nz-form-control>
              </nz-form-item>
            </div>
            <div
              *ngIf="
                catalogObj.catalogola != undefined &&
                catalogObj.catalogola != null
              "
              class="ant-col-md-24 ant-col-lg-24"
            >
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Service Catalog</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <a
                    (click)="
                      onPreview(catalogObj.catalogola, 'Service Catalog')
                    "
                  >
                    <img
                      *ngIf="
                        catalogObj.catalogola != undefined &&
                        catalogObj.catalogola != null
                      "
                      [src]="catalogObj.catalogola"
                      alt=""
                      class="imgs"
                    />
                  </a>
                  <a
                    *ngIf="oladownload"
                    href="{{ catalogObj.catalogola }}"
                    target="_blank"
                    style="margin-left: 20px"
                    download
                    >Download</a
                  >
                </nz-form-control>
              </nz-form-item>
            </div>
            <div
              *ngIf="
                catalogObj.archdiagram != undefined &&
                catalogObj.archdiagram != null
              "
              class="ant-col-md-24 ant-col-lg-24"
            >
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Architectural View</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <a
                    (click)="
                      onPreview(catalogObj.archdiagram, 'Architectural View')
                    "
                  >
                    <img
                      *ngIf="
                        catalogObj.archdiagram != undefined &&
                        catalogObj.archdiagram != null
                      "
                      alt=""
                      [src]="catalogObj.archdiagram"
                      class="imgs"
                    />
                  </a>
                  <a
                    *ngIf="archdownload"
                    href="{{ catalogObj.archdiagram }}"
                    target="_blank"
                    type="application/*"
                    style="margin-left: 20px"
                    download
                    >Download</a
                  >
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 service-edit">
        <h3 class="white-text mb-0">Characteristics</h3>
        <div class="serviceform">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >High Availability</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="24">
                  <span>{{ catalogObj.ha }} %</span>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Description</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <p class="desc">
                    This is a standard deployment of
                    {{ catalogObj.solution?.solutionname }} with the following
                    characteristics
                  </p>
                  <p class="desc">{{ catalogObj.description }}</p>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="!isSolution">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Description</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <p class="desc">{{ catalogObj.description }}</p>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
                            <nz-form-item>
                                <nz-form-label [nzSm]="8" [nzXs]="12">Estimated Cost (One Time)</nz-form-label>
                                <nz-form-control [nzSm]="8" [nzXs]="12">
                                    <span>{{catalogObj.estimatedcost |currency}}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
                            <nz-form-item>
                                <nz-form-label [nzSm]="8" [nzXs]="12">Setup Cost (One Time)</nz-form-label>
                                <nz-form-control [nzSm]="8" [nzXs]="12">
                                    <span>{{catalogObj.setupcost |currency}}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
                            <nz-form-item>
                                <nz-form-label [nzSm]="8" [nzXs]="12">Running Cost (Monthly)</nz-form-label>
                                <nz-form-control [nzSm]="8" [nzXs]="12">
                                    <span>{{catalogObj.runningcost |currency}}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
                            <nz-form-item>
                                <nz-form-label [nzSm]="8" [nzXs]="12">Other Costs (Professional Services, Support, etc)</nz-form-label>
                                <nz-form-control [nzSm]="8" [nzXs]="12">
                                    <span>{{catalogObj.othercost |currency}}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <!-- <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >Automated Deployment</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{
                    catalogObj.autodeployyn == "Y" ? "Yes" : "No"
                  }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12"
                  >System Require Approval</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.approvalyn == "Y" ? "Yes" : "No" }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24 creative-service">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="noofapprovers"
                  >No. of Levels of Approval
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.noofapprovers }}</span>
                </nz-form-control>
              </nz-form-item>
            </div> -->
            <!-- <div class="ant-col-md-24 ant-col-lg-24" style="margin-left: 55px;" *ngIf="show">
                            <nz-collapse [nzBordered]="false">
                                <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panelName"
                                    [nzActive]="panel.active" (nzActiveChange)="onCollapse($event)">
                                    <nz-timeline *ngFor="let notes of notesList">
                                        <nz-timeline-item style="color:white">{{notes.notes}}
                                            <br>
                                            <span class="desc" style="font-style: italic;font-size: 12px;">
                                                {{notes.lastupdateddt |date:'dd-MMM-yyyy
                        hh:mm:ss'}}&nbsp;&nbsp;&nbsp;&nbsp; From:
                                                {{notes.fromuser?.fullname}} {{notes.touserid==null?'':&nbsp;'To:'}}
                                                {{notes.touser?.fullname}}</span>

                                        </nz-timeline-item>
                                    </nz-timeline>
                                </nz-collapse-panel>
                            </nz-collapse>
                        </div> -->
            <div class="ant-col-md-24 ant-col-lg-24 creative-service">
              <div
                *ngFor="let obj of catalogObj?.srmcatalogaprvr; let i = index"
              >
                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="12"
                    >Approver {{ i + 1 }}</nz-form-label
                  >
                  <nz-form-control [nzSm]="8" [nzXs]="12">
                    <span>{{ obj.approver?.fullname }}</span
                    >&nbsp;&nbsp;&nbsp;
                    <span>{{ obj.approver?.email }}</span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div
              *ngIf="isPublishMode"
              class="ant-col-md-24 ant-col-lg-24 creative-service"
            >
              <nz-form-item>
                <nz-form-label
                  [nzSm]="8"
                  [nzXs]="12"
                  nzRequired
                  nzFor="plannedpublishdate"
                  >Planned Publish Date</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-date-picker
                    nzFormat="dd-MMM-yyyy"
                    nzPlaceHolder="Planned Publish Date"
                    id="plannedpublishdate"
                    formControlName="plannedpublishdate"
                  ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div
              *ngIf="isPublishMode"
              class="ant-col-md-24 ant-col-lg-24 creative-service"
            >
              <nz-form-item>
                <nz-form-label
                  [nzSm]="8"
                  [nzXs]="12"
                  nzRequired
                  nzFor="plannedenddate"
                  >Planned End Date
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-date-picker
                    nzFormat="dd-MMM-yyyy"
                    nzPlaceHolder="Planned End Date"
                    id="plannedenddate"
                    formControlName="plannedenddate"
                  ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="col s12 m12 right-align clear save-button">
          <button
            *ngIf="isPublishMode"
            (click)="updateCatalog(catalogRequestForm.value)"
            nz-button
            class="service-button mt-1 mr-1"
            nzType="primary"
          >
            <span>Publish</span>
          </button>
          <!-- <button
            (click)="router.navigate(['srm/list'])"
            nz-button
            class="service-button mt-1 mr-1"
            nzType="primary"
          >
            <span>Close</span>
          </button> -->
        </div>
      </div>
    </form>
    <div *ngIf="showSummary" class="col s12 m12">
      <nz-drawer
        id="sidebar-modal"
        [nzBodyStyle]="{ 'padding-bottom': '55px' }"
        [nzMaskClosable]="true"
        [nzWidth]="820"
        [nzVisible]="showSummary"
        nzTitle="Solution Summary"
        (nzOnClose)="showSummary = !showSummary"
      >
        <app-cloudmatiq-summary-view
          *ngIf="solutionData"
          [style.width]="'100%'"
          class="deploymentForm"
          (closeSummary)="closeSummary($event)"
          [viewData]="solutionData"
          [summaryTitle]="'Solution Summary'"
        >
        </app-cloudmatiq-summary-view>
      </nz-drawer>
    </div>
    <nz-modal
      [nzVisible]="previewVisible"
      [nzTitle]="previewTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      [nzClosable]="false"
    >
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" alt="Preview-Image"/>
      </ng-template>
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="previewVisible = false">
          Close
        </button>
      </ng-template>
    </nz-modal>
    <!-- workflow -->
    <div *ngIf="showWorkflow" class="col s12 m12">
      <nz-drawer
        id="sidebar-modal"
        [nzBodyStyle]="{ 'padding-bottom': '55px' }"
        [nzMaskClosable]="true"
        [nzWidth]="820"
        [nzVisible]="showWorkflow"
        nzTitle="Workflow"
        (nzOnClose)="showWorkflow = !showWorkflow"
      >
        <div style="opacity: 0.8; pointer-events: none;">
          <app-workflow-add-edit 
            [isView]="false"
            [operationMode]="operationMode"
            [selectedWorkflow]="selectedWorkflow">
          </app-workflow-add-edit>
        </div>
      </nz-drawer>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Comments">
    <app-comments
      *ngIf="tabIndexNo == 1"
      [resourceDetails]="catalogObj"
      [resourceId]="catalogObj.catalogid"
      [refType]="'comments'"
    ></app-comments>
  </nz-tab>
  <nz-tab nzTitle="Documents">
    <app-comments
      *ngIf="tabIndexNo == 2"
      [resourceDetails]="catalogObj"
      [resourceId]="catalogObj.catalogid"
      [documentType]="true"
      [refType]="'documents'"
    ></app-comments>
  </nz-tab>
  <nz-tab nzTitle="History">
    <app-comments
      *ngIf="tabIndexNo == 3"
      [resourceDetails]="catalogObj"
      [resourceId]="catalogObj.catalogid"
      [refType]="'history'"
    ></app-comments>
  </nz-tab>
</nz-tabset>
  </ng-container>
</app-cloudmatiq-side-nav>
