<nz-tabset [(nzSelectedIndex)]="selectedIndex" class="networking-tab">
  <nz-tab nzTitle="Details">
    <form nz-form [formGroup]="sgForm" class="sg-add-form">
      <div class="row">
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="12"
              nzRequired
              nzFor="securitygroupname"
              >Security Group Name
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-input-group>
                <input
                  [attr.disabled]="noEdit"
                  id="securitygroupname"
                  formControlName="securitygroupname"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="awssecuritygroupid"
              >AWS Security Group Id
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-input-group>
                <input
                  [attr.disabled]="noEdit"
                  id="awssecuritygroupid"
                  formControlName="awssecuritygroupid"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="vpcid"
              >Select VPC</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="vpcid"
                placeholder="Select VPC"
                nzPlaceHolder="Select VPC"
                formControlName="vpcid"
              >
                <nz-option
                  *ngFor="let v of vpcList"
                  [nzLabel]="v.vpcname"
                  [nzValue]="v.vpcid"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="notes"
              >Notes</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="12">
              <nz-input-group>
                <input
                  [attr.disabled]="noEdit"
                  id="notes"
                  formControlName="notes"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="right-align mt-1">
        <button
          (click)="addRule()"
          [disabled]="noEdit"
          nz-button
          nzType="primary"
        >
          Add Rule
        </button>
      </div>
      <div formArrayName="awssgrules">
        <div
          *ngFor="
            let rules of getFormArray('awssgrules').controls;
            let i = index
          "
        >
          <div [formGroupName]="i" class="row">
            <div class="col s12 m2">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzRequired
                  nzFor="type"
                  >Security Type
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="type"
                    placeholder="Select VPC"
                    nzPlaceHolder="Security Type"
                    formControlName="type"
                  >
                    <!-- <nz-option nzLabel="All TCP" nzValue="tcp"></nz-option> -->
                    <nz-option
                      *ngFor="let v of sgRulesList"
                      [nzLabel]="v.label"
                      [nzValue]="v.value"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s12 m2">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzRequired
                  nzFor="protocol"
                >
                  Protocol
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="protocol"
                    placeholder="Select VPC"
                    nzPlaceHolder="Select Protocol"
                    formControlName="protocol"
                  >
                    <!-- <nz-option nzLabel="TCP" nzValue="tcp"></nz-option>
                                        <nz-option nzLabel="HTTP" nzValue="tcp"></nz-option> -->
                    <nz-option
                      *ngFor="let v of protocolList"
                      [nzLabel]="v.label"
                      [nzValue]="v.value"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s12 m3">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="portrange"
                  >Port
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-input-group>
                    <nz-input-number
                      nzPlaceHolder="Port"
                      id="portrange"
                      formControlName="portrange"
                      nz-input
                      type="text"
                    ></nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s12 m1">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="source"
                  >IP/SG
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <nz-input-group>
                    <nz-switch
                      class="status"
                      id="sourcetype"
                      formControlName="sourcetype"
                      (ngModelChange)="onSourceTypeChange($event)"
                    >
                    </nz-switch>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="rules.value.sourcetype" class="col s12 m3">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzFor="source"
                  >Source
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <nz-input-group>
                    <input
                      [attr.disabled]="noEdit"
                      id="source"
                      formControlName="source"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="!rules.value.sourcetype" class="col s12 m3">
              <nz-form-item>
                <nz-form-label
                  *ngIf="i == 0"
                  [nzSm]="24"
                  [nzXs]="12"
                  nzRequired
                  nzFor="source"
                  >Source
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="source"
                    placeholder="Select SG"
                    nzPlaceHolder="Select SG"
                    formControlName="source"
                  >
                    <nz-option
                      *ngFor="let data of sgList"
                      [nzLabel]="data.securitygroupname"
                      [nzValue]="data.awssecuritygroupid"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col s12 m1">
              <nz-form-item>
                <nz-form-label *ngIf="i == 0" [nzSm]="24" [nzXs]="12">
                  Action
                </nz-form-label>
                <nz-form-control [nzSm]="22" [nzXs]="12">
                  <i
                    (click)="deleteRule(i)"
                    title="Delete"
                    class="anticon hover-pointer amber-text anticon-delete"
                    style="padding-top: 15px; padding-left: 25px"
                  ></i>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row right">
      <div class="col s12 md4">
        <button
          [disabled]="!sgForm.valid || noEdit"
          (click)="saveUpdateSg(sgForm.value)"
          class="save-button"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Tags">
    <app-cloudmatiq-side-bar
      (dataChanged)="tagDrawerChanges($event)"
      [(isVisible)]="tagPickerVisible"
      [width]="550"
      [title]="'Add/Edit Tags'"
    >
      <ng-container class="modal-content">
        <app-cloudmatiq-tag-picker
          *ngIf="sgObj && sgObj.securitygroupid && tagPickerVisible"
          [currentTags]="tags"
          cloudProvider="AWS"
          [pickermode]="'combined'"
          [mode]="'picker'"
          [validateInputs]="true"
          [disableParams]="true"
          [tagGroupType]="null"
          [resourceId]="sgObj.securitygroupid"
          [resourceType]="'ASSET_SECURITYGROUP'"
          (tagChanges)="onTagChangeEmit($event)"
        >
        </app-cloudmatiq-tag-picker>
      </ng-container>
    </app-cloudmatiq-side-bar>
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <div nz-row class="ml-1">
        <div nz-col nzSpan="24">
          <!-- <h2 class="solution-title mb-0" style="margin-top: .5em;">Tags</h2> -->
          <button
            (click)="tagPickerVisible = true"
            nz-button
            *ngIf="!isSyncTags"
            class="m-r-15"
            nzType="primary"
          >
            Add/Edit Tags
          </button>
          <button nz-button (click)="syncAssetTags()">Sync Tags</button>
        </div>
        <nz-form-extra class="red-text"
          >* Please sync the tags before update</nz-form-extra
        >
        <div nz-col nzSpan="24">
          <div class="param-table" style="margin-top: 0px">
            <app-cloudmatiq-data-table
              [tableData]="tagsList"
              [tableHeader]="tagTableHeader"
              [tableConfig]="tagTableConfig"
            >
            </app-cloudmatiq-data-table>
          </div>
        </div>
      </div>
    </nz-spin>
    <button
      (click)="updateTags()"
      [nzLoading]="loading"
      *ngIf="!isSyncTags"
      class="save-button"
      nz-button
      nzType="primary"
    >
      Save
    </button>
  </nz-tab>
  <nz-tab [nzTitle]="subtenantLable" *ngIf="addTenant">
    <div>
      <app-mapping-instance [assetData]="assetData"></app-mapping-instance>
    </div>
  </nz-tab>
</nz-tabset>
