<app-cloudmatiq-side-bar
  [width]="modalWidth"
  (dataChanged)="modalVisible = false"
  [(isVisible)]="modalVisible"
  [title]="modalTitle"
>
  <ng-container class="modal-content">
    <app-cloudmatiq-script-add-edit
      *ngIf="modalTitle == 'Script'"
      [scriptObj]="scriptObj"
      (notifyScriptEntry)="notifyScriptEntry($event)"
    >
    </app-cloudmatiq-script-add-edit>
    <!-- <app-cloudmatiq-ecl2-add-edit-network *ngIf="modalTitle == 'Network'" [neworkObj]="neworkObj" (notifyVpcEntry)="notifyVpcEntry($event)">
        </app-cloudmatiq-ecl2-add-edit-network> -->
    <app-cloudmatiq-ecl2-add-edit-ami
      *ngIf="modalTitle == 'AMI'"
      [amiObj]="amiObj"
      (notifyAmiEntry)="notifyAmiEntry($event)"
    >
    </app-cloudmatiq-ecl2-add-edit-ami>
    <app-cloudmatiq-ecl2-add-edit-keys
      *ngIf="modalTitle == 'Keys'"
      [keyObj]="keyObj"
      (notifyKeysEntry)="notifyKeysEntry($event)"
    >
    </app-cloudmatiq-ecl2-add-edit-keys>
    <app-cloudmatiq-ecl2-add-edit-volumes
      *ngIf="modalTitle == 'Volume'"
      [volumeObj]="volumeObj"
      (notifyVolumeEntry)="notifyVolumeEntry($event)"
    >
    </app-cloudmatiq-ecl2-add-edit-volumes>
  </ng-container>
</app-cloudmatiq-side-bar>
<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <div class="row">
    <div class="col s12 m8">
      <h3 class="solution-title mb-0 ml-3">Compute</h3>

      <div class="col s12">
        <form nz-form [formGroup]="instanceForm">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="instancename"
              >Instance Name
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-input-group>
                <input
                  id="instancename"
                  placeholder="Instance Name"
                  formControlName="instancename"
                  nz-input
                  type="text"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="flavorid"
              >Instance Type</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="flavorid"
                placeholder="Select Instance"
                nzPlaceHolder="Select Instance"
                formControlName="flavorid"
              >
                <nz-option
                  *ngFor="let data of instanceList"
                  [nzLabel]="data.instancetypename"
                  [nzValue]="data.instancetypeid"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="ecl2imageid"
              >Image</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="ecl2imageid"
                placeholder="Select Image"
                nzPlaceHolder="Select Image or Add New"
                formControlName="ecl2imageid"
              >
                <nz-option
                  *ngFor="let data of amiList"
                  [nzLabel]="data.imagename"
                  [attr.title]="data.imagename"
                  [nzValue]="data.ecl2imageid"
                ></nz-option>
              </nz-select>
            </nz-form-control>
            <button
              (click)="openForm('AMI')"
              class="ml-1"
              nz-button
              nzType="primary"
            >
              <i class="anticon anticon-plus"></i>
            </button>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="scriptid"
              >Script</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="scriptid"
                placeholder="Select Script"
                nzPlaceHolder="Select Script or Add New"
                formControlName="scriptid"
              >
                <nz-option
                  *ngFor="let data of scriptsList"
                  [nzLabel]="data.scriptname"
                  [nzValue]="data.scriptid"
                ></nz-option>
              </nz-select>
            </nz-form-control>
            <!-- <button (click)="openForm('Script')" class="ml-1" nz-button nzType="primary">
                            <i class="anticon anticon-plus"></i>
                        </button> -->
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="orchid"
              >Orchestration</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="orchid"
                placeholder="Select Orchestration"
                nzPlaceHolder="Select Orchestration"
                formControlName="orchid"
              >
                <nz-option
                  *ngFor="let data of orchList"
                  [nzLabel]="data.orchname"
                  [nzValue]="data.orchid"
                ></nz-option>
              </nz-select>
            </nz-form-control>
            <!-- <button (click)="openForm('Script')" class="ml-1" nz-button nzType="primary">
                            <i class="anticon anticon-plus"></i>
                        </button> -->
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="shutdownbehaviour"
              >Shutdown Behaviour
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="shutdownbehaviour"
                placeholder="Shutdown Behaviour"
                nzPlaceHolder="Shutdown Behaviour"
                formControlName="shutdownbehaviour"
              >
                <nz-option [nzLabel]="'Stop'" [nzValue]="'stop'"></nz-option>
                <nz-option
                  [nzLabel]="'Terminate'"
                  [nzValue]="'terminate'"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="12"
              nzRequired
              nzFor="monitorutilyn"
              >Utilization Monitoring
            </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="monitorutilyn"
                placeholder="Shutdown Behaviour"
                nzPlaceHolder="Monitoring"
                formControlName="monitorutilyn"
              >
                <nz-option [nzLabel]="'Yes'" [nzValue]="'Y'"></nz-option>
                <nz-option [nzLabel]="'No'" [nzValue]="'N'"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <h3 class="solution-title mb-0 ml-3">Storage</h3>
          <div class="col s12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="ecl2volumeid"
                >Data Volume</nz-form-label
              >
              <nz-form-control [nzSm]="12" [nzXs]="12">
                <nz-select
                  nzMode="multiple"
                  nzShowSearch
                  nzAllowClear
                  id="ecl2volumeid"
                  nzPlaceHolder="Select Volume or Add New"
                  formControlName="ecl2volumeid"
                >
                  <nz-option
                    *ngFor="let data of volumeList"
                    [nzLabel]="data.volumename"
                    [nzValue]="data"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
              <button
                (click)="openForm('Volume')"
                class="ml-1"
                nz-button
                nzType="primary"
              >
                <i class="anticon anticon-plus"></i>
              </button>
            </nz-form-item>
          </div>
        </form>
      </div>
      <h3 class="solution-title mb-0 ml-3 mt-1">Networking</h3>
      <div class="ml-4">
        <form nz-form [formGroup]="networkingForm" class="tags-section">
          <div formArrayName="networks">
            <div
              class="col s12 m12 right-align network-button network-btn"
              style="width: 97.8% !important"
            >
              <button
                class="net-btn"
                (click)="addNewNetwork()"
                nz-button
                nzType="primary"
              >
                <i class="anticon anticon-plus"></i>
              </button>
            </div>
            <div
              *ngFor="
                let item of getFormArray('networks').controls;
                let i = index
              "
            >
              <div [formGroupName]="i">
                <div class="row">
                  <div class="col s12 m10">
                    <nz-form-item>
                      <nz-form-label
                        [nzSm]="8"
                        [nzXs]="12"
                        nzRequired
                        nzFor="ecl2networkid"
                      >
                        Network
                      </nz-form-label>
                      <nz-form-control [nzSm]="15" [nzXs]="6">
                        <nz-select
                          nzShowSearch
                          nzAllowClear
                          id="ecl2networkid"
                          nzPlaceHolder="Select Network"
                          formControlName="ecl2networkid"
                          (ngModelChange)="onChange($event, i)"
                        >
                          <nz-option
                            *ngFor="let data of vpcList"
                            [nzLabel]="data.networkname"
                            [nzValue]="data"
                          ></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col s12 m2">
                    <i
                      [style.margin-top.px]="i == 0 ? '15' : '10'"
                      (click)="removeNetwork(i)"
                      class="anticon hover-pointer amber-text anticon-delete"
                      style="padding-left: 56px"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m10">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="tenantsharing"
                  >Tenant Sharing
                </nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="6">
                  <nz-input-group style="padding-top: 10px">
                    <label
                      id="tenantsharing"
                      formControlName="tenantsharing"
                      (ngModelChange)="checkedTenantSharing($event)"
                      nz-checkbox
                    ></label>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row" *ngIf="networkingForm.get('tenantsharing').value">
            <div class="col s12 m10">
              <!-- <div class="col s12 m12 right-align network-button network-btn"> -->
              <!-- <span>
                                <i
                                    [ngClass]="tenantconnectivity?'anticon anticon-check-circle status-success':'anticon anticon-close-circle status-failed'"></i>
                                <a class="req-btn" (click)="tenantConnectionReq()"> Request & Approval &nbsp;<b>
                                        <i *ngIf="spinning" class="anticon anticon-spin anticon-loading"
                                            style="color:lime;font-size: 20px;"></i></b>
                                </a></span> -->
              <!-- <button class="req-btn" (click)="tenantConnectionReq()" nz-button nzType="primary">
                                Request & Approval
                            </button> -->
              <!-- </div> -->
              <!-- <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="sharedtenants"><span>Subtenant
                                    <nz-tooltip nzTitle="Source tenant for interconnectivity">
                                        <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                                    </nz-tooltip></span></nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="6">
                                <nz-select nzMode="multiple" nzShowSearch nzAllowClear id="sharedtenants"
                                    nzPlaceHolder="Select Subtenant" formControlName="sharedtenants">
                                    <nz-option *ngFor="let data of subtenantList" [nzLabel]="data.customername"
                                        [nzValue]="data"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item> -->

              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="sharedtenants"
                  ><span
                    >Tenant Networks
                    <nz-tooltip nzTitle="Source tenant for interconnectivity">
                      <i
                        nz-tooltip
                        class="anticon anticon-question-circle-o"
                      ></i>
                    </nz-tooltip> </span
                ></nz-form-label>
                <nz-form-control [nzSm]="15" [nzXs]="6">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="tenantconnectionrequests"
                    (ngModelChange)="onConnReqChange($event)"
                    nzPlaceHolder="Select"
                    formControlName="tenantconnectionrequests"
                  >
                    <nz-option
                      *ngFor="let data of interconctivityList"
                      [nzLabel]="data.name"
                      [nzValue]="data"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m10">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="8"
                  [nzXs]="12"
                  nzFor="ecl2internetgatewayid"
                  >Internet Gateway
                </nz-form-label>
                <nz-form-control [nzSm]="15" [nzXs]="6">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="ecl2internetgatewayid"
                    nzPlaceHolder="Select Internet Gateway"
                    formControlName="ecl2internetgatewayid"
                  >
                    <nz-option
                      *ngFor="let data of internetGatewayList"
                      [nzLabel]="data.gatewayname"
                      [nzValue]="data.ecl2internetgatewayid"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m10">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="ecl2vsrxid"
                  >VSRX</nz-form-label
                >
                <nz-form-control [nzSm]="15" [nzXs]="6">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="ecl2vsrxid"
                    nzPlaceHolder="Select VSRX"
                    formControlName="ecl2vsrxid"
                  >
                    <nz-option
                      *ngFor="let data of vsrxList"
                      [nzLabel]="data.vsrxname"
                      [nzValue]="data.ecl2vsrxid"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
      <!-- <nz-modal [(nzVisible)]="isapprovalVisible" nzTitle="Approval Details" [nzContent]="modalContent" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
                <ng-template #modalContent>
                    <div>
                        <form nz-form [formGroup]="approvalForm">
                            <nz-form-item>
                                <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="accesskey">Access Key
                                </nz-form-label>
                                <nz-form-control [nzSm]="16" [nzXs]="24">
                                    <input nz-input placeholder="" formControlName="accesskey" type="text" placeholder="Access Key">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="secretkey">Secret Key
                                </nz-form-label>
                                <nz-form-control [nzSm]="16" [nzXs]="24">
                                    <input nz-input placeholder="" formControlName="secretkey" type="text" placeholder="Secret Key">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="admintenantid">Tenant ID
                                </nz-form-label>
                                <nz-form-control [nzSm]="16" [nzXs]="24">
                                    <input nz-input placeholder="" formControlName="admintenantid" type="text" placeholder="Tenant ID">
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                </ng-template>
            </nz-modal> -->
      <h3 class="solution-title mb-0 ml-3">Key</h3>

      <div class="ml-0">
        <form nz-form [formGroup]="keysForm">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="keyid"
              >Select Key Filename</nz-form-label
            >
            <nz-form-control [nzSm]="12" [nzXs]="12">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="keyid"
                nzPlaceHolder="Select Key"
                formControlName="keyid"
              >
                <nz-option
                  *ngFor="let data of keysList"
                  [nzLabel]="data.keyname"
                  [nzValue]="data.keyid"
                ></nz-option>
              </nz-select>
            </nz-form-control>
            <button
              (click)="openForm('Keys')"
              class="ml-1"
              nz-button
              nzType="primary"
            >
              <i class="anticon anticon-plus"></i>
            </button>
          </nz-form-item>
        </form>
      </div>

      <div class="ml-3">
        <app-cloudmatiq-side-bar
          (dataChanged)="tagDrawerChanges($event)"
          [(isVisible)]="tagPickerVisible"
          [width]="550"
          [title]="'Add/Edit Tags'"
        >
          <ng-container class="modal-content">
            <app-cloudmatiq-tag-picker
              *ngIf="solutionObj && solutionObj.solutionid"
              [pickermode]="'combined'"
              [currentTags]="
                eclSolutionObj && eclSolutionObj.ecl2solutionid ? tags : []
              "
              [mode]="'picker'"
              [validateInputs]="true"
              [refId]="
                eclSolutionObj && eclSolutionObj.ecl2solutionid
                  ? eclSolutionObj.ecl2solutionid
                  : null
              "
              [resourceId]="solutionObj.solutionid"
              [resourceType]="'SOLUTION_ASSET'"
              [tagGroupType]="'SOLUTION_ASSET'"
              [cloudProvider]="'ECL2'"
              (tagChanges)="onTagChangeEmit($event)"
            >
            </app-cloudmatiq-tag-picker>
          </ng-container>
        </app-cloudmatiq-side-bar>
        <div nz-row>
          <div
            nz-col
            nzSpan="24"
            style="display: flex; justify-content: space-between"
          >
            <h3 class="solution-title mb-0">Tags</h3>
            <button
              (click)="tagPickerVisible = true"
              nz-button
              nzType="primary"
              style="margin: 9px 0"
            >
              Add/Edit Tags
            </button>
          </div>
          <div nz-col nzSpan="24">
            <div class="param-table" style="margin-top: 0px">
              <app-cloudmatiq-data-table
                [tableData]="instanceLevelTags"
                [tableHeader]="tagTableHeader"
                [tableConfig]="tagTableConfig"
              >
              </app-cloudmatiq-data-table>
            </div>
          </div>
        </div>

        <!-- <form hidden nz-form [formGroup]="tagsForm" class="tags-section">
                    <div class="col s12 m12 right-align network-button" style="padding-right: 56px;">
                        <button (click)="addTag()" nz-button nzType="primary">
                            <i class="anticon anticon-plus"></i>
                        </button>
                    </div>
                    <div formArrayName="tags">
                        <div *ngFor="let rules of getFormArray('tags').controls;let i = index">
                            <div [formGroupName]="i">
                                <div class="row">
                                    <div class="col s12 m5">
                                        <nz-form-item>
                                            <nz-form-label *ngIf="i == 0" style="text-align:left" [nzSm]="22"
                                                [nzXs]="12" nzFor="tagkey">Key</nz-form-label>
                                            <nz-form-control [nzSm]="22" [nzXs]="12">
                                                <nz-input-group>
                                                    <input id="tagkey" placeholder="Key" formControlName="tagkey"
                                                        nz-input type="text">
                                                </nz-input-group>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div class="col s12 m5">
                                        <nz-form-item>
                                            <nz-form-label *ngIf="i == 0" style="text-align:left" [nzSm]="22"
                                                [nzXs]="12" nzFor="tagvalue">Value</nz-form-label>
                                            <nz-form-control [nzSm]="22" [nzXs]="12">
                                                <nz-input-group>
                                                    <input id="tagvalue" placeholder="Value" formControlName="tagvalue"
                                                        nz-input type="text">
                                                </nz-input-group>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div class="col s12 m2">
                                        <i [style.margin-top.px]="i==0 ? '50' : '10'" (click)="removeTag(i)"
                                            class="anticon hover-pointer amber-text anticon-delete"
                                            style="padding-left: 56px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> -->
      </div>
    </div>
    <div *ngIf="awsSolutionsList.length > 0" class="col m4 pl-2 pr-2">
      <h3 class="amber-text">Servers</h3>
      <table
        *ngIf="awsSolutionsList && awsSolutionsList.length > 0"
        style="width: 100%"
      >
        <tr *ngFor="let s of awsSolutionsList">
          <td class="white-text">{{ s.instancename }}</td>
          <td>
            <i
              (click)="serverChange({ edit: true, data: s })"
              class="anticon hover-pointer amber-text anticon-edit ml-2"
            ></i>
            <i
              (click)="deleteInstance(s)"
              class="anticon hover-pointer amber-text anticon-delete ml-1"
            ></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</nz-spin>
<div class="row">
  <div class="col s12 m8 center-align mt-2">
    <nz-dropdown nzPlacement="topCenter">
      <button style="width: 115px" class="server-button" nz-button nz-dropdown>
        <span>Save</span>
        <i class="anticon anticon-down"></i>
      </button>
      <ul nz-menu>
        <li
          (click)="addServer(false)"
          [nzDisabled]="!instanceForm.valid || !networkingForm.valid"
          nz-menu-item
        >
          <a>Save and Add Another</a>
        </li>
        <li
          (click)="addServer(true)"
          [nzDisabled]="!instanceForm.valid || !networkingForm.valid"
          nz-menu-item
        >
          <a>Save and Continue</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
</div>
