<nz-tabset
  [nzSelectedIndex]="temptabIndex"
  (nzSelectChange)="tabChanged($event)"
>
  <nz-tab [nzTitle]="workflow_config.tabltitle_info">
    <div style="width: 100%">
      <div nz-col nzspan="24">
        <div nz-row>
          <div nz-col nzSpan="20">
            <div nz-row class="dynamic-form">
              <div nz-col nzSpan="6" *ngIf="operationMode == 'WKPACK_MAPPING'">
                <nz-form-item>
                  <nz-form-label
                    class="left left-align"
                    [nzSm]="24"
                    [nzXs]="24"
                    >{{ workflow_config.assignee_placeholder }}</nz-form-label
                  >
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select
                      [nzDisabled]="taskMapped"
                      nzShowSearch
                      [(ngModel)]="fromuser"
                      style="width: 100%"
                      nzAllowClear
                      [nzPlaceHolder]="workflow_config.assignee_placeholder"
                      (ngModelChange)="assigneeChanges($event)"
                    >
                      <nz-option
                        *ngFor="let u of usersList; index as ti"
                        [nzLabel]="u.fullname"
                        [nzValue]="u.userid"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div
                nz-col
                nzSpan="6"
                *ngIf="operationMode == 'WKPACK_MAPPING' && taskMapped"
              >
                <nz-form-item *ngIf="taskMapped">
                  <nz-form-label class="left left-align" [nzSm]="24" [nzXs]="24"
                    >Status</nz-form-label
                  >
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select
                      [nzDisabled]="!isReviewerLogin && !isEditpermission"
                      nzShowSearch
                      [(ngModel)]="globalStatus"
                      style="width: 100%"
                      nzAllowClear
                      nzPlaceHolder="Status"
                    >
                      <nz-option
                        *ngFor="let u of statusList; index as ti"
                        [nzLabel]="u"
                        [nzValue]="u"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6" *ngIf="operationMode == 'WKPACK_MAPPING'">
                <nz-form-item>
                  <nz-form-label class="left left-align" [nzSm]="24" [nzXs]="24"
                    >Name/Title</nz-form-label
                  >
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <input
                      nz-input
                      placeholder="Name/Title"
                      [(ngModel)]="resoruceTitle"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div
                nz-col
                nzSpan="6"
                *ngIf="operationMode == 'WKPACK_MAPPING' && !taskMapped"
              >
                <nz-form-item>
                  <nz-form-label class="left left-align" [nzSm]="24" [nzXs]="24"
                    >Workflow Approver</nz-form-label
                  >
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select
                      nzShowSearch
                      [(ngModel)]="selectedWorkflow"
                      style="width: 100%"
                      nzAllowClear
                      nzPlaceHolder="Workflow Approver(s)"
                      (ngModelChange)="workflowChanges($event)"
                    >
                      <nz-option
                        *ngFor="let t of workflowList; index as ti"
                        [nzLabel]="t.wrkflowname"
                        [nzValue]="t"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="addNew">
                <nz-form-item style="display: flex; align-items: center">
                  <nz-form-label class="left left-align" [nzSm]="8" [nzXs]="8" nzRequired
                    >Workflow</nz-form-label
                  >
                  <nz-form-control [nzSm]="17" [nzXs]="12" style="right: 15px">
                    <nz-input-group>
                      <input
                        nz-input
                        placeholder="Enter Workflow"
                        [(ngModel)]="workflowDetails.wrkflowname"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="addNew">
                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="8" style="left: 13px" nzRequired
                    >Module</nz-form-label
                  >
                  <nz-form-control [nzSm]="12" [nzXs]="12">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      id="module"
                      [(ngModel)]="workflowDetails.module"
                      style="width: 15rem; margin: 3px"
                      nzPlaceHolder="Select module"
                    >
                      <nz-option
                        *ngFor="let m of modules"
                        [nzLabel]="m.title"
                        [nzValue]="m.value"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div *ngIf="isEdit || operationMode == 'WKPACK_VIEW'" style="color: #fecc00">
                <label>Name: </label>
                <span>{{ workflowDetails.wrkflowname }}</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="row workflowDetails" *ngIf="operationMode == 'WKPACK_MAPPING'">
      <div nz-col nzSpan="24" *ngIf="workflowActionList.length > 0">
        <nz-steps>
          <ng-container *ngFor="let item of workflowActionList">
            <nz-step
              [nzTitle]="item.workflow_status"
              [nzDescription]="item.approver ? item.approver.fullname : ''"
            ></nz-step>
          </ng-container>
        </nz-steps>
        <div
          class="param-table ant-table ant-table-body"
          style="margin-top: 0px"
        >
          <p-table [columns]="actiontableHeader" [value]="workflowActionList">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th
                  *ngFor="let col of columns"
                  [ngStyle]="{ width: col.width }"
                  [pSortableColumn]="col.field"
                >
                  {{ col.header }}
                </th>
                <!-- <th style="width: 10em"></th> -->
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-columns="columns"
              let-index="rowIndex"
            >
              <tr>
                <td
                  *ngFor="let col of columns"
                  [ngStyle]="{ width: col.width }"
                >
                  <div *ngIf="col.field == 'touserid'">
                    <nz-select
                      nzShowSearch
                      [nzDisabled]="!isEditpermission"
                      [(ngModel)]="rowData.touserid"
                      style="width: 100%"
                      nzAllowClear
                      nzPlaceHolder="Approver"
                    >
                      <nz-option
                        *ngFor="let u of usersList; index as ti"
                        [nzLabel]="u.fullname"
                        [nzValue]="u.userid"
                      >
                      </nz-option>
                    </nz-select>
                  </div>
                  <div *ngIf="col.field == 'workflow_status'">
                    <nz-select
                      nzShowSearch
                      [nzDisabled]="
                        !rowData.isReviewerLogin || !isEditpermission
                      "
                      [(ngModel)]="rowData.workflow_status"
                      style="width: 100%"
                      nzAllowClear
                      nzPlaceHolder="Compl. Status"
                      (ngModelChange)="workflowActionStatusChanges()"
                    >
                      <nz-option
                        *ngFor="let u of statusList; index as ti"
                        [nzLabel]="u"
                        [nzValue]="u"
                      >
                      </nz-option>
                    </nz-select>
                  </div>
                  <div *ngIf="col.field == 'duedate'">
                    <nz-input-group>
                      <nz-date-picker
                        [nzDisabled]="
                          !rowData.isReviewerLogin || !isEditpermission
                        "
                        nzFormat="yyyy-MM-dd"
                        [(ngModel)]="rowData.duedate"
                      ></nz-date-picker>
                    </nz-input-group>
                  </div>
                  <div *ngIf="col.field == 'notes'">
                    <textarea
                      [(ngModel)]="rowData.notes"
                      placeholder="Note"
                      type="text"
                      nz-input
                    ></textarea>
                  </div>
                  <!-- <div *ngIf="col.field != 'touserid' && col.field != 'workflow_status' && col.field != 'notes'">
                      {{ rowData[col.field] }}
                    </div> -->
                </td>
                <!-- <td *ngIf="operationMode != 'WKPACK_MAPPING'" >
                    <i *ngIf="index > 0" (click)="removeApprover()" class="anticon hover-pointer amber-text anticon-delete"></i>
                      
                  </td> -->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="row workflowDetails" *ngIf="workflowDetails">
      <div nz-col nzSpan="24" *ngIf="workflowDetails.tnapprovers">
        <nz-steps *ngIf="workflowDetails.tnapprovers.length > 0">
          <ng-container *ngFor="let item of workflowDetails.tnapprovers">
            <nz-step
              [nzTitle]="item.aprvrseqid"
              nzStatus="finish"
              [nzDescription]="item.user ? item.user.fullname : ''"
            ></nz-step>
          </ng-container>
        </nz-steps>

        <div
          class="param-table ant-table ant-table-body"
          style="margin-top: 0px"
        >
          <p-table
            [columns]="tableHeader"
            (onRowReorder)="changePosition($event)"
            [value]="workflowDetails.tnapprovers"
            [reorderableColumns]="operationMode != 'WKPACK_MAPPING'"
          >
            <!-- <ng-template pTemplate="caption" let-rowData>
                <div *ngIf="operationMode != 'WKPACK_MAPPING'" style="text-align:left">
                  <button nz-button nzType="primary" class="right m-t-1" (click)="addNewApprover()">
                    <i class="anticon anticon-plus"></i>Add
                  </button>
                </div>
            </ng-template>  -->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 4.5em"></th>
                <th
                  *ngFor="let col of columns"
                  [ngStyle]="{ width: col.width }"
                  pReorderableColumn
                  [pSortableColumn]="col.field"
                >
                  {{ col.header }}
                  <p-sortIcon
                    [field]="col.field"
                    ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"
                  ></p-sortIcon>
                </th>
                <th
                  *ngIf="operationMode != 'WKPACK_MAPPING'"
                  style="width: 5em"
                ></th>
                <th style="width: 0%">
                  <button
                    nz-button
                    nzType="primary"
                    class="right"
                    style="right: 18px"
                    (click)="addNewApprover()"
                    *ngIf="operationMode != 'WKPACK_VIEW'"
                  >
                    <i class="anticon anticon-plus"></i>
                  </button>
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-columns="columns"
              let-index="rowIndex"
            >
              <tr [pReorderableRow]="index">
                <td>
                  <i
                    *ngIf="operationMode != 'WKPACK_MAPPING'"
                    style="transform: rotateZ(90deg)"
                    class="anticon anticon-swap"
                    pReorderableRowHandle
                  ></i>
                </td>
                <td *ngFor="let col of columns">
                  <div *ngIf="col.field == 'user'">
                    <nz-select
                      nzShowSearch
                      [nzDisabled]="operationMode == 'WKPACK_MAPPING'"
                      [(ngModel)]="rowData.userid"
                      style="width: 100%"
                      nzAllowClear
                      nzPlaceHolder="Approver"
                      (ngModelChange)="approverChanges(rowData)"
                    >
                      <nz-option
                        *ngFor="let u of usersList; index as ti"
                        [nzLabel]="u.fullname"
                        [nzValue]="u.userid"
                      >
                      </nz-option>
                    </nz-select>
                  </div>
                  <!-- <div *ngIf="col.field == 'completion_status'">
                      <nz-select nzShowSearch [nzDisabled]="operationMode == 'WKPACK_MAPPING'"  [(ngModel)]="rowData.completion_status" style="width: 100%" nzAllowClear nzPlaceHolder="Compl. Status"
                        (ngModelChange)="workflowChanges()">
                        <nz-option *ngFor="let u of statusList; index as ti" [nzLabel]="u" [nzValue]="u">
                        </nz-option>
                      </nz-select>
                    </div>
                    <div *ngIf="col.field == 'rejection_status'">
                      <nz-select nzShowSearch [nzDisabled]="operationMode == 'WKPACK_MAPPING'" [(ngModel)]="rowData.rejection_status" style="width: 100%" nzAllowClear nzPlaceHolder="Rej. Status"
                        (ngModelChange)="workflowChanges()">
                        <nz-option *ngFor="let u of statusList; index as ti" [nzLabel]="u" [nzValue]="u">
                        </nz-option>
                      </nz-select>
                    </div> -->
                  <div
                    *ngIf="
                      col.field != 'user' &&
                      col.field != 'completion_status' &&
                      col.field != 'rejection_status'
                    "
                  >
                    {{ rowData[col.field] }}
                  </div>
                  <!-- <div *ngIf="col.field == 'to_duedate'">
                      <nz-input-group>
                        <nz-date-picker
                        nzFormat="dd-MM-yyyy"
                          [(ngModel)]="rowData.to_duedate"
                        ></nz-date-picker>
                      </nz-input-group>
                    </div> -->
                </td>
                <!-- <td *ngIf="operationMode != 'WKPACK_MAPPING'" >
                    <i *ngIf="index > 0" (click)="removeApprover(index)" class="anticon hover-pointer amber-text anticon-delete"></i>
                      
                  </td> -->
                <td
                  *ngIf="operationMode != 'WKPACK_MAPPING'"
                  style="position: relative"
                >
                  <span
                    (click)="removeApprover(index)"
                    class="anticon hover-pointer amber-text anticon-delete"
                    style="position: absolute; right: 15px; top: 15px"
                    *ngIf="operationMode != 'WKPACK_VIEW'"
                  ></span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="4" style="float: right;">
      <button
        class="right right-align"
        nz-button
        nzType="primary"
        (click)="Save()"
        *ngIf="operationMode != 'WKPACK_VIEW'"
      >
        Save
      </button>
      <!-- <button class="right right-align" *ngIf="operationMode == 'WKPACK_MAPPING' && workflowActionList.length > 0" nz-button nzType="primary" (click)="detachWorkflow()">
          <i class="anticon anticon-close"></i>Detach
        </button> -->
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="workflow_config.tabltitle_associations" *ngIf="isEdit && !isview">
    <div *ngIf="temptabIndex == 1">
      <div nz-row>
        <div class="ant-col-md-24 ant-col-lg-24">
          <div class="serviceform">
            <div class="ant-col-md-24 ant-col-lg-24">
              <div class="create-service ant-col-md-24 ant-col-lg-24">
                <!-- <div class="ant-col-lg-4"></div> -->
                <div class="ant-col-md-24 ant-col-lg-24 mt-1">
                  <nz-table
                    #basicTable
                    [nzShowPagination]="false"
                    nzSize="medium"
                    [nzData]="requestData"
                  >
                    <thead>
                      <tr>
                        <th class="left-align">Request type</th>
                        <th class="left-align">Priority</th>
                        <th class="left-align">Customer notes</th>
                        <!-- <th class="left-align">Execution type</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of requestData;">
                        <td class="left-align">
                          {{ data.type }}
                        </td>
                        <td class="left-align">
                          {{ data.priority }}
                        </td>
                        <td class="left-align">
                          {{ data.customer_notes }}
                        </td>
                        <!-- <td class="left-align">
                          {{ data.priority }}
                        </td> -->
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
  <!-- <nz-tab [nzTitle]="workflow_config.tabltitle_comments" *ngIf="isEdit && !isview">
    <app-cloudmatiq-asset-comments
      *ngIf="temptabIndex == 2"
      [isWorkflowNotification]="true"
      [(resourceDetails)]="workflowresourceDetails"
      [(resourceId)]="workflowresourceId"
    ></app-cloudmatiq-asset-comments>
  </nz-tab>
  <nz-tab [nzTitle]="workflow_config.tabltitle_document" *ngIf="isEdit && !isview">
    <app-cloudmatiq-asset-docs
      *ngIf="temptabIndex == 3"
      [(resourceDetails)]="workflowresourceDetails"
      [(resourceId)]="workflowresourceId"
    ></app-cloudmatiq-asset-docs>
  </nz-tab>
  <nz-tab [nzTitle]="workflow_config.tabltitle_history" *ngIf="isEdit && !isview">
    <app-cloudmatiq-asset-history
      *ngIf="temptabIndex == 4"
      [resourceDetails]="workflowresourceDetails"
      [resourceId]="workflowresourceId"
    ></app-cloudmatiq-asset-history>
  </nz-tab> -->
  

<nz-tab [nzTitle]="workflow_config.tabltitle_comments" *ngIf="isEdit && !isview">
  <app-comments
    *ngIf="temptabIndex == 2"
    [resourceDetails]="workflowDetails"
    [resourceId]="workflowDetails.refid"
    [refType]="'comments'"
  ></app-comments>
</nz-tab>
<nz-tab [nzTitle]="workflow_config.tabltitle_document" *ngIf="isEdit && !isview">
  <app-comments
    *ngIf="temptabIndex == 3"
    [resourceDetails]="workflowDetails"
    [resourceId]="workflowDetails.refid"
    [documentType]="true"
    [refType]="'documents'"
  ></app-comments>
</nz-tab>
<nz-tab [nzTitle]="workflow_config.tabltitle_history" *ngIf="isEdit && !isview">
  <app-comments
    *ngIf="temptabIndex == 4"
    [resourceDetails]="workflowDetails"
    [resourceId]="workflowDetails.refid"
    [refType]="'history'"
  ></app-comments>
  </nz-tab>
</nz-tabset>