<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <form nz-form [formGroup]="serviceRequestForm">
      <div class="col s12 m12 service-edit">
        <h3 class="white-text mb-0">Basic Details</h3>
        <div class="serviceform">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="create-service ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12" nzFor="catalogid"
                  >Service Name</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span *ngIf="isFromList == true">{{
                    catalogObj.catalogname
                  }}</span>
                  <nz-select
                    *ngIf="isFromList == false"
                    nzShowSearch
                    nzAllowClear
                    id="catalogid"
                    placeholder="Select Service"
                    nzPlaceHolder="Select Service"
                    (ngModelChange)="selectedCatalog($event)"
                    formControlName="catalogid"
                  >
                    <nz-option
                      *ngFor="let data of catalogList"
                      [nzLabel]="data.solution?.solutionname"
                      [nzValue]="data.catalogid"
                    >
                    </nz-option>
                  </nz-select>
                  <a
                    class="show-button"
                    *ngIf="serviceRequestForm.get('catalogid').valid || isSolution"
                    (click)="
                      getSolutionDetailById(
                        serviceRequestForm.get('catalogid').value
                      )
                    "
                  >
                    Show Details
                    <span>
                      <nz-spin
                        *ngIf="summaryLoading"
                        [nzIndicator]="indicatorTemplate"
                      >
                      </nz-spin>
                    </span>
                  </a>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isOrchestration">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Orchestration Name</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.catalogname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Cloud Provider</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.solution?.cloudprovider }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="referenceno"
                  >Reference No.
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <input
                    id="referenceno"
                    placeholder="Reference No"
                    formControlName="referenceno"
                    nz-input
                    type="text"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="create-service ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="clientid"
                  >{{ subtenantLable }}
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="clientid"
                    placeholder="Select customer"
                    nzPlaceHolder="Select customer"
                    formControlName="clientid"
                  >
                    <nz-option
                      *ngFor="let data of clientList"
                      [nzLabel]="data.customername"
                      [nzValue]="data.customerid"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12">Group name</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{ catalogObj.group?.keyname }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="subject"
                  >Title</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <input
                    id="subject"
                    placeholder="Enter title of the request"
                    formControlName="subject"
                    nz-input
                    type="text"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="priority"
                >Priority</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  placeholder="Select Priority"
                  nzPlaceHolder="Select Priority"
                  formControlName="priority"
                >
                  <nz-option
                    *ngFor="let p of priority"
                    [nzLabel]="p.keyname"
                    [nzValue]="p.keyvalue"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24" *ngIf="catalogObj.wrkflowid">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="assignedto"
                >Workflow </nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select workflow"
                  nzAllowClear
                  nzShowSearch
                  formControlName="wrkflowid"
                  (ngModelChange)="onWorkflowSelect($event)"
                >
                <nz-option
                  *ngFor="let p of workflowList"
                  [nzLabel]="p.wrkflowname"
                  [nzValue]="p.wrkflowid"
                ></nz-option>
                </nz-select>
                <a class="show-button" (click)="showWorkflowSummary()">
                  Show Workflow Details
                </a>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor="assignedto"
                >Assignee</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                  nzPlaceHolder="Select Assignee"
                  nzAllowClear
                  nzShowSearch
                  formControlName="assignedto"
                >
                  <nz-option
                    *ngFor="let p of usersList"
                    [nzLabel]="p.fullname"
                    [nzValue]="p.userid"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="12"
                nzRequired
                nzFor=""
                >Watchlist</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-select
                formControlName="watchlist"
                nzPlaceHolder="Select Watchlist"
                nzShowSearch
                [(ngModel)]="selectedValue"
                nzMode="multiple"
                nzAllowClear
                [nzDisabled]="isView"
                style="max-height: 70px; overflow-y: auto"
              >
                <nz-option
                  *ngFor="let option of watchList"
                  [nzValue]="option.value"
                  [nzLabel]="option.label"
                ></nz-option>
              </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="notes"
                >Customer notes</nz-form-label
              >
              <nz-form-control [nzSm]="8" [nzXs]="12">
                <nz-input-group>
                  <p-editor
                  formControlName="notes"
                  [style]="{ height: '220px'}"
                ></p-editor>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24" *ngIf="isSolution">
            <div
              *ngIf="
                catalogObj.catalogimage != undefined &&
                catalogObj.catalogimage != null
              "
              class="ant-col-md-24 ant-col-lg-24 service-image"
            >
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Service Image</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <a
                    (click)="
                      onPreview(catalogObj.catalogimage, 'Service Image')
                    "
                  >
                    <img
                      *ngIf="
                        catalogObj.catalogimage != undefined &&
                        catalogObj.catalogimage != null
                      "
                      [src]="catalogObj.catalogimage"
                      alt=""
                      class="imgs"
                    />
                  </a>
                  <a
                    *ngIf="catalogdownload"
                    href="{{ catalogObj.catalogimage }}"
                    target="_blank"
                    style="margin-left: 20px"
                    download
                    >Download</a
                  >
                </nz-form-control>
              </nz-form-item>
            </div>

            <div
              *ngIf="
                catalogObj.catalogola != undefined &&
                catalogObj.catalogola != null
              "
              class="ant-col-md-24 ant-col-lg-24 service-image"
            >
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Service Catalog</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <a
                    (click)="
                      onPreview(catalogObj.catalogola, 'Service Catalog')
                    "
                  >
                    <img
                      *ngIf="
                        catalogObj.catalogola != undefined &&
                        catalogObj.catalogola != null
                      "
                      [src]="catalogObj.catalogola"
                      alt=""
                      class="imgs"
                    />
                  </a>
                  <a
                    *ngIf="oladownload"
                    href="{{ catalogObj.catalogola }}"
                    target="_blank"
                    style="margin-left: 20px"
                    download
                    >Download</a
                  >
                </nz-form-control>
              </nz-form-item>
            </div>

            <div
              *ngIf="
                catalogObj.archdiagram != undefined &&
                catalogObj.archdiagram != null
              "
              class="ant-col-md-24 ant-col-lg-24 service-image"
            >
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Architectural View</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <a
                    (click)="
                      onPreview(catalogObj.archdiagram, 'Architectural View')
                    "
                  >
                    <img
                      *ngIf="
                        catalogObj.archdiagram != undefined &&
                        catalogObj.archdiagram != null
                      "
                      alt=""
                      [src]="catalogObj.archdiagram"
                      class="imgs"
                    />
                  </a>
                  <a
                    *ngIf="archdownload"
                    href="{{ catalogObj.archdiagram }}"
                    target="_blank"
                    type="application/*"
                    style="margin-left: 20px"
                    download
                    >Download</a
                  >
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m12 service-edit clear">
        <h3 class="white-text mb-0">Characteristics</h3>
        <div class="serviceform edit-form" *ngIf="isSolution">
          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Description</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-input-group>
                    <p class="desc">
                      This is a standard deployment of
                      {{ catalogObj.solution?.solutionname }} with the following
                      characteristics
                    </p>
                    <p class="desc">{{ catalogObj.description }}</p>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzFor="environment"
                  >Environment</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-select
                    nzPlaceHolder="Select Environment"
                    nzAllowClear
                    nzShowSearch
                    formControlName="environment"
                  >
                    <nz-option
                      *ngFor="let r of resourceTypesList"
                      [nzValue]="r.resource"
                      [nzLabel]="r.Name"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="assignedto"
                  >Reporter</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-select
                    nzPlaceHolder="Select Reporter"
                    nzAllowClear
                    nzShowSearch
                    formControlName="reporter"
                  >
                    <nz-option
                      *ngFor="let p of usersList"
                      [nzLabel]="p.fullname"
                      [nzValue]="p.userid"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="ant-col-md-24 ant-col-lg-24">
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12"
                  >Automated Deployment</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <span>{{
                    catalogObj.autodeployyn == "Y" ? "Yes" : "No"
                  }}</span>
                </nz-form-control>
              </nz-form-item>
            </div>
         
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="urgentyn"
                  >Is it a urgent request?</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-radio-group
                    nzName="radiogroup"
                    id="urgentyn"
                    formControlName="urgentyn"
                  >
                    <label nz-radio nzValue="Y">Yes</label>
                    <label nz-radio nzValue="N">No</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="deploystdate"
                  >Start Date of Deployment</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-input-group nzCompact>
                    <nz-date-picker
                      nzFormat="dd-MMM-yyyy"
                      nzPlaceHolder="Start Date of Deployment"
                      id="deploystdate"
                      formControlName="deploystdate"
                    ></nz-date-picker>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="decommdate"
                  >Decommissioning Date
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-input-group nzCompact>
                    <nz-date-picker
                      nzFormat="dd-MMM-yyyy"
                      nzPlaceHolder="Decommissioning Date"
                      id="decommdate"
                      formControlName="decommdate"
                    ></nz-date-picker>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="budgetyn"
                  >Budget Available?
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-radio-group
                    nzName="radiogroup"
                    id="budgetyn"
                    formControlName="budgetyn"
                  >
                    <label nz-radio nzValue="Y">Yes</label>
                    <label nz-radio nzValue="N">No</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="12"
                  nzRequired
                  nzFor="department"
                  >Department Name
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    id="department"
                    placeholder="Select Service"
                    nzPlaceHolder="Select Department"
                    formControlName="department"
                  >
                    <nz-option
                      *ngFor="let data of departmentList"
                      [nzLabel]="data.keyname"
                      [nzValue]="data.lookupid"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col-md-24 ant-col-lg-24">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="notes"
                  >Notes to the Operation Team</nz-form-label
                >
                <nz-form-control [nzSm]="8" [nzXs]="12">
                  <nz-input-group>
                    <p-editor
                    formControlName="notes"
                    [style]="{ height: '220px' }"
                  ></p-editor>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div *ngIf="isOrchestration">
          <app-cloudmatiq-run-orch 
            [isTemplateShowHide]="true"
            [orchid]="orchid" 
            (serviceRequestEntry)="serviceRequestEntry($event)" 
            [module]="module"
            [refid]="refid"
            [isEditMode]="editMode"
            >
          </app-cloudmatiq-run-orch>
        </div>
        <div
          class="col s12 m12 right-align clear save-button"
          style="clear: both"
        >
          <button
            *ngIf="
              srvrequestid == undefined ||
              (srvrequestid != undefined && serviceObj.srstatus == 'Draft')
            "
            [disabled]="buttonDisable"
            nz-button
            (click)="
              generateCatalogAsRequest(serviceRequestForm.value, '', template)
            "
            class="service-button mt-1 mr-1"
            nzType="primary"
          >
            <span>Submit</span>
          </button>
          <button
            *ngIf="
              srvrequestid == undefined ||
              (srvrequestid != undefined && serviceObj.srstatus == 'Draft')
            "
            [disabled]="buttonDisable"
            nz-button
            class="service-button mt-1 mr-1"
            (click)="
              generateCatalogAsRequest(serviceRequestForm.value, 'Draft', '')
            "
            nzType="primary"
          >
            <span>Save as Draft</span>
          </button>
          <button
            *ngIf="srvrequestid != undefined && serviceObj.srstatus != 'Draft'"
            nz-button
            class="service-button mt-1 mr-1"
            (click)="updateCatalog(serviceRequestForm.value, '')"
            nzType="primary"
          >
            <span>Update</span>
          </button>
          <button
            nz-button
            (click)="close()"
            class="service-button mt-1 mr-1"
            style="z-index: 2;"
            nzType="primary"
          >
            <span>Close</span>
          </button>
        </div>
      </div>
      <ng-template #template>
        <div class="ant-notification-notice-content">
          <div class="ant-notification-notice-message">
            Service Request Status
          </div>
          <br />
          <div class="ant-notification-notice-message thank-you">
            Thank You
            <i class="anticon anticon-exclamation"></i>
          </div>

          <div class="ant-notification-notice-description">
            Your request has been received and you will be notified of the
            status changes and completion.
            <br />
            <br />
            Your request is :
            <a (click)="viewDetails(srvrequestid)"># {{ srvrequestid }}</a>
          </div>
        </div>
      </ng-template>
    </form>
    <div *ngIf="showSummary" class="col s12 m12">
      <nz-drawer
        id="sidebar-modal"
        [nzBodyStyle]="{ 'padding-bottom': '55px' }"
        [nzMaskClosable]="true"
        [nzWidth]="820"
        [nzVisible]="showSummary"
        nzTitle="Solution Summary"
        (nzOnClose)="showSummary = !showSummary"
      >
        <app-cloudmatiq-summary-view
          *ngIf="solutionData"
          [style.width]="'100%'"
          class="deploymentForm"
          (closeSummary)="closeSummary($event)"
          [viewData]="solutionData"
          [summaryTitle]="'Solution Summary'"
        >
        </app-cloudmatiq-summary-view>
      </nz-drawer>
    </div>
<!-- workflow -->
    <div *ngIf="showWorkflow" class="col s12 m12">
      <nz-drawer
        id="sidebar-modal"
        [nzBodyStyle]="{ 'padding-bottom': '55px' }"
        [nzMaskClosable]="true"
        [nzWidth]="820"
        [nzVisible]="showWorkflow"
        nzTitle="Workflow"
        (nzOnClose)="showWorkflow = !showWorkflow"
      >
        <div style="opacity: 0.8; pointer-events: none;">
          <app-workflow-add-edit 
            [isView]="false"
            [operationMode]="operationMode"
            [selectedWorkflow]="selectedWorkflow">
          </app-workflow-add-edit>
        </div>
      </nz-drawer>
    </div>
    <nz-modal
      [nzVisible]="previewVisible"
      [nzClosable]="false"
      [nzTitle]="previewTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
    >
      <ng-template #modalContent class="center-align">
        <img [src]="previewImage" class="prew-image" alt="preview-image"/>
      </ng-template>
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="previewVisible = false">
          Close
        </button>
      </ng-template>
    </nz-modal>
  </ng-container>
</app-cloudmatiq-side-nav>
