<div class="col s12">
  <nz-table
    #nzTable
    [nzData]="firewallInterfaceList"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th nzWidth="30px">Name</th>
        <!-- <th nzWidth="15px">Slot Number</th> -->
        <th nzWidth="30px">Logical Network</th>
        <th nzWidth="20px">IP Address</th>
        <th nzWidth="15px">Status</th>
        <th class="center-align" nzWidth="15px" nzRight="0px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.fwinterfacename }}</td>
        <!-- <td>{{data.slotnumber}}</td> -->
        <td>
          {{ data.networkid == null ? "-" : data.ecl2networks.networkname }}
        </td>
        <td>{{ data.ipaddress == null ? "-" : data.ipaddress }}</td>
        <td>{{ data.status }}</td>
        <td class="center-align" nzWidth="15px" nzRight="0px">
          &nbsp;
          <a *ngIf="data.networkid == null" (click)="editInterface(data)">
            <i class="anticon anticon-edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<app-cloudmatiq-side-bar
  [width]="modalWidth"
  (dataChanged)="onChanged($event)"
  [(isVisible)]="childrenVisible"
  [title]="formTitle"
>
  <ng-container class="modal-content">
    <nz-spin [nzSpinning]="loading">
      <form nz-form [formGroup]="firewallinterfaceForm">
        <div class="row" style="margin-bottom: 0">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="networkid" nzRequired
              >Select Network
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                nzShowSearch
                nzAllowClear
                id="networkid"
                placeholder="Select Network"
                formControlName="networkid"
              >
                <nz-option
                  *ngFor="let data of networkList"
                  [nzLabel]="data.networkname"
                  [nzValue]="data"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="ipaddress"
              >IP Address</nz-form-label
            >
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input nz-input formControlName="ipaddress" type="text" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </nz-spin>
    <div class="row right">
      <div class="col s12 md4">
        <button
          [disabled]="disabled"
          (click)="saveOrUpdate(firewallinterfaceForm.value)"
          class="save-button"
          type="submit"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </ng-container>

  <div class="row right">
    <div class="col s12 md4">
      <button
        [disabled]="disabled"
        (click)="saveOrUpdate(firewallinterfaceForm.value)"
        class="save-button"
        type="submit"
        nz-button
        nzType="primary"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</app-cloudmatiq-side-bar>
