<nz-spin nzTip="Loading..." *ngIf="isSpinning" class="loader"> </nz-spin>

<div *ngIf="!isSpinning">
  <form nz-form [formGroup]="providerForm">
    <ng-container>
      <!-- Common Fields -->
      <nz-form-item
        *ngIf="
          propertiesobj?.selectedNode?._data?.type === 'GITHUB' ||
          propertiesobj?.selectedNode?._data?.type === 'BUILD_SCRIPT' ||
          propertiesobj?.selectedNode?._data?.type === 'ORCHESTRATION' ||
          propertiesobj?.selectedNode?._data?.type === 'APPROVAL_WORKFLOW' ||
          propertiesobj?.selectedNode?._data?.type === 'SONARQUBE' ||
          propertiesobj?.selectedNode?._data?.type === 'OTHERS' ||
          propertiesobj?.selectedNode?._data?.type === 'DOCKERHUB' ||
          propertiesobj?.selectedNode?._data?.type === 'JUNIT' || 
          propertiesobj?.selectedNode?._data?.type === 'SELENIUM' || 
          propertiesobj?.selectedNode?._data?.type === 'JMETER'
        "
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired
          >Name</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <input nz-input formControlName="name" placeholder="Name" [readonly]="viewMode"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        *ngIf="
          propertiesobj?.selectedNode?._data?.type === 'BUILD_SCRIPT' ||
          propertiesobj?.selectedNode?._data?.type === 'VIRTUAL_MACHINE'
        "
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired>{{
          propertiesobj?.selectedNode?._data?.ipaddressisvariable
            ? " IP Address Variable"
            : " IP Address"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            placeholder="Ipaddress"
            *ngIf="!propertiesobj?.selectedNode?._data?.ipaddressisvariable"
            formControlName="ipaddress"
            [readonly]="viewMode"
          />
          <nz-select
            *ngIf="propertiesobj?.selectedNode?._data?.ipaddressisvariable"
            formControlName="ipaddressvariable"
            nzPlaceHolder="Select ipaddress"
            nzAllowClear
            [nzDisabled]="viewMode"
          >
            <nz-option
              *ngFor="let option of variableList"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- GITHUB -->
      <nz-form-item
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'GITHUB'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired
          >Branch</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <nz-select
            formControlName="branch"
            nzPlaceHolder="Select branch"
            nzAllowClear
            [nzDisabled]="viewMode"
          >
            <nz-option
              *ngFor="let option of branchList"
              [nzValue]="option.label"
              [nzLabel]="option.value"
            ></nz-option>
          </nz-select>
        </nz-form-control>
        <div nz-col [nzSpan]="2">
          <button
            nz-button
            nzType="primary"
            [nzLoading]="repoloading"
            [disabled]="viewMode"
            (click)="syncRepository()"
            title="Sync branch"
          >
            <i class="anticon anticon-sync"></i>
          </button>
        </div>
      </nz-form-item>

      <!-- Common Fields -->
      <nz-form-item
        *ngIf="
          propertiesobj?.selectedNode?._data?.type === 'GITHUB' ||
          propertiesobj?.selectedNode?._data?.type === 'BUILD_SCRIPT' ||
          propertiesobj?.selectedNode?._data?.type === 'DOCKERHUB' ||
          propertiesobj?.selectedNode?._data?.type === 'VIRTUAL_MACHINE'
        "
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired>{{
          propertiesobj?.selectedNode?._data?.usernameisvariable
            ? "Username Variable"
            : "Username"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            formControlName="username"
            placeholder="Username"
            *ngIf="!propertiesobj?.selectedNode?._data?.usernameisvariable"
            [readonly]="viewMode"
          />
          <nz-select
            formControlName="usernamevariable"
            *ngIf="propertiesobj?.selectedNode?._data?.usernameisvariable"
            nzPlaceHolder="Select username variable"
            nzAllowClear
            [nzDisabled]="viewMode"
          >
            <nz-option
              *ngFor="let option of variableList"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        *ngIf="
          propertiesobj?.selectedNode?._data?.type === 'BUILD_SCRIPT' ||
          propertiesobj?.selectedNode?._data?.type === 'VIRTUAL_MACHINE'
        "
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired>{{
          propertiesobj?.selectedNode?._data?.passwordisvariable
            ? "Password Variable"
            : "Password"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            *ngIf="!propertiesobj?.selectedNode?._data?.passwordisvariable"
            formControlName="password"
            placeholder="Password"
            [readonly]="viewMode"
          />
          <nz-select
            *ngIf="propertiesobj?.selectedNode?._data?.passwordisvariable"
            formControlName="passwordvariable"
            nzPlaceHolder="Select password"
            nzAllowClear
            [nzDisabled]="viewMode"
          >
            <nz-option
              *ngFor="let option of variableList"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        *ngIf="
          propertiesobj?.selectedNode?._data?.type === 'GITHUB' ||
          propertiesobj?.selectedNode?._data?.type === 'DOCKERHUB' ||
          propertiesobj?.selectedNode?._data?.type === 'SONARQUBE'
        "
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired>{{
          propertiesobj?.selectedNode?._data?.type === "SONARQUBE"
            ? "Token"
            : propertiesobj?.selectedNode?._data?.accesstokenisvariable
            ? "Accesstoken Variable"
            : "Access Token"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            formControlName="accesstoken"
            placeholder="Accesstoken"
            *ngIf="!propertiesobj?.selectedNode?._data?.accesstokenisvariable"
            [readonly]="viewMode"
          />
          <nz-select
            formControlName="accesstokenvariable"
            *ngIf="propertiesobj?.selectedNode?._data?.accesstokenisvariable"
            nzPlaceHolder="Select accesstoken variable"
            nzAllowClear
            [nzDisabled]="viewMode"
          >
            <nz-option
              *ngFor="let option of variableList"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        *ngIf="
          propertiesobj?.selectedNode?._data?.type === 'GITHUB' ||
          propertiesobj?.selectedNode?._data?.type === 'SONARQUBE' ||
          propertiesobj?.selectedNode?._data?.type === 'DOCKERHUB'
        "
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired>{{
          propertiesobj?.selectedNode?._data?.urlisvariable
            ? "URL Variable"
            : "URL"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            formControlName="url"
            placeholder="Url"
            *ngIf="!propertiesobj?.selectedNode?._data?.urlisvariable"
            [readonly]="viewMode"
          />
          <nz-select
            formControlName="urlvariable"
            *ngIf="propertiesobj?.selectedNode?._data?.urlisvariable"
            nzAllowClear
            nzPlaceHolder="Select url variable"
            [nzDisabled]="viewMode"
          >
            <nz-option
              *ngFor="let option of variableList"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- BUILD_SCRIPT -->
      <nz-form-item
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'BUILD_SCRIPT'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired
          >Instancename</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            formControlName="instancename"
            placeholder="Instancename"
            [readonly]="viewMode"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        class="m-b-14"
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'BUILD_SCRIPT'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired
          >Build Script</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <textarea
            style="min-width: 95%; max-width: 95%; min-height: 10em !important"
            nz-input
            formControlName="buildscript"
            placeholder="Build script"
            [readonly]="viewMode"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Test Tools -->
      <nz-form-item
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'SONARQUBE'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6"
          >Organization</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            formControlName="organization"
            placeholder="Organization"
            [readonly]="viewMode"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        class="m-b-14"
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'SONARQUBE'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6"
          >Sonar Script
          <i
            class="anticon anticon-info-circle-o amber-text"
            style="vertical-align: text-bottom"
            title="Please enter sonarqube properties, or the existing properties will execute."
          ></i
        ></nz-form-label>
        <nz-form-control [nzSpan]="16">
          <textarea
            style="min-width: 95%; max-width: 95%; min-height: 10em !important"
            nz-input
            formControlName="scriptcontent"
            placeholder="Sonar Script"
            [readonly]="viewMode"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- APPROVAL WORKFLOW -->
      <nz-form-item
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'APPROVAL_WORKFLOW'"
      >
        <div *ngFor="let field of approvalLevel; let i = index">
          <div nz-row>
            <div nz-col nzSpan="6">
              <nz-form-label>{{ field.label }}</nz-form-label>
            </div>
            <div nz-col nzSpan="16">
              <nz-form-control>
                <input
                  nz-input
                  [formControlName]="field.value"
                  [placeholder]="field.label"
                  [readonly]="viewMode"
                />
              </nz-form-control>
            </div>
          </div>
        </div>
      </nz-form-item>

      <!-- DOCKERHUB -->
      <nz-form-item
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'DOCKERHUB'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6"
          >Repository Name</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            placeholder="Repository Name"
            formControlName="repositoryname"
            [readonly]="viewMode"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'DOCKERHUB'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired
          >Docker Image Name</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <input
            nz-input
            placeholder="Docker Image Name"
            formControlName="imagename"
            [readonly]="viewMode"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item
        class="m-b-14"
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'DOCKERHUB'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6"
          >Docker Script
          <i
            class="anticon anticon-info-circle-o amber-text"
            style="vertical-align: text-bottom"
            title="Please enter docker properties, or the existing properties will execute."
          ></i
        ></nz-form-label>
        <nz-form-control [nzSpan]="16">
          <textarea
            style="min-width: 95%; max-width: 95%; min-height: 10em !important"
            nz-input
            formControlName="scriptcontent"
            placeholder="Docker Script"
            [readonly]="viewMode"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Environment -->
      <nz-form-item
        *ngIf="propertiesobj?.selectedNode?._data?.type === 'VIRTUAL_MACHINE'"
      >
        <nz-form-label style="text-align: left" [nzSpan]="6" nzRequired
          >Port</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <input nz-input placeholder="Port" formControlName="port" [readonly]="viewMode" />
        </nz-form-control>
      </nz-form-item>

      <!-- Workpack task template -->
      <nz-form-item class="mt-3">
        <nz-form-label style="text-align: left" [nzSpan]="6"
          >Task Template</nz-form-label
        >
        <nz-form-control [nzSpan]="16">
          <nz-select formControlName="tasktemplate" nzPlaceHolder="Select Task Template" nzMode="multiple">
            <nz-option *ngFor="let title of taskTemplateList" [nzValue]="title" [nzLabel]="title"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- Others rollback & reteries -->
      <div *ngIf="propertiesobj?.selectedNode?._data?.type === 'OTHERS'">
        <app-prop-rollback
          [isShowHideFields]="false"
          [propertiesName]="propertiesobj?.selectedNode?._label"
        ></app-prop-rollback>
      </div>
    </ng-container>
  </form>
</div>
