<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    (dataChanged)="rightbarChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
    [width]="1240"
  >
    <ng-container class="modal-content">
      <app-add-edit-customer
        [customerObj]="customerObj"
        (notifyNewEntry)="notifyNewEntry($event)"
      >
      </app-add-edit-customer>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="rightbarChanged($event)"
    [(isVisible)]="syncVisible"
    [title]="'Sync Assets'"
    [width]="820"
  >
    <ng-container class="modal-content">
      <nz-tabset>
        <nz-tab nzTitle="ECL2" *ngIf="checkPermission('ECL2')">
          <nz-spin [nzSpinning]="savingCustomer">
            <form nz-form [formGroup]="regionForm" [nzLayout]="'vertical'">
              <div formArrayName="region">
                <div class="row">
                  <div class="col s12 m5">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      ECL2 Tenant ID</nz-form-label
                    >
                  </div>
                  <div class="col s12 m3">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      ECL2 Region</nz-form-label
                    >
                  </div>
                  <div class="col s12 m3">
                    <nz-form-label
                      style="text-align: left"
                      [nzSm]="22"
                      [nzXs]="11"
                      nzFor="region"
                    >
                      Last Sync Date</nz-form-label
                    >
                  </div>
                  <div
                    class="col s12 m1 right-align network-button network-btn"
                  >
                    <button
                      class="net-btn"
                      (click)="addRegion()"
                      nz-button
                      nzType="primary"
                    >
                      <i class="anticon anticon-plus"></i>
                    </button>
                  </div>
                </div>
                <div
                  *ngFor="
                    let item of getFormArray('region').controls;
                    let i = index
                  "
                >
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="col s12 m5">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <input
                              nz-input
                              placeholder="Tenant Id"
                              (ngModelChange)="checkDuplicate($event, i)"
                              formControlName="ecl2tenantid"
                              type="text"
                            />
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m3">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <nz-select
                              nzShowSearch
                              nzAllowClear
                              placeholder="Select Region"
                              nzPlaceHolder="Select Region"
                              formControlName="region"
                              (ngModelChange)="checkDuplicate($event, i)"
                            >
                              <nz-option
                                *ngFor="let data of regionList"
                                [nzLabel]="data.keyname"
                                [nzValue]="data.keyvalue"
                              ></nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m3">
                        <nz-form-item>
                          <nz-form-control [nzSm]="24" [nzXs]="6">
                            <nz-form-item>
                              <nz-form-control [nzSm]="24" [nzXs]="6">
                                <div *ngIf="item.value.lastsyncdt">
                                  <p style="color: #ffffff; padding-left: 12px">
                                    {{
                                      item.value.lastsyncdt
                                        | date: "dd-MMM-yyyy hh:mm:ss"
                                    }}
                                  </p>
                                </div>
                              </nz-form-control>
                            </nz-form-item>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col s12 m1 right-align">
                        <i
                          [style.margin-top.px]="i == 0 ? '15' : '10'"
                          (click)="getconfirmation('ECL2', i)"
                          class="anticon hover-pointer amber-text anticon-sync"
                          style="
                            padding-right: 8px;
                            margin-top: 15px;
                            float: right;
                          "
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nz-spin>
        </nz-tab>
        <nz-tab nzTitle="AWS" *ngIf="checkPermission('AWS')">
          <nz-spin [nzSpinning]="savingCustomer">
            <div nz-row>
              <div nz-col nzOffset="12" nzSpan="12" class="right-align">
                <button
                  nzSize="small"
                  nz-button
                  nzType="primary"
                  style="margin-bottom: '24px'"
                  (click)="accountObj = null; isAddEditAccountVisible = true"
                >
                  Add Account
                </button>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <p-accordion (onOpen)="populateCustomerAccountRegions($event)">
                  <p-accordionTab *ngFor="let panel of customerAccountsList">
                    <p-header>
                      <span style="display: inline-block; width: 100%">
                        <div
                          style="display: flex; justify-content: space-between"
                        >
                          <div>
                            <b style="color: white">{{ panel.name }}</b>
                            ({{ panel.accountref }})
                          </div>
                          <div style="display: flex">
                            <div
                              class="yellow-icon"
                              *ngIf="panel.regions && panel.regions.length > 0"
                            >
                              {{ panel.regions.length }} Regions
                            </div>
                            <div
                              class="yellow-icon"
                              *ngIf="
                                !panel.regions || panel.regions.length <= 0
                              "
                            >
                              -
                            </div>
                            <div>
                              <i
                                (click)="
                                  accountObj = panel;
                                  isAddEditAccountVisible = true
                                "
                                class="anticon hover-pointer amber-text anticon-edit"
                                style="padding: 0px; margin-left: 5px"
                              ></i>
                              <button
                                nz-popconfirm
                                nzTitle="Are you sure delete this account?"
                                (nzOnConfirm)="removeCustomerAccount(panel.id)"
                                nzPlacement="left"
                                nz-button
                                style="
                                  margin-bottom: 0;
                                  margin-left: 12px;
                                  height: 23px;
                                  width: 23px;
                                  padding: 0;
                                "
                                nzSize="small"
                              >
                                <i
                                  class="anticon hover-pointer amber-text anticon-delete"
                                  style="padding: 0px; margin: 0px"
                                ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </span>
                    </p-header>
                    <form
                      nz-form
                      [formGroup]="awsRegionForm"
                      [nzLayout]="'vertical'"
                    >
                      <div formArrayName="region">
                        <div class="row">
                          <div class="col s23 m6">
                            <nz-form-label
                              style="text-align: left"
                              [nzSm]="22"
                              [nzXs]="11"
                              nzFor="region"
                            >
                              AWS Zone</nz-form-label
                            >
                          </div>
                          <div class="col s23 m4">
                            <nz-form-label
                              style="text-align: left"
                              [nzSm]="22"
                              [nzXs]="11"
                              nzFor="region"
                            >
                              Last Sync Date</nz-form-label
                            >
                          </div>
                          <div
                            class="col s12 m2 right-align network-button network-btn"
                          >
                            <i
                              (click)="getconfirmation('AWS')"
                              class="anticon hover-pointer amber-text anticon-sync"
                              style="padding-right: 8px; margin-top: 15px"
                            ></i>
                            <button
                              class="net-btn"
                              (click)="addAwsRegion()"
                              nz-button
                              nzType="primary"
                            >
                              <i class="anticon anticon-plus"></i>
                            </button>
                          </div>
                        </div>
                        <div
                          *ngFor="
                            let item of getAwsFormArray('region').controls;
                            let i = index
                          "
                        >
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col s12 m6">
                                <nz-form-item>
                                  <nz-form-control [nzSm]="24" [nzXs]="6">
                                    <nz-select
                                      nzShowSearch
                                      nzAllowClear
                                      placeholder="Select Zone"
                                      nzPlaceHolder="Select Zone"
                                      formControlName="region"
                                      (ngModelChange)="
                                        checkawsDuplicate($event, i)
                                      "
                                    >
                                      <nz-option
                                        *ngFor="let data of awsZones"
                                        [nzLabel]="data.awszoneid"
                                        [nzValue]="data.awszoneid"
                                      ></nz-option>
                                    </nz-select>
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                              <div class="col s12 m4">
                                <nz-form-item>
                                  <nz-form-control [nzSm]="24" [nzXs]="6">
                                    <div *ngIf="item.value.lastsyncdt">
                                      <p
                                        style="
                                          color: #ffffff;
                                          padding-left: 12px;
                                        "
                                      >
                                        {{
                                          item.value.lastsyncdt
                                            | date: "dd-MMM-yyyy hh:mm:ss"
                                        }}
                                      </p>
                                    </div>
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                              <div class="col s12 m2 right-align">
                                <i
                                  [style.margin-top.px]="i == 0 ? '15' : '10'"
                                  (click)="getconfirmation('AWS', i)"
                                  class="anticon hover-pointer amber-text anticon-sync"
                                  style="
                                    padding-right: 8px;
                                    margin-top: 15px;
                                    float: right;
                                  "
                                ></i>
                                <i
                                  [style.margin-top.px]="i == 0 ? '15' : '10'"
                                  (click)="getconfirmation('AWS', i, true)"
                                  class="anticon hover-pointer amber-text anticon-delete"
                                  style="
                                    padding-right: 8px;
                                    margin-top: 15px;
                                    float: right;
                                  "
                                ></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
          </nz-spin>
        </nz-tab>
        <nz-tab nzTitle="Sentia" *ngIf="checkPermission('Sentia')">
          <nz-spin [nzSpinning]="savingCustomer">
            <div nz-row>
              <div nz-col nzOffset="12" nzSpan="12" class="right-align">
                <button
                  nzSize="small"
                  nz-button
                  nzType="primary"
                  style="margin-bottom: '24px'"
                  (click)="selectedProvider = 'Sentia'; isAddEditVmware = true"
                >
                  Add Account
                </button>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24" class="vm-accounts">
                <p-header>
                  <div
                    *ngFor="let panel of sentiaAccountList; index as i"
                    class="line-items"
                  >
                    <span style="display: inline-block; width: 100%">
                      <div
                        style="display: flex; justify-content: space-between"
                      >
                        <div style="margin-top: 4px">
                          <b style="color: white">{{ panel.name }}</b>
                        </div>
                        <div class="yellow-icon">
                          <i
                            (click)="getconfirmation('Sentia', i)"
                            class="anticon hover-pointer amber-text anticon-sync"
                            style="padding-right: 16px; margin-top: 6px"
                          ></i>
                          <i
                            (click)="editVMAccount(i, 'Sentia')"
                            class="anticon hover-pointer amber-text anticon-edit"
                            style="padding-right: 16px; margin-top: 6px"
                          ></i>
                          <i
                            (click)="getconfirmation('Sentia', i, true)"
                            class="anticon hover-pointer amber-text anticon-delete"
                            style="padding-right: 16px; margin-top: 6px"
                          ></i>
                        </div>
                      </div>
                    </span>
                  </div>
                </p-header>
              </div>
            </div>
          </nz-spin>
        </nz-tab>
        <nz-tab nzTitle="Equinix" *ngIf="checkPermission('Equinix')">
          <nz-spin [nzSpinning]="savingCustomer">
            <div nz-row>
              <div nz-col nzOffset="12" nzSpan="12" class="right-align">
                <button
                  nzSize="small"
                  nz-button
                  nzType="primary"
                  style="margin-bottom: '24px'"
                  (click)="selectedProvider = 'Equinix'; isAddEditVmware = true"
                >
                  Add Account
                </button>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24" class="vm-accounts">
                <p-header>
                  <div
                    *ngFor="let panel of equinixAccountList; index as i"
                    class="line-items"
                  >
                    <span style="display: inline-block; width: 100%">
                      <div
                        style="display: flex; justify-content: space-between"
                      >
                        <div style="margin-top: 4px">
                          <b style="color: white">{{ panel.name }}</b>
                        </div>
                        <div class="yellow-icon">
                          <i
                            (click)="getconfirmation('Equinix', i)"
                            class="anticon hover-pointer amber-text anticon-sync"
                            style="padding-right: 16px; margin-top: 6px"
                          ></i>
                          <i
                            (click)="editVMAccount(i, 'Equinix')"
                            class="anticon hover-pointer amber-text anticon-edit"
                            style="padding-right: 16px; margin-top: 6px"
                          ></i>
                          <i
                            (click)="getconfirmation('Equinix', i, true)"
                            class="anticon hover-pointer amber-text anticon-delete"
                            style="padding-right: 16px; margin-top: 6px"
                          ></i>
                        </div>
                      </div>
                    </span>
                  </div>
                </p-header>
              </div>
            </div>
          </nz-spin>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="isAddEditAccountVisible = false; getCustomerAccounts()"
    [(isVisible)]="isAddEditAccountVisible"
    title="Account"
    [ngStyle]="{
      'margin-bottom': '24px'
    }"
    [width]="420"
  >
    <ng-container class="modal-content">
      <app-add-edit-customer-account
        *ngIf="isAddEditAccountVisible"
        [customer]="customerObj"
        [accountObj]="accountObj"
        (done)="isAddEditAccountVisible = false; getCustomerAccounts()"
      >
      </app-add-edit-customer-account>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="isAddEditVmware = false"
    [(isVisible)]="isAddEditVmware"
    title="Account"
    [ngStyle]="{
      'margin-bottom': '24px'
    }"
    [width]="420"
  >
    <ng-container class="modal-content">
      <app-add-edit-vm-account
        *ngIf="isAddEditVmware"
        [customer]="customerObj"
        [provider]="selectedProvider"
        [selectedAccount]="selectedAccount"
        (done)="isAddEditVmware = false; getCustomerAccounts()"
      >
      </app-add-edit-vm-account>
    </ng-container>
  </app-cloudmatiq-side-bar>

  <div *ngIf="confirmationWindow">
    <nz-modal
      [nzWidth]="750"
      [(nzVisible)]="confirmationWindow"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="confirmationWindow = false"
    >
      <ng-template #modalTitle> Account Details </ng-template>
      <ng-template #modalContent>
        <div class="ant-col-md-24 ant-col-lg-24 p-t-3">
          <div class="ant-col-md-24 ant-col-lg-8">
            {{ syncObj.title }}
          </div>
          <div class="ant-col-md-24 ant-col-lg-2">:</div>
          <div class="ant-col-md-24 ant-col-lg-14">
            {{ syncObj.refid }}
          </div>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24 p-t-3" *ngIf="syncObj.region">
          <div class="ant-col-md-24 ant-col-lg-8">Region</div>
          <div class="ant-col-md-24 ant-col-lg-2">:</div>
          <div class="ant-col-md-24 ant-col-lg-14">
            {{ syncObj.region }}
          </div>
        </div>
        <div class="ant-col-md-24 ant-col-lg-24 p-t-3" *ngIf="syncObj.username">
          <div class="ant-col-md-24 ant-col-lg-8">User Name</div>
          <div class="ant-col-md-24 ant-col-lg-2">:</div>
          <div class="ant-col-md-24 ant-col-lg-14">
            {{ syncObj.username }}
          </div>
        </div>
        <div
          class="ant-col-md-24 ant-col-lg-24 p-t-3"
          *ngIf="syncObj.password && syncObj.showpassword"
        >
          <div class="ant-col-md-24 ant-col-lg-8">Password</div>
          <div class="ant-col-md-24 ant-col-lg-2">:</div>
          <div class="ant-col-md-24 ant-col-lg-12">
            {{ syncObj.password }}
          </div>
          <button
            nz-button
            nzType="primary"
            (click)="syncObj.showpassword = false"
            style="margin-bottom: 0"
          >
            <i class="anticon anticon-close-circle"></i>
          </button>
        </div>
        <div
          class="ant-col-md-24 ant-col-lg-24 p-t-3"
          *ngIf="syncObj.password && !syncObj.showpassword"
        >
          <div class="ant-col-md-24 ant-col-lg-8">Password</div>
          <div class="ant-col-md-24 ant-col-lg-2">:</div>
          <div class="ant-col-md-24 ant-col-lg-12">
            <input
              style="border: none; padding: 0; margin: 0"
              nz-input
              placeholder="Password"
              disabled
              [(ngModel)]="syncObj.password"
              type="password"
            />
          </div>
          <button
            nz-button
            nzType="primary"
            (click)="syncObj.showpassword = true"
            style="margin-bottom: 0"
          >
            <i class="anticon anticon-eye"></i>
          </button>
        </div>
        <div
          class="ant-col-md-24 ant-col-lg-24 m-t-35 materialize-red-text text-lighten-2"
        >
          <div class="ant-col-md-24 ant-col-lg-24">Please confirm.</div>
        </div>
      </ng-template>

      <ng-template #modalFooter>
        <button
          class="m-t-20"
          nz-button
          nzType="default"
          (click)="confirmationWindow = false"
        >
          Cancel
        </button>
        <button
          class="m-t-20"
          nz-button
          nzType="primary"
          (click)="syncData(); confirmationWindow = false"
        >
          Confirm
        </button>
      </ng-template>
    </nz-modal>
  </div>
  <ng-container class="page-body">
    
    <div class="row param-table">
      <div class="row">
        <div class="col s12 m2 left left-align ">
          <button
            *ngIf="visibleadd"
            nz-button
            nzType="primary"
            (click)="showModal()">
          <i class="anticon anticon-plus"></i>{{ buttonText }}
          </button>
        </div>
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="customerList"
        [tableHeader]="tableHeader"
        [tableConfig]="tableconfig"
        [totalCount]= "totalCount"
        [selectedcolumns]="selectedcolumns"
      ></app-cloudmatiq-data-table>
    </div>
    </div>
  </ng-container>
  <app-cloudmatiq-side-bar
    (dataChanged)="rightbarChanged($event)"
    [(isVisible)]="showAsssets"
    [title]="'Asset Details'"
    [width]="820"
  >
    <ng-container class="modal-content">
      <nz-tabset>
        <nz-tab nzTitle="ECL2" *ngIf="checkPermission('ECL2')">
          <nz-spin [nzSpinning]="gettingAssets">
            <nz-collapse nzAccordion class="customer-collase">
              <nz-collapse-panel
                *ngFor="let panel of panels"
                [nzHeader]="panel.name"
                [nzActive]="panel.active"
              >
                <div class="col s12 right right-align">
                  <button
                    class="m-t-20"
                    nz-button
                    nzType="default"
                    (click)="getReport('ECL2')"
                    title="Download Datacollection"
                  >
                    <i class="anticon anticon-download"></i>
                  </button>
                </div>

                <nz-table
                  #filterTable
                  [nzData]="panel.data"
                  class="solution-table"
                  [nzShowPagination]="false"
                  [nzFrontPagination]="false"
                >
                  <thead *ngIf="panel.data?.length > 0">
                    <tr>
                      <th id="columnname" *ngFor="let col of panel.columns">{{ col.name }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of filterTable.data">
                      <td *ngFor="let col of panel.columns">
                        {{ data[col.value] }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-spin>
        </nz-tab>
        <nz-tab nzTitle="AWS" *ngIf="checkPermission('AWS')">
          <nz-spin [nzSpinning]="gettingAssets">
            <nz-collapse nzAccordion class="customer-collase">
              <nz-collapse-panel
                *ngFor="let panel of awsPanels"
                [nzHeader]="panel.name"
                [nzActive]="panel.active"
              >
                <div class="col s12 right right-align">
                  <button
                    class="m-t-20"
                    nz-button
                    nzType="default"
                    (click)="getReport('AWS')"
                    title="Download Datacollection"
                  >
                    <i class="anticon anticon-download"></i>
                  </button>
                </div>
                <nz-table
                  #filterTable
                  [nzData]="panel.data"
                  class="solution-table"
                  [nzShowPagination]="false"
                  [nzFrontPagination]="false"
                >
                  <thead *ngIf="panel.data?.length > 0">
                    <tr>
                      <th id="columnname" *ngFor="let col of panel.columns">{{ col.name }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of filterTable.data">
                      <td *ngFor="let col of panel.columns">
                        {{ data[col.value] }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-spin>
        </nz-tab>
        <nz-tab nzTitle="Sentia" *ngIf="checkPermission('Sentia')">
          <nz-spin [nzSpinning]="gettingAssets">
            <nz-collapse nzAccordion class="customer-collase">
              <nz-collapse-panel
                *ngFor="let panel of vmpanels"
                [nzHeader]="panel.name"
                [nzActive]="panel.active"
              >
                <div class="col s12 right right-align">
                  <!-- <button
                    class="m-t-20"
                    nz-button
                    nzType="default"
                    (click)="getReport('AWS')"
                    title="Download Datacollection"
                  >
                    <i class="anticon anticon-download"></i>
                  </button> -->
                </div>
                <nz-table
                  #filterTable
                  [nzData]="panel.data"
                  class="solution-table"
                  [nzShowPagination]="false"
                  [nzFrontPagination]="false"
                >
                  <thead *ngIf="panel.data?.length > 0">
                    <tr>
                      <th id="columnname" *ngFor="let col of panel.columns">{{ col.name }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of filterTable.data">
                      <td *ngFor="let col of panel.columns">
                        {{ data[col.value] }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-spin>
        </nz-tab>
        <nz-tab nzTitle="Equinix" *ngIf="checkPermission('Equinix')">
          <nz-spin [nzSpinning]="gettingAssets">
            <nz-collapse nzAccordion class="customer-collase">
              <nz-collapse-panel
                *ngFor="let panel of eqvmpanels"
                [nzHeader]="panel.name"
                [nzActive]="panel.active"
              >
                <nz-table
                  #filterTable
                  [nzData]="panel.data"
                  class="solution-table"
                  [nzShowPagination]="false"
                  [nzFrontPagination]="false"
                >
                  <thead *ngIf="panel.data?.length > 0">
                    <tr>
                      <th id="columnname" *ngFor="let col of panel.columns">{{ col.name }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of filterTable.data">
                      <td *ngFor="let col of panel.columns">
                        {{ data[col.value] }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-spin>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="showCMDB = !showCMDB"
    [(isVisible)]="showCMDB"
    [width]="850"
    title="Details"
  >
    <ng-container *ngIf="showCMDB" class="modal-content">
      <div class="row">
        <button
          type="submit"
          nz-button
          class="m-t-10 right"
          nzType="primary"
          (click)="selectedAsset = null; linkCustomer(true)"
        >
          Unlink CMDB
        </button>
      </div>
      <div>
        <app-cloudmatiq-asset-parent
          [resourceId]="selectedCMDBData.resourceid"
          [(selectedResource)]="selectedCMDBData.keyvalue"
          [(resourceDetails)]="selectedCMDBData.keydata"
          [(inboundDetails)]="selectedCMDBData.inbound"
          [(referringAssetDetails)]="selectedCMDBData.referringassets"
          [recordData]="selectedCMDBData.keyvalue"
          (onEmitTagClick)="onSideBarTagClick(true)"
        >
        </app-cloudmatiq-asset-parent>
      </div> </ng-container
  ></app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="viewLinkAsset = !viewLinkAsset"
    [(isVisible)]="viewLinkAsset"
    [width]="520"
    title="Link Asset"
  >
    <ng-container *ngIf="viewLinkAsset" class="modal-content">
      <div class="row">
        <div class="desc">
          Please select a record to be linked with customer
        </div>
        <div nz-col class="col s12 md8 m-t-20">
          <nz-select
            nzShowSearch
            style="width: 100%"
            nzAllowClear
            placeholder="Select Customer"
            [(ngModel)]="selectedAsset"
            nzPlaceHolder="Select Customer"
          >
            <nz-option
              *ngFor="let data of cmdbData"
              [nzLabel]="data.Name"
              [nzValue]="data.resource"
            ></nz-option>
          </nz-select>
          <button
            type="submit"
            [disabled]="!selectedAsset"
            nz-button
            class="m-t-20 right"
            nzType="primary"
            (click)="linkCustomer()"
          >
            Link Customer
          </button>
        </div>
      </div>
    </ng-container>
  </app-cloudmatiq-side-bar>
</app-cloudmatiq-side-nav>
