<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="scriptForm">
    <nz-form-item *ngIf="!showComponents">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="maintwindowid"
        >Maintenance window</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select
          [nzDisabled]="showComponents"
          nzShowSearch
          nzAllowClear
          id="maintwindowid"
          (ngModelChange)="windowChanged($event)"
          nzPlaceHolder="Maintenance window"
          formControlName="maintwindowid"
        >
          <nz-option
            *ngFor="let c of mainWindowList"
            [nzLabel]="c.windowname"
            [nzValue]="c.maintwindowid"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="!showComponents">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="weekdays"
        >Week Days</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select
          [nzDisabled]="showComponents"
          nzShowSearch
          nzAllowClear
          id="weekdays"
          nzPlaceHolder="Week Days"
          formControlName="weekdays"
        >
          <nz-option
            *ngFor="let c of windowDays"
            [nzLabel]="c.label"
            [nzValue]="c.value"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="!showComponents">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="newplan"
        >Current Plan</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <input
          nz-input
          placeholder="currentplan"
          [attr.disabled]="scriptObj"
          formControlName="currentplan"
          type="text"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="!showComponents">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="newplan"
        >Upgrade Plan</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select formControlName="newplan" nzAllowClear nzPlaceHolder="Plan">
          <nz-option
            *ngFor="let t of planList; index as ti"
            [nzLabel]="t.instancetypename"
            [nzValue]="t"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <br />
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <label
            formControlName="state"
            nz-checkbox
            [nzDisabled]="scriptObj && scriptObj.restartyn == 'Y'"
            (ngModelChange)="onSelectRestartReq(scriptForm.value.state)"
            style="color: white !important"
            >Reboot Required
            {{ scriptObj && scriptObj.restartyn == "N" ? " ?" : "" }}
          </label>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <br />
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <label formControlName="autoimpl" nz-checkbox
            >Auto Implementation?</label
          >
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="showComponents">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="scripttype"
        >Implementation Date</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-range-picker
          formControlName="duration"
          [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="yyyy-MM-dd HH:mm"
          nzShowTime
        >
        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="notes">Notes</nz-form-label>
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <!-- <textarea id="notes"  nz-input type="text"> -->
          <textarea
            nz-input
            formControlName="notes"
            placeholder="Notes"
            [nzAutosize]="{ minRows: 5, maxRows: 10 }"
          ></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      (click)="saveUpdateScript(scriptForm.value)"
      class="save-button"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
