<div class="col s12 m8">
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <form nz-form [formGroup]="lbForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="lbname"
          >New Load Balancer Name
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <input
              id="lbname"
              placeholder="Load Balancer Name"
              formControlName="lbname"
              nz-input
              type="text"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="attachedservers"
          >Assign LB to
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-select
            formControlName="attachedservers"
            nzMode="multiple"
            class="width-100"
            nzShowSearch
            nzAllowClear
            id="attachedservers"
            placeholder="Select Servers"
            nzPlaceHolder="Select Servers"
          >
            <nz-option
              *ngFor="let i of instanceList"
              [nzLabel]="i.instancename"
              [nzValue]="i.alisolutionid"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="internet"
          >Instance Type
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="internet"
            placeholder="Instance Type"
            nzPlaceHolder="Instance Type"
            formControlName="internet"
          >
            <nz-option [nzLabel]="'Internet'" [nzValue]="'Y'"></nz-option>
            <nz-option [nzLabel]="'Intranet'" [nzValue]="'N'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="specification"
          >Instance Specification
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-select
            formControlName="specification"
            class="width-100"
            nzShowSearch
            nzAllowClear
            id="specification"
            placeholder="Select Instance Specification"
            nzPlaceHolder="Select Instance Specification"
          >
            <nz-option
              *ngFor="let i of specList"
              [nzLabel]="i.keyname"
              [nzValue]="i.keyvalue"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="vpcid">VPC</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-select nzShowSearch nzAllowClear id="vpcid" placeholder="Select VPC" nzPlaceHolder="Select VPC"
            formControlName="vpcid" (ngModelChange)="onChangeVPC($event)">
            <nz-option *ngFor="let data of vpcList" [nzLabel]="data.vpcname" [nzValue]="data.vpcid"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="vswitchid"
          >VSwitch</nz-form-label
        >
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="vswitchid"
            placeholder="Select VSwitch"
            nzPlaceHolder="Select VSwitch"
            formControlName="vswitchid"
          >
            <nz-option
              *ngFor="let data of vswitchList"
              [nzLabel]="data.vswitchname"
              [nzValue]="data.vswitchid"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="notes"
          >Notes</nz-form-label
        >
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <input
              id="notes"
              placeholder="Notes"
              formControlName="notes"
              nz-input
              type="text"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
    <h3 class="solution-title mb-0 ml-3 mt-1">Listeners</h3>
    <form nz-form [formGroup]="lblistenerForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="protocol"
          >Protocol
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-select
            formControlName="protocol"
            class="width-100"
            nzShowSearch
            nzAllowClear
            id="protocol"
            placeholder="Select Protocol"
            nzPlaceHolder="Select Protocol"
          >
            <nz-option
              *ngFor="let i of protocolList"
              [nzLabel]="i.keyname"
              [nzValue]="i.keyvalue"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="frontendport"
          >Front End Port
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <nz-input-number
              id="frontendport"
              [nzMin]="1"
              [nzMax]="65535"
              placeholder="Front End Port"
              formControlName="frontendport"
              nz-input
              type="text"
            ></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="backendport"
          >Back End Port
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <nz-input-number
              id="backendport"
              [nzMin]="1"
              [nzMax]="65535"
              placeholder="Back End Port"
              formControlName="backendport"
              nz-input
              type="text"
            ></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="healthcheck"
          >Health Check</nz-form-label
        >
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <nz-switch
              class="status"
              id="healthcheck"
              formControlName="healthcheck"
            ></nz-switch>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzRequired nzFor="healthchecktype"
          >Health Check Type
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-select
            formControlName="healthchecktype"
            class="width-100"
            nzShowSearch
            nzAllowClear
            id="healthchecktype"
            placeholder="Select Health Check Type"
            nzPlaceHolder="Select Health Check Type"
          >
            <nz-option
              *ngFor="let i of healthchecktypeList"
              [nzLabel]="i.keyname"
              [nzValue]="i.keyvalue"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="8"
          [nzXs]="12"
          nzRequired
          nzFor="healthythreshold"
          >Healthy Threshold
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <nz-input-number
              id="healthythreshold"
              [nzMin]="1"
              [nzMax]="10"
              placeholder="Healthy Threshold"
              formControlName="healthythreshold"
              nz-input
            ></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="8"
          [nzXs]="12"
          nzRequired
          nzFor="unhealthythreshold"
          >Un Healthy Threshold
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <nz-input-number
              id="unhealthythreshold"
              [nzMin]="1"
              [nzMax]="10"
              placeholder="Un Healthy Threshold"
              formControlName="unhealthythreshold"
              nz-input
            ></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="8"
          [nzXs]="12"
          nzRequired
          nzFor="healthchecktimeout"
          >Health Check Time Out
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <nz-input-number
              id="healthchecktimeout"
              [nzMin]="1"
              [nzMax]="10"
              placeholder="Health Check Time Out"
              formControlName="healthchecktimeout"
              nz-input
            ></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="8"
          [nzXs]="12"
          nzRequired
          nzFor="healthcheckinterval"
          >Health Check Interval
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <nz-input-group>
            <nz-input-number
              id="healthcheckinterval"
              [nzMin]="1"
              [nzMax]="10"
              placeholder="Health Check Interval"
              formControlName="healthcheckinterval"
              nz-input
            ></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="12" nzFor="sslcertificate"
          >SSL Certificate
        </nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="12">
          <input
            id="notes"
            placeholder="SSL Certificate"
            formControlName="sslcertificate"
            nz-input
            type="text"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-spin>
  <div class="center-align mr-5">
    <nz-dropdown>
      <button style="width: 115px" class="loadbalancer" nz-button nz-dropdown>
        <span>Save</span>
        <i class="anticon anticon-down"></i>
      </button>
      <ul nz-menu>
        <li (click)="saveOrUpdate()" [nzDisabled]="!lbForm.valid" nz-menu-item>
          <a>Save Load Balancer</a>
        </li>
        <li (click)="skip()" nz-menu-item>
          <a>Skip</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<div *ngIf="lbList.length > 0" class="col s12 m4 pl-2 pr-2">
  <h4 class="amber-text">Load Balancers</h4>
  <table *ngIf="lbList && lbList.length > 0" style="width: 100%">
    <tr *ngFor="let lb of lbList; let i = index">
      <td *ngIf="lb.lbname" class="white-text">{{ lb.lbname }}</td>
      <td *ngIf="lb.lbname">
        <i
          (click)="editLB(lb)"
          class="anticon hover-pointer amber-text anticon-edit ml-2"
        ></i>
        <i
          (click)="removeLB(lb, i)"
          class="anticon hover-pointer amber-text anticon-delete ml-1"
        ></i>
      </td>
    </tr>
  </table>
</div>
