<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar (dataChanged)="onChanged($event)" [(isVisible)]="isVisible" [title]="formTitle">
    <ng-container class="modal-content">
      <app-add-edit-orchestration [orchestrationObj]="orchestrationObj">
      </app-add-edit-orchestration>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar (dataChanged)="showAlert=false" [(isVisible)]="showAlert" [width]="1100" title="Details">
    <ng-container class="modal-content">
      <app-orchestration-logs *ngIf="showAlert" [headerData]="headerData"></app-orchestration-logs>
    </ng-container></app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar (dataChanged)="isLifecycleVisible = false" [(isVisible)]="isLifecycleVisible"
    [title]="'Progress'">
    <ng-container class="modal-content">
      <nz-timeline>
        <nz-timeline-item [nzColor]="
            l['status'] == 'Completed'
              ? 'green'
              : l['status'] == 'Inprogress'
              ? 'red'
              : 'grey'
          " *ngFor="let l of orchLifeCycle">
          <span style="color: white">
            {{ l["title"] }}
          </span>
          <br />
          <span style="color: white; font-size: 11px">
            {{ l["timestamp"] | date : "dd-MMM-yyyy hh:mm:ss" }}
          </span>
        </nz-timeline-item>
      </nz-timeline>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar (dataChanged)="isVisibleLookup=false" [(isVisible)]="isVisibleLookup" [width]="360"
    [title]="lookupFormTitle">
    <ng-container class="modal-content">
      <input nz-input placeholder="Category Name" [(ngModel)]="categoryName">
      <button style="margin-top: 35px; margin-right: 4px" class="right" nzSize="small" nz-button (click)="saveLookup()"
        nzType="primary">
        Save
      </button>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <nz-tabset [nzSelectedIndex]="tabIndex" (nzSelectChange)="orchTabChange($event)">
      <nz-tab nzTitle="Orchestration">
        <div class="row param-table">
          <div class="row">
            <div class="left left-align">
              <button *ngIf="visibleadd" nz-button nzType="primary" (click)="router.navigate(['orchestration/create'])">
                <i class="anticon anticon-plus"></i>{{ buttonText }}
              </button>
            </div>
            <div class="col s12 m2" style="margin-left: 10px;">
              <nz-select style="width: 95%" nzShowSearch nzPlaceHolder="Caegory"
                (ngModelChange)="onChangeCategory($event)" [(ngModel)]="selectedCategory">
                <nz-option *ngFor="let data of categoryList" [nzLabel]="data.keyvalue"
                  [nzValue]="data.lookupid"></nz-option>
              </nz-select>
            </div>
            <div class="col s12 m2">
              <button *ngIf="!selectedCategory" nzSize="small" nz-button nzType="primary" (click)="showLookup()">
                <i class="anticon anticon-plus"></i>
              </button>
              <button *ngIf="selectedCategory" nzSize="small" nz-button nzType="primary" (click)="showLookup(true)">
                <i class="anticon anticon-edit"></i>
              </button>
            </div>
            <!-- T3687 Show recently used orchestrations -->
            <div class="right right-align">
              <label nz-checkbox style="color: white; margin-right: 32px;" [(ngModel)]="isShowRecent" (ngModelChange)="getRecentOrch($event)">Recently Used Orchestrations</label>
            </div>

            <app-cloudmatiq-data-table (dataChanged)="dataChanged($event)" [tableData]="orchestrationList"
              [tableHeader]="orchestrationListHeaders" [tableConfig]="orchestrationTableConfig"
              [totalCount]="totalCount" [searchText]="searchText"></app-cloudmatiq-data-table>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Schedules">
        <div class="row param-table">
          <div class="col s12 m2">
            <nz-select style="width: 95%" [(ngModel)]="schedulestatus" nzShowSearch nzPlaceHolder="Select">
              <nz-option nzValue="Active" nzLabel="Active"></nz-option>
              <nz-option nzValue="Completed" nzLabel="Completed"></nz-option>
            </nz-select>
          </div>
          <div class="col s12 m2">
            <button nzSize="small" nz-button (click)="getScheduledOrchestrations()" nzType="primary" title="Search">
              <i class="anticon anticon-search"></i>
            </button>
          </div>

          <app-cloudmatiq-data-table (dataChanged)="dataChangedScheduled($event)"
            [tableData]="orchestrationSchedulesList" [tableHeader]="orchestrationSchedulesHeaders" [selectedcolumns]="selectedcolumns"
            [tableConfig]="orchestrationScheduleTableConfig" [searchText]="searchText"></app-cloudmatiq-data-table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Tabulated Logs">
        <div class="row param-table">
          <div class="col s12 m2">
            <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="Start Date" [(ngModel)]="logstartdt">
            </nz-date-picker>
          </div>
          <div class="col s12 m2">
            <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="End Date" [(ngModel)]="logenddt">
            </nz-date-picker>
          </div>
          <div class="col s12 m2">
            <nz-select style="width: 95%" [(ngModel)]="logstatus" nzShowSearch nzPlaceHolder="Select">
              <nz-option nzValue="" nzLabel="All Status"></nz-option>
              <nz-option nzValue="Pending" nzLabel="Pending"></nz-option>
              <nz-option nzValue="In Progress" nzLabel="Inprogress"></nz-option>
              <nz-option nzValue="Completed" nzLabel="Completed"></nz-option>
            </nz-select>
          </div>
          <div class="col s12 m2">
            <nz-select style="width: 95%" [(ngModel)]="logorch" nzShowSearch nzPlaceHolder="Select">
              <nz-option nzValue="" nzLabel="All Orchestration"></nz-option>
              <nz-option *ngFor="let data of orchestrationList" [nzLabel]="data.orchname"
                [nzValue]="data.orchid"></nz-option>
            </nz-select>
          </div>
          <div class="col s12 m1">
            <button nzSize="small" nz-button (click)="getscheduleHeader()" nzType="primary" title="Search">
              <i class="anticon anticon-search"></i>
            </button>
          </div>

          <app-cloudmatiq-data-table (dataChanged)="dataChangedScheduleHdr($event)" [tableData]="scheduleHeaderList"
            [tableHeader]="scheduleHdrHeaders" [selectedcolumns]="selectedcolumns" [tableConfig]="scheduleHeaderTableConfig" [totalCount]="totalHeaderCount"
            [widthConfig]="scheduleHeaderTableConfig.widthConfig" [searchText]="searchText"></app-cloudmatiq-data-table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="All Logs">
        <app-orchestration-logs *ngIf="tabIndex == 3"></app-orchestration-logs>
      </nz-tab>
    </nz-tabset>
  </ng-container>
  <app-cloudmatiq-side-bar (dataChanged)="isView = !isView" [(isVisible)]="isView" [title]="title" [width]="750">
    <ng-container class="modal-content" *ngIf="isView">
      <h4 class="amber-text">Overview</h4>
      <div class="cloudasset">
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Title</div>
            <div class="grey-text">: {{ orchObj.title }}</div>
          </h4>
        </div>
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Schedule On</div>
            <div class="grey-text">
              : {{ orchObj.runtimestamp | date : "dd-MMM-yyyy hh:mm:ss" }}
            </div>
          </h4>
        </div>
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Overall status</div>
            <div class="grey-text">: {{ orchObj.status }}</div>
          </h4>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2">Detailed status</div>
            <div class="grey-text">: {{ orchObj.runs }}</div>
          </h4>
        </div>
        <div class="row">
          <h4 class="white-text text-lighten-3 ml-1">
            <div class="col s12 m2"># targets</div>
            <div class="grey-text">: {{ orchObj.targetcount }}</div>
          </h4>
        </div>
        <h4 class="amber-text">Targets Configured</h4>
        <div class="row">
          <table id="assetdetail" style="width: 100%">
            <thead>
              <tr>
                <th width="25%">Session Node</th>
                <th>Instance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of orchObj.targets | keyvalue">
                <td>{{ t.key }}</td>
                <td>{{ t.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <nz-drawer id="sidebar-modal" [nzBodyStyle]="{
      'padding-bottom': '55px',
      height: 'calc(100% - 55px)',
      overflow: 'auto'
    }" [nzMaskClosable]="true" [nzWidth]="750" [nzVisible]="isLogVisible" nzTitle="Log"
    (nzOnClose)="isLogVisible = !isLogVisible">
    <pre style="
        color: white;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      ">{{ file }}</pre>
    <div class="footer">
      <button *ngIf="islocal" type="button" (click)="getLog()" class="ant-btn ant-btn-primary">
        <span>Refresh</span>
      </button>
      &nbsp;&nbsp;
      <button type="button" (click)="isLogVisible = !isLogVisible" class="ant-btn ant-btn-primary">
        <span>Close</span>
      </button>
    </div>
  </nz-drawer>
</app-cloudmatiq-side-nav>