.node-container-view {
  background-color: #ffffffe0;
  color: #0b0b0b;
  line-height: inherit;
  border-radius: 15px;
  padding: 6px 12px;
}
.success-text {
  color: #00a64c;
  font-size: inherit;
}
.fail-text {
  color: #ff0000;
  font-size: inherit;
}

.validation-errors {
  margin-top: 20px;
}

.node-view-container {
  background: rgb(28, 46, 60);
  height: 100%;
  border-radius: 10px;
  padding: 8px;
}
.node-container {
  width: 100%;
  height: auto;
}

::ng-deep.ant-timeline-item-content {
  margin: 12px 1px 0px 30px;
  height: auto;
  width: 95%;
  border: 1px solid #8d9ba6;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}
::ng-deep .ant-timeline-item-head-custom {
  background-color: #ffffff;
  line-height: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 3px 3px;
}
.cursor-pointer {
  cursor: pointer;
}

::ng-deep .node-pass-border .ant-timeline-item-head-custom {
  border: 3px solid #00a64c !important;
}

::ng-deep .node-fail-border .ant-timeline-item-head-custom {
  border: 3px solid #ff0000 !important;
}
.node-img {
  width: 30px;
  height: 30px;
}
.worflowSetting {
  height: auto;
  border: 2px solid #8d9ba6;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 30px;
}
.fa-icon {
  padding: 2px 2px;
  font-size: x-large;
  color: #0b0b0b;
}
.node_error {
  color: #fc0 !important;
  margin-top: 10px;
}
::ng-deep .node-validation-fail .ant-timeline-item-content {
  margin: 12px 1px 0px 30px;
  height: auto;
  width: 95%;
  border: 1px solid #ff0000 !important;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}
::ng-deep .node-validation-fail .ant-timeline-item-head-custom {
  border: 3px solid #ff0000 !important;
}