<app-cloudmatiq-side-nav [blockUI]="loading">
  <ng-container class="page-body">
    <!-- Card Data -->
    <div nz-row [nzGutter]="8">
      <div
        nz-col
        nzSpan="6"
        *ngFor="let card of cardsData"
        class="card-container"
      >
        <nz-card>
          <div class="card-content">
            <div>
              <p class="card-title">{{ card.name }}</p>
              <p class="card-value" [style.color]="card.color">
                {{ card.value }}
              </p>
            </div>
            <div>
              <i
                class="anticon {{ card.icon }}"
                [style.color]="card.color"
                style="font-size: 30px"
              ></i>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
    <!-- Graphs -->
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="8">
        <!-- Pie chart -->
        <nz-card class="patching-chart">
          <h5 class="card-title">Overall Patch Status</h5>
          <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [colors]="chartOptions.colors"
              [legend]="chartOptions.legend"
              [dataLabels]="chartOptions.dataLabels"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="16">
        <!-- Line chart -->
        <nz-card class="patching-chart">
          <h5 class="card-title">Compliance Trend</h5>
          <div id="chart">
            <apx-chart
              [series]="lineChart.series"
              [chart]="lineChart.chart"
              [xaxis]="lineChart.xaxis"
              [yaxis]="lineChart.yaxis"
              [stroke]="lineChart.stroke"
              [tooltip]="lineChart.tooltip"
              [legend]="lineChart.legend"
              [colors]="lineChart.colors"
              [markers]="lineChart.markers"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <!-- Line chart -->
      <div nz-col nzSpan="12">
        <nz-card class="patching-chart">
          <h5 class="card-title">Patches by Severity</h5>
          <div id="chart">
            <apx-chart
              [series]="barChart.series"
              [chart]="barChart.chart"
              [xaxis]="barChart.xaxis"
              [yaxis]="barChart.yaxis"
              [plotOptions]="barChart.plotOptions"
              [dataLabels]="barChart.dataLabels"
              [legend]="barChart.legend"
              [colors]="barChart.colors"
              [tooltip]="barChart.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="12">
        <nz-card class="patching-chart">
          <h5 class="card-title">OS Distribution</h5>
          <div id="chart">
            <apx-chart
              [series]="osChart.series"
              [chart]="osChart.chart"
              [xaxis]="osChart.xaxis"
              [yaxis]="osChart.yaxis"
              [plotOptions]="osChart.plotOptions"
              [dataLabels]="osChart.dataLabels"
              [legend]="osChart.legend"
              [colors]="osChart.colors"
              [tooltip]="osChart.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <!-- Line chart -->
      <div nz-col nzSpan="12">
        <nz-card class="patching-chart">
          <h5 class="card-title">Patch Age Distribution</h5>
          <div id="chart">
            <apx-chart
              [series]="ageChart.series"
              [chart]="ageChart.chart"
              [xaxis]="ageChart.xaxis"
              [yaxis]="ageChart.yaxis"
              [plotOptions]="ageChart.plotOptions"
              [dataLabels]="ageChart.dataLabels"
              [legend]="ageChart.legend"
              [colors]="ageChart.colors"
              [tooltip]="ageChart.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="12">
        <nz-card class="patching-chart">
          <h5 class="card-title">Location-Based Compliance</h5>
          <div id="chart">
            <apx-chart
              [series]="stackedChart.series"
              [chart]="stackedChart.chart"
              [xaxis]="stackedChart.xaxis"
              [yaxis]="stackedChart.yaxis"
              [plotOptions]="stackedChart.plotOptions"
              [dataLabels]="stackedChart.dataLabels"
              [legend]="stackedChart.legend"
              [colors]="stackedChart.colors"
              [tooltip]="stackedChart.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <!-- Line chart -->
      <div nz-col nzSpan="12">
        <nz-card class="patching-chart">
          <h5 class="card-title">Team Patch Status</h5>
          <div id="chart">
            <apx-chart
              [series]="teamPatchChart.series"
              [chart]="teamPatchChart.chart"
              [xaxis]="teamPatchChart.xaxis"
              [yaxis]="teamPatchChart.yaxis"
              [plotOptions]="teamPatchChart.plotOptions"
              [dataLabels]="teamPatchChart.dataLabels"
              [legend]="teamPatchChart.legend"
              [colors]="teamPatchChart.colors"
              [tooltip]="teamPatchChart.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="12">
        <nz-card class="patching-chart">
          <h5 class="card-title">Patch Window Compliance</h5>
          <div id="chart">
            <apx-chart
              [series]="patchWindowComplianceChart.series"
              [chart]="patchWindowComplianceChart.chart"
              [xaxis]="patchWindowComplianceChart.xaxis"
              [yaxis]="patchWindowComplianceChart.yaxis"
              [plotOptions]="patchWindowComplianceChart.plotOptions"
              [dataLabels]="patchWindowComplianceChart.dataLabels"
              [legend]="patchWindowComplianceChart.legend"
              [colors]="patchWindowComplianceChart.colors"
              [tooltip]="patchWindowComplianceChart.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <!-- Line chart -->
      <div nz-col nzSpan="8">
        <nz-card class="patching-chart">
          <h5 class="card-title">Patch Failure Reasons</h5>
          <div id="chart">
            <apx-chart
              [series]="patchFailchart.series"
              [chart]="patchFailchart.chart"
              [labels]="patchFailchart.labels"
              [colors]="patchFailchart.colors"
              [legend]="patchFailchart.legend"
              [dataLabels]="patchFailchart.dataLabels"
              [tooltip]="patchFailchart.tooltip"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="16">
        <nz-card class="patching-chart">
          <h5 class="card-title">Daywise Patching count</h5>
          <div id="chart">
            <apx-chart
              [series]="dayChart.series"
              [chart]="dayChart.chart"
              [xaxis]="dayChart.xaxis"
              [yaxis]="dayChart.yaxis"
              [stroke]="dayChart.stroke"
              [tooltip]="dayChart.tooltip"
              [legend]="dayChart.legend"
              [colors]="dayChart.colors"
              [markers]="dayChart.markers"
            ></apx-chart>
          </div>
        </nz-card>
      </div>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
