<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <div nz-row *ngIf="!loading && record">
      <div nz-col nzSpan="6">
        <div nz-row nzType="flex" nzJustify="end">
          <div nz-col nzSpan="24" class="left-align primary-text hdr-title">
            Name
          </div>
          <div nz-col nzSpan="24" class="left-align white-text hdr-value">
            {{ record.name }}
          </div>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div nz-row nzType="flex" nzJustify="end">
          <div nz-col nzSpan="24" class="left-align primary-text hdr-title">
            Endpoint
          </div>
          <div nz-col nzSpan="24" class="left-align white-text hdr-value">
            {{ record.endpoint }}
          </div>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div nz-row nzType="flex" nzJustify="end">
          <div nz-col nzSpan="24" class="left-align primary-text hdr-title">
            Region
          </div>
          <div nz-col nzSpan="24" class="left-align white-text hdr-value">
            {{ record.region }}
          </div>
        </div>
      </div>
      <!-- OP#428 -->
      <button
            nz-button
            style="position: fixed; top: 75px; right: 30px"
            nzType="primary"
            (click)="router.navigate(['/monitoring-synthetics'])"
            title="Close"
          >
            <i class="anticon anticon-close-circle"></i>
          </button>
      <!-- OP#428 -->
      <button
      nz-button
      style="position: fixed; top:75px; right:70px"
      (click)="refresh()"
      title="Reload"
    >
      <i class="anticon anticon-reload"></i>
    </button>
      <div nz-col nzSpan="24">
        <nz-card
          [nzBordered]="false"
          class="width-100"
          [nzTitle]="titleTemplate"
        >
          <div id="chart"></div>
        </nz-card>
        <ng-template #titleTemplate>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <h5 style="color: white">Overview</h5>
            <nz-select
              [(ngModel)]="selectedDuration"
              (ngModelChange)="getDetails()"
              style="width: 120px"
              nzAllowClear
              nzPlaceHolder="Choose"
            >
              <nz-option [nzValue]="1" nzLabel="Last 1 hour"></nz-option>
              <nz-option [nzValue]="3" nzLabel="Last 3 hour"></nz-option>
              <nz-option [nzValue]="5" nzLabel="Last 5 hour"></nz-option>
              <nz-option [nzValue]="12" nzLabel="Last 12 hour"></nz-option>
              <nz-option [nzValue]="24" nzLabel="Last 24 hour"></nz-option>
              <nz-option [nzValue]="7 * 24" nzLabel="Last 7 days"></nz-option>
              <nz-option [nzValue]="15 * 24" nzLabel="Last 15 days"></nz-option>
            </nz-select>
          </div>
        </ng-template>
      </div>
      <div *ngIf="selectedRun && runReport == null" nz-col nzSpan="24">
        <p style="color: white">Loading...</p>
      </div>
      <div *ngIf="selectedRun && runReport != null" nz-col nzSpan="24">
        <nz-tabset>
          <nz-tab
            nzTitle="Steps"
            *ngIf="selectedRun && record['type'] == 'heartbeat'"
          >
            <div nz-row>
              <div nz-col nzSpan="6">
                <div nz-row nzType="flex" nzJustify="end">
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align primary-text hdr-title"
                  >
                    Start
                  </div>
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align white-text hdr-value"
                    style="font-size: 14px"
                  >
                    {{ runReport.startTime | date: "dd-MMM-yyyy hh:mm:ss a" }}
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="6">
                <div nz-row nzType="flex" nzJustify="end">
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align primary-text hdr-title"
                  >
                    End
                  </div>
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align white-text hdr-value"
                    style="font-size: 14px"
                  >
                    {{ runReport.endTime | date: "dd-MMM-yyyy hh:mm:ss a" }}
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="6">
                <div nz-row nzType="flex" nzJustify="end">
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align primary-text hdr-title"
                  >
                    Status
                  </div>
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align white-text hdr-value"
                    style="font-size: 14px"
                  >
                    {{ runReport.executionStatus }}
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="6">
                <div nz-row nzType="flex" nzJustify="end">
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align primary-text hdr-title"
                  >
                    Duration
                  </div>
                  <div
                    nz-col
                    nzSpan="24"
                    class="left-align white-text hdr-value"
                    style="font-size: 14px"
                  >
                    {{ getDuration(runReport.startTime, runReport.endTime) }} ms
                  </div>
                </div>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <p-accordion>
                  <p-accordionTab
                    *ngFor="let step of runReport.customerScript.steps"
                  >
                    <p-header>
                      <span style="display: inline-block; width: 100%">
                        <div
                          style="display: flex; justify-content: space-between"
                        >
                          <div>
                            <b style="color: white">{{ step.stepName }}</b>
                          </div>
                        </div>
                      </span>
                    </p-header>
                    <div nz-row>
                      <div nz-col nzSpan="18">
                        <div nz-row>
                          <div
                            nz-col
                            nzSpan="8"
                            *ngFor="let i of getScreenShot(step.screenshots)"
                          >
                            <a
                              [href]="i.source"
                              style="cursor: zoom-in"
                              target="_blank"
                            >
                              <img width="100%" [src]="i.source" />
                            </a>
                          </div>
                        </div>
                      </div>
                      <div nz-col nzSpan="6">
                        <div nz-row>
                          <div nz-col nzSpan="12">
                            <div nz-row nzType="flex" nzJustify="end">
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align primary-text hdr-title"
                              >
                                Start
                              </div>
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align white-text hdr-value"
                                style="font-size: 14px"
                              >
                                {{
                                  step.startTime
                                    | date: "dd-MMM-yyyy hh:mm:ss a"
                                }}
                              </div>
                            </div>
                          </div>
                          <div nz-col nzSpan="12">
                            <div nz-row nzType="flex" nzJustify="end">
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align primary-text hdr-title"
                              >
                                End
                              </div>
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align white-text hdr-value"
                                style="font-size: 14px"
                              >
                                {{
                                  step.endTime | date: "dd-MMM-yyyy hh:mm:ss a"
                                }}
                              </div>
                            </div>
                          </div>
                          <div nz-col nzSpan="12">
                            <div nz-row nzType="flex" nzJustify="end">
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align primary-text hdr-title"
                              >
                                Status
                              </div>
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align white-text hdr-value"
                                style="font-size: 14px"
                              >
                                {{ step.status }}
                              </div>
                            </div>
                          </div>
                          <div nz-col nzSpan="12">
                            <div nz-row nzType="flex" nzJustify="end">
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align primary-text hdr-title"
                              >
                                Duration
                              </div>
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align white-text hdr-value"
                                style="font-size: 14px"
                              >
                                {{ getDuration(step.startTime, step.endTime) }}
                                ms
                              </div>
                            </div>
                          </div>
                          <div nz-col *ngIf="failureReason != null" nzSpan="24">
                            <div nz-row nzType="flex" nzJustify="end">
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align primary-text hdr-title"
                              >
                                Failiure Reason
                              </div>
                              <div
                                nz-col
                                nzSpan="24"
                                class="left-align white-text hdr-value"
                                style="font-size: 14px"
                              >
                                {{ step.failureReason }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
          </nz-tab>
          <nz-tab
            nzTitle="HTTP Steps"
            *ngIf="selectedRun && record['type'] == 'api'"
          >
            <p-accordion>
              <p-accordionTab *ngFor="let step of runReport">
                <p-header>
                  <span style="display: inline-block; width: 100%">
                    <div style="display: flex; justify-content: space-between">
                      <div>
                        <b style="color: white">{{ step.step }}</b>
                      </div>
                    </div>
                  </span>
                </p-header>
                <div nz-row>
                  <div nz-col nzSpan="6" style="margin-top: 13px">
                    <div nz-row nzType="flex" nzJustify="end">
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align primary-text hdr-title"
                      >
                        Start
                      </div>
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align white-text hdr-value"
                        style="font-size: 14px"
                      >
                        {{
                          step.httpTimings.startedAt
                            | date: "dd-MMM-yyyy hh:mm:ss a"
                        }}
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="6" style="margin-top: 13px">
                    <div nz-row nzType="flex" nzJustify="end">
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align primary-text hdr-title"
                      >
                        End
                      </div>
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align white-text hdr-value"
                        style="font-size: 14px"
                      >
                        {{
                          step.httpTimings.endedAt
                            | date: "dd-MMM-yyyy hh:mm:ss a"
                        }}
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="6" style="margin-top: 13px">
                    <div nz-row nzType="flex" nzJustify="end">
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align primary-text hdr-title"
                      >
                        Total duration (ms)
                      </div>
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align white-text hdr-value"
                        style="font-size: 14px"
                      >
                        {{ step.httpTimings.totalDurationInMs }}
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="6" style="margin-top: 13px">
                    <div nz-row nzType="flex" nzJustify="end">
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align primary-text hdr-title"
                      >
                        Status
                      </div>
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align white-text hdr-value"
                        style="font-size: 14px"
                      >
                        {{ step.response.statusCode }} (
                        {{ step.response.statusMessage }})
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="12" style="margin-top: 13px">
                    <div nz-row nzType="flex" nzJustify="end">
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align primary-text hdr-title"
                      >
                        Request URL
                      </div>
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align white-text hdr-value"
                        style="font-size: 14px"
                      >
                        {{ step.requestUrl }}
                      </div>
                    </div>
                  </div>
                  <div
                    nz-col
                    *ngIf="failureReason != null"
                    nzSpan="24"
                    style="margin-top: 13px"
                  >
                    <div nz-row nzType="flex" nzJustify="end">
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align primary-text hdr-title"
                      >
                        Failiure Reason
                      </div>
                      <div
                        nz-col
                        nzSpan="24"
                        class="left-align white-text hdr-value"
                        style="font-size: 14px"
                      >
                        {{ step.failureReason }}
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="24" style="margin-top: 13px">
                    <h5 class="left-align primary-text hdr-title">
                      Request Header
                    </h5>
                  </div>
                  <div nz-col nzSpan="24">
                    <div *ngFor="let k of step.request.headers | keyvalue">
                      <b>{{ k.key }}</b> : {{ k.value }}
                    </div>
                  </div>

                  <div nz-col nzSpan="24" style="margin-top: 13px">
                    <h5 class="left-align primary-text hdr-title">
                      Request Body
                    </h5>
                  </div>
                  <div nz-col nzSpan="24">
                    <div *ngFor="let k of step.request.body | keyvalue">
                      <b>{{ k.key }}</b> : {{ k.value }}
                    </div>
                  </div>
                  <div nz-col nzSpan="24" style="margin-top: 13px">
                    <h5 class="left-align primary-text hdr-title">
                      Response Header
                    </h5>
                  </div>
                  <div nz-col nzSpan="24">
                    <div *ngFor="let k of step.response.headers | keyvalue">
                      <b>{{ k.key }}</b> : {{ k.value }}
                    </div>
                  </div>
                  <div nz-col nzSpan="24" style="margin-top: 13px">
                    <h5 class="left-align primary-text hdr-title">
                      Response Body
                    </h5>
                  </div>
                  <div
                    nz-col
                    nzSpan="24"
                    *ngIf="
                      step.response.content.contentType.includes(
                        'application/json'
                      )
                    "
                  >
                    <div
                      *ngFor="let k of step.response.content.body | keyvalue"
                    >
                      <b>{{ k.key }}</b> : {{ k.value }}
                    </div>
                  </div>
                  <div
                    nz-col
                    nzSpan="24"
                    *ngIf="
                      !step.response.content.contentType.includes(
                        'application/json'
                      )
                    "
                  >
                    {{ step.response.content.body }}
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </nz-tab>
          <nz-tab nzTitle="Logs">
            <pre
              style="
                background: #1c2e3c59;
                padding: 13px 18px;
                overflow-x: scroll;
              "
              >{{ logReport }}</pre
            >
          </nz-tab>

          <nz-tab
            nzTitle="HAR file"
            *ngIf="selectedRun && record['type'] == 'heartbeat'"
          >
            <iframe
              *ngIf="har != null"
              style="width: 100%; height: 50vh"
              [src]="har"
            ></iframe>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
    <div nz-row *ngIf="loading">
      <p style="color: white">Loading...</p>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
