<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    *ngIf="isVisible"
    [width]="700"
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
  >
    <ng-container class="modal-content">
      <app-add-edit-recommendation
        [predictionObj]="predictionObj"
        (notifyEntry)="notifyEntry($event)"
      >
      </app-add-edit-recommendation>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    *ngIf="isAutomateVisible"
    [width]="700"
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isAutomateVisible"
    [title]="setupFormTitle"
  >
    <ng-container class="modal-content" *ngIf="isAutomateVisible">
      <app-recommendation-setup (notifyEntry)="notifyEntry($event)">
      </app-recommendation-setup>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <div class="row">
      <div class="col s12 m3 left left-align mt-1">
        <nz-select
          style="width: 200px"
          [(ngModel)]="cloudprovider"
          nzAllowClear
          (ngModelChange)="recomentationList()"
          nzPlaceHolder="Choose Provider"
        >
          <nz-option nzValue="ECL2" nzLabel="ECL2"></nz-option>
          <nz-option nzValue="AWS" nzLabel="AWS"></nz-option>
          <nz-option
            nzValue="Ali Cloud"
            nzLabel="Ali Cloud"
            nzDisabled
          ></nz-option>
          <nz-option
            nzValue="Google Cloud"
            nzLabel="Google Cloud"
            nzDisabled
          ></nz-option>
          <nz-option nzValue="Azure" nzLabel="Azure" nzDisabled></nz-option>
        </nz-select>
      </div>
      <div class="col s12 m7 right right-align mt-1">
        <button
          class="mr-1"
          *ngIf="visibleadd"
          nz-button
          nzType="primary"
          (click)="showModal()"
        >
          <i class="anticon anticon-plus"></i>{{ buttonText }}
        </button>
        <button
          *ngIf="visibleadd"
          nz-button
          nzType="primary"
          (click)="showSetupModal()"
        >
          <i class="anticon anticon-plus"></i>Generate Rules
        </button>
      </div>
    </div>
    <div class="row param-table">
      <nz-table
        [nzNoResult]="noResult || 'No Data'"
        [nzLoading]="recommendationTableConfig.loading"
        [nzWidthConfig]="widthConfig"
        #dataTable
        nzSize="middle"
        [nzPageSize]="recommendationTableConfig.pageSize"
        [nzData]="recommendationList"
        [nzScroll]="recommendationTableConfig.scroll"
        [nzShowPagination]="recommendationTableConfig.pagination"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <!-- <th width="120px" nzLeft="0px" nzShowSort nzSortKey="cloudprovider">Provider 
                        </th>-->
            <th
              *ngFor="let col of recommendationTableHeader"
              [width]="col.width"
              [nzShowFilter]="col.filter"
              [nzFilters]="filterList"
              nzShowSort
              nzSortKey="{{ col.field }}"
            >
              {{ col.header }}
            </th>
            <th
              class="center"
              nzRight="0px"
              *ngIf="
                recommendationTableConfig.edit ||
                recommendationTableConfig.delete ||
                recommendationTableConfig.view
              "
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataTable.data">
            <!-- (nzCheckedChange)="refreshStatus($event)" -->
            <!-- <td nzWidth="120px" nzLeft="0px">{{data.cloudprovider}}
                        </td> -->
            <td *ngFor="let col of recommendationTableHeader">
              <span *ngIf="col.datatype == 'timestamp'" class="left-align">{{
                data[col.field] | date: col.format
              }}</span>
              <span *ngIf="col.datatype == 'string'" class="left-align"
                >{{ data[col.field] }}
              </span>
              <span *ngIf="col.datatype == 'number'" class="right-align">{{
                data[col.field]
              }}</span>
              <span *ngIf="col.datatype == 'date'" class="center-align">{{
                data[col.field] | date: col.format
              }}</span>
            </td>
            <td
              nzWidth="120px"
              nzRight="0px"
              *ngIf="
                recommendationTableConfig.edit ||
                recommendationTableConfig.delete ||
                recommendationTableConfig.view
              "
              class="center-align"
            >
              <a
                *ngIf="recommendationTableConfig.edit"
                (click)="showModal(data)"
              >
                <i class="anticon anticon-edit"></i>&nbsp;
              </a>
              <a
                *ngIf="recommendationTableConfig.view"
                (click)="showModal(data)"
              >
                <i class="anticon anticon-eye-o"></i>&nbsp;
              </a>
              <a
                nz-popconfirm
                nzTitle="Are you sure?"
                nzOkText="Ok"
                nzCancelText="Cancel"
                *ngIf="recommendationTableConfig.delete"
                (nzOnConfirm)="deletePrediction(data)"
              >
                <i class="anticon anticon-delete"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
