<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    (dataChanged)="onChanged($event)"
    [(isVisible)]="isVisible"
    [title]="formTitle"
    [width]="820"
  >
    <ng-container class="modal-content" *ngIf="isVisible">
      <app-add-edit-cloudassets
        [cloudassetObj]="cloudassetObj"
        (notifyNewEntry)="notifyNewEntry($event)"
      >
      </app-add-edit-cloudassets>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <div class="row">
      <div class="col s12">
        <div class="col s3 m3 mt-1">
          <nz-select
            nzShowSearch
            placeholder="Select Provider"
            nzPlaceHolder="Select Provider"
            [(ngModel)]="provider"
            style="width: 93%"
            (ngModelChange)="onChange($event)"
          >
            <nz-option
              *ngFor="let i of providerList"
              [nzLabel]="i.keyname"
              [nzValue]="i.keyvalue"
            ></nz-option>
          </nz-select>
        </div>
        <div class="col s3 m3 mt-1">
          <nz-select
            nzShowSearch
            placeholder="Select Asset Type"
            nzPlaceHolder="Select Asset Type"
            [(ngModel)]="assettype"
            style="width: 93%"
            (ngModelChange)="getAllList()"
          >
            <nz-option
              *ngFor="let i of assetTypeList"
              [nzLabel]="i"
              [nzValue]="i"
            ></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="param-table" style="margin-top: 0px">
      <app-cloudmatiq-data-table
        (dataChanged)="dataChanged($event)"
        [tableData]="cloudassetList"
        [tableHeader]="tableHeader"
        [tableConfig]="tableConfig"
      ></app-cloudmatiq-data-table>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
