<app-cloudmatiq-side-nav>
  <ng-container class="page-body">
    <nz-tabset>
      <nz-tab nzTitle="Published" (nzClick)="tabSelect('Published')">
        <div class="row data-table card-toggle-btn">
          <!-- <div class="col s12 m12 right right-align" style="margin-top: -45px">
            <button
              *ngIf="createFlag"
              (click)="router.navigate(['srm/catalog/create'])"
              nz-button
              nzType="primary"
            >
              <i class="anticon anticon-plus"></i>Add Service
            </button>
          </div> -->
          <div>
            <button
            nz-button
            (click)="refresh()"
            class="publish-button right right-align"
            title="Reload"
          >
            <i class="anticon anticon-reload"></i>
          </button>
          </div>
          <div class="col s12 m2 right mr-0">
            <nz-input-group nzAddOnAfterIcon="anticon anticon-search">
              <input
                type="search"
                nz-input
                [(ngModel)]="searchText"
                (ngModelChange)="globalSearch($event)"
                placeholder="Search"
                title="Click to search"
              />
            </nz-input-group>
          </div>
          <div class="col s12 m6 left ml-0">
            <button
              (click)="listType = 'card'"
              [ngClass]="{ 'active-btn': listType === 'card' }"
              nz-button
              nzType="primary"
              title="Card view"
            >
              <i class="anticon anticon-appstore"></i>
            </button>
            <button
              (click)="listType = 'list'"
              [ngClass]="{ 'active-btn': listType === 'list' }"
              nz-button
              nzType="primary"
              title="List view"
            >
              <i class="anticon anticon-bars"></i>
            </button>
          </div>
        </div>
        <div class="col s24 m6 ml-0">
          <button nz-button nzType="primary" *ngIf="downloadflag" (click)="download()" title="Download">
            <i class="anticon anticon-download"></i>
          </button>
        </div>
        <div *ngIf="listType == 'card'">
          <div *ngFor="let catalog of cardViewList; index as i">
            <div
              class="ant-card"
              [ngClass]="{ 'ant-card-margin': checkIndex(i) }"
            >
              <nz-card class="ant-card-view">
                <div class="card-image">
                  <!-- <img *ngIf="catalog.catalogimage && imageExists(catalog.catalogimage)"
                                        class="logo-img" src={{catalog.catalogimage}} alt=""> -->
                  <p class="logo-name">
                    {{ catalog.catalogname?.substring(0, 1) }}
                  </p>
                  <!-- <p *ngIf="!catalog.catalogimage || !imageExists(catalog.catalogimage)"
                                        class="logo-name">
                                        {{catalog.solutionname.substring(0,1)}}</p> -->
                </div>
                <div class="card-content">
                  <div class="title card-title">{{ catalog.catalogname }}</div>
                  <div class="sub-title">
                    <div>
                      <div class="t1">Group Name</div>
                      <div>: {{ catalog.group?.keyvalue }}</div>
                    </div>
                    <div>
                      <div class="t1">End Date</div>
                      <div>: {{ catalog.enddate | date : "dd-MMM-yyyy" }}</div>
                    </div>
                    <!-- <div *ngIf="catalog.solution">
                      <div class="t1">Provider</div>
                      <div>: {{ catalog.solution?.cloudprovider }}</div>
                    </div>
                    <div *ngIf="catalog.solution">
                      <div class="t1">Region</div>
                      <div>: {{ catalog.solution?.zone?.zonename }}</div>
                    </div> -->
                    <div>
                      <div class="t1">Request Type</div>
                      <div>: {{ catalog.referencetype }}</div>
                    </div>
                    <div>
                      <div class="t1">Created Date</div>
                      <div>: {{ catalog.createddt | date : "dd-MMM-yyyy" }}</div>
                    </div>
                  </div>
                  <div class="actions">
                    <a *ngIf="viewFlag" (click)="view(catalog)" title="View">
                      <i
                        class="anticon anticon-eye-o"
                        style="color: #ffcc00"
                      ></i
                      >&nbsp;&nbsp;&nbsp;
                    </a>
                    <a
                      *ngIf="deleteFlag"
                      nz-popconfirm
                      nzTitle="Are you sure?"
                      nzOkText="Ok"
                      title="Delete"
                      nzCancelText="Cancel"
                      (nzOnConfirm)="deleteCatalogService(catalog)"
                    >
                      <i
                        class="anticon anticon-delete"
                        style="color: #ffcc00"
                      ></i
                      >&nbsp;&nbsp;&nbsp;
                    </a>
                    <a
                      *ngIf="
                        unpublishFlag && catalog.publishstatus == 'Published'
                      "
                      nz-popconfirm
                      nzTitle="Are you sure want to unpublish?"
                      nzOkText="Ok"
                      title="Unpublish"
                      nzCancelText="Cancel"
                      (nzOnConfirm)="unpublish(catalog)"
                    >
                      <i
                        class="fa fa-magic fa-rotate-180"
                        style="color: #ffcc00"
                      ></i>
                    </a>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
        <div *ngIf="listType == 'card'" class="card-paginator">
          <nz-pagination
            [nzPageIndex]="1"
            [nzTotal]="pageTotal"
            [nzPageSize]="9"
            [nzShowTotal]="totalTemplate"
            (nzPageIndexChange)="onPageChange($event)"
            nzShowSizeChanger
            [nzPageSizeOptions]="pageCount"
            (nzPageSizeChange)="onPageSizeChange($event)"
          ></nz-pagination>
        </div>
        <div *ngIf="listType == 'list'" class="row table-section">
          <nz-table
            #srmTable
            [nzData]="catalogList"
            nzSize="middle"
            [nzWidthConfig]="widthConfig"
            [nzLoading]="loading"
          >
            <thead (nzSortChange)="sort($event)" nzSingleSort>
              <tr>
                <th nzShowSort nzSortKey="solutionname">Service Name</th>
                <th nzShowSort nzSortKey="description">Characteristics</th>
                <th nzShowSort nzSortKey="publishdate">Publish Date</th>
                <th nzShowSort nzSortKey="enddate">End Date</th>
                <th nzShowSort nzSortKey="publishstatus">Publish Status</th>
                <!-- <th nzShowSort nzSortKey="status">Status</th> -->
                <th nzShowSort nzSortKey="lastupdatedby">Updated By</th>
                <th nzShowSort nzSortKey="lastupdateddt">Updated On</th>
                <th
                  *ngIf="
                    viewFlag ||
                    editFlag ||
                    deleteFlag ||
                    publishFlag ||
                    unpublishFlag
                  "
                  class="center"
                  nzWidth="120px"
                  nzRight="0px"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of srmTable.data">
                <td class="left-align">{{ data.catalogname }}</td>
                <td class="left-align" style="width: 25%">
                  {{ data.description }}
                </td>
                <td class="left-align">
                  {{ data.publishdate | date : "dd-MMM-yyyy" }}
                </td>
                <td class="left-align">
                  {{ data.enddate | date : "dd-MMM-yyyy" }}
                </td>
                <td class="left-align">{{data.publishstatus}}</td>
                <!-- <td class="left-align">{{data.status}}</td> -->
                <td class="left-align">{{ data.lastupdatedby }}</td>
                <td class="left-align">
                  {{ data.lastupdateddt | date : "dd-MMM-yyyy hh:mm:ss" }}
                </td>
                <td
                  *ngIf="
                    viewFlag ||
                    editFlag ||
                    deleteFlag ||
                    publishFlag ||
                    unpublishFlag
                  "
                  class="center"
                  nzRight="0px"
                >
                  <a *ngIf="viewFlag" title="View" (click)="view(data)">
                    <i class="anticon anticon-eye-o"></i> </a
                  >&nbsp;
                  <a
                    *ngIf="deleteFlag"
                    nz-popconfirm
                    nzTitle="Are you sure?"
                    title="Delete"
                    nzOkText="Ok"
                    nzCancelText="Cancel"
                    (nzOnConfirm)="deleteCatalogService(data)"
                  >
                    <i class="anticon anticon-delete"></i> </a
                  >&nbsp;
                  <a
                    *ngIf="unpublishFlag && data.publishstatus == 'Published'"
                    nz-popconfirm
                    nzTitle="Are you sure want to unpublish?"
                    nzOkText="Ok"
                    nzCancelText="Cancel"
                    (nzOnConfirm)="unpublish(data)"
                    title="Unpublish"
                  >
                    <i
                      class="fa fa-magic fa-rotate-180"
                      style="color: #ffcc00"
                    ></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Pending" (nzClick)="tabSelect('Pending')">
        <div class="row data-table card-toggle-btn">
          <div class="col s12 m2 right mr-0">
            <nz-input-group nzAddOnAfterIcon="anticon anticon-search">
              <input
                type="search"
                nz-input
                [(ngModel)]="searchText"
                (ngModelChange)="globalSearch($event)"
                placeholder="Search"
                title="Click to search"
              />
            </nz-input-group>
          </div>
          <div class="col s12 m6 left ml-0">
            <button
              (click)="listType = 'card'"
              [ngClass]="{ 'active-btn': listType === 'card' }"
              nz-button
              nzType="primary"
              title="Card view"
            >
              <i class="anticon anticon-appstore"></i>
            </button>
            <button
              (click)="listType = 'list'"
              [ngClass]="{ 'active-btn': listType === 'list' }"
              nz-button
              nzType="primary"
              title="List view"
            >
              <i class="anticon anticon-bars"></i>
            </button>
          </div>
        </div>
        <div *ngIf="listType == 'list'" class="row table-section">
          <nz-table
            #srm1Table
            [nzData]="catalogList"
            nzSize="middle"
            [nzWidthConfig]="widthConfig"
            [nzLoading]="loading"
            nzShowSizeChanger
            [nzPageSizeOptions]="pageCount"
            (nzPageSizeChange)="onPageSizeChange($event)"
          >
            <thead (nzSortChange)="sort($event)" nzSingleSort>
              <tr>
                <th nzShowSort nzSortKey="solutionname">Service Name</th>
                <th nzShowSort nzSortKey="description">Characteristics</th>
                <th nzShowSort nzSortKey="publishdate">Publish Date</th>
                <th nzShowSort nzSortKey="enddate">End Date</th>
                <!-- <th nzShowSort nzSortKey="publishstatus">Publish Status</th> -->
                <!-- <th nzShowSort nzSortKey="status">Status</th> -->
                <th nzShowSort nzSortKey="lastupdatedby">Updated By</th>
                <th nzShowSort nzSortKey="lastupdateddt">Updated On</th>
                <th
                  *ngIf="
                    viewFlag ||
                    editFlag ||
                    deleteFlag ||
                    publishFlag ||
                    unpublishFlag
                  "
                  class="center"
                  nzWidth="120px"
                  nzRight="0px"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of srm1Table.data">
                <td class="left-align">{{ data.solutionname }}</td>
                <td class="left-align" style="width: 25%">
                  {{ data.description }}
                </td>
                <td class="left-align">
                  {{ data.publishdate | date : "dd-MMM-yyyy" }}
                </td>
                <td class="left-align">
                  {{ data.enddate | date : "dd-MMM-yyyy" }}
                </td>
                <!-- <td class="left-align">{{data.publishstatus}}</td> -->
                <!-- <td class="left-align">{{data.status}}</td> -->
                <td class="left-align">{{ data.lastupdatedby }}</td>
                <td class="left-align">
                  {{ data.lastupdateddt | date : "dd-MMM-yyyy hh:mm:ss" }}
                </td>
                <td
                  *ngIf="
                    viewFlag ||
                    editFlag ||
                    deleteFlag ||
                    publishFlag ||
                    unpublishFlag
                  "
                  class="center"
                  nzRight="0px"
                >
                  <a *ngIf="viewFlag" title="View" (click)="view(data)">
                    <i class="anticon anticon-eye-o"></i> </a
                  >&nbsp;
                  <a
                    *ngIf="editFlag && data.publishstatus != 'Published'"
                    (click)="edit(data)"
                    title="Edit"
                  >
                    <i class="anticon anticon-edit"></i> </a
                  >&nbsp;
                  <a
                    *ngIf="deleteFlag"
                    nz-popconfirm
                    nzTitle="Are you sure?"
                    title="Delete"
                    nzOkText="Ok"
                    nzCancelText="Cancel"
                    (nzOnConfirm)="deleteCatalogService(data)"
                  >
                    <i class="anticon anticon-delete"></i> </a
                  >&nbsp;
                  <a
                    *ngIf="publishFlag && data.publishstatus == 'Pending'"
                    title="Publish"
                    (click)="publish(data)"
                  >
                    <i class="fa fa-magic" style="color: #ffcc00"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div *ngIf="listType == 'card'">
          <div *ngFor="let catalog of cardViewList; index as i">
            <div
              class="ant-card"
              [ngClass]="{ 'ant-card-margin': checkIndex(i) }"
            >
              <nz-card class="ant-card-view">
                <div class="card-image">
                  <!-- <img *ngIf="catalog.catalogimage" class="logo-img" src={{catalog.catalogimage}}
                                        alt=""> -->
                  <p class="logo-name">
                    <!-- <p *ngIf="!catalog.catalogimage" class="logo-name"> -->
                    {{ catalog.catalogname?.substring(0, 1) }}
                  </p>
                </div>
                <div class="card-content">
                  <div class="title">{{ catalog.catalogname }}</div>
                  <div class="sub-title">
                    <div>
                      <div class="t1">Group Name</div>
                      <div>: {{ catalog.group?.keyvalue }}</div>
                    </div>
                    <div>
                      <div class="t1">End Date</div>
                      <div>: {{ catalog.enddate | date : "dd-MMM-yyyy" }}</div>
                    </div>
                    <div>
                      <div class="t1">Provider</div>
                      <div>: {{ catalog.solution?.cloudprovider }}</div>
                    </div>
                    <div>
                      <div class="t1">Region</div>
                      <div>: {{ catalog.solution?.zone?.zonename }}</div>
                    </div>
                  </div>
                  <div class="actions">
                    <a *ngIf="viewFlag" (click)="view(catalog)" title="View">
                      <i
                        class="anticon anticon-eye-o"
                        style="color: #ffcc00"
                      ></i
                      >&nbsp;&nbsp;&nbsp;
                    </a>
                    <a
                      *ngIf="editFlag && catalog.publishstatus != 'Published'"
                      title="Edit"
                      (click)="edit(catalog)"
                    >
                      <i class="anticon anticon-edit" style="color: #ffcc00"></i
                      >&nbsp;&nbsp;&nbsp;
                    </a>
                    <a
                      *ngIf="deleteFlag"
                      nz-popconfirm
                      nzTitle="Are you sure?"
                      nzOkText="Ok"
                      title="Delete"
                      nzCancelText="Cancel"
                      (nzOnConfirm)="deleteCatalogService(catalog)"
                    >
                      <i
                        class="anticon anticon-delete"
                        style="color: #ffcc00"
                      ></i
                      >&nbsp;&nbsp;&nbsp;
                    </a>
                    <a
                      *ngIf="publishFlag && catalog.publishstatus == 'Pending'"
                      title="Publish"
                      (click)="publish(catalog)"
                    >
                      <i class="fa fa-magic" style="color: #ffcc00"></i>
                    </a>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
        <div *ngIf="listType == 'card'" class="card-paginator">
          <nz-pagination
            [nzPageIndex]="1"
            [nzTotal]="pageTotal"
            [nzPageSize]="pageSize"
            [nzShowTotal]="totalTemplate"
            (nzPageIndexChange)="onPageChange($event)"
            nzShowSizeChanger
            [nzPageSizeOptions]="pageCount"
            (nzPageSizeChange)="onPageSizeChange($event)"
          ></nz-pagination>
        </div>
      </nz-tab>
    </nz-tabset>
    <div>
      <p style="color:#ffcc00;">Total Records: {{pageTotal}}</p>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
