<div *ngIf="editMode == false">
  {{ text }}
  <span>
    <i (click)="editMode = !editMode" class="anticon anticon-edit"></i>
  </span>
</div>
<div
  *ngIf="editMode == true"
  style="display: flex; align-items: center; justify-content: space-between"
>
  <nz-input-group [nzSuffix]="suffixTemplate">
    <input type="text" nz-input placeholder="Edit Text" [(ngModel)]="text" />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <i
      (click)="editMode = !editMode"
      *ngIf="text"
      class="anticon anticon-close-circle"
    ></i>
  </ng-template>
  <span>
    <i (click)="editMode = !editMode" class="anticon anticon-check"></i>
  </span>
</div>
