<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="ecl2firewallrules">
    <div class="row">
      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="rulename" nzRequired
            >Rule Name</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              placeholder="Name"
              formControlName="rulename"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="advancedrule" nzRequired
            >Select Advanced Rule Action
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              [nzDisabled]="inputdisabled"
              nzShowSearch
              nzAllowClear
              id="advancedrule"
              placeholder="Select Zone"
              formControlName="advancedrule"
              style="width: 100%"
            >
              <nz-option
                *ngFor="let data of advancedRuleList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="sourcezone" nzRequired
            >Select Source Zone
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              [nzDisabled]="inputdisabled"
              nzShowSearch
              nzAllowClear
              id="sourcezone"
              placeholder="Select Zone"
              formControlName="sourcezone"
              style="width: 100%"
            >
              <nz-option
                *ngFor="let data of interfaceZoneList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s6">
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="12"
            nzFor="sourceaddress"
            nzRequired
            >Source Address</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              placeholder="Source Address"
              formControlName="sourceaddress"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="12"
            nzFor="destinationzone"
            nzRequired
            >Select Destination Zone
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              [nzDisabled]="inputdisabled"
              nzShowSearch
              nzAllowClear
              id="destinationzone"
              placeholder="Select Destination Zone"
              nzPlaceHolder="Select
            Destination Zone"
              formControlName="destinationzone"
              style="width: 100%"
              nzPlaceHolder="Select Zone/Group"
            >
              <nz-option
                *ngFor="let data of interfaceZoneList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col s6">
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="12"
            nzFor="destinationaddress"
            nzRequired
            ><span
              >Destination Address
              <nz-tooltip nzTitle="Instance IP (e.g. 192.168.0.10)">
                <i
                  nz-tooltip
                  class="anticon anticon-question-circle-o"
                ></i> </nz-tooltip></span
          ></nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input
              [attr.disabled]="inputdisabled"
              nz-input
              placeholder="Destination Address"
              formControlName="destinationaddress"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="service" nzRequired
            >Select Service
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select
              [nzDisabled]="inputdisabled"
              nzShowSearch
              nzAllowClear
              id="service"
              placeholder="Select Service"
              formControlName="service"
              nzMode="multiple"
              nzPlaceHolder="Select Service"
            >
              <nz-option
                *ngFor="let data of serviceList"
                [nzLabel]="data.keyname"
                [nzValue]="data.keyvalue"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>
&nbsp;
<div class="col s12">
  <nz-table
    #nzTable
    [nzData]="securitypolicyList"
    class="table-section deploylist"
  >
    <thead>
      <tr>
        <th class="left-align" nzWidth="30px">Rule Name</th>
        <th class="left-align" nzWidth="30px">Source Zone</th>
        <th class="left-align" nzWidth="25px">Source Address</th>
        <th class="left-align" nzWidth="15px">Destination Zone</th>
        <th class="left-align" nzWidth="15px">Destination Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td class="left-align">{{ data.rulename }}</td>
        <td class="left-align">{{ data.sourcezone }}</td>
        <td class="left-align">{{ data.sourceaddress }}</td>
        <td class="left-align">{{ data.destinationzone }}</td>
        <td class="left-align">{{ data.destinationaddress }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div class="row right">
  <div class="col s12 md4">
    <button
      class="save-button"
      [disabled]="disabled"
      (click)="saveOrUpdate(ecl2firewallrules.value)"
      type="submit"
      nz-button
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
