<nz-spin [nzSpinning]="loading">
  <form
    nz-form
    [formGroup]="costForm"
    (ngSubmit)="saveOrUpdate(costForm.value)"
  >
    <div class="row" style="margin-bottom: 0">
      <nz-form-item *ngIf="edit">
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="assetname"
          >Particulars</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input
            nz-input
            placeholder="Particulars"
            formControlName="assetname"
            type="text"
            readonly
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!disableCosttype">
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="costtype"
          >Cost Type</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            id="costtype"
            placeholder="Select Cost Type"
            nzPlaceHolder="Select Cost Type"
            formControlName="costtype"
          >
            <nz-option
              *ngFor="let t of costtypelist"
              [nzLabel]="t.keyname"
              [nzValue]="t.keyvalue"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="baseprice"
          >Price</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input
            nz-input
            placeholder="Price"
            formControlName="baseprice"
            type="text"
          />
        </nz-form-control>
      </nz-form-item>
      <div class="right mr-0">
        <button
          class="mt-1 save-button"
          type="submit"
          nz-button
          nzType="primary"
          [nzLoading]="addingparam"
        >
          {{ button }}
        </button>
      </div>
    </div>
  </form>
</nz-spin>
