<!-- [blockUI]="loading" -->
<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar [(isVisible)]="showAddEditDrawer" (dataChanged)="showAddEditDrawer = false"
    title="New synthetic monitoring" [width]="1100">
    <ng-container class="modal-content" *ngIf="showAddEditDrawer">
      <app-cloudmatiq-synthetics (done)="getMonitors(); showAddEditDrawer = false">
      </app-cloudmatiq-synthetics>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar [(isVisible)]="viewMonitoring" (dataChanged)="viewMonitoring = false"
    title="Monitoring" [width]="1150">
    <ng-container class="modal-content" *ngIf="viewMonitoring">
      <app-monitoring-chart [synthetic]="syntheticObj">
      </app-monitoring-chart>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar (dataChanged)="showFilter = false" [(isVisible)]="showFilter" title="Filter">
    <ng-container *ngIf="showFilter" class="modal-content">
      <app-filters (getFilterValue)="getFilterValue($event)" (setFilterValue)="setFilterValue($event)"
        [filterableValues]="filterableValues" [existValues]="filteredValues[filterKey]"
        [filterKey]="filterKey"></app-filters></ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <nz-tabset [nzSelectedIndex]="tabindex" (nzSelectChange)="onTabchange($event)">
      <nz-tab nzTitle="List">
        <div nz-row>
          <div nz-col nzSpan="2" style="text-align: left">
            <button *ngIf="canCreate" (click)="showAddEditDrawer = true" nz-button nzType="primary"
              style="margin: 0 13px 0 0">
              <i class="anticon anticon-plus"></i>Add
            </button>
          </div>
          <div nz-col nzSpan="10" style="text-align: left">
            <nz-select id="rtype" [(ngModel)]="region" style="width: 50%" nzAllowClear nzPlaceHolder="Choose Region"
              nzShowSearch (ngModelChange)="getMonitors()">
              <nz-option *ngFor="let z of regionList" [nzValue]="z.zonename" [nzLabel]="z.zonename"></nz-option>
            </nz-select>
          </div>
          <!-- OP#428 -->
          <app-cloudmatiq-data-table *ngIf="selectedcolumns && selectedcolumns.length > 0"
            (dataChanged)="dataChanged($event)" [tableData]="monitoringLists" [tableHeader]="tableHeader"
            [selectedcolumns]="selectedcolumns" [tableConfig]="tableConfig" [totalCount]="totalCount">
          </app-cloudmatiq-data-table>
        </div>
      </nz-tab>
      <nz-tab *ngIf="monitoringView" nzTitle="Monitoring">
        <div nz-row>
          <app-cloudmatiq-data-table *ngIf="selectedcolumns && selectedcolumns.length > 0"
            (dataChanged)="dataChanged($event)" [tableData]="monitoringLists" [tableHeader]="tableHeader"
            [selectedcolumns]="selectedcolumns" [tableConfig]="monitoringtableConfig" [totalCount]="totalCount">
          </app-cloudmatiq-data-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</app-cloudmatiq-side-nav>