<div class="alert-notification">
  <form nz-form [formGroup]="alertNotifyForm">
    <nz-form-item>
      <nz-form-label nzFor="Alert" [nzSpan]="6" nzRequired
        >Alert Type</nz-form-label
      >
      <nz-form-control [nzSpan]="18">
        <nz-select
          style="width: 90%"
          nzId="alertOption"
          formControlName="alertType"
          nzShowSearch
          nzPlaceHolder="Select Alert Type"
          nzAllowClear
        >
          <nz-option nzValue="system" nzLabel="System Alert"></nz-option>
          <nz-option nzValue="security" nzLabel="Security Alert"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="alertNotifyForm.value.alertType === 'security'">
      <nz-form-item>
        <nz-form-label nzFor="Level" [nzSpan]="6" nzRequired
          >Level</nz-form-label
        >
        <nz-form-control [nzSpan]="18">
          <nz-select
            style="width: 90%"
            nzId="Level"
            formControlName="level"
            nzShowSearch
            nzPlaceHolder="Select Level"
            nzAllowClear
          >
            <nz-option
              *ngFor="let t of levelsList"
              [nzLabel]="t.title"
              [nzValue]="t.value"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *ngIf="alertNotifyForm.value.alertType === 'system'">
      <nz-form-item>
        <nz-form-label nzFor="metrics" [nzSpan]="6" nzRequired
          >Metrics</nz-form-label
        >
        <nz-form-control [nzSpan]="18">
          <nz-select
            style="width: 90%"
            nzId="metrics"
            formControlName="metrics"
            nzShowSearch
            nzPlaceHolder="Select metrics"
            nzAllowClear
          >
            <nz-option
              *ngFor="let data of rulesList"
              [nzLabel]="data.keyname"
              [nzValue]="data.keyvalue"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="condition" [nzSpan]="6" nzRequired
          >Condition</nz-form-label
        >
        <nz-form-control [nzSpan]="18">
          <nz-select
            style="width: 90%"
            nzId="condition"
            formControlName="condition"
            nzShowSearch
            nzPlaceHolder="Select condition"
            nzAllowClear
          >
            <nz-option nzLabel="Is above" nzValue="gt"></nz-option>
            <nz-option nzLabel="Is below" nzValue="lt"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="threshold" [nzSpan]="6" nzRequired
          >Threshold</nz-form-label
        >
        <nz-form-control [nzSpan]="18">
          <input
            style="width: 87%"
            type="number"
            PlaceHolder="Threshold"
            nz-input
            min="1"
            max="100"
            formControlName="threshold"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-form-label nzFor="notifiers" [nzSpan]="6" nzRequired
        >Notifiers</nz-form-label
      >
      <nz-form-control [nzSpan]="18">
        <nz-select
          style="width: 90%"
          nzId="notifiers"
          nzMode="multiple"
          formControlName="notifiers"
          nzShowSearch
          nzPlaceHolder="Select notifiers"
          nzAllowClear
        >
          <nz-option
            *ngFor="let n of usersList; index as u"
            [nzLabel]="n.label"
            [nzValue]="n.value"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <div class="right-align">
      <button nz-button nzType="primary" (click)="addRow()">
        <i
        class="anticon anticon-plus"
      ></i>
      </button>
    </div>
    <div nz-row class="mt-3 p-b-100">
      <nz-table
        #nzTable
        [nzLoading]="dataLoading"
        [nzData]="configuredCompilance"
        [nzScroll]="{ x: '650px' }"
      >
        <thead>
          <tr>
            <th>Type</th>
            <th>notifiers</th>
            <th>Configuration</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data; let i = index">
            <td>{{ data["type"] }}</td>
            <td>{{ getReceiversFor(data["notifiers"]) }}</td>
            <td>{{ getConfigurationLabels(data["configuration"]) }}</td>
            <td>
              <a
                nz-popconfirm
                nzTitle="Are you sure, delete notification?"
                nzPlacement="bottomRight"
                (nzOnConfirm)="deleteNotification(i)"
                ><i class="anticon anticon-delete"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </form>
</div>
