<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="tagForm">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="tagname"
        >Name</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input
            id="tagname"
            placeholder="Name"
            formControlName="tagname"
            nz-input
            type="text"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="tagtype"
        >Data Type</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select
          nzShowSearch
          nzAllowClear
          id="tagtype"
          nzPlaceHolder="Data Type"
          formControlName="tagtype"
          (change)="(tagTypeChange)"
        >
          <nz-option
            *ngFor="let tag of tagTypes; index as i"
            [nzLabel]="tag"
            [nzValue]="tag"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="tagForm.value.tagtype == 'text'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="lookupvalues"
        >Value (s)</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input
            id="lookupvalues"
            placeholder="Value (s)"
            formControlName="lookupvalues"
            nz-input
            type="text"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.tagtype == 'text'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="validator"
        >RegEx</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <nz-select
            nzShowSearch
            nzAllowClear
            formControlName="regex"
            nzPlaceHolder="Regex"
            style="width: 100%"
          >
            <nz-option
              *ngFor="let t of regexList; index as ti"
              [nzLabel]="t.keyname"
              [nzValue]="t.keyvalue"
            >
            </nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.regex == 'Custom'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="lookupvalues"
        >Custom Regex</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <input
            #inputElement
            nz-input
            nz-tooltip
            id="validator"
            placeholder="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b"
            formControlName="customRegex"
            nz-input
            type="text"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.tagtype == 'list'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="lookupvalues"
        >Value (s)</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <nz-select
            id="lookupvalues"
            style="width: 100%"
            nzMode="tags"
            formControlName="lookupvalues"
            nzPlaceHolder="Value (s)"
          >
          </nz-select>
          <div style="display: flex; justify-content: space-between">
            <span
              style="
                margin: 6px 0 0 9px;
                color: #babec1;
                font-size: 12px;
                cursor: pointer;
              "
              (click)="downloadSampleData()"
              >Download Sample</span
            >
            <input
              type="file"
              name="file"
              id="csvpik"
              style="display: none"
              (change)="getFile($event)"
            />
            <span
              style="
                margin: 6px 0 0 9px;
                color: #ff9833;
                font-size: 12px;
                cursor: pointer;
              "
              (click)="pickCSV()"
              >Upload</span
            >
          </div>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.tagtype == 'boolean'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="lookupvalues"
        >Value (s)</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <nz-select
            style="width: 100%"
            formControlName="lookupvalues"
            nzPlaceHolder="Value (s)"
          >
            <nz-option nzLabel="Yes" nzValue="Yes"> </nz-option>
            <nz-option nzLabel="No" nzValue="No"> </nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.tagtype == 'date'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="lookupvalues"
        >Value (s)</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <nz-date-picker
            formControlName="date"
            [nzFormat]="'dd/MM/yyyy'"
          ></nz-date-picker>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.tagtype == 'range'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="lookupvalues"
        >Value (s)</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group id="lookupvalues">
          <div nz-row>
            <div nz-col nzSpan="12">
              <input
                placeholder="From"
                formControlName="rng_from"
                nz-input
                type="text"
              />
            </div>
            <div nz-col nzSpan="12">
              <input
                placeholder="To"
                formControlName="rng_to"
                nz-input
                type="text"
              />
            </div>
          </div>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.tagtype == 'cmdb'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="attributeid"
        >CMDB Record</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select
          nzShowSearch
          nzAllowClear
          id="attributeid"
          nzPlaceHolder="Record Type"
          formControlName="attributeid"
          (ngModelChange)="onChangeAttribute()"
        >
          <nz-option
            *ngFor="let rsc of resourceTypesList; index as i"
            [nzLabel]="rsc.resource"
            [nzValue]="rsc.crn"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="tagForm.value.tagtype == 'cmdb'">
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="resourceid"
        >CMDB Attribute</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-select
          nzShowSearch
          nzAllowClear
          id="resourceid"
          nzPlaceHolder="Attribute"
          formControlName="resourceid"
        >
          <nz-option
            *ngFor="let attribute of resourceTypeList; index as i"
            [nzLabel]="attribute.fieldname"
            [nzValue]="attribute.fieldkey"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="description"
        >Description</nz-form-label
      >
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <textarea
            row="12"
            id="description"
            formControlName="description"
            nz-input
            type="text"
          ></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSm]="24" [nzXs]="12">
        <nz-input-group>
          <label nz-checkbox formControlName="required">Required</label>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="12" nzFor="notes">Notes</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="12">
                <nz-input-group>
                    <input id="notes" formControlName="notes" nz-input type="text">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item> -->
  </form>
</nz-spin>
<div class="row right">
  <div class="col s12 md4">
    <button
      (click)="saveUpdateScript(tagForm.value)"
      class="save-button"
      nz-button
      [nzLoading]="disabled"
      nzType="primary"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
