<app-cloudmatiq-side-nav [blockUI]="loading">
  <app-cloudmatiq-side-bar
    (dataChanged)="iseditTag = false"
    [(isVisible)]="iseditTag"
    title="Edit Tag"
  >
    <ng-container class="modal-content">
      <app-cloudmatiq-tag-add-edit
        [tagObj]="tagObj"
        (notifyTagEntry)="notifyTagEntry($event)"
      >
      </app-cloudmatiq-tag-add-edit>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <app-cloudmatiq-side-bar
    (dataChanged)="drawerChanges($event)"
    [(isVisible)]="tagPickerVisible"
    [width]="550"
    [title]="tagPickerTitle"
  >
    <ng-container class="modal-content">
      <app-cloudmatiq-tag-picker
        *ngIf="edit == true ? (tagGroupObj ? true : false) : true"
        [pickermode]="'combined'"
        [currentTags]="edit == true && tags.length > 0 ? tags : []"
        [mode]="'maintanance'"
        [resourceId]="edit == true ? tagGroupObj.taggroupid : null"
        [resourceType]="'Group'"
        (tagChanges)="tagPickerChanges($event)"
      >
      </app-cloudmatiq-tag-picker>
    </ng-container>
  </app-cloudmatiq-side-bar>
  <ng-container class="page-body">
    <button
      class="close"
      (click)="router.navigate(['tagmanager/group', { tabIndex: 1 }])"
      nz-button
      nzType="primary"
      nzTitle="Close"
      nzPlacement="bottomLeft"
      nz-tooltip
      style="z-index: 1; right: 32px; top: 64px"
    >
      <i class="anticon anticon-close"></i>
    </button>
    <div nz-row>
      <div nz-col nzSpan="24">
        <h2 class="solution-title mb-0" style="margin-top: 0.5em">
          Group Details
        </h2>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row>
          <form nz-form [formGroup]="tagGroupForm">
            <div nz-col nzSpan="10">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="24"
                  [nzXs]="12"
                  nzRequired
                  nzFor="groupname"
                  style="text-align: start"
                >
                  Name</nz-form-label
                >
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-input-group>
                    <input
                      id="groupname"
                      placeholder="Name"
                      formControlName="groupname"
                      nz-input
                      type="text"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="10">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="24"
                  [nzXs]="12"
                  nzRequired
                  nzFor="resourcetype"
                  style="text-align: start"
                >
                  Classification
                </nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="12">
                  <nz-input-group>
                    <nz-select
                      style="width: 100%"
                      formControlName="resourcetype"
                      nzPlaceHolder="Classification"
                    >
                      <nz-option nzLabel="Asset" nzValue="SOLUTION_ASSET">
                      </nz-option>
                      <nz-option nzLabel="Solution" nzValue="SOLUTION">
                      </nz-option>
                    </nz-select>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </div>
      </div>
      <div
        nz-col
        nzSpan="24"
        style="display: flex; justify-content: space-between"
      >
        <h2 class="solution-title mb-0" style="margin-top: 0.5em">Tags</h2>
        <button
          (click)="tagPickerVisible = true"
          nz-button
          nzType="primary"
          style="margin: 9px 0"
        >
          Add/Edit Tags
        </button>
      </div>
      <div nz-col nzSpan="24">
        <div
          class="param-table ant-table ant-table-body"
          style="margin-top: 0px"
        >
          <p-table
            [columns]="tableHeader"
            (onRowReorder)="changePosition($event)"
            [value]="tagList"
            [reorderableColumns]="true"
          >
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 2.5em"></th>
                <th
                  *ngFor="let col of columns"
                  pReorderableColumn
                  [pSortableColumn]="col.field"
                >
                  {{ col.header }}
                  <p-sortIcon
                    [field]="col.field"
                    ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"
                  ></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-columns="columns"
              let-index="rowIndex"
            >
              <tr [pReorderableRow]="index">
                <td>
                  <i
                    style="transform: rotateZ(90deg)"
                    class="anticon anticon-swap"
                    pReorderableRowHandle
                  ></i>
                </td>
                <td *ngFor="let col of columns">
                  <div *ngIf="col.field == 'tagcategory'">
                    <div *ngIf="editableTagValueId == null">
                      {{ rowData[col.field] }}
                      <span>
                        <i
                          (click)="editableTagValueId = rowData['tagvalueid']"
                          class="anticon anticon-edit"
                        ></i>
                      </span>
                    </div>
                    <div
                      *ngIf="editableTagValueId == rowData['tagvalueid']"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                      "
                    >
                      <input
                        placeholder="input here"
                        nz-input
                        [(ngModel)]="rowData[col.field]"
                        [nzAutocomplete]="auto"
                      />
                      <nz-autocomplete nzBackfill #auto>
                        <nz-auto-option
                          *ngFor="let option of tagCategoryOptions"
                          [nzValue]="option.tagcategory"
                        >
                          {{ option.tagcategory }}
                        </nz-auto-option>
                      </nz-autocomplete>
                      <!-- <nz-input-group [nzSuffix]="suffixTemplate">
                        <input
                          type="text"
                          nz-input
                          placeholder="Edit Text"
                          [(ngModel)]="rowData[col.field]"
                        />
                      </nz-input-group>
                      <ng-template #suffixTemplate>
                        <i
                          (click)="editableTagValueId = null"
                          class="anticon anticon-close-circle"
                        ></i>
                      </ng-template> -->
                      <span>
                        <i
                          (click)="
                            evaluateTagCategoryOptions();
                            editableTagValueId = null
                          "
                          class="anticon anticon-check"
                        ></i>
                      </span>
                    </div>

                    <!-- <app-cloudmatiq-editable-text
                        [(text)]="rowData[col.field]"
                      ></app-cloudmatiq-editable-text> -->
                  </div>
                  <div *ngIf="col.field != 'tagcategory'">
                    <span *ngIf="col.field == 'tagname'">
                      <a (click)="editTag(rowData)">{{ rowData[col.field] }}</a>
                    </span>
                    <span *ngIf="col.field != 'tagname'">{{
                      rowData[col.field]
                    }}</span>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="row right">
      <div class="col s12 md4">
        <button
          (click)="saveUpdateGroup(tagGroupForm.value)"
          class="save-button"
          nz-button
          [nzLoading]="disabled"
          nzType="primary"
        >
        {{ taggroupid ? 'Update' : 'Save' }}
      </button>
      </div>
    </div>
  </ng-container>
</app-cloudmatiq-side-nav>
