<div class="row">
  <div class="col m7 l8 hide-on-small-and-down login-forms">
    <div class="login-bg">
      <div class="login-img">
        <img class="img-responsive" src="assets/login.jpg" alt="CloudMatiq" />
      </div>
      <!-- <h1>ESKO</h1> -->
    </div>
  </div>
  <div class="col s12 m5 l4 pa-3 white">
    <div class="row center">
      <img src="../assets/opsmaster-logo.png" alt="Logo" height="40" />
    </div>
    <!-- <nz-alert *ngIf="errMessage && !successMessage" nzType="error" nzCloseable nzMessage="Error"
      [nzDescription]="errMessage" (nzOnClose)="afterClose()">
    </nz-alert>
    <nz-alert *ngIf="successMessage && !errMessage" nzCloseable nzType="success" nzMessage="Success"
      [nzDescription]="successMessage" (nzOnClose)="afterClose()">
    </nz-alert> -->
    <h1 class="mt-4 ml-3">{{ labelText }}</h1>
    <form nz-form [formGroup]="loginForm" class="login-form">
      <div *ngIf="!resetPassword">
        <div *ngIf="!showOTP">
          <nz-form-item class="mb-1">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-user">
                <input
                  type="text"
                  cmautofocus
                  nz-input
                  formControlName="email"
                  placeholder="Email"
                />
              </nz-input-group>
              <nz-form-explain
                *ngIf="
                  loginForm.get('email').touched &&
                  loginForm.get('email').dirty &&
                  loginForm.get('email').errors
                "
              >
                Email is Invalid!</nz-form-explain
              >
            </nz-form-control>
          </nz-form-item>
          <br />
          <nz-form-item class="mb-1">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-lock">
                <input
                  type="password"
                  nz-input
                  formControlName="password"
                  placeholder="Password"
                />
              </nz-input-group>
              <nz-form-explain
                *ngIf="
                  loginForm.get('password').touched &&
                  loginForm.get('password').dirty &&
                  loginForm.get('password').errors
                "
              >
                Password is Invalid!</nz-form-explain
              >
            </nz-form-control>
          </nz-form-item>
          <br />
          <div class="row">
            <div class="col s12 m7">
              <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="remember">
                    <span>Remember me</span>
                  </label>
                  <!-- <a class="login-form-forgot" class="login-form-forgot">Forgot password</a> -->
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col s12 m5 left-align">
              <a (click)="forgotPassword()">Forgot Password?</a>
            </div>
          </div>
        </div>
        <div *ngIf="showOTP">
          <nz-form-item>
            <nz-input-group>
              <nz-form-control>
                <img *ngIf="userData.data.totpsecret == null" [src]="qrcode" />
              </nz-form-control>
            </nz-input-group>
          </nz-form-item>
          <nz-form-item class="mb-1">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-lock">
                <input
                  type="password"
                  nz-input
                  formControlName="otp"
                  placeholder="OTP"
                  cmautofocus
                />
              </nz-input-group>
              <nz-form-explain
                *ngIf="
                  loginForm.get('otp').touched &&
                  loginForm.get('otp').dirty &&
                  loginForm.get('otp').errors
                "
              >
                OTP is Invalid</nz-form-explain
              >
            </nz-form-control>
          </nz-form-item>
          <!-- <span class="right"><a (click)="resendOTP()">Resend OTP</a></span> -->
          <br />
        </div>
        <div class="row center pa-1" *ngIf="!showOTP">
          <button
            class="login-form-button login-button"
            [disabled]="!loginForm.valid"
            nz-button
            (click)="logIn()"
            nzType="primary"
            [nzLoading]="loggingin"
          >
            {{ loggingin == true ? "Signing In" : "Sign In" }}
          </button>
        </div>
        <div class="row center pa-1" *ngIf="showOTP">
          <button
            class="login-form-button login-button"
            [disabled]="!loginForm.valid"
            (click)="verifyOTP()"
            nz-button
            nzType="primary"
            [nzLoading]="loggingin"
          >
            Verify OTP
          </button>
        </div>
      </div>
      <div *ngIf="resetPassword">
        <div class="p-b-10">
          <nz-form-item class="mb-1">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-lock">
                <input
                  type="password"
                  nz-input
                  formControlName="newpassword"
                  placeholder="New Password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="p-t-10 p-b-10">
          <nz-form-item class="mb-1">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-lock">
                <input
                  type="password"
                  nz-input
                  formControlName="comfirmPassword"
                  placeholder="Confirm Password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div style="padding-bottom: 40px;">
          <span style="float: right;font-size: smaller;font-style: oblique;"
            >Password must contain one lowercase, uppercase, numeric and special character</span
          >
        </div>
        <div class="row center pa-1">
          <button
            class="login-form-button login-button"
            (click)="resetUserPassword()"
            nz-button
            nzType="primary"
            [nzLoading]="loggingin"
          >
            Reset Password
          </button>
        </div>
      </div>
    </form>
    <!-- License Expired modal -->
    <nz-modal [(nzVisible)]="licenseExpiredModalVisible" [nzWidth]="750" [nzTitle]="modalTitle" [nzContent]="modalContent" (nzOnCancel)="handleCancel()" (nzOnOk)="handleCancel()">
      <ng-template #modalTitle> License Expired </ng-template>
      <ng-template #modalContent>
        <div class="ant-col-md-24 ant-col-lg-24 p-t-3 amber-text p-b-25">
          Please contact the administrator. Your license has expired!
        </div>
      </ng-template>
    </nz-modal>
    <!-- License Expired modal -->


  </div>
</div>
