<nz-spin [nzSpinning]="loading">
  <div>
    <form nz-form [formGroup]="predictionForm">
      <nz-form-item>
        <nz-form-label
          nzRequired
          style="text-align: left"
          [nzSm]="24"
          [nzXs]="24"
          nzFor="cloudprovider"
          >Provider
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            placeholder="Select Provider"
            [nzDisabled]="editDisabled"
            (ngModelChange)="
              providerChanges(predictionForm.value.cloudprovider)
            "
            nzPlaceHolder="Select Provider"
            formControlName="cloudprovider"
          >
            <nz-option
              *ngFor="let data of cloudproviderList"
              [nzLabel]="data.keyname"
              [nzValue]="data.keyvalue"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
                <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" nzFor="resourcetype">Platform</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-select formControlName="platform" style="width: 95%;" nzAllowClear nzPlaceHolder="Platform"
                        [nzDisabled]="editDisabled" nzShowSearch>
                        <nz-option *ngFor="let t of instanceList; index as ti;" [nzLabel]="t.label" [nzValue]="t.value">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
      <div class="row" *ngIf="predictionForm.value.cloudprovider == 'AWS'">
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="region">
              Region
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                formControlName="region"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Region"
                [nzDisabled]="editDisabled"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let t of regionList; index as ti"
                  [nzLabel]="t.label"
                  [nzValue]="t.value"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="pricetype">
              Price Type
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-select
                formControlName="pricetype"
                style="width: 95%"
                nzAllowClear
                nzPlaceHolder="Price Type"
                [nzDisabled]="editDisabled"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let t of priceTypeList; index as ti"
                  [nzLabel]="t.label"
                  [nzValue]="t.value"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="cpuutilmin"
            >
              Min CPU Util
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input
                  id="cpuutilmin"
                  placeholder="Minimum CPU Utilization"
                  formControlName="cpuutilmin"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="cpuutilmax"
            >
              Max CPU Util
            </nz-form-label>
            <nz-form-control [nzSm]="22" [nzXs]="22">
              <nz-input-group>
                <input
                  id="cpuutilmax"
                  placeholder="Maximum CPU Utilization"
                  formControlName="cpuutilmax"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="memutilmin"
            >
              Min Memory Util
            </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <nz-input-group>
                <input
                  id="memutilmin"
                  placeholder="Minimum Memory Utilization"
                  formControlName="memutilmin"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col s12 m6">
          <nz-form-item>
            <nz-form-label
              [nzSm]="24"
              [nzXs]="24"
              nzRequired
              nzFor="memutilmax"
            >
              Max Memory Util
            </nz-form-label>
            <nz-form-control [nzSm]="22" [nzXs]="22">
              <nz-input-group>
                <input
                  id="memutilmax"
                  placeholder="Maximum Memory Utilization"
                  formControlName="memutilmax"
                  nz-input
                  type="number"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="action"
          >Action
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select
            nzPlaceHolder="Value"
            style="width: 95%"
            formControlName="action"
          >
            <nz-option nzLabel="One Level Up" nzValue="onelevelup"> </nz-option>
            <nz-option nzLabel="Two Level Up" nzValue="twolevelup"> </nz-option>
            <nz-option nzLabel="One Level Down" nzValue="oneleveldown">
            </nz-option>
            <nz-option nzLabel="Two Level Down" nzValue="twoleveldown">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="12" nzRequired nzFor="notes"
          >Notes</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="12">
          <nz-input-group>
            <textarea
              id="notes"
              formControlName="notes"
              placeholder="Notes"
              type="text"
              nz-input
            ></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="row right" *ngIf="!editDisabled">
      <div class="col s12 md4">
        <button
          (click)="saveUpdate(predictionForm.value)"
          class="save-button"
          nz-button
          nzType="primary"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </div>
</nz-spin>
