<div class="integration">
  <form nz-form [formGroup]="integrationForm">
    <nz-form-item>
      <nz-form-label nzFor="eventType" [nzSpan]="6" nzRequired
        >Tools</nz-form-label
      >
      <nz-form-control [nzSpan]="16">
        <nz-select
          style="width: 90%"
          nzId="tools"
          formControlName="tools"
          nzShowSearch
          nzPlaceHolder="Select Tools"
        >
          <nz-option
          *ngFor="let t of tnsettingList"
          [nzLabel]="t.label"
          [nzValue]="t.value"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label style="text-align: left" [nzSpan]="6"
        >Title</nz-form-label
      >
      <nz-form-control [nzSpan]="15">
        <input nz-input placeholder="Title" formControlName="title" />
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label style="text-align: left" [nzSpan]="6"
        >Impact</nz-form-label
      >
      <nz-form-control [nzSpan]="15">
        <input nz-input placeholder="Impact" formControlName="impact" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label style="text-align: left" [nzSpan]="6">Notes</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input placeholder="Notes" formControlName="notes" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mt-10">
      <nz-form-label style="text-align: left" [nzSpan]="6"
        >Customer</nz-form-label
      >
      <nz-form-control [nzSpan]="16">
        <nz-select
          style="width: 90%"
          nzId="tools"
          formControlName="customer"
          nzShowSearch
          nzPlaceHolder="Select customer"
        >
        <nz-option
        *ngFor="let c of customerList"
        [nzLabel]="c.label"
        [nzValue]="c.value"
      ></nz-option>
        </nz-select>
        </nz-form-control>
    </nz-form-item>
  </form>
  <button
  nz-button
  nzType="primary"
  class="left"
  (click)="formValidate()"
>
 Save
</button>
</div>
